a(href='').b-home-study
    span Хочу здесь учиться!
footer.b-footer
    .container
        #accordion-footer.b-footer__menu
            .b-footer__col
                h3.js-accordion Академия
                ul
                    li
                        a(href='') Система РАНХиГС
                    li
                        a(href='') О филиале
                    li
                        a(href='') История флиала
                    li
                        a(href='') Филиал сегодня
                    li
                        a(href='') Доска почета
                    li
                        a(href='') Партнеры
                    li
                        a(href='') Студенческая жизнь
                    li
                        a(href='') Структура
                    li
                        a(href='') Международная деятельность
                    li
                        a(href='') Преподаватели
                    li
                        a(href='') Выпускники
                    li
                        a(href='') Вакансии и конкурсы

            .b-footer__col
                h3.js-accordion Образование
                ul
                    li
                        a(href='') Бакалавриат
                    li
                        a(href='') Магистратура
                    li
                        a(href='') Повышение квалификации
                    li
                        a(href='') Проф. переподготовка

            .b-footer__col
                h3.js-accordion Наука
                ul
                    li
                        a(href='') Основная информация
                    li
                        a(href='') Приемная комиссия
                    li
                        a(href='') Вступительные испытания
                    li
                        a(href='') Программы обучения
                    li
                        a(href='') Школа больших возможностей

            .b-footer__col
                h3.js-accordion Проекты
                ul
                    li
                        a(href='') Школа больших возможностей
                    li
                        a(href='') Центр карьеры
                    li
                        a(href='') Психологичесий центр
                    li
                        a(href='') Юридическая клиника
                    li
                        a(href='') Высшая школа государственного управления

            .b-footer__col
                h3.js-accordion Пресс-центр
                ul
                    li
                        a(href='') Новости
                    li
                        a(href='') Анонсы
                    li
                        a(href='') Фото отчеты
                    li
                        a(href='') Видео репортажи
                    li
                        a(href='') История успеха

            .b-footer__col.b-footer__col--icon
                h3.js-accordion Абитуриенту
                ul
                    li
                        a(href='') Школа больших возможностей
                    li
                        a(href='') Бакалавриат
                    li
                        a(href='') Магистратура
                    li
                        a(href='') Дополнительное образование
                    li
                        a(href='') Приемная комиссия

        .b-footer__control
            a(href='#popup-question').btn.btn--border.js-popup-question Задать вопрос
            .b-social
                a(href='' target='_blank').b-social__link.b-social__link--vk
                a(href='' target='_blank').b-social__link.b-social__link--inst
                a(href='' target='_blank').b-social__link.b-social__link--fb
                a(href='' target='_blank').b-social__link.b-social__link--ok
                a(href='' target='_blank').b-social__link.b-social__link--yt
    .b-footer__bottom
        .container
            .b-footer__bottom-wrap
                .b-footer__copy
                    span © 2019 Алтайский филиал РАНХиГС.
                .b-footer__bottom-center
                    .b-footer__geo
                        span
                            span.mobile-hidden Алтайский край
                            | г. Барнаул, ул. Партизанская, 187
                    a(href='mailto:info@alt.ranepa.ru').b-footer__email
                        span info@alt.ranepa.ru
                    a(href='tel:+73852503503').b-footer__phone
                        span (3852) 503-503
                .b-footer__design
                    span Design -
                    = ' '
                    a(href='http://mahaev.com' target='_blank') Mahaev Nikita
    a(href='').b-footer__education Сведения об образовательной организации
