-var img1 = './images/main/header-icon.jpg'
header.b-header
    .b-header__wrap
        .b-header__scroll
            .b-header__eye
                .container
                    .b-header__eye-close
                    .visually
                        .visually__list
                            span Размер шрифта:
                            .visually__font-item.visually__font-item-1.active.js-zoom-visually(data-zoom='1') А
                            .visually__font-item.visually__font-item-2.js-zoom-visually(data-zoom='2') А
                            .visually__font-item.visually__font-item-3.js-zoom-visually(data-zoom='3') А
                        .visually__list
                            span Цвета сайта

                            .visually__font-color.visually__font-color-0.js-color-visually(data-color='0') c
                            .visually__font-color.visually__font-color-1.js-color-visually(data-color='1') c
                            .visually__font-color.visually__font-color-2.js-color-visually(data-color='2') c
                            .visually__font-color.visually__font-color-3.js-color-visually(data-color='3') c
                        .visually__list
                            span Изображения
                            .visually__control.js-img-outer
                                span Выкл.
                                span Вкл.
                                i
            .b-header__top
                .container
                    .b-header__sub-menu
                        .b-header__icon-menu
                            a(href='').b-header__icon-menu-item.b-header__icon-menu-item--timetable Расписание занятий
                            a(href='').b-header__icon-menu-item.b-header__icon-menu-item--library Библиотека
                            a(href='').b-header__icon-menu-item.b-header__icon-menu-item--guide Справочник
                            a(href='').b-header__icon-menu-item.b-header__icon-menu-item--system Система онлайн обучения
                        a(href='').b-header__link Сведения об образовательной организации
                        .b-header__right
                            .b-header__search
                                .b-header__search-btn.js-header-search
                                    .b-header__search-btn-icon

                                .b-header__search-box
                                    form
                                        input(type='text' placeholder='Поиск по сайту')
                                        button(type='submit')
                                    .b-header__search-close.js-close-header-search

                            .b-header__visually
                                .b-header__visually-ico
                            .b-header__lang
                                a(href='').b-header__lang-item.active RU
                                a(href='').b-header__lang-item EN
                                a(href='').b-header__lang-item.active.mobile RU

        .b-header__bottom
            .container
                .b-header__bottom-wrap
                    .b-header__logo
                        a(href='').b-header__logo-emblem
                        a(href='').b-header__logo-words
                    .b-header__content
                        a(href='').b-header__geo Алтайский филиал
                        a(href='tel:+73852503003').b-header__phone (3852) 503-003
                        .b-header__menu
                            a(href='/').b-header__menu-home
                            .b-header__menu-wrap
                                .b-header__menu-item
                                    span Академия
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Система РАНХиГС
                                        a(href='').b-header__menu-link О филиале
                                        a(href='').b-header__menu-link История филиала
                                        a(href='').b-header__menu-link Филиал сегодня
                                        a(href='').b-header__menu-link Партнеры
                                        a(href='').b-header__menu-link Студенческая жизнь
                                        a(href='').b-header__menu-link Структура
                                        a(href='').b-header__menu-link Доска почета
                                        a(href='').b-header__menu-link Выпускники
                                        a(href='').b-header__menu-link Вакансии и конкурсы
                                        a(href='').b-header__menu-link Международная деятельность
                                        a(href='').b-header__menu-link Преподаватели

                                .b-header__menu-item
                                    span Образование
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Бакалавриат
                                        a(href='').b-header__menu-link Магистратура
                                        a(href='').b-header__menu-link Повышение квалификации
                                        a(href='').b-header__menu-link Проф. переподготовка

                                .b-header__menu-item
                                    span Наука
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Основная информация
                                        a(href='').b-header__menu-link Приемная комиссия
                                        a(href='').b-header__menu-link Вступительные испытания
                                        a(href='').b-header__menu-link Программы обучения
                                        a(href='').b-header__menu-link Школа больших возможностей

                                .b-header__menu-item
                                    span Проекты
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Школа больших возможностей
                                        a(href='').b-header__menu-link Центр карьеры
                                        a(href='').b-header__menu-link Психологичесий центр
                                        a(href='').b-header__menu-link Юридическая клиника
                                        a(href='').b-header__menu-link Высшая школа государственного управления

                                .b-header__menu-item.b-header__menu-item--white
                                    span Пресс-центр
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Новости
                                        a(href='').b-header__menu-link Анонсы
                                        a(href='').b-header__menu-link Фото отчеты
                                        a(href='').b-header__menu-link Видео репортажи
                                        a(href='').b-header__menu-link История успеха

                                a(href='').b-header__menu-item.b-header__menu-item--icon
                                    span Абитуриенту

                        .burger-menu
                            span.burger-menu-piece
                            span.burger-menu-piece
                            span.burger-menu-piece

        // дубликат шапки которая будет скролиться
        .b-header__bottom.b-header__bottom--fixed.js-fixed-header
            .container
                .b-header__bottom-wrap
                    .b-header__logo
                        a(href='').b-header__logo-emblem
                    .b-header__content
                        .b-header__menu
                            a(href='/').b-header__menu-home
                            .b-header__menu-wrap
                                .b-header__menu-item
                                    span Академия
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Система РАНХиГС
                                        a(href='').b-header__menu-link О филиале
                                        a(href='').b-header__menu-link История филиала
                                        a(href='').b-header__menu-link Филиал сегодня
                                        a(href='').b-header__menu-link Партнеры
                                        a(href='').b-header__menu-link Студенческая жизнь
                                        a(href='').b-header__menu-link Структура
                                        a(href='').b-header__menu-link Доска почета
                                        a(href='').b-header__menu-link Выпускники
                                        a(href='').b-header__menu-link Вакансии и конкурсы
                                        a(href='').b-header__menu-link Международная деятельность
                                        a(href='').b-header__menu-link Преподаватели

                                .b-header__menu-item
                                    span Образование
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Бакалавриат
                                        a(href='').b-header__menu-link Магистратура
                                        a(href='').b-header__menu-link Повышение квалификации
                                        a(href='').b-header__menu-link Проф. переподготовка

                                .b-header__menu-item
                                    span Наука
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Основная информация
                                        a(href='').b-header__menu-link Приемная комиссия
                                        a(href='').b-header__menu-link Вступительные испытания
                                        a(href='').b-header__menu-link Программы обучения
                                        a(href='').b-header__menu-link Школа больших возможностей

                                .b-header__menu-item
                                    span Проекты
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Школа больших возможностей
                                        a(href='').b-header__menu-link Центр карьеры
                                        a(href='').b-header__menu-link Психологичесий центр
                                        a(href='').b-header__menu-link Юридическая клиника
                                        a(href='').b-header__menu-link Высшая школа государственного управления

                                .b-header__menu-item.b-header__menu-item--white
                                    span Пресс-центр
                                    .b-header__dropdown
                                        a(href='').b-header__menu-link Новости
                                        a(href='').b-header__menu-link Анонсы
                                        a(href='').b-header__menu-link Фото отчеты
                                        a(href='').b-header__menu-link Видео репортажи
                                        a(href='').b-header__menu-link История успеха

                                a(href='').b-header__menu-item.b-header__menu-item--icon
                                    span Абитуриенту

                        .burger-menu
                            span.burger-menu-piece
                            span.burger-menu-piece
                            span.burger-menu-piece

