.b-pagination.b-pagination--mobile
    .b-pagination__list
        .b-pagination__item.b-pagination__item--prev.b-pagination__item--disabled
        .b-pagination__numbers
            .b-pagination__item.b-pagination__item--active 1
            .b-pagination__item 2
            .b-pagination__item.b-pagination__item--dot ...
            .b-pagination__item 1 256
        .b-pagination__item.b-pagination__item--next

    .b-pagination__select.selectbox
        .selectbox__name Показывать по:
        .selectbox__box.js-selectbox
            .selectbox__selected 12
            .selectbox__dropdown
                .selectbox__option.active(data-value='12') 12
                .selectbox__option(data-value='16') 16
                .selectbox__option(data-value='24') 24
                .selectbox__option(data-value='32') 32
        .selectbox-mobile
            select
                option(value='12') 12
                option(value='16') 16
                option(value='24') 24
                option(value='32') 32

