.social
    a(href='https://www.instagram.com/' target='_blank').social__item.social__item--insta
    a(href='https://www.facebook.com/' target='_blank').social__item.social__item--fb
    a(href='https://vk.com/' target='_blank').social__item.social__item--vk
    a(href='https://ok.ru/' target='_blank').social__item.social__item--ok
    a(href='https://www.youtube.com/' target='_blank').social__item.social__item--yt
