// для печати
.b-schedule__table.b-schedule__table--print
    .b-schedule__table-row.b-schedule__table-row--header
        .b-schedule__table-wrap
            .b-schedule__table-item #
            .b-schedule__table-item Время
            .b-schedule__table-item Тип
            .b-schedule__table-item Занятие
            .b-schedule__table-item Аудитория
            .b-schedule__table-item Группы

.b-schedule__table.b-schedule__table--teacher
    .b-schedule__table-title Понедельник, 4 февраля
    .b-schedule__table-row.b-schedule__table-row--header
        .b-schedule__table-wrap
            .b-schedule__table-item #
            .b-schedule__table-item Время
            .b-schedule__table-item Тип
            .b-schedule__table-item Занятие
            .b-schedule__table-item Аудитория
            .b-schedule__table-item Группы

    .b-schedule__table-row.b-schedule__table-row--green
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                = ' '
                | 4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)





    .b-schedule__table-row.b-schedule__table-row--grey.b-schedule__table-row--active
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)





    .b-schedule__table-row.b-schedule__table-row--yellow
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item
                span лекция
                    i.js-hover-tooltip
            .b-schedule__table-item Статистика
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)






    .b-schedule__table-row.b-schedule__table-row--blue
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item
                span лекция
                    i.js-hover-tooltip
            .b-schedule__table-item Статистика
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37

.b-schedule__table.b-schedule__table--teacher
    .b-schedule__table-title.b-schedule__table-title--ok Вторник, 5 февраля
    .b-schedule__table-row.b-schedule__table-row--header
        .b-schedule__table-wrap
            .b-schedule__table-item #
            .b-schedule__table-item Время
            .b-schedule__table-item Тип
            .b-schedule__table-item Занятие
            .b-schedule__table-item Аудитория
            .b-schedule__table-item Группы

    .b-schedule__table-row.b-schedule__table-row--green
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc

        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)


    .b-schedule__table-row.b-schedule__table-row--green
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc

        .b-schedule__table-wrap
            .b-schedule__table-item
            .b-schedule__table-item
            .b-schedule__table-item
            .b-schedule__table-item Информационные технологии в экономике
                br
                | (подгр. 2)
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182

        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)



    .b-schedule__table-row.b-schedule__table-row--grey
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item
                span лекция
                    i.js-hover-tooltip
            .b-schedule__table-item Статистика
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)



    .b-schedule__table-row.b-schedule__table-row--grey
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item
                span лекция
                    i.js-hover-tooltip
            .b-schedule__table-item Статистика
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)

.b-schedule__table.b-schedule__table--teacher
    .b-schedule__table-title Среда, 6 февраля
    .b-schedule__table-row.b-schedule__table-row--header
        .b-schedule__table-wrap
            .b-schedule__table-item #
            .b-schedule__table-item Время
            .b-schedule__table-item Тип
            .b-schedule__table-item Занятие
            .b-schedule__table-item Аудитория
            .b-schedule__table-item Группы

    .b-schedule__table-row.b-schedule__table-row--green
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)




    .b-schedule__table-row.b-schedule__table-row--grey
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item пр. зан.
            .b-schedule__table-item Физическая культура и спорт
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)




    .b-schedule__table-row.b-schedule__table-row--grey
        .b-schedule__table-wrap
            .b-schedule__table-item
                span #
                |  4
            .b-schedule__table-item
                span 13:20 — 14:50
            .b-schedule__table-item
                span лекция
                    i.js-hover-tooltip
            .b-schedule__table-item Статистика
            .b-schedule__table-item
                a(href='#popup-audience').js-popup B104
            .b-schedule__table-item
                span группы:
                a(href='') 2181,
                = ' '
                a(href='') 2182
                .arrow-table.js-toggle-desc
        .b-schedule__table-dropdown
            .table-dropdown__text Свободные аудитории:
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = '  '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B109,
                = ' '
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109
            .table-dropdown__list
                a(href='') B105,
                = ' '
                a(href='') B106,
                = ' '
                a(href='') B107,
                = ' '
                a(href='') B108,
                = ' '
                a(href='') B109,
                = ' '
            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)

.b-schedule__table-action
    a(href='').i-tabletime Экспорт в iCal
    a(href='').i-printer.js-print
        span Версия для печати
        span.mobile Распечатать
