.b-accordion {
  margin-bottom: 30px;

  @include bp($bp-540) {
    margin-bottom: 10px;
  }
}

.b-accordion__item {
  &:not(:first-child) {
    .b-accordion__title {
      border-top: 1px solid $very-light-pink-three;;
    }
  }

  &.open {
    .b-accordion__title {
      color: $grape-purple;

      &:after {
        transform: rotate(-90deg);
      }
    }
  }
}

.b-accordion__title {
  position: relative;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $black;
  transition: .3s ease-in-out all;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
    transition: .3s ease-in-out all;
  }
}

.b-accordion__content {
  display: none;
}
