.b-aside-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }

  li {
    position: relative;
    border-bottom: 1px solid $very-light-pink-three;
    cursor: pointer;

    &.arrow {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        right: 1px;
        @include svg-i-arrow-right-slider--mid;
        transform: rotate(90deg);
        pointer-events: none;
        transition: .3s ease-in-out all;
      }
    }

    &.active-link {
      border-width: 3px;
      border-color: $grape-purple;
      & > a {
        font-weight: 500;
        color: $grape-purple;
      }
      span {
        font-weight: 500;
        color: $grape-purple;
      }
    }

    &.change-arrow {
      &.arrow {
        &:after {
          transform: rotate(-90deg);
        }
      }
    }

    & > a, & > span {
      padding: 15px 0;

      &:hover {
        color: $grape-purple;
      }
    }

    a, span {
      display: block;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      color: $black;
      transition: .3s ease-in-out all;
    }

  }
}

.b-aside-menu--anchor {
  li {
    a {
      &:hover {
        span {
          color: $grape-purple;
          border-bottom: 1px dashed $grape-purple;
        }
      }
    }
    a {
      line-height: 20px;

      span {
        display: inline;
        border-bottom: 1px dashed transparent;
        transition: .3s ease-in-out all;
      }
    }
  }
}

.b-aside-menu__dropdown {
  display: none;
  margin-top: 5px;
  padding: 12px 0;
  background-color: #fafafa;

  & > a {
    padding: 12px 20px;

    &:hover {
      color: $black;
      background-color: $pale-pink;
    }

    &.active {
      background-color: $white-two;
      color: $grape-purple;
    }
  }

  &.active {
    display: block;
  }
}
