.b-audience-slider {
  max-width: 798px;
  margin: 0 auto;

  .slick-dots {
    width: auto;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
    text-align: center;
    z-index: 50;
    @include bp($bp-1366) {
      bottom: -34px;
    }
    @include bp($bp-540) {
      bottom: -24px;
    }
    @include bp($bp-414) {
      bottom: -22px;
    }
    li {
      width: 12px;
      height: 12px;

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }

  .slick-arrow {
    z-index: 10;
    width: 46px;
    height: 46px;
    background-color: $white;
    border-radius: 50%;
    transition: .3s ease-in-out all;
    border: 1px solid $very-light-pink-three;

    &:before {
      display: none;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.06);
      @include bp($bp-ipad-1024) {
        box-shadow: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &.slick-next {
      right: -71px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
      }
    }

    &.slick-prev {
      left: -71px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
        transform: rotate(180deg);
      }
    }
  }
}

.b-audience-slider__item {
  position: relative;
  max-height: 384px;
}

.b-audience-slider__img {
  position: relative;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.b-audience-slider__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  g {
    position: relative;
    opacity: 0;
    transition: .3s ease-in-out all;

    &.active {
      opacity: 1;
    }
  }
}

.tooltip-audience {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  border-radius: 5px;
  background-color: rgba(0,0,0,.7);
  padding: 11px 14px;
  z-index: 1200;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 10px solid rgba(0,0,0,.7);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
