.b-breadcrumbs {
  display: flex;
  //flex-wrap: wrap;

  span {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin: 0 11px;
    color: $black;
    text-decoration: none;

    &:last-child {
      display: none;
    }
    @include bp($bp-640) {
      font-size: 12px;
      margin: 0 6px;
    }
  }
}

.b-breadcrumbs__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: $grape-purple;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }

  @include bp($bp-640) {
    font-size: 12px;
  }

  &:last-child {
    pointer-events: none;
    text-decoration: none;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

}
