.b-custom-table {

  @include bp($bp-ipad-1024) {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  @include bp($bp-736) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .mCSB_container {
    @include bp($bp-ipad-1024) {
      padding-left: 30px;
    }
    @include bp($bp-736) {
      padding-left: 20px;
    }
  }
  .mCSB_scrollTools {
    @include bp($bp-ipad-1024) {
      margin: 0 30px;
    }
    @include bp($bp-736) {
      margin: 0 20px;
    }
  }

  .mCS-table-theme {
    &.mCSB_horizontal.mCSB_inside > .mCSB_container {
      margin-bottom: 0;
      margin-top: 0;

      @include bp($bp-1280) {
        margin-top: 26px;
      }

      @include bp($bp-ipad-1024) {
        margin-top: 0;
      }

      @include bp($bp-894) {
        margin-top: 26px;
      }
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: auto;
      top: -5px;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
      height: 6px;
      border-radius: 3px;
      background-color: $very-light-pink-three;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      height: 6px;
      border-radius: 3px;
      background-color: $grape-purple;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border: solid 1px #e6e6e6;
  }

  tbody {
    tr {
      &:first-child {
        background-color: #f9f9f9;
      }

      &:hover {
        td {
          background-color: #fbf9f4;
          box-shadow: inset 0px -4px 0px 0px $orangey-yellow;

          @include bp($bp-ipad-1024) {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
    th, td {
      vertical-align: top;
      padding: 15px;
      font-size: 11px;
      line-height: 16px;
      color: $black;
      border-bottom: 1px solid #e6e6e6;
      &:not(:first-child) {
        border-left: 1px solid #e6e6e6;

      }

      a {
        font-size: 11px;
        line-height: 16px;

        &.table-email {
          color: $black;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    th {
      font-weight: normal;
      text-align: center;

      &:nth-child(2) {
        width: 114px;
      }

      &:nth-child(3) {
        width: 126px;
      }
      &:nth-child(4) {
        width: 125px;
      }
      &:nth-child(6) {
        width: 138px;
      }
      &:nth-child(7) {
        width: 145px;
      }
    }
    td {
      font-weight: 300;
      text-align: left;
      transition: .3s ease-in-out all;

      &[colspan] {
        font-size: 12px;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

.b-custom-table__wrap {
  width: 100%;
  display: none;
  min-width: 865px;

  @include bp($bp-ipad-1024) {
    min-width: 895px;
    padding-right: 30px;
  }
  @include bp($bp-736) {
    min-width: 885px;
    padding-right: 20px;
  }

  &.active {
    display: table;
  }
}
