.b-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }
  @include bp($bp-540) {
    margin-bottom: 10px;
  }

  & + .b-people-group {
    margin-bottom: 30px;
  }
}

.b-filter--graduates {
  flex-wrap: nowrap;
  margin-top: -10px;
  padding-bottom: 20px;
  border-bottom: 1px solid $very-light-pink-three;

  @include bp($bp-640) {
    margin-top: 0;
    flex-wrap: wrap;
  }

  @include bp($bp-540) {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .b-filter__item {
    width: auto;
    flex-grow: 1;

    & > div {
      width: auto;
    }

    &:nth-child(1) {
      flex-shrink: 0;
      width: 100px;
      flex-grow: 0;
    }
    &:nth-child(2) {
      max-width: 187px;
      @include bp($bp-480) {
        width: calc(100% - 120px);
      }
    }

    &:nth-child(3) {
      flex-shrink: 0;
      width: 140px;
      flex-grow: 0;

      @include bp($bp-480) {
        margin-top: 10px;
        width: 100px;
        margin-left: 0!important;
      }
    }

    &:last-child {
      @include bp($bp-640) {
        margin-top: 10px;
        display: block;
        width: 100%;
        margin-left: 0!important;
      }
      @include bp($bp-480) {
        width: calc(100% - 120px);
        margin-left: 20px!important;
      }
      flex-grow: 2;
      & > div {
        margin-top: 0;
      }
    }
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.b-filter__item {
  width: calc(100%/3 - (30px*2)/3);

  @include bp($bp-640) {
    width: calc(100%/2 - 10px);
  }

  @include bp($bp-540) {
    width: 100%;
    margin-bottom: 10px;
  }

  & > div {
    width: 100%;
  }

  &:last-child {
    @include bp($bp-640) {
      display: none;
    }
    & > div {
      margin-top: 24px;
      justify-content: flex-end;
    }
  }
}
