.b-footer {
  padding-top: 30px;
  background-color: $white;

  @include bp($bp-540) {
    padding-top: 15px;
  }
}

.b-footer__menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include bp($bp-540) {
    flex-direction: column;
    margin-bottom: 30px;

    &:after {
      content: '';
      display: block;
      width: calc(100% + 40px);
      margin-left: -20px;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $very-light-pink-three;
    }
  }
}

.b-footer__col {
  width: calc(100%/6);
  padding-right: 30px;

  @include bp($bp-894) {
    width: calc(100%/3);
    padding-right: 53px;
    margin-bottom: 30px;
  }

  @include bp($bp-540) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;

    &:not(:first-child) {
      h3 {
        border-top: 1px solid $very-light-pink-three;
      }
    }
  }

  &.open {
    h3 {
      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $grape-purple;
    margin-bottom: 18px;
    pointer-events: none;

    @include bp($bp-540) {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 15px 20px;
      pointer-events: auto;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
        @include svg-i-arrow-right-slider--mid;
        transform: rotate(90deg);
        transition: .3s ease-in-out all;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid $very-light-pink-three;;
    padding-top: 20px;
    margin-bottom: 0;

    @include bp($bp-540) {
      padding-top: 0;
      border-top: none;
      display: none;
      padding-bottom: 15px;
    }

    li {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    a {
      display: block;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.17;
      color: $black;
      transition: .3s ease-in-out all;

      @include bp($bp-540) {
        font-size: 13px;
      }
      &:hover {
        color: $grape-purple;
        text-decoration: underline;
      }
    }
  }
}

.b-footer__col--icon {
  h3 {
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      @include svg-i-bag;
      margin-right: 10px;
      flex-shrink: 0;

      @include bp($bp-540) {
        position: absolute;
        top: -2px;
        bottom: 0;
        margin: auto;
        left: 126px;
      }
    }
  }
}

.b-footer__control {
  position: relative;
  z-index: 10;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($bp-894) {
    margin-top: 0;
  }

  @include bp($bp-540) {
    flex-direction: column;
    .b-social {
      margin-top: 30px;
    }

    .b-social__link {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.b-footer__bottom {
  margin-top: 30px;
  background-color: $white-two;

  @include bp($bp-ipad-1024) {
    background-color: $white;
  }
}

.b-footer__bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  box-sizing: content-box;

  @include bp($bp-ipad-1024) {
    position: relative;
    padding-top: 54px;
  }

  @include bp($bp-540) {
    padding-top: 120px;
  }

  @include bp($bp-414) {
    height: 78px;
    flex-direction: column;
    justify-content: center;
  }

  span {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $black;
  }
}

.b-footer__bottom-center {
  display: flex;
  align-items: center;

  @include bp($bp-ipad-1024) {
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: -30px;
    width: calc(100% + 60px);
    padding: 0 30px;
    height: 54px;
    z-index: 50;
    background-color: $white-two;
  }

  @include bp($bp-540) {
    width: calc(100% + 40px);
    padding: 0 20px;
    left: -20px;
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.b-footer__geo {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: block;
    @include svg-i-geo;
    margin-right: 10px;
    @include bp($bp-540) {
      margin-left: 3px;
      margin-right: 11px;
    }
  }

  .mobile-hidden {
    @include bp($bp-712) {
      display: none;
    }
  }
}

.b-footer__email {
  margin-left: 30px;
  display: flex;
  align-items: center;
  @include bp($bp-712) {
    margin-left: 15px;
  }
  @include bp($bp-540) {
    margin-top: 15px;
    margin-left: 0;
  }
  &:before {
    content: '';
    display: block;
    @include svg-i-email;
    margin-right: 10px;
  }
}

.b-footer__phone {
  margin-left: 30px;
  display: flex;
  align-items: center;
  @include bp($bp-712) {
    margin-left: 15px;
  }
  @include bp($bp-540) {
    margin-top: 15px;
    margin-left: 0;
  }
  &:before {
    content: '';
    display: block;
    @include svg-i-telephone;
    margin-right: 10px;
  }
}

.b-footer__design {
  @include bp($bp-414) {
    margin-top: 4px;
  }
  a {
    color: $grape-purple;

    &:hover {
      text-decoration: underline;
    }
  }
}

.b-footer__education {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(269deg, #a9474a, $grape-purple);
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: $white;
  text-align: center;
}
