.b-form {

}

.b-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.b-form__item {
  width: calc(50% - 10px);
  margin-bottom: 20px;

  @include bp($bp-480) {
    width: 100%;
    margin-bottom: 17px;
  }

  label {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: $black;
    margin-bottom: 10px;
  }
  input, textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: solid 1px $very-light-pink-three;
    background-color: $white;
    padding: 9px 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: $black;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: $brown-grey;
    }
    &:-ms-input-placeholder {
      color: $brown-grey;
    }
    &::-moz-placeholder {
      color: $brown-grey;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $brown-grey;
      opacity: 1;
    }
  }

  textarea {
    resize: none;
    height: 160px;
  }
}

.b-form__item--full {
  width: 100%;
}

.b-form__checkbox {
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }
  label {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: $black;
    padding-left: 38px;
    margin: 0;
    cursor: pointer;

    @include bp($bp-480) {
      font-size: 12px;
      line-height: 18px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: $white;
      border: solid 1px $very-light-pink-three;
    }

    a {
      color: $grape-purple;
      @include bp($bp-480) {
        font-size: 12px;
        line-height: 18px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  input {
    display: none;

    &:checked {
      & + label {
        &:before {
          content: '';
          position: absolute;
          top: 4px;
          left: 3px;
          @include svg-i-check-color;
          z-index: 10;
        }
      }
    }
  }
}

.b-form__control {
  text-align: center;
}
