.b-fullpage-slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 158px);
  overflow: hidden;

  @include bp($bp-ipad-1024) {
    height: calc(100vh - 145px);
    height: calc(var(--vh, 1vh) * 100 - 145px);
  }

  @include bp($bp-640) {
    height: calc(100vh - 115px);
    height: calc(var(--vh, 1vh) * 100 - 115px);
  }

  @include bp($bp-480) {
    height: calc(100vh - 146px);
    height: calc(var(--vh, 1vh) * 100 - 146px);
  }
}

.b-fullpage-slider__arrow {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include bp($bp-ipad-1024) {
    bottom: 34px;
  }

  @include bp($bp-640) {
    left: auto;
    right: 13px;
    bottom: 10px;
  }

  &:hover {
    .b-fullpage-slider__arrow-icon {
      transform: translateY(4px);
    }
  }
}

.b-fullpage-slider__arrow-icon {
  @include svg-i-arrow-down-slider;
  transition: .3s ease all;
}

.b-fullpage-slider__wrap {
  height: 100%;

  .slick-list, .slick-track, .slick-slide, .slick-slide > div {
    height: 100%;
  }

  .slick-dots {
    max-width: 1280px;
    padding: 0 20px;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    text-align: left;

    @include bp($bp-ipad-1024) {
      bottom: 44px;
    }


    @include bp($bp-640) {
      text-align: center;
      bottom: 20px;
    }

    li {
      width: 12px;
      height: 12px;

      &:hover {
        button {

        }
      }

      &.slick-active {
        button {
          background-color: $white;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $white;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }
}

.b-fullpage-slider__item {
  display: block;
  position: relative;
  height: 100%;


  .container  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.b-fullpage-slider__item--text-left {
  .b-fullpage-slider__text {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(0);
    bottom: auto;
    text-align: left;

    h2 {
      text-align: left;
    }

    p {
      max-width: 357px;
      text-align: left;
    }

    .divider {
      margin-left: 0;
    }
  }
}

.b-fullpage-slider__img {
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(54, 54, 54, 0), rgba(25, 25, 25, 0.67));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.b-fullpage-slider__text {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 94px;
  z-index: 100;
  text-align: center;
  padding: 0 20px;

  @include bp($bp-ipad-1024) {
    padding: 0 30px;
  }

  @include bp($bp-736) {
    padding: 0 20px;
  }

  @include bp($bp-640) {
    bottom: 52px;

  }

  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    margin: 0;

    @include bp($bp-640) {
      font-size: 28px;
      line-height: 30px;
    }
  }
  p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    text-align: center;
    color: $white;
    margin: 0;

    @include bp($bp-640) {
      font-size: 14px;
      line-height: 20px;
    }

    @include bp($bp-360) {
      letter-spacing: -0.2px;
    }
  }

  .divider {
    display: block;
    width: 72px;
    height: 2px;
    background-color: $orangey-yellow;
    margin: 20px auto;

    @include bp($bp-640) {
      margin: 10px auto;
    }
  }

  .btn--slider {
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $grape-purple;
    }

    @include bp($bp-640) {
      margin-top: 10px;
      display: inline-block;
    }
  }
}
