.b-gallery-mini {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}

.b-gallery-mini__list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0;
}

.b-gallery-mini__item {
  position: relative;
  width: calc(100%/4);
  padding: 10px;

  &:hover {
    img {
      box-shadow: 0 2px 20px 0 rgba(25, 25, 25, 0.4);

      @include bp($bp-ipad-1024) {
        box-shadow: none;
      }
    }
  }

  @include bp($bp-ipad-1024) {
    padding: 7px;
  }

  @include bp($bp-540) {
    width: calc(100%/2);
  }

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 0;
    transition: .3s ease-in-out box-shadow;

    @include bp($bp-ipad-1024) {
      width: calc(100% - 14px);
      height: calc(100% - 14px);
    }
  }
}

.b-gallery-mini__more {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  @include bp($bp-ipad-1024) {
    margin-top: 16px;
  }
}

.b-gallery-mini__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $grape-purple;
  cursor: pointer;

  &:hover {
    span {
      border-bottom: 1px dashed $grape-purple;
    }
  }

  span {
    border-bottom: 1px dashed transparent;
    line-height: normal;
  }

  &:after {
    content: '';
    display: block;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
    margin-left: 10px;
  }
}
