.b-header {
  position: relative;
  width: 100%;
  min-height: 158px;
  -webkit-backface-visibility: hidden;

  @include bp($bp-ipad-1024) {
    height: 145px;
    z-index: 1000;
    min-height: auto;
  }

  @include bp($bp-640) {
    height: 115px;
  }
  @include bp($bp-480) {
    height: 146px;
  }

  &.is-visually {
    .b-header__wrap {
      padding-top: 76px;
    }
    .b-header__bottom--fixed {
      top: 76px;
    }
  }
}

.b-header__wrap {
  width: 100%;
  padding-top: 36px;
  transition: .3s ease-in-out padding;

  @include bp($bp-ipadPro-1112) {
    padding-top: 0;
  }
}

.b-header__scroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  @include bp($bp-ipadPro-1112) {
    position: static;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    background-color: $white;
    top: -4px;
    left: 0;
    z-index: -1;
  }
}

.b-header__top {
  height: 36px;
  background-image: linear-gradient(269deg, #a9474a, #812023);
}

.b-header__sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header__icon-menu {
  display: flex;
  align-items: center;

  @include bp($bp-480) {
    margin-left: -11px;
  }
}

.b-header__icon-menu-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 36px;
  color: $white;
  padding: 0 15px;
  transition: .3s ease-in-out all;

  @include bp($bp-1280) {
    padding: 0 9px;
  }

  @include bp($bp-894) {
    padding: 0 14px;
    font-size: 0;
  }

  @include bp($bp-480) {
    padding: 0 11px;
  }

  &:before {
    content: '';
    display: block;
    margin-right: 10px;
    @include bp($bp-894) {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: $plum;
  }
}

.b-header__icon-menu-item--timetable {
  &:before {
    @include svg-icon-menu-table;
  }
}

.b-header__icon-menu-item--library {
  &:before {
    @include svg-icon-menu-bibliotek;
  }
}

.b-header__icon-menu-item--guide {
  &:before {
    @include svg-icon-menu-spravka;
  }
}

.b-header__icon-menu-item--system {
  &:before {
    @include svg-icon-menu-system;
  }
}

.b-header__link {
  position: relative;
  font-weight: normal;
  line-height: 36px;
  color: $white;
  z-index: 10;

  &:hover {
    &:after {
      opacity: 1;
    }
  }


  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 100%;
    background-color: $plum;
    opacity: 0;
    transition: .3s ease-in-out all;
    z-index: -1;
  }

  @include bp($bp-1190) {
    display: none;
  }
}

.b-header__right {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 20;

  @include bp($bp-712) {
    position: static;
  }
}

.b-header__search {
  margin-right: 10px;


  @include bp($bp-ipad-1024) {
    margin-right: 0;
  }
}

.b-header__search-box {
  top: 2px;
  left: -364px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;

  @include bp($bp-712) {
    width: calc(100% - 125px);
    left: 20px;
  }
  form {
    padding: 0;
    margin: 0;
  }

  @include bp($bp-480) {
    left: 19px;
    width: calc(100% - 83px);
  }

  button {
    padding: 0;
    border: 0;
    @include svg-i-loop-color;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 10;
    cursor: pointer;
    outline: none;

    @include bp($bp-480) {
      left: 9px;
    }
  }
  input {
    width: 395px;
    border-radius: 15.5px;
    background-color: $white;
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    padding: 8px 36px 8px 43px;
    color: $black;
    outline: none;
    border: none;
    height: 32px;

    @include bp($bp-712) {
      width: 100%;
    }

    @include bp($bp-480) {
      padding-left: 34px;
      padding-right: 30px;
    }

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: rgba(25, 25, 25, 0.5);
    }
    &:-ms-input-placeholder {
      color: rgba(25, 25, 25, 0.5);
    }
    &::-moz-placeholder {
      color: rgba(25, 25, 25, 0.5);
      opacity: 1;
    }
    &:-moz-placeholder {
      color: rgba(25, 25, 25, 0.5);
      opacity: 1;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.b-header__search-btn {
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out all;

  &:hover {
    background-color: $plum;

    @include bp($bp-ipad-1024) {
      background-color: transparent;
    }
  }
}

.b-header__search-btn-icon {
  @include svg-i-loop;
}

.b-header__search-close {
  position: absolute;
  top: 8px;
  right: 15px;
  @include svg-i-close-filter;
  cursor: pointer;
  z-index: 10;

  @include bp($bp-480) {
    right: 10px;
  }
}

.b-header__visually {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: .3s ease-in-out all;

  &:hover {
    background-color: $plum;
  }

  &.active {
    &:hover {
      .b-header__visually-ico {
        @include svg-i-view--bg;
      }
    }

    .b-header__visually-ico {
      @include svg-i-view--bg-color;
    }

  }

  @include bp($bp-ipadPro-1112) {
    display: none;
  }
}

.b-header__visually-ico {
  @include svg-i-view--bg;
}

.b-header__lang {
  display: flex;
  margin-left: 13px;

  @include bp($bp-ipad-1024) {
    margin-left: 0;
  }
}

.b-header__lang-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 36px;
  color: $white;
  padding: 0 10px;
  transition: .3s ease-in-out all;

  &:hover {
    background-color: rgba(103, 21, 23, 0.5);
  }
  @include bp($bp-480) {
    display: none;
  }

  &.active {
    background-color: $plum;
  }

  &.mobile {
    display: none;
    @include bp($bp-480) {
      display: block;
    }
  }
}

.b-header__bottom {
  width: 100%;
  height: 122px;
  background-color: $white;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);

  @include bp($bp-ipad-1024) {
    height: 110px;
  }

  @include bp($bp-640) {
    height: 79px;
  }

  @include bp($bp-480) {
    height: auto;
    position: relative;
    box-sizing: content-box;
    padding-bottom: 40px;
  }
}

.b-header__bottom--fixed {
  position: fixed;
  top: 36px;
  left: 0;
  height: 60px;
  z-index: 499;
  transform: translate3d(0,-100%,0);
  transition: .3s ease-in-out all;

  @include bp($bp-ipadPro-1112) {
    display: none;
  }

  &.active {
    transform: translate3d(0,0,0);

    .b-header__bottom-wrap {
      opacity: 1;
    }
  }

  .b-header__bottom-wrap {
    padding-top: 0;
    opacity: 0;
    transition: .3s ease-in-out opacity;
  }

  .b-header__logo-emblem {
    @include svg-i-logo-crest--sm;
  }
  .b-header__logo {
    border-left: 1px solid $very-light-pink;
    border-right: 1px solid $very-light-pink;
    width: 70px;
    justify-content: center;
    align-items: center;
  }
  .b-header__content {
    width: calc(100% - 70px);
    padding-left: 0;
    padding-top: 0;
  }
  .b-header__menu {
    margin-top: 0;
  }
  .b-header__menu-home {
    position: static;
    margin: 0 30px;
  }
  .b-header__menu-wrap {
    border-left: 1px solid $very-light-pink;
    padding-left: 0;
  }
}

.b-header__bottom-wrap {
  padding-top: 21px;
  width: 100%;
  display: flex;

  @include bp($bp-ipadPro-1112) {
    padding-top: 20px;
  }

  @include bp($bp-640) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.b-header__logo {
  display: flex;
  width: 274px;
  flex-shrink: 0;

  @include bp($bp-ipad-1024) {
    width: 242px;
  }

  @include bp($bp-640) {
    width: 173px;
  }

}

.b-header__logo-emblem {
  display: block;
  width: 62px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/logo/i-logo-emblem.svg");

  @include bp($bp-ipad-1024) {
    width: 54px;
    height: 69px;
  }

  @include bp($bp-640) {
    width: 38px;
    height: 50px;
  }
}

.b-header__logo-words {
  width: 192px;
  height: 80px;
  margin-left: 18px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/logo/i-logo-words.svg");

  @include bp($bp-ipad-1024) {
    width: 170px;
    height: 70px;
    margin-left: 10px;
  }
  @include bp($bp-640) {
    width: 123px;
    height: 50px;
    margin-left: 7px;
  }
}

.b-header__content {
  padding-top: 8px;
  flex-grow: 1;
  padding-left: 41px;
  position: relative;

  @include bp($bp-ipad-1024) {
    padding-top: 0;
    padding-left: 34px;
  }

  @include bp($bp-736) {
    padding-left: 20px;
  }

  @include bp($bp-640) {
      padding-left: 12px;
  }

  @include bp($bp-480) {
    position: static;
  }
}

.b-header__geo {
  max-width: 252px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $grape-purple;

  @include bp($bp-ipad-1024) {
    font-size: 18px;
  }

  @include bp($bp-640) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 4px;
  }

  @include bp($bp-375) {
    align-items: flex-start;
  }

  &:before {
    content: '';
    display: block;
    @include svg-i-geo;
    margin-right: 6px;
    flex-shrink: 0;
  }
}

.b-header__phone {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $black;

  @include bp($bp-ipad-1024) {
    top: 0;
  }

  @include bp($bp-640) {
    display: none;
  }
}

.b-header__menu {
  position: relative;
  width: 100%;
  margin-top: 9px;
  display: flex;
  align-items: center;

  @include bp($bp-640) {
    margin-top: 0;
  }

  @include bp($bp-480) {
    border-top: 1px solid $very-light-pink-three;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
  }
}

.b-header__menu-home {
  position: absolute;
  top: 19px;
  left: -4px;
  display: block;
  @include svg-i-home;
  z-index: 10;
  transition: .3s ease-in-out transform;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.1);
  }

  @include bp($bp-640) {
    top: 10px;
  }

  @include bp($bp-480) {
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.b-header__menu-wrap {
  padding-left: 23px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @include bp($bp-480) {
    padding-left: 0;
    justify-content: center;
  }
}

.b-header__menu-item {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  background-color: $white;
  z-index: 30;

  span {
    display: block;
    padding: 20px 0 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    border-bottom: 4px solid transparent;
    color: $black;
    text-transform: uppercase;
    transition: .3s ease-in-out all;
    -webkit-font-smoothing: antialiased;
  }

  @include bp($bp-1190) {
    padding-left: 22px;
  }

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &:hover {
    span {
      color: $grape-purple;
      border-color: $grape-purple;
    }


    .b-header__dropdown {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.b-header__menu-item--white {
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: -150px;
    width: 150px;
    height: 30px;
    background-color: $white;
    z-index: 30;
    pointer-events: none;
  }
}

.b-header__menu-item--icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -15px;
  border-bottom: 4px solid transparent;
  transition: .3s ease-in-out all;

  &:hover {
    &:before {
      transform: scale(1.26);
    }
  }
  //.icon-animate {
  //  position: absolute;
  //  top: 17px;
  //  left: 16px;
  //  width: 135px;
  //  height: 20px;
  //  background-size: contain;
  //  background-image: url("../images/home/icon-animate.png");
  //  background-repeat: no-repeat;
  //  transition: .3s ease-in-out all;
  //
  //  @include bp($bp-ipad-1024) {
  //    display: none;
  //  }
  //}

  span {
    padding: 18px 0 17px;
    font-weight: bold;
    color: $grape-purple;
    border: none;
  }

  @include bp($bp-ipad-1024) {
    display: flex;
    margin-left: 2px;
    margin-top: 4px;

    span {
      padding: 16px 0 15px;
    }
  }

  @include bp($bp-640) {
    span {
      padding: 10px 0 6px;
    }

    margin-left: 15px;
  }

  @include bp($bp-480) {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    span {
      padding: 5px 0 5px;
    }
  }

  &:before {
    content: '';
    @include svg-i-bag;
    margin-right: 10px;
    transition: .3s ease-in-out all;
  }
}

.b-header__dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  top: 60px;
  left: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.4);
  background-color: $white;
  z-index: 10;
  transition: .3s ease-in-out all;

  @include bp($bp-1190) {
    left: 22px;
  }

  @include bp($bp-ipad-1024) {
    box-shadow: none;
  }

  @include bp($bp-640) {
    top: 42px;
  }
  @include bp($bp-480) {
    top: 40px;
  }
}

.b-header__menu-link {
  display: block;
  font-weight: 300;
  text-transform: none;
  padding: 13px 20px;
  transition: .3s ease-in-out all;
  white-space: nowrap;
  color: $black;

  &:not(:first-child) {
    border-top: 1px solid $very-light-pink;
  }

  &:hover {
    background-color: $pale-pink;
  }
}

.b-header__eye {
  background-color: #fff;
  width: 100%;
  z-index: 100;
  display: flex;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;

  &.active {
    height: 40px;
    opacity: 1;
    visibility: visible;
    .visually {
      opacity: 1;
      visibility: visible;
      transition-delay: .3s;
    }
  }

  .container {
    position: relative;
  }
}

.b-header__eye-close {
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto;
  @include svg-i-close-eye;
  z-index: 20;
  cursor: pointer;
}

.visually {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;
}

.visually__list {
  display: flex;
  align-items: center;

  &:nth-child(2) {
    margin: 0 35px;
  }

  span {
    font-size: 14px;
    line-height: 14px;
    color: $black;
    margin-right: 10px;
  }
}

.visually__font-item {
  width: 22px;
  font-weight: 500;
  color: $black;
  text-align: center;
  cursor: pointer;

  &.active {
    border-radius: 3px;
    background-image: linear-gradient(224deg, #a9474a, $grape-purple);
    color: #fff;
  }
}

.visually__font-item-1 {
  font-size: 13px;
  line-height: 22px;
}


.visually__font-item-2 {
  font-size: 16px;
  line-height: 22px;
}


.visually__font-item-3 {
  font-size: 20px;
  line-height: 22px;
}

.visually__font-color {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: solid 1px #191919;
  background-color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $black;
  text-align: center;
  cursor: pointer;
}

.visually__font-color-0 {
  background-color: $grape-purple;
  color: $white;
  border-color: $grape-purple;
  margin-right: 5px;
}

.visually__font-color-1 {

}

.visually__font-color-2 {
  border: solid 1px #191919;
  background-color: $black;
  color: $white;
  margin: 0 5px;
}

.visually__font-color-3 {
  background-color: #9cd6ff;
  border-color: #9cd6ff;
  color: $black;
}

.visually__control {
  position: relative;
  display: flex;
  width: 90px;
  height: 22px;
  border-radius: 3px;
  background-color: $grape-purple;
  padding: 0 5px;

  &.active {
    i {
      transform: translateX(-109%);
    }
  }

  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    color: $white;

    &:last-child {
      margin-right: 0;
    }
  }
  i {
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    margin: auto;
    display: block;
    width: 40px;
    height: 18px;
    border-radius: 3px;
    background-color: $white;
    cursor: pointer;
    transition: .3s ease-in-out all;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      @include svg-i-eye-control;
    }
  }
}
