.b-home-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  @include bp($bp-ipad-1024) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include bp($bp-640) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h2 {
    margin-bottom: 30px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 20px;
    }
  }
}

.b-home-container--detail {
  padding-top: 40px;

  &.b-home-container--grey {
    background-color: $white-two;
  }

  @include bp($bp-1366) {
    padding-bottom: 92px;
  }

  @include bp($bp-ipad-1024) {
    padding-top: 30px;
    padding-bottom: 72px;
  }

  @include bp($bp-640) {
    padding-bottom: 53px;
  }

  h2 {
    font-weight: normal;
  }
}

.b-home-container--video {
  .slick-arrow {
    top: 63px;
    transform: none;
  }
}

.b-home-container--grey {
  background-color: $very-light-pink-two;
}

.b-home-container--short {
  padding-top: 0;
}

.b-home-container--hover {
  h2 {
    margin-bottom: 15px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 5px;
    }
  }

  .slick-track {
    padding-top: 15px;
  }
}

.b-home-container__control {
  display: flex;
  justify-content: flex-end;
  position: relative;

  @include bp($bp-414) {
    text-align: center;
    margin-top: 32px;
    justify-content: center;
  }
}

.b-home-container__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: $grape-purple;
  text-align: right;
  transition: .3s ease-in-out all;

  &:hover {
    text-decoration: underline;
  }
  @include bp($bp-414) {
    text-align: center;
  }
}
