.b-home-news {

}

.b-home-news__slider {
  display: flex;
  width: calc(100% + 20px);
  margin-left: -10px;

  .slick-list {
    padding-bottom: 30px;

    @include bp($bp-ipad-1024) {
      padding-bottom: 20px;
    }

    .news-slider-item, .announ-slider-item, .project-slider-item {
      opacity: 1;
    }
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-track{
    display: flex;

    .slick-slide{
      display: flex;
      height: auto;

      & > div {
        width: 100%;
        height: 100%;
      }
    }
  }

  .slick-arrow {
    z-index: 10;
    width: 46px;
    height: 46px;
    background-color: $white;
    border-radius: 50%;
    transition: .3s ease-in-out all;
    border: 1px solid $white;

    &:before {
      display: none;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.06);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &.slick-next {
      right: -57px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
      }
    }

    &.slick-prev {
      left: -57px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
        transform: rotate(180deg);
      }
    }
  }

  .slick-dots {
    width: auto;
    left: 6px;
    bottom: -14px;
    margin: auto;
    text-align: left;
    z-index: 50;

    @include bp($bp-414) {
      left: 0;
      right: 0;
      text-align: center;
    }

    li {
      width: 12px;
      height: 12px;

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }

  .card-people {
    height: 100%;
  }

  .gallery-card {
    height: 295px;
  }

  .news-slider-item, .announ-slider-item, .project-slider-item {
    opacity: 0;
  }
}

.b-home-news--margins {
  .slick-slide {
    margin: 0 10px;
  }
}
