.b-home-gallery {
  .b-home-container__control {
    margin-top: 29px;

    @include bp($bp-ipad-1024) {
      margin-top: 0;
    }
    @include bp($bp-414) {
      margin-top: 32px;
    }
  }
}

.b-home-gallery__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include bp($bp-ipad-1024) {
    align-items: flex-start;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-list {

    .slick-slide {
      & > div {
        margin: 0 10px;
      }
      .gallery-card {
        outline: none;
        margin-bottom: 0;
      }
    }
  }

  .slick-dots {
    width: auto;
    left: 6px;
    bottom: -14px;
    margin: auto;
    text-align: left;
    z-index: 50;

    @include bp($bp-414) {
      left: 0;
      right: 0;
      text-align: center;
    }

    li {
      width: 12px;
      height: 12px;

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }
}

.b-home-gallery__list--project {
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-bottom: -17px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 1px;
  }
  @include bp($bp-414) {
    &.slick-dotted.slick-slider {
      margin-top: -7px;
    }

    .slick-dots {
      bottom: -5px;
    }
  }
}

.b-home-gallery__half {
  width: 50%;

  @include bp($bp-ipad-1024) {
   width: 100%;
  }
  &:first-child {
    padding-right: 10px;
    @include bp($bp-ipad-1024) {
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  &:last-child {
    padding-left: 10px;
    @include bp($bp-ipad-1024) {
      padding-left: 0;

      .b-home-container__control {
        margin-top: 20px;
      }
    }
  }
}

.b-home-gallery__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include bp($bp-ipad-1024) {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-bottom: 13px;
  }

  @include bp($bp-414) {

  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .gallery-card {
    width: calc(50% - 10px);
    height: 295px;

    &:nth-child(1) {
      margin-bottom: 20px;
    }
    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}

.b-home-gallery__video {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 610px;
  min-height: 295px;

  @include bp($bp-ipad-1024) {
    &:after {
      content: '';
      display: block;
      padding-top: 56%;
    }
  }

  .gallery-card {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 20px;

    @include bp($bp-ipad-1024) {
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0;
    }
  }
}
