.b-home-banner {
  position: relative;
  width: 100%;
  height: 540px;

  @include bp($bp-640) {
    height: 480px;
  }

  .container  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.b-home-banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-image: linear-gradient(to left, rgba(54, 54, 54, 0), rgba(0, 0, 0, 0.67));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include bp($bp-ipad-1024) {
      object-position: 72%;
    }
  }
}

.b-home-banner__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.13;
    color: $white;
    margin-bottom: 20px;

    @include bp($bp-640) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    color: $white;
    margin-bottom: 40px;

    @include bp($bp-640) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}
