.b-icons-card {
  text-align: center;
}

.b-icons-card__btn {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 30px;
}

.b-icons-card__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.b-icons-card__item {
  border-radius: 8px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  width: calc(100%/4 - 20px);
  margin: 0 10px 20px;
  padding: 30px 20px 20px;
  transition: .3s ease-in-out all;

  @include bp($bp-894) {
    width: calc(100%/3 - 20px);
  }

  @include bp($bp-540) {
    width: calc(100%/2 - 20px);
  }

  @include bp($bp-414) {
    width: 100%
  }

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    svg {
      g {
        fill: $grape-purple;
      }
    }
  }
}

.b-icons-card__item-icon {
  margin-bottom: 30px;
  svg {
    display: block;
    margin: 0 auto;

    g {
      transition: .3s ease-in-out all;
    }
  }
}

.b-icons-card__item-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: $grape-purple;

  @include bp($bp-ipad-768) {
    font-size: 16px;
  }
}

.b-icons-card__item-desc {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: $black;
}
