.b-main-tab {

}

.b-main-tab--inner {
  display: flex;

  .b-main-tab__title {
    padding-top: 10px;
    padding-bottom: 10px;

    &:after {
      @include svg-i-arrow-right-slider--mid_black;
    }
  }

  .b-main-tab__header {
    width: 285px;
    flex-direction: column;
    border-right: solid 1px $very-light-pink-three;

    @include bp($bp-ipad-1024) {
      width: 266px;
    }
  }

  .b-main-tab__item {
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: 0;
    margin-right: 0;

    &:not(:first-child) {
      border-top: solid 1px $very-light-pink-three;
    }

    &.active {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -9px;
        margin: auto;
        display: block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        box-shadow: 1px -1px 0 0 $very-light-pink-three;
        background-color: $white;
        z-index: 10;
      }
    }
  }

  .b-main-tab__body {
    margin-top: 0;
    width: calc(100% - 285px);
    border: none;

    @include bp($bp-ipad-1024) {
      width: calc(100% - 266px);
    }

    @include bp($bp-712) {
      width: 100%;
      background-color: #f9f9f9;
    }
  }
}

.b-main-tab__header {
  display: flex;

  @include bp($bp-712) {
    display: none;
  }
}

.b-main-tab__item {
  padding: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: $black;
  background-color: $very-light-pink-three;
  transition: .3s ease all;
  border-top: solid 1px $very-light-pink-three;
  border-left: solid 1px $very-light-pink-three;
  border-right: solid 1px $very-light-pink-three;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
  cursor: pointer;

  &:hover {
    color:  $grape-purple;
    background-color: rgba(234, 234, 234, 0.2);
  }

  &.active {
    background-color: $white;
    color: $grape-purple;
  }
}

.b-main-tab__item-number {
  font-size: 13px;
  font-weight: 300;
  color: rgba(25, 25, 25, 0.5);
  margin-bottom: 5px;
}

.b-main-tab__item-title {
  font-size: 16px;
  line-height: 1.5;
}

.b-main-tab__body {
  margin-top: -1px;
  background-color: $white;
  border: solid 1px $very-light-pink-three;
  border-radius: 0 5px 5px 5px;
}

.b-main-tab__body-wrap {
  display: none;

  @include bp($bp-712) {
    display: block;
  }
  &.active {
    display: block;
  }

  &:not(:first-child) {
    .b-main-tab__title {
      @include bp($bp-712) {
        border-top: 1px solid $very-light-pink-three;
      }
    }
  }

  &.open {
    & > .b-main-tab__title {
      &:after {
        transform: rotate(-90deg);
      }
    }
  }
}

.b-main-tab__title {
  display: none;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: $grape-purple;
  padding: 16px 40px 16px 20px;

  @include bp($bp-712) {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
    margin: auto;
    transition: .3s ease-in-out all;
  }

  .b-main-tab__item-number {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: normal;
  }

  .b-main-tab__item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $black;
  }

}

.b-main-tab__content {
    @include bp($bp-712) {
      display: none;
    }
}

.b-main-tab__content-wrap {
  padding: 40px 100px;

  @include bp($bp-ipad-1024) {
    padding: 40px 50px;
  }

  @include bp($bp-712) {
    padding: 0 20px 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: $black;
    margin-bottom: 20px;

    @include bp($bp-712) {
      display: none;
    }
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: $black;
    margin-bottom: 18px;

    @include bp($bp-712) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $grape-purple;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: '';
      display: block;
      @include svg-i-arrow-right-slider--sm;
      margin-left: 10px;
    }
  }
}

.b-main-tab__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  @include bp($bp-712) {
    margin-top: 20px;
  }
}

.b-main-tab__info-box {
  width: calc(100%/4);
  display: flex;

  @include bp($bp-894) {
    width: calc(100%/2);

    &:nth-child(1) {
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      padding-left: 46px;
    }
  }

  @include bp($bp-375) {
    width: 100%;

    &:nth-child(1) {
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      margin-bottom: 20px;
    }
    &:nth-child(3) {
      margin-bottom: 20px;
    }

    &:nth-child(even) {
      padding-left: 0;
    }
  }

  &:not(:first-child) {
    justify-content: flex-end;

    @include bp($bp-894) {
      justify-content: flex-start;
    }
  }
}

.b-main-tab__info-wrap {

}

.b-main-tab__info-header {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: $black;
  padding-bottom: 12px;
  margin-bottom: 10px;
  white-space: nowrap;

  @include bp($bp-ipad-1024) {
    font-size: 20px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 72px;
    height: 2px;
    background-color: $orangey-yellow;
  }
}

.b-main-tab__info-body {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}
