.b-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    padding: 2px 0;

  }

  @include bp($bp-540) {
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }
}

.b-pagination--mobile {
  @include bp($bp-540) {
    .b-pagination__select {
      display: none;
    }
    .b-pagination__list {
      margin-bottom: 0;
    }
  }
}

.b-pagination--mobile-hidden {
  @include bp($bp-540) {
    display: none;
  }
}

.b-pagination__list {
  display: flex;
  align-items: center;
  @include bp($bp-540) {
    margin-bottom: 20px;
  }
}

.b-pagination__item {
  position: relative;
  padding: 0 12px;
  min-width: 34px;
  height: 34px;
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: $black;
  border-radius: 17px;
  border: solid 1px $very-light-pink-three;
  cursor: pointer;
  transition: .3s ease all;
  white-space: nowrap;

  &:hover {
    border-color: $grape-purple;
  }
}

.b-pagination__item--active {
  color: $white;
  border: none;
  background-image: linear-gradient(225deg, #a9474a, $grape-purple);
  pointer-events: none;
  line-height: 34px;
}

.b-pagination__item--disabled {
  border-color: #dbdbdb;
  pointer-events: none;
  cursor: not-allowed;
}

.b-pagination__item--prev {
  margin-right: 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(180deg);
  }

  &.b-pagination__item--disabled {
    &:after {
      @include svg-i-arrow-right-slider--dis-mid;
    }
  }
}

.b-pagination__item--next {
  margin-left: 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--mid;
  }

  &.b-pagination__item--disabled {
    &:after {
      @include svg-i-arrow-right-slider--dis-mid;
    }
  }
}

.b-pagination__numbers {
  display: flex;

  .b-pagination__item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.b-pagination__select {
  &.selectbox {

  }
}
