.b-people-group {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.b-people-group--single {
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }

  @include bp($bp-640) {
    margin-bottom: 0;
  }

  .b-people-group__list {
    margin-bottom: -20px;
  }

  .b-people-group__more {
    margin-top: 20px;
  }
}

.b-people-group--short {
  margin-bottom: 30px;

  .b-people-group__list {
    margin-bottom: -20px;
  }
}

.b-people-group--aside {
  margin-bottom: 30px;
  @include bp($bp-640) {
    margin-bottom: 10px;
  }

  .b-people-group__list {
    width: 100%;
    margin-left: 0;
    flex-direction: column;

    @include bp($bp-ipad-1024) {
      flex-direction: row;
      width: calc(100% + 30px);
      margin-left: -16px;
      margin-bottom: -20px;
    }

    @include bp($bp-640) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  .b-people-group__item {
    width: 100%;
    margin: 0 0 20px;

    @include bp($bp-ipad-1024) {
      width: calc(100% / 3 - 20px);
      margin: 0 10px 20px;
    }

    @include bp($bp-640) {
      width: 100%;
      margin:  0 0 20px;
    }
  }
}

.b-people-group__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -16px;
}

.b-people-group__item {
  margin: 0 15px 20px;
  width: calc(100%/3 - 30px);
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  padding: 20px;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    width: calc(100%/3 - 20px);
    margin: 0 10px 20px;
  }

  @include bp($bp-640) {
    width: calc(100%/2 - 20px);
  }

  @include bp($bp-540) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);

    @include bp($bp-ipad-1024) {
      box-shadow: none;
    }
  }
}

.b-people-group__item--half {
  width: calc(100%/2 - 30px);

  @include bp($bp-ipad-1024) {
    width: calc(100%/2 - 20px);
  }

  @include bp($bp-540) {
    width: 100%;
  }
}

.b-people-group__img {
  margin-bottom: 20px;
  img {
    border-radius: 50%;
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
}

.b-people-group__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: $black;
  margin-bottom: 10px;
}

.b-people-group__desc {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: $black;
}

.b-people-group__more {
  display: flex;
  justify-content: center;
}

.b-people-group__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $grape-purple;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;

  &:hover {
    span {
      border-bottom: 1px dashed $grape-purple;
    }
  }

  span {
    border-bottom: 1px dashed transparent;
    line-height: normal;
  }

  &:after {
    content: '';
    display: block;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
    margin-left: 10px;
  }
}
