.b-popup {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.03);
  background-color: $white;
  border-radius: 5px;

  .mfp-close {
    top: 8px;
    right: 4px;
    font-size: 0;

    @include bp($bp-640) {
      top: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include svg-i-close-popup;
    }
    &:active {
      top: 8px;
    }
  }
}

.b-popup--audience {

}

.b-popup__wrap {

}

.b-popup__title {
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  background-color: #f6f6f6;
  border-radius: 5px 5px 0 0;

  @include bp($bp-640) {
    font-size: 14px;
    line-height: 14px;
    padding: 15px 20px;
  }
}

.b-popup__content {
  padding: 20px;

  @include bp($bp-540) {
    padding: 15px;
  }
  @include bp($bp-360) {
    padding: 10px;
  }

  .typography__form {
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;

    textarea {
      @include bp($bp-540) {
        height: 100px;
      }
    }

    .b-form__item {
      @include bp($bp-360) {
        margin-bottom: 10px;
      }
    }

    .b-form__checkbox {
      @include bp($bp-360) {
        margin-bottom: 10px;
      }
    }
  }

  .b-form__checkbox {
    margin-bottom: 20px;
  }
}

.audience-popup {
  .mfp-content {
    max-width: 980px;
    margin: 0 auto;
  }
}
.question-popup {
  .mfp-content {
    max-width: 480px;
    margin: 0 auto;
  }
}
