.b-result {
  margin-bottom: 60px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 0;
  }
}

.b-result--single {
  h2 {
    margin-bottom: 40px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 30px;
    }

    @include bp($bp-640) {
      margin-bottom: 20px;
    }

    @include bp($bp-540) {
      margin-bottom: 0;
    }
  }

  .b-result__content {
    padding-top: 10px;

    @include bp($bp-ipad-1024) {
      padding-top: 0;
    }
  }
}

.b-result__content {

  .b-people-group__list {
    padding-top: 30px;
    padding-bottom: 10px;

    @include bp($bp-ipad-1024) {
      padding-bottom: 0;
    }
  }

  .typography__doc-list {
    margin-bottom: 0;
    .doc-item {
      width: 100%;
      margin-bottom: 0;
      padding: 29px 0;

      &:not(:first-child) {
        border-top: 1px solid  $very-light-pink-three;
      }
    }
  }
}

.b-result__list {
  & > ol {
    list-style: none;
    counter-reset: myCounter;
    padding-left: 0;

    @include bp($bp-ipad-1024) {
      margin-bottom: 0;
    }

    li {
      position: relative;
      padding: 29px 0 29px 29px;

      @include bp($bp-ipad-1024) {
        padding: 19px 0 19px 29px;
      }

      @include bp($bp-375) {
        padding-left: 24px;
      }

      &:not(:first-child) {
        border-top: 1px solid  $very-light-pink-three;
      }
      &:after {
        position: absolute;
        top: 26px;
        left: 0;
        counter-increment: myCounter;
        content:counter(myCounter)".";
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        color: $black;
        @include bp($bp-ipad-1024) {
          top: 16px;
        }
      }
      a {
        display: block;

        &:hover {
          h3 {
            text-decoration: underline;
          }
        }
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: $grape-purple;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: $black;
        margin-bottom: 0;

        b {
          font-weight: bold;
        }
      }
    }
  }
}

.b-result__list--detail {
  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }
}

.b-result__more {
  position: relative;
  display: inline-block;
  padding-right: 18px;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    @include svg-i-arrow-right-slider--mid;
  }
}
