.b-schedule {
  width: 100%;
}

.b-schedule__select-btn {
  position: relative;
  border-bottom: 1px solid $very-light-pink-three;
  ;

  @include bp($bp-540) {
    display: flex;
    padding: 20px;
  }
}

.b-schedule__select-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
  padding: 10px 0;

  .btn--tab {
    display: block;
  }

  @include bp($bp-540) {
    display: none;
  }

  .btn {
    margin: 0 10px;

    @include bp($bp-640) {
      margin: 0 5px;
    }
  }
}

.b-schedule__select-mobile {
  display: none;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  @include bp($bp-540) {
    flex-grow: 1;
    display: block;
    height: 40px;

    &:after {
      right: 20px;
    }

    select {
      line-height: 38px;
      padding-left: 20px;
      font-weight: 500;
    }
  }
}

.b-schedule__filter {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: -10px;
  right: 30px;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  border: solid 2px $grape-purple;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  @include bp($bp-736) {
    right: 20px;
  }

  @include bp($bp-540) {
    top: 0;
    position: relative;
    margin-left: 20px;
    flex-shrink: 0;
    right: 0;
  }

  &.active {
    background-color: $grape-purple;

    &:after {
      @include svg-i-filter--active;
    }
  }
  &.select {
    background-color: $grape-purple;

    &:after {
      @include svg-i-filter--active;
    }
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-filter;
  }
}

.b-schedule__border-card {
  position: relative;

  &:not(:first-child) {
    margin-top: 30px;

    @include bp($bp-540) {
      margin-top: 20px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $black;
    text-align: left;
    margin-bottom: 20px;

    @include bp($bp-540) {
      margin-bottom: 10px;
    }
  }

  &>a {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 10;

    &:hover {
      text-decoration: underline;
    }
  }
}

.b-schedule__border-card--center {
  .b-schedule__border-list {
    ul {
      text-align: center;
    }
  }
}

.b-schedule__border-list {
  display: flex;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  padding: 20px 10px;

  ul {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 2px 0;
    }

    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      color: $grape-purple;
      border-radius: 17px;
      transition: .3s ease-in-out all;
      padding: 0 10px;

      &:hover {
        background-color: $grape-purple;
        color: $white;
      }
    }
  }
}

.b-schedule__letter {
  font-size: 32px;
  line-height: 28px;
  color: $black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.b-schedule__teacher-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: -20px;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }

  .b-schedule__teacher {
    width: calc(100%/3);
    margin-bottom: 20px;
    padding-left: 15px;

    @include bp($bp-640) {
      width: calc(100%/2);
    }

    @include bp($bp-480) {
      width: 100%;
      padding-left: 0;
    }

    &:nth-child(3n + 1) {
      padding-left: 0;

      @include bp($bp-640) {
        padding-left: 15px;
      }

      @include bp($bp-480) {
        padding-left: 0;
      }
    }

    &:nth-child(odd) {
      @include bp($bp-640) {
        padding-left: 0;
      }

      @include bp($bp-480) {
        padding-left: 0;
      }
    }
  }
}

.b-schedule__teacher {
  display: flex;

  img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &:hover {
    .b-schedule__teacher-name {
      text-decoration: underline;
    }
  }
}

.b-schedule__teacher-text {
  padding-left: 20px;
  flex-grow: 1;
}

.b-schedule__teacher-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  span {
    display: block;
  }
}

.b-schedule__teacher-position {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: $black;
}

.b-schedule__header {
  padding-bottom: 20px;
  border-bottom: 1px solid $very-light-pink-three;
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }
}

.b-schedule__header-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
  text-align: center;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 9px;
  }

  @include bp($bp-640) {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.b-schedule__header-control {
  display: flex;
  justify-content: space-between;
}

.b-schedule__header-numbers {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  color: $black;

  @include bp($bp-640) {
    font-size: 16px
  }
}

.b-schedule__header-arrow {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  @include bp($bp-540) {
    font-size: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 2px;
  }
}

.b-schedule__header-arrow--left {
  padding-left: 20px;

  &:after {
    left: 0;
    @include svg-i-arrow-right-lg-schedule;
    transform: rotate(180deg);
  }
}

.b-schedule__header-arrow--right {
  padding-right: 20px;

  &:after {
    right: 0;
    @include svg-i-arrow-right-lg-schedule;
  }
}

.b-schedule__header-teacher {
  margin-bottom: 20px;

  img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    text-align: center;
  }

  span {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #656565;
    display: block;
  }
}

////
////
// Style table
////
////

.b-schedule__table {
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }
}

.b-schedule__table--print {
  display: none;
}

.b-schedule__table-title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: $black;
  margin-bottom: 20px;

  @include bp($bp-640) {
    margin-bottom: 10px;
  }
}

.b-schedule__table-title--ok {
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    right: -31px;
    display: block;
    @include svg-i-check-mark-table;
  }
}

.b-schedule__table-row {
  position: relative;
  width: 100%;
  border-radius: 7px;
  padding: 10px 19px;
  border-width: 1px;
  border-style: solid;
  border-color: $very-light-pink-three;
  margin-bottom: 10px;
  transition: .3s ease-in-out border-color;

  &:hover {
    border-color: $grape-purple;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.b-schedule__table-wrap {
  font-size: 0;

  &:not(:first-child) {
    margin-top: 5px;

    @include bp($bp-640) {
      position: relative;
      .b-schedule__table-item:nth-child(5) {
        top: 0;
        right: 0;
      }
      .b-schedule__table-item:nth-child(4) {
        padding-right: 52px;
      }
    }
  }

  &.active {
    .b-schedule__table-item {
      &:nth-child(5) {
        a {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.b-schedule__table-row--header {
  background-color: #fafafa;
  border-color: #fafafa;

  &:hover {
    border-color: #fafafa;
  }
  @include bp($bp-640) {
    display: none;
  }

  .b-schedule__table-item {
    font-weight: normal;
    line-height: 18px;
    text-align: center;

    &:nth-child(1) {
      text-align: left;
    }

    &:last-child {
      padding-left: 20px;
      text-align: left;
    }
  }
}

.b-schedule__table-row--green {
  background-color: #edf4e4;
  border-color: #c5d6af;
}

.b-schedule__table-row--grey {
  border-color: #d9d4c4;
  background-color: #f7f5ef;
}

.b-schedule__table-row--yellow {
  border-color: #e4cea9;
  background-color: #fbedd5;
}

.b-schedule__table-row--blue {
  border-color: #bcc9da;
  background-color: #e5eef9;
}

.b-schedule__table-row--active {
  border: solid 2px $grape-purple;
}

.b-schedule__table-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: $black;
  vertical-align: text-top;

  &:nth-child(1) {
    width: 2.8%;

    @include bp($bp-640) {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 40px;
    }

    span {
      display: none;

      @include bp($bp-640) {
        display: inline;
      }
    }
  }

  &:nth-child(2) {
    width: 14.2%;
    text-align: center;

    @include bp($bp-ipad-1024) {
      width: 17.2%;
    }

    @include bp($bp-640) {
      width: 100%;
      display: block;

      span {
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -19px;
          bottom: 0;
          margin: auto;
          @include svg-i-clock-black--sm;
        }
      }
    }
  }

  &:nth-child(3) {
    width: 11%;
    text-align: center;

    @include bp($bp-ipad-1024) {
      width: 14%;
    }

    @include bp($bp-640) {
      margin-top: 10px;
      width: 100%;
      display: block;
      text-align: left;
      font-size: 12px;
      font-weight: 300;
    }


    span {
      display: inline-block;
      position: relative;

      @include bp($bp-640) {
        padding-left: 9px;
      }

      i {
        display: block;
        position: absolute;
        top: 1px;
        left: -14px;
        @include svg-i-warning-sign;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          left: -7px;
          width: 20px;
          height: 20px;
        }

        @include bp($bp-640) {
          top: 0;
          left: 0;
        }
      }
    }
  }

  &:nth-child(4) {
    padding-left: 15px;
    width: 40.2%;

    @include bp($bp-ipad-1024) {
      padding-right: 20px;
      width: 34.2%;
    }

    @include bp($bp-ipad-768) {
      width: 30.2%;
    }

    @include bp($bp-640) {
      padding-left: 0;
      margin-bottom: 10px;
      display: block;
      width: 100%;
      font-weight: normal;
    }
  }

  &:nth-child(5) {
    width: 12.6%;
    text-align: center;

    @include bp($bp-ipad-768) {
      width: 13.6%;;
    }

    @include bp($bp-640) {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 70px;
      text-align: right;
    }

    a {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        left: -23px;
        @include svg-i-geo;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out all;

        @include bp($bp-640) {
          opacity: 1;
          visibility: visible;
          left: -19px;
        }
      }

    }
  }

  &:nth-child(6) {
    position: relative;
    padding-left: 20px;
    width: 19.2%;

    @include bp($bp-ipad-768) {
      width: 22.2%;
    }

    @include bp($bp-640) {
      position: static;
      padding-left: 0;
      width: 100%;
    }

    span {
      display: block;
      font-size: 11px;
      font-weight: 300;
      line-height: 12px;
      color: $black;

      @include bp($bp-640) {
        display: inline;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

  a {
    display: inline-block;
  }

  .arrow-table {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    right: -3px;
    transform: rotate(90deg);
    z-index: 10;
    cursor: pointer;
    transition: .3s ease-in-out;

    @include bp($bp-640) {
      top: auto;
      right: 16px;
      bottom: 10px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include svg-i-arrow-right-slider--mid;
    }

    &.active {
      transform: rotate(-90deg);
    }
  }
}

.b-schedule__table-dropdown {
  display: none;
  width: 100%;
  padding-right: 22px;
  padding-left: calc(2.8% + (14.2%/2 - 43px));
  margin-top: 6px;

  @include bp($bp-ipad-1024) {
    padding-left: calc(2.8% + (17.2%/2 - 42px));
  }

  @include bp($bp-640) {
    padding-left: 0;
    margin-top: 10px;
    padding-right: 2px;
  }

  .table-dropdown__text {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    line-height: 18px;
    color: $black;
    margin-bottom: 3px;
  }

  .table-dropdown__text--last {
    margin-top: 18px;

    @include bp($bp-640) {
      margin-top: 10px;
    }
  }

  .table-dropdown__list {
    font-size: 0;
    margin-bottom: 10px;

    a {
      display: inline-block;
      line-height: 20px;
      margin-right: 3px;
    }
  }
}

.b-schedule__table-action {
  display: flex;

  a {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 30px;
    }

    span {
      @include bp($bp-360) {
        display: none;
      }

      &.mobile {
        display: none;

        @include bp($bp-360) {
          display: inline;
        }
      }
    }
  }
}

.i-tabletime {
  &:before {
    content: '';
    display: block;
    @include svg-i-tabletime;
    margin-right: 10px;
  }
}

.i-printer {
  &:before {
    content: '';
    display: block;
    @include svg-i-printer;
    margin-right: 10px;
  }
}

.b-schedule__table--audience {
  margin-bottom: 0;
  .b-schedule__table-row--header {
    .b-schedule__table-item {
      &:nth-child(3) {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  .b-schedule__table-item {
    &:nth-child(2) {
      span {
        display: none;
        font-weight: normal;

        @include bp($bp-640) {
          display: inline;
          margin-right: 3px;

          &:before {
            display: none;
          }
        }
      }

      @include bp($bp-640) {
        text-align: left;
        padding-left: 40px;
      }
    }

    &:nth-child(3) {
      padding-left: 40px;
      width: 83%;
      text-align: left;

      span {
        display: none;
        font-weight: normal;

        @include bp($bp-640) {
          display: block;
          padding-left: 0;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;

          &:before {
            display: none;
          }
        }
      }

      @include bp($bp-ipad-1024) {
        width: 80%;
        padding-left: 30px;
      }

      @include bp($bp-640) {
        width: 100%;
        padding-left: 40px;
      }
    }

    &>.table-dropdown__list {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.b-schedule__table--teacher {
  .b-schedule__table-row--header .b-schedule__table-item:last-child {
    padding-left: 40px;

    @include bp($bp-ipad-768) {
      padding-left: 30px;
    }
  }
  .b-schedule__table-item:nth-child(6) {
    padding-left: 40px;
    span {
      font-size: 12px;
      font-weight: 300;
      display: none;
      margin-left: 0;
      margin-right: 8px;
      @include bp($bp-640) {
        display: inline;
      }
    }
    @include bp($bp-ipad-768) {
      padding-left: 30px;
    }
    @include bp($bp-640) {
      padding-left: 0;
    }
  }
}

.b-schedule__table--group {
  .b-schedule__table-item:nth-child(5) {
    @include bp($bp-640) {
      width: 100%;
      position: static;
      text-align: left;
      margin-bottom: 9px;

      a {
        display: inline;
      }
    }
    span {
      font-size: 12px;
      font-weight: 300;
      display: none;
      margin-left: 0;
      margin-right: 8px;
      @include bp($bp-640) {
        display: inline;
      }
    }

    a {
      &:after {
        display: none;
      }
    }
  }
}
