.b-social {
  display: flex;
}
.b-social--vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  flex-direction: column;

  @include bp($bp-1600) {
    display: none;
  }
  .b-social__link {
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .b-social__link--inst {
    background-color: $white-two;
  }
}

.b-social__link {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  transition: .3s ease-in-out all;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:first-child) {
    margin-left: 25px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.b-social__link--vk {
  border-color: #496890;
  &:before {
    @include svg-i-vk-color;
  }
}

.b-social__link--inst {
  border: none;
  @include svg-i-insta-circle;
  &:before {
    @include svg-i-insta-center;
  }
}

.b-social__link--fb {
  border-color: #3e5d99;
  &:before {
    @include svg-i-fb-color;
  }
}

.b-social__link--ok {
  border-color: #e98f45;
  &:before {
    @include svg-i-ok-color;
  }
}

.b-social__link--yt {
  border-color: #ce1d27;
  &:before {
    @include svg-i-yt-color;
  }
}
