.b-sub-header {
  position: relative;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid $very-light-pink-three;

  @include bp($bp-ipad-1024) {
    padding: 20px 0;
  }

  .container {
    position: relative;
    height: 100%;
  }
}

.b-sub-header--image {
  padding: 0;
  height: 436px;
  border-bottom: none;

  @include bp($bp-ipad-1024) {
    height: 320px;
    padding: 0;
  }

  @include bp($bp-640) {
    height: 220px;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .b-sub-header__box {
    position: absolute;
    left: 20px;
    bottom: 40px;

    @include bp($bp-ipad-1024) {
      left: 30px;
      bottom: 20px;
    }

    @include bp($bp-736) {
      left: 20px;
    }

    @include bp($bp-640) {
      bottom: 20px;
    }
    h1 {
      color: $white;
    }
  }

  .b-breadcrumbs {
    span {
      color: $white;
    }
  }

  .b-breadcrumbs__link {
    color: $white;

    &:last-child {
      opacity: 0.5;
      color: $white;
    }
  }
}

.b-sub-header__img {
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(54, 54, 54, 0), rgba(25, 25, 25, 0.79));
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.b-sub-header__box {

  h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
    color: $black;
    margin-bottom: 20px;

    @include bp($bp-640) {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}
