.guide {
  max-width: calc(860px + 130px * 2);
  padding: 0 125px;
  margin: 0 auto;
}
.slogan-g {
  margin-top: 40px;
  text-align: center;
}
.wrapper h1{
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0px;
  color: #000;
  margin-bottom: 40px;
}

.guide__comment p {
  font-size: 24px;
  font-weight: 600;
  color: #951A1D;
  padding-bottom: 4px;
  border-bottom: 1px solid #951A1D;
}
