@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  body {
    margin: 0in;
    /*font-family: times*/
  }

  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  #menu,
  #topmenu,
  #thedrot,
  .meta,
  #comments,
  #commentform,
  #postcomment,
  #resplink,
  #footer {
    display: none
  }

  a {
    border: 0;
    text-decoration: none;
  }

  a img {
    border: 0
  }

  header,
  .b-sub-header,
  .b-schedule__select-btn,
  footer,
  .b-home-study {
    display: none !important;
  }

  .container {
    padding: 0 !important;
  }

  .page-content {
    margin-top: 0;
  }

  aside {
    display: none !important;
  }

  section {
    width: 100% !important;
  }

  .b-schedule__header {
    margin-bottom: 0;
  }

  .b-schedule__header-arrow {
    display: none;
  }

  .b-schedule__table-action {
    display: none;
  }

  .b-schedule__header-title {
    margin-bottom: 10px;
  }

  .b-schedule__header-control {
    display: block;
    text-align: center;
  }

  .b-schedule__table {
    margin-bottom: 20px;
  }

  .b-schedule__table-row--header {
    display: none;
  }

  .b-schedule__table--print {
    display: block !important;
  }

  .b-schedule__table--print .b-schedule__table-row--header {
    display: block !important;
    border: none !important;
  }

  .b-schedule__table-title {
    margin-bottom: 10px;
  }

  .b-schedule__table-row {
    border-top: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
    ;
    border-right: solid 1px #d9d9d9;
    ;
    border-bottom: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .b-schedule__table-row:last-child {
    border-bottom: solid 1px #d9d9d9;
  }

  .b-schedule__table-item:nth-child(4) {
    width: 38.2% !important;
  }

  .b-schedule__table-item:nth-child(5) {
    width: 11.6% !important;
  }

  .b-schedule__table-item:nth-child(5) a {
    font-size: 12px;

  }

  .b-schedule__table-item:nth-child(6) {
    width: 22.2% !important;
    padding-left: 30px !important;
  }


  .b-schedule__table-item:nth-child(6) span {
    display: none;
  }

  .b-schedule__table-item:nth-child(6) .arrow-table {
    display: none;
  }

  .b-schedule__table-wrap:not(:first-child) {
    margin-top: 10px;
  }
}