.page-inner {

}

.page-inner--border {
  padding-right: 59px;
  border-right: 1px solid $very-light-pink-three;

  @include bp($bp-ipad-1024) {
    padding-right: 0;
    border-right: none;
  }
}

.page-inner__list {
  margin: 40px 0;

  @include bp($bp-ipad-1024) {
    margin: 30px 0;
  }

  @include bp($bp-640) {
    margin: 20px 0;
  }
}

.page-inner__list--left {
  margin: 0;
  background-color: $white;

  @include bp($bp-ipad-1024) {
    margin: 0;
  }

  @include bp($bp-640) {
    margin: 0;
  }
}

.page-inner__list--card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }

  @include bp($bp-640) {
    margin-bottom: 10px;
  }

  @include bp($bp-540) {
    margin-bottom: 0;
  }

  .gallery-card {
    margin:  0 10px 20px;
    height: 295px;
  }

  .video-card {
    margin:  0 10px 30px;
  }

  .gallery-card, .video-card  {
    width: calc(100% / 3 - 20px);

    @include bp($bp-780) {
      width: calc(100% / 2 - 20px);
    }

    @include bp($bp-540) {
      width: 100%
    }
  }
}

.page-inner__list--gallery {
  .gallery-card {
    height: auto;

    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    &:hover {
      box-shadow: 0 2px 20px 0 #191919;
    }

    @include bp($bp-780) {
      width: calc(100% / 3 - 20px);
    }
  }

  .gallery-card__single-wrap {
    &:after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }

  .gallery-card__img {
    position: absolute;
    top: 0;
    left: 0;
    &:after {
      display: none;
    }
  }
}

.page-inner__list--project {
  .project-card__title {
    transition: .3s ease-in-out all;

    &:hover {
      color: $grape-purple;
    }
  }
}

.page-inner__mobile {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  h2.main {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
    }
  }
}

.page-inner__mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
