.page-content {
  margin-top: 40px;
  margin-bottom: 80px;

  @include bp($bp-ipad-1024) {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  @include bp($bp-640) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  section {
    @include bp($bp-ipad-1024) {
      margin-bottom: 40px;
    }

    @include bp($bp-640) {
      margin-bottom: 30px;
    }
  }
}

.page-content--center {
  section {
    width: 100%;

    @include bp($bp-ipad-1024) {
      margin-bottom: 0;
    }

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
}

.page-content--search {
  .page-content__wrap {
    margin-top: -80px;
    @include bp($bp-ipad-1024) {
     margin-top: 0;
    }
  }
  .page-inner {
    margin-top: 80px;
    @include bp($bp-ipad-1024) {
      margin-top: 0;
    }
  }

  .page-content__header {
    @include bp($bp-ipad-1024) {
      padding-right: 0;
    }
  }

  section {
    @include bp($bp-ipad-1024) {
      margin-top: 30px;
    }

    @include bp($bp-540) {
      margin-top: 20px;
    }
  }
}

.page-content--detail {
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }

  @include bp($bp-640) {
    margin-bottom: 0;
  }
}

.page-content__wrap {
  display: flex;
  flex-wrap: wrap;

  @include bp($bp-ipad-1024) {
    flex-direction: column-reverse;
  }
}

.page-content--accordion {
  .page-content__wrap {
    @include bp($bp-ipad-1024) {
      flex-direction: column;
    }
  }
  aside {
    display: block;

    &:last-child {
      display: none;
    }
    @include bp($bp-ipad-1024) {
      display: none;

      &:last-child {
        display: block;
      }
    }
  }
}

.page-content--left-aside {

  aside {
    width: 315px;
    padding-right: 59px;
    border-right: 1px solid $very-light-pink-three;

    @include bp($bp-ipad-1024) {
      width: 100%;
      padding-right: 0;
      border-right: none;
    }
  }

  section {
    position: relative;
    width: calc(100% - 315px);

    @include bp($bp-ipad-1024) {
      width: 100%;
    }
  }
}

.page-content--left-padding {
  section {
    padding-left: 60px;

    @include bp($bp-ipad-1024) {
      padding-left: 0;
      margin-bottom: 40px;
    }

    @include bp($bp-640) {
      margin-bottom: 30px;
    }
  }
}

.page-content--right-aside {
  section {
    width: calc(100% - 355px);

    @include bp($bp-ipad-1024) {
      width: 100%;
      margin-bottom: 0;
    }
    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }

  aside {
    padding-left: 60px;
    width: 355px;

    @include bp($bp-ipad-1024) {
      margin-top: 30px;
      display: none;
      position: relative;
      width: calc(100% + 60px);
      margin-left: -30px;
      padding: 30px;
      background-color: $white-two;
      font-size: 0;
      transform: translateZ(0);

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        right: 35px;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $white-two;
      }
    }

    @include bp($bp-736) {
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 30px 20px;

      &:after {
        right: 26px;
      }
    }

    @include bp($bp-640) {
      padding: 20px;
      margin-top: 20px;
    }

    .aside__datepicker {
      @include bp($bp-ipad-1024) {
        display: inline-block;
      }
      @include bp($bp-540) {
        margin-bottom: 30px;
      }
    }

    .column-radio {
      @include bp($bp-ipad-1024) {
        display: inline-block;
        padding-left: 30px;
        width: calc(100% - 295px);
      }
      @include bp($bp-540) {
        width: 100%;
        padding-left: 0;
      }
    }

    .column-radio--single {
      @include bp($bp-ipad-1024) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 27px;
      }
    }

    .aside__mobile-filter {
      .column-radio, .column-checkbox {
        @include bp($bp-ipad-1024) {
          vertical-align: top;
          display: inline-block;
          width: calc(100%/3);
          padding-left: 0;
          margin-bottom: 27px;
        }
        @include bp($bp-640) {
          width: calc(100%/2);
        }

        @include bp($bp-414) {
          width: 100%;
        }
      }
      .column-checkbox {

        &:last-child {
          margin-bottom: 0;
        }

        @include bp($bp-ipad-1024) {
          padding-left: 35px;
        }

        @include bp($bp-736) {
          padding-left: 30px;
        }

        @include bp($bp-480) {
          padding-left: 15px;
        }

        @include bp($bp-414) {
          padding-left: 0;
        }

        &:last-child {
          @include bp($bp-ipad-1024) {
            padding-left: 45px;
          }
          @include bp($bp-736) {
            padding-left: 35px;
          }
          @include bp($bp-640) {
            width: 100%;
            padding-left: 0;
            margin-bottom: 0;
          }
        }
      }
      .column-radio {
        @include bp($bp-ipad-1024) {
          padding-right: 15px;
        }
      }
    }
  }
}

.page-content--hidden-aside {
  aside {
    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.page-content--history-success {
  aside {
    @include bp($bp-ipad-1024) {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      padding: 20px 0 0;
      border-top: 1px solid $very-light-pink-three;
      display: block;
      background-color: transparent;

      &:after {
        display: none;
      }
    }
  }

  .page-content__wrap {
    @include bp($bp-ipad-1024) {
      flex-direction: column;
    }
  }
}

.page-content--structure {
  aside {
    @include bp($bp-ipad-1024) {
      width: 100%;
      margin-left: 0;
      display: block;
      margin-top: 0;
      padding: 0 0 40px;

      background-color: transparent;

      &:after {
        display: none;
      }
    }
    @include bp($bp-640) {
      padding-bottom: 30px;
    }
  }
  .page-content__wrap {
    @include bp($bp-ipad-1024) {
      flex-direction: column-reverse;
    }
  }
}

.page-content--schedule {
  @include bp($bp-ipad-1024) {
    margin-top: 20px;
  }

  aside {
    border-right: none;
  }

  section {
    @include bp($bp-ipad-1024) {
      margin-top: 30px;
      margin-bottom: 0;
    }

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }

  .page-content__wrap {
    @include bp($bp-ipad-1024) {
      flex-direction: column;
    }
  }

  .aside__title {
    @include bp($bp-ipad-1024) {
      margin-bottom: 10px;
    }
  }

  &.page-content--right-aside {
    aside {
      text-align: center;

      @include bp($bp-ipad-1024) {
        text-align: left;
      }
    }
    @include bp($bp-ipad-1024) {
      margin-top: 0;

      aside {
        margin-top: 0;
      }
    }
    .page-content__wrap {
      @include bp($bp-ipad-1024) {
        flex-direction: column-reverse;
      }
    }
  }
}


.page-content--full {
    aside {
      border-right: none;
    }
}

.page-content__header {
  position: relative;
  width: 100%;
  display: flex;
  padding-right: 355px;
  z-index: 20;

  @include bp($bp-ipad-1024) {
    position: relative;
    padding-right: 64px;
  }

  @include bp($bp-640) {
    .b-pagination {
      align-items: flex-start;
    }

    .b-pagination__list {
      display: none;
    }
  }
}

.page-content__header-filter {
  display: none;
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: solid 2px $grape-purple;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  &.active {
    background-color: $grape-purple;
    &:after {
      @include svg-i-filter--active;
    }
  }

  &.select {
    background-color: $grape-purple;
    &:after {
      @include svg-i-filter--active;
    }
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-filter;
  }
}
