a {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: $black;
}

.typography {
  .last-margin {
    margin-bottom: 0;

    @include bp($bp-ipad-1024) {
      margin-bottom: 30px;
    }
  }
  & > time {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 30px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 20px;
    }

    @include bp($bp-640) {
      font-size: 16px;
      line-height: 24px;
    }

    &.main {
      font-size: 42px;
      font-weight: bold;
      line-height: 48px;
      color: $black;
      margin-bottom: 40px;

      @include bp($bp-ipad-1024) {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 30px;
      }

      @include bp($bp-640) {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    &.photo-hidden {
      @include bp($bp-ipad-1024) {
        display: none;
      }
    }

    &.light {
      margin-bottom: 20px;

      @include bp($bp-ipad-1024) {
        font-size: 24px;
        line-height: 24px;
      }

      @include bp($bp-640) {
        font-size: 18px;
      }
    }

    &.teacher {
      @include bp($bp-ipad-1024) {
        margin-bottom: 30px;
      }

      @include bp($bp-640) {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-ipad-1024)  {
      margin-bottom: 20px;
    }

    &.light {
      margin-bottom: 20px;
    }

    &.attention {
      margin-bottom: 20px;

      span {
        color: $grape-purple;
      }
    }
  }

  & > h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-640) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $black;
    margin-bottom: 20px;
  }

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;

    @include bp($bp-640) {
      margin-bottom: 20px;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-640) {
      margin-bottom: 20px;
    }

    a {
      color: $grape-purple;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ol, ul {
    list-style: none;
    padding-left: 27px;
    margin-bottom: 30px;

    @include bp($bp-640) {
      margin-bottom: 20px;
    }

    li {
      position: relative;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: $black;


      &:not(:first-child) {
        margin-top: 10px;
      }

    }
  }

  ul {
    li {
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 10px;
        left: -27px;
        width: 6px;
        height: 6px;
        background-color: $grape-purple;
        border-radius: 3px;
      }
    }
  }

  ol {
    counter-reset: myCounter;

    li:after {
      position: absolute;
      top: 0;
      left: -27px;
      counter-increment: myCounter;
      content:counter(myCounter)".";
      display: inline-block;
      font-weight: normal;
      color: $grape-purple;
    }
  }

  .help {
    padding: 19px;
    border-top: 1px solid #d4acad;
    border-bottom: 1px solid #d4acad;
    background-color: #fff8f8;
    margin-bottom: 30px;

    @include bp($bp-640) {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $grape-purple;
    }
    p {
      font-size: 13px;
      font-style: italic;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: $very-light-pink-three;
    border: none;
    margin: 0 0 30px;

    @include bp($bp-640) {
      margin: 0 0 20px;
    }
  }

  blockquote  {
    position: relative;
    display: block;
    border-radius: 5px;
    border: solid 1px #dfd8c4;
    padding: 30px 90px;
    margin-bottom: 30px;

    @include bp($bp-540) {
      display: flex;
      flex-direction: column;
      padding: 44px 20px;
      margin-bottom: 20px;
    }

    &.image {
      padding-left: 160px;
      padding-right: 28px;
      @include bp($bp-540) {
        padding: 20px;
      }
      img {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
        height: 100px;
        object-fit: cover;

        @include bp($bp-540) {
          position: static;
          margin: 0 auto 20px;
        }
      }
    }

    &.full-mobile {
      p {
        &.i-blockquote {
          &:after {
            @include bp($bp-540) {
              bottom: -76px;
            }
          }
        }
      }
    }

    div {
      margin-top: 18px;
      @include bp($bp-540) {
        margin-top: 10px;
      }
      h5 {
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        margin-bottom: 4px;
      }
      span {
        display: block;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        color: #191919;
        opacity: 0.4;

      }
    }

    p {
      position: relative;
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
      line-height: 28px;
      margin-bottom: 0;

      @include bp($bp-540) {
        line-height: 24px;
      }

      &.lg {
        font-size: 18px;

        @include bp($bp-540) {
          font-size: 16px;
        }
      }

      &.i-blockquote {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: -60px;
          bottom: 0;
          @include svg-i-blockquote;

          @include bp($bp-540) {
            left: 0;
            bottom: -25px;
            @include svg-i-blockquote--sm;
          }
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          right: -60px;
          top: 0;
          @include svg-i-blockquote;
          transform: rotate(180deg);

          @include bp($bp-540) {
            right: 0;
            top: -25px;
            @include svg-i-blockquote--sm;
          }
        }
      }
    }
  }
}

.typography__img {
  margin-bottom: 30px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 15px;

    @include bp($bp-640) {
      margin-bottom: 10px;
    }
  }
  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    line-height: 16px;
    color: $black;
  }
}

.typography__group-line {
  & > p {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.typography__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }

  //@include bp($bp-640) {
  //  margin-bottom: 20px;
  //}

  @include bp($bp-540) {
    flex-direction: column;
    align-items: flex-start;

    .view {
      margin-top: 10px;
    }
  }

  .hash-list {
    a {
      margin-bottom: 0;

      @include bp($bp-540) {
        margin-bottom: 10px;
      }
    }
  }
}

.typography__bottom--mobile {
  display: none;
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    display: flex;
    margin-bottom: 30px;
  }
}

.typography__doc {
  margin-bottom: 30px;
  h3 {
    margin-bottom: 20px;
  }
}

.typography__doc--single {
  @include bp($bp-540) {
    margin-bottom: 40px;
  }
}

.typography__doc-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;

  .doc-item {
    width: 50%;
    padding-right: 60px;
    margin-bottom: 20px;

    @include bp($bp-640) {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
    @include bp($bp-360) {
      padding-right: 20px;
    }
  }
}

.typography__requisites {
  h3 {
    margin-bottom: 15px;
  }
}

.typography__requisites-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: $black;
}

.typography__requisites-title--hidden {
  .typography__requisites-list {
    margin-bottom: 0;
  }
  @include bp($bp-640) {
    display: none;
  }
}

.typography__requisites-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }

  @include bp($bp-540) {
    margin-bottom: 0;
  }
}

.typography__requisites-col {
  @include bp($bp-540) {
    width: 100%;
  }

  &:nth-child(1) {
    flex-grow: 1;
  }

  &:nth-child(2) {
    flex-shrink: 0;
    @include bp($bp-540) {
      margin-top: 20px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: $black;
    margin-bottom: 0;

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
}

.typography__teacher {
  display: flex;
  margin-bottom: 40px;

  @include bp($bp-540) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.typography__teacher-img {
  width: 215px;
  flex-shrink: 0;

  @include bp($bp-540) {
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 0;
  }
}

.typography__teacher-content {
  flex-grow: 1;
  padding-left: 60px;

  @include bp($bp-ipad-1024) {
    padding-left: 30px;
  }

  @include bp($bp-540) {
    padding-left: 0;
  }

  & > p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 20px;
    }

    @include bp($bp-640) {
      font-size: 14px;
    }
  }
}

.typography__teacher-info {
  display: flex;
  flex-wrap: wrap;
  padding: 29px 0;
  border-top: 1px solid $very-light-pink-three;
  border-bottom: 1px solid $very-light-pink-three;

  @include bp($bp-ipad-1024) {
    padding: 19px 0;
  }

  .typography__block-icon {
    @include bp($bp-ipad-768) {
      &:last-child {
        margin-top: 20px;
        width: 100%;
      }
    }

    @include bp($bp-360) {
      &:nth-child(2) {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

.typography__block-icon {
  flex-grow: 1;
  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #656565;
    padding-left: 30px;
    margin-bottom: 4px;
  }
  p, a {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
    margin-bottom: 0;

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }

  .i-geo {
    &:before {
      margin-left: 3px;
      margin-right: 10px;
    }
  }
}

.typography__teacher-time-table {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $grape-purple;

  &:hover {
    text-decoration: underline;
  }

  @include bp($bp-ipad-1024) {
    margin-top: 20px;
  }

  &:before {
    content: '';
    display: block;
    margin-right: 10px;
    @include svg-i-tabletime;
  }
}

.typography__desc {
  margin-bottom: 40px;
}

.typography__desc-item {
  position: relative;
  p, b {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }
  p {
    padding-left: 48px;
    font-weight: 300;
    strong {
      font-weight: normal;
    }
  }
  b {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  &:not(:first-child) {
    margin-top: 15px;
  }
}

.typography__doc-line {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .doc-item {
    padding: 10px 0;

    &:not(:first-child) {
      border-top: 1px solid $very-light-pink-three;
    }
  }
}

.typography__table {
  margin-bottom: 30px;

  @include bp($bp-ipad-1024) {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  @include bp($bp-736) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }


  .mCSB_container {
    @include bp($bp-ipad-1024) {
      padding-left: 30px;
    }
    @include bp($bp-736) {
      padding-left: 20px;
    }
  }
  .mCSB_scrollTools {
    @include bp($bp-ipad-1024) {
      margin: 0 30px;
    }
    @include bp($bp-736) {
      margin: 0 20px;
    }
  }

  .mCS-table-theme {
    &.mCSB_horizontal.mCSB_inside > .mCSB_container {
      margin-bottom: 0;
      margin-top: 0;

      @include bp($bp-1280) {
        margin-top: 26px;
      }

      @include bp($bp-ipad-1024) {
        margin-top: 0;
      }

      @include bp($bp-894) {
        margin-top: 26px;
      }
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: auto;
      top: -5px;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
      height: 6px;
      border-radius: 3px;
      background-color: $very-light-pink-three;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      height: 6px;
      border-radius: 3px;
      background-color: $grape-purple;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border: solid 1px #e6e6e6;

    &.no-hover {
      tbody {
        tr {
          &:hover {
            td {
              box-shadow: none;
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      &:first-child {
        background-color: #f9f9f9;
      }

      &:hover {
        td {
          background-color: #fbf9f4;
          box-shadow: inset 0px -4px 0px 0px $orangey-yellow;

          @include bp($bp-ipad-1024) {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
    th, td {
      padding: 20px;
      font-size: 14px;
      line-height: 1;
      color: $black;
      border-bottom: 1px solid #e6e6e6;
      &:not(:first-child) {
        border-left: 1px solid #e6e6e6;
      }
    }
    th {
      font-weight: normal;

    }
    td {
      font-weight: 300;
      transition: .3s ease-in-out all;



      &[colspan] {
        font-size: 12px;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

.typography__table--short {
  tbody {
    th, td {
      vertical-align: middle;
      text-align: center;
    }
    th {

      &:nth-child(1) {
        width: 24%;
      }

      &:nth-child(2) {
        width: 24%
      }
      &:nth-child(3) {
        width: 52%;
      }

    }
  }
}

.typography__table--long {
  tbody {
    th, td {
      line-height: 20px;
    }
    th {
      vertical-align: middle;
      text-align: center;
      &:nth-child(1) {
        width: 45px;
      }

      &:nth-child(2) {
        //width: 24%
      }
      &:nth-child(3) {
        width: 172px;
      }
      &:nth-child(4) {
        width: 220px;
      }
    }
    td {
      vertical-align: top;
      text-align: left;
      &:nth-child(4) {
        vertical-align: middle;
      }
    }
  }
}

.typography__table-wrap {
  width: 100%;
  min-width: 865px;

  @include bp($bp-ipad-1024) {
    min-width: 895px;
    padding-right: 30px;
  }
  @include bp($bp-736) {
    min-width: 885px;
    padding-right: 20px;
  }
}

.typography__slider {
  border-top: 1px solid $very-light-pink-three;
  border-bottom: 1px solid $very-light-pink-three;
  padding-top: 30px;
  padding-bottom: 56px;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    padding-left: 66px;
    padding-right: 66px;
  }

  @include bp($bp-640) {
    padding: 20px 0 46px;
  }

  .slick-arrow {
    z-index: 10;
    width: 46px;
    height: 46px;
    background-color: $white;
    border: solid 1px $very-light-pink-three;
    border-radius: 50%;
    transition: .3s ease-in-out all;

    &:before {
      display: none;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.06);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &.slick-next {
      right: 0;
      &:after {
        @include svg-i-arrow-right-slider--sm;
      }

    }

    &.slick-prev {
      left: 0;
      &:after {
        @include svg-i-arrow-right-slider--sm;
        transform: rotate(180deg);
      }
    }
  }

  .slick-dots {
    width: auto;
    left: 0;
    right: 0;
    bottom: 29px;
    margin: auto;
    text-align: center;
    z-index: 50;
    padding-left: 0;

    @include bp($bp-640) {
      bottom: 19px;
    }

    li {
      width: 12px;
      height: 12px;

      &:after {
        display: none;
      }

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }
}

.typography__slider-item {
  img {
    margin: 0 auto;

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
}

.typography__form {
  padding: 30px 40px;
  border-radius: 5px;
  background-color: $white-two;
  margin-bottom: 40px;

  @include bp($bp-640) {
    padding: 20px;
    margin-bottom: 30px;
  }
}

.typography__btn {
  text-align: center;
  margin-bottom: 40px;

  @include bp($bp-540) {
    margin-bottom: 30px;
  }

  .btn {
    display: inline-block;
  }
}

.typography__contact {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }

  .typography__teacher-info {
    padding: 0;
    border: none;

    @include bp($bp-640) {
      flex-direction: column;
    }
  }

  .typography__block-icon {
    .i-geo {
      @include bp($bp-ipad-1024) {
        width: 278px;
        align-items: flex-start;
        line-height: 22px;
        &:before {
          flex-shrink: 0;
        }
      }
    }

    &:last-child {
      @include bp($bp-780) {
        width: auto;
        margin-top: 0;
      }

      @include bp($bp-ipad-768) {
        margin-top: 0;
        width: auto;
      }
    }

    &:nth-child(2) {
      @include bp($bp-640) {
        margin: 20px 0;
      }
    }
  }

  p, a {
    font-size: 15px;
    line-height: 26px;
    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
}

.typography__work-mode {
  margin-bottom: 30px;

  .work-mode {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 188px;

    @include bp($bp-ipad-768) {
      padding-right: 0;
    }

    @include bp($bp-540) {
      flex-direction: row;
    }
  }

  .work-mode__col-day {
    display: flex;
    justify-content: space-between;

    @include bp($bp-540) {
      display: block;
    }

    .work-mode__item {
      width: calc(100%/7 - 20px);
      margin-top: 0;
      padding: 0 0 10px;

      @include bp($bp-640) {
        font-size: 13px;
      }

      @include bp($bp-540) {
        font-size: 14px;
        width: auto;
        padding: 0 16px 0 0;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }

      &:after {
        width: 100%;
        height: 4px;
        top: auto;
        left: 0;
        right: auto;
        bottom: 0;

        @include bp($bp-540) {
          width: 4px;
          height: 20px;
          top: 0;
          left: auto;
          right: 0;
          bottom: auto;
        }
      }
    }
  }

  .work-mode__col-time {
    display: flex;
    justify-content: space-between;

    @include bp($bp-540) {
      display: block;
    }

    .work-mode__item {
      width: calc(100%/7 - 20px);
      padding: 0;
      margin-top: 6px;
      white-space: nowrap;

      @include bp($bp-540) {
        width: auto;
        margin-top: 0;
        padding: 0 30px;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }

      @include bp($bp-360) {
        padding: 0 20px;
      }
    }
  }

  .work-mode__col-lunch {
    position: absolute;
    top: 0;
    right: 0;

    @include bp($bp-ipad-768) {
      margin-top: 20px;
      position: static;
      display: flex;
      justify-content: center;
    }

    @include bp($bp-540) {
      margin-top: 0;
      display: block;
      padding: 34px 0 0 30px;
      height: 170px;
      border-left: 1px solid #eaeaea;
    }
  }

  .work-mode__center {
    padding:  4px 0 4px 29px;
    display: flex;
    align-items: center;
    border-right: none;

    @include bp($bp-ipad-768) {
      padding: 0;
      border-left: none;
    }

    @include bp($bp-540) {
      display: block;
    }

    .work-mode__icon {
      margin-right: 20px;
      @include bp($bp-ipad-768) {
        margin-right: 10px;
      }
      @include bp($bp-540) {
        margin: 0 auto 10px;
      }
    }
    .work-mode__item {
      margin-top: 0;

      span {
        text-align: left;
        @include bp($bp-ipad-768) {
          display: inline;
          margin-right: 3px;
        }

        @include bp($bp-540) {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

.typography__header-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 20px;
  }

  @include bp($bp-640) {
    margin-bottom: 15px;
  }

  time {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: $grape-purple;

    @include bp($bp-640) {
      font-size: 14px;
      line-height: normal;
    }
  }

  .clock {
    margin: 0 30px;
    flex-grow: 0;
    font-size: 16px;
    line-height: normal;

    &:before {
      @include svg-i-clock-grey--lg;
    }

    @include bp($bp-640) {
      font-size: 14px;
        margin: 0 25px;
      &:before {
        @include svg-i-clock-grey--sm;
      }
    }
  }

  .geo {
    font-size: 16px;
    line-height: normal;

    &:before {
      @include svg-i-geo--lg;
    }

    @include bp($bp-640) {
      font-size: 14px;

      &:before {
        @include svg-i-geo;
      }
    }

    @include bp($bp-360) {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.typography__structure-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .btn {
    padding: 8px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid $very-light-pink-three;
    background-color: transparent;
    color: $brown-grey;
    transition: .3s ease-in-out all;
    cursor: pointer;
    &.active {
      border-color: $grape-purple;
      background-color: $grape-purple;
      color: $white-two;
    }

    &:hover {
      border-color: $grape-purple;
    }
  }

  & + h3 {
    @include bp($bp-640) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
