.about-data {
  display: flex;
  margin-bottom: 40px;

  &.slick-dotted.slick-slider {
   margin-bottom: 42px;
  }

  .slick-slide {
    @include bp($bp-800) {
      &:last-child {
        .about-data__item {
          border-right: none;
        }
      }
    }
  }

  .slick-dots {
    width: auto;
    left: 6px;
    bottom: -14px;
    margin: auto;
    text-align: left;
    z-index: 50;
    padding-left: 0;

    @include bp($bp-800) {
      left: 0;
      right: 0;
      text-align: center;
    }

    li {
      width: 12px;
      height: 12px;

      &:after {
        display: none!important;
      }

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }

  .slick-list {
    padding-bottom: 20px;
  }
}

.about-data__item {
  padding: 32px 0;
  text-align: center;
  width: calc(100%/3);

  @include bp($bp-800) {
    border-right: 1px solid $very-light-pink-three;
  }

  @include bp($bp-540) {
    padding: 29px 0;
    border-right: none;
    border-bottom: 1px solid $very-light-pink-three;
  }
  &:not(:first-child) {
    border-left: 1px solid $very-light-pink-three;
  }
}

.about-data__icon {
  position: absolute;

}

.about-data__icon--1 {
  top: -27px;
  left: -30px;
  @include svg-i-about-1;
}

.about-data__icon--2 {
  top: -27px;
  left: -30px;
  @include svg-i-about-2;
}

.about-data__icon--3 {
  top: -27px;
  left: -33px;
  @include svg-i-about-3;
}

.about-data__number {
  display: inline-block;
  position: relative;
  font-size: 72px;
  font-weight: 500;
  line-height: 72px;
  color: $grape-purple;
  text-align: center;
  margin-bottom: 20px;

  @include bp($bp-540) {
    margin-bottom: 17px;
  }
}

.about-data__text {
  max-width: 248px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: $black
}
