.announ-card {
  display: flex;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  transition: .3s ease-in-out all;

  @include bp($bp-540) {
    flex-direction: column;
  }

  &:not(:first-child) {
    margin-top: 30px;

    @include bp($bp-640) {
      margin-top: 20px;
    }
  }
  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    @include bp($bp-ipad-1024) {
      box-shadow: none;
    }
  }
}

.announ-card__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -1px;
  width: 100px;
  border-radius: 5px 0 0 5px;
  background-color: $white-two;
  padding: 20px;

  @include bp($bp-540) {
    width: 100%;
    margin: 0;
    border-radius: 5px 5px 0 0;
  }
}

.announ-card__date-number {
  font-size: 52px;
  font-weight: bold;
  line-height: 42px;
  color: $black;
  text-align: center;
}

.announ-card__date-moth {
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  color: $black;
  text-align: center;

  @include bp($bp-540) {
    margin-top: 5px;
  }
}

.announ-card__date-day {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $grape-purple;
  text-transform: uppercase;
  text-align: center;
  @include bp($bp-540) {
    margin-top: 5px;
  }
}

.announ-card__content {
  position: relative;
  width: calc(100% - 100px);
  padding-bottom: 46px;

  @include bp($bp-ipad-1024) {
    padding-bottom: 34px;
  }

  @include bp($bp-540) {
    width: 100%;
    padding-bottom: 0;
  }

  & > a {
    display: block;
    padding: 25px 25px 0;
    margin-bottom: 20px;

    @include bp($bp-ipad-1024) {
      padding: 20px 20px 0;
      margin-bottom: 10px;
    }
  }
}

.announ-card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span {
    font-size: 14px;
    line-height: 12px;
    color: $brown-grey;
    flex-grow: 0;
  }

  .clock {
    margin: 0 30px;

    @include bp($bp-375) {
      margin-right: 0;
    }
  }

  .i-geo {
    @include bp($bp-375) {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.announ-card__desc  {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $black;

  @include bp($bp-ipad-1024) {
    line-height: 20px;
  }
}

.announ-card__hash {
  position: absolute;
  bottom: 31px;
  left: 25px;
  z-index: 10;

  @include bp($bp-ipad-1024) {
    left: 20px;
    bottom: 20px;
  }

  @include bp($bp-540) {
    position: static;
    padding: 0 20px;
    margin-bottom: 10px;
  }

  &.hash-list {
    a {
      margin-bottom: 0;
      @include bp($bp-540) {
        margin-bottom: 10px;
      }
    }
  }
}
