.announ-slider-item {
  position: relative;
  width: calc(100%/4);
  height: 100%;
  padding: 0 10px;
  outline: none;


  &:hover {
    .announ-slider-item__wrap {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
      @include bp($bp-ipad-1024) {
        box-shadow: none;
      }
    }
  }
}

.announ-slider-item__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: .3s ease all;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
}

.announ-slider-item__title {
  flex-shrink: 0;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  background-image: linear-gradient(254deg, #a9474a, $grape-purple);

  time {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: $white;
  }
}

.announ-slider-item__day {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $white;
  margin-bottom: 10px;
}

.announ-slider-item__clock {
  position: absolute;
  top: 20px;
  right: 30px;
}

.announ-slider-item__content {
  flex-grow: 1;
  padding: 20px;
  background-color: $white;

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: $black;
    margin-bottom: 0;
    max-height: 110px;
    overflow: hidden;
  }
}

.announ-slider-item__bottom {
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid $very-light-pink-three;
}

.announ-slider-item__hash {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: $grape-purple;
}

.announ-slider-item__aud {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: $black;
  flex-grow: 0;

  &:before {
    margin-right: 6px;
  }
}
