.banner-percent {
  margin-bottom: 30px;

  @include bp($bp-540) {
    margin-bottom: 20px;
  }

  & > span {
    margin-top: 20px;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
  }
}

.banner-percent__title {
  position: relative;
  border-radius: 7px 7px 0 0;
  background-color: $grape-purple;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: $white;
  padding: 28px 0;
  overflow: hidden;

  @include bp($bp-540) {
    line-height: 24px;
    padding: 20px 10px;
  }
  span {
    position: relative;
    z-index: 10;

    @include bp($bp-540) {
      display: block;
      width: 230px;
      margin: 0 auto;
    }
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    @include svg-i-persent-left;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 14px;
    @include svg-i-persent-right;

    @include bp($bp-414) {
      display: none;
    }
  }
}

.banner-percent__content {
  margin-top: -1px;
  border: solid 1px $very-light-pink-three;
  padding: 30px;

  @include bp($bp-540) {
    padding: 16px 20px;
  }
  & > p {
    margin-bottom: 20px;
  }

  .typography__desc {
    margin-bottom: 0;
  }
}
