.banner-slider {
  position: relative;
  width: 100%;
  height: 300px;

  @include bp($bp-ipad-768) {
    height: 172px;
  }

  @include bp($bp-414) {
    height: 70px;
  }

  margin-bottom: 30px;

  .slick-list, .slick-track {
    height: 100%;
    .banner-slider__item {
      position: relative;
    }
  }

  &.slick-dotted.slick-slider {
    @include bp($bp-1366) {
      margin-bottom: 64px;
    }

    @include bp($bp-540) {
      margin-bottom: 50px;
    }

    @include bp($bp-414) {
      margin-bottom: 42px;
    }


  }

  .slick-slide {
    height: 100%;

    & > div {
      height: 100%;
    }
  }


  .slick-dots {
    width: auto;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
    text-align: center;
    z-index: 50;
    @include bp($bp-1366) {
      bottom: -34px;
    }
    @include bp($bp-540) {
      bottom: -24px;
    }
    @include bp($bp-414) {
      bottom: -22px;
    }
    li {
      width: 12px;
      height: 12px;

      &.slick-active {
        button {
          background-color: $grape-purple;
        }
      }

      button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        transition: .3s ease-in-out all;
        border: solid 2px $grape-purple;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }

  .slick-arrow {
    z-index: 10;
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 50%;
    transition: .3s ease-in-out all;
    border: solid 1px $very-light-pink-three;

    &:before {
      display: none;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.06);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &.slick-next {
      right: -65px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
      }
    }

    &.slick-prev {
      left: -65px;
      &:after {
        @include svg-i-arrow-right-slider--sm;
        transform: rotate(180deg);
      }
    }
  }
}

.banner-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
