.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: $white;
  border-radius: 23px;
  background-color: $grape-purple;
  padding: 11px 30px;
  border: none;
  transition: .3s ease-in-out all;
  cursor: pointer;
}

.btn--full {
  border: solid 2px $grape-purple;

  &:hover {
    background-color: transparent;
    color: $white;
  }
}

.btn--border {
  color: $grape-purple;
  border: solid 2px $grape-purple;
  background-color: transparent;

  &:hover {
    background-color: $grape-purple;
    color: $white;
  }
}

.btn--tab {
  padding: 11px 30px;
  font-weight: normal;
  color: $black;
  border-radius: 20px;
  border: 1px solid $very-light-pink-three;
  background-color: $white;
  transition: .3s ease-in-out all;

  @include bp($bp-640) {
    padding: 11px 20px;
  }

  &:hover {
    border-color: $grape-purple;
    color: $grape-purple;
  }
  &.active {
    color: $white;
    border-color: $grape-purple;
    background-color: $grape-purple;
  }
}

.btn--aside {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }
}

.btn--slider {
  padding: 10px 18px;
  display: inline-block;
  border: solid 2px $white;
  background-color: transparent;
}

.btn--white {
  border-color: $white;
  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $grape-purple;
  }
}
