.card-people__list {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;

  @include bp($bp-ipad-1024) {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @include bp($bp-640) {
    margin-top: 20px;
  }

  @include bp($bp-540) {
    margin-bottom: 0;
  }


  .card-people {
    width: calc(100%/3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    @include bp($bp-ipad-768) {
      width: calc(100%/2 - 20px);
    }

    @include bp($bp-540) {
      width: 100%;
    }
  }
}

.card-people {
  padding: 30px 20px;
  display: block;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  outline: none;
  transition: .3s ease-in-out all;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    @include bp($bp-ipad-1024) {
      box-shadow: none;
    }
  }
  img {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto 30px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 20px;
    }
  }
}

.card-people__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: $black;
  margin-bottom: 10px;
}

.card-people__desc {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: $black;
}
