.column-radio {
  margin-bottom: 27px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }
}

.column-radio__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: $black;
  margin-bottom: 16px;
  text-align: left;
}

.column-radio__list {



}

.column-radio__item {
  position: relative;
  padding: 13px 0;

  &:not(:first-child) {
    border-top: 1px solid $very-light-pink-three;;
  }

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      & + label {
        color: $grape-purple;
        &:before {
          border-color: $very-light-pink-three;
        }
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  label {

    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $black;
    margin-bottom: 0;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
      &:before {
        border-color: $grape-purple;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: solid 1px $very-light-pink-three;
      background-color: $white;
      margin-right: 10px;
      transition: .3s ease all;
      cursor: pointer;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
      bottom: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      background-color: $grape-purple;
      opacity: 0;
      transform: scale(0);
      transition: .3s ease all;
    }
  }
}
