.column-checkbox {
  margin-bottom: 27px;
}

.column-checkbox__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: $black;
  margin-bottom: 25px;
  text-align: left;
}

.column-checkbox__list {



}

.column-checkbox__item {
  position: relative;
  padding: 5px 0;


  input {
    position: absolute;
    opacity: 0;

    &:checked {
      & + label {
        &:before {
          border-color: $very-light-pink-three;
        }
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  label {

    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $black;
    margin-bottom: 0;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
      &:before {
        border-color: $grape-purple;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border: solid 1px $very-light-pink-three;
      background-color: $white;
      margin-right: 10px;
      transition: .3s ease all;
      cursor: pointer;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 3px;
      bottom: 0;
      margin: auto;
      @include svg-i-check-color;
      opacity: 0;
      transition: .3s ease all;
      transform: translateY(-3px);
    }
  }
}
