.doc-item {
  display: flex;
}

.doc-item--sm {
  align-items: flex-start;

  .doc-item__icon {
    margin-right: 17px;
  }

  .doc-item__icon--pdf {
    @include svg-i-doc-pdf--sm;
  }
  .doc-item__icon--doc {
    @include svg-i-doc-doc--sm;
  }
  .doc-item__icon--zip {
    @include svg-i-doc-zip--sm;
  }
  .doc-item__icon--rar {
    @include svg-i-doc-rar--sm;
  }
  .doc-item__icon--ex {
    @include svg-i-doc-ex--sm;
  }
  .doc-item__icon--pp {
    @include svg-i-doc-pp--sm;
  }
  .doc-item__icon--mp3 {
    @include svg-i-doc-mp3--sm;
  }

  .doc-item__text {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.doc-item__icon {
  flex-shrink: 0;
  margin-right: 20px;
}

.doc-item__icon--pdf {
  @include svg-i-doc-pdf;
}
.doc-item__icon--zip {
  @include svg-i-doc-zip;
}
.doc-item__icon--rar {
  @include svg-i-doc-rar;
}
.doc-item__icon--doc {
  @include svg-i-doc-doc;
}

.doc-item__text {
  flex-grow: 1;
  p {
    line-height: 20px;
    font-weight: normal;
    color: $grape-purple;
    margin: 0;

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
  span {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: #656565;
  }
}
