.find-typo {
  @include bp($bp-ipad-1024) {
    display: none;
  }
 p {
   font-size: 12px;
   font-weight: 300;
   line-height: 1.25;
   color: #656565;
   margin-bottom: 0;
   text-align: left;

   b {
     font-weight: 500;
   }

   &:first-child {
     font-weight: 500;
     margin-bottom: 13px;
   }
 }
}

