
.gallery-card {
  display: block;
  position: relative;
  transition: .3s ease-in-out all;
  border-radius: 5px;

  &:hover {
    .gallery-card__shadow {
      opacity: 1;

      @include bp($bp-ipad-1024) {
        opacity: 0;
      }
    }
    &:before {
      transform: translateY(-5px);
      @include bp($bp-ipad-1024) {
        transform: translateY(0);
      }
    }
    &:after {
      transform: translateY(-10px);
      @include bp($bp-ipad-1024) {
        transform: translateY(0);
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    left: 10px;
    height: 102px;
    border-radius: 5px;
    transition: .3s ease-in-out transform;
    z-index: 3;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
    background-color: $white;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    left: 20px;
    height: 102px;
    border-radius: 5px;
    transition: .3s ease-in-out transform;
    z-index: 2;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
    background-color: #c1c1c1;
  }

  .gallery-card__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 20px 0 #191919;
    opacity: 0;
    z-index: 3;
    border-radius: 5px;
    transition: .3s ease-in-out opacity;
  }
}

.gallery-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $white;
  border-radius: 5px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    opacity: .7;
    border-radius: 5px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.gallery-card__view {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 11;
}

.gallery-card__bottom {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 11;

  time {
    opacity: 0.7;
    color: $white;
    margin-bottom: 11px;
  }
}

.gallery-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $white;
}

.gallery-card__bottom--video {
  padding-left: 70px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include svg-i-play-button--mid;
  }

  time {
    font-weight: 300;
    opacity: 1;
  }
}

.gallery-card__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: $white;

  @include bp($bp-640) {
    font-size: 16px;
    line-height: 22px;
  }
}

