.hash-list {
  display: flex;
  flex-wrap: wrap;

  a {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $grape-purple;
    margin-right: 19px;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }

  }
}
