.home-gallery-card {
  width: calc(100%/4);
  height: 295px;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    width: calc(100%/2);
  }

  @include bp($bp-540) {
    padding: 0;
  }

  &:hover {
    .home-gallery-card__content {
      transform: translateY(0px);

      @include bp($bp-ipad-1024) {
        transform: translateY(240px);
      }
    }

    .home-gallery-card__img {
      &:after {
        background-color: rgba(25, 25, 25, 0.77);
        opacity: .8;

        @include bp($bp-ipad-1024) {
          opacity: 0.7;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
        }
      }
    }
  }
}

.home-gallery-card__content {
  width: calc(100% - 60px);
  position: absolute;
  left: 30px;
  top: 19px;
  z-index: 10;
  transform: translateY(240px);
  transition: .3s ease-in-out all;
}

.home-gallery-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: $white;
  margin-bottom: 20px;
}

.home-gallery-card__desc {
  position: absolute;
  border-top: 1px solid $very-light-pink-three;
  padding-top: 19px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $white;
}

.home-gallery-card__img {
  width: 100%;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 20px);
    height: 100%;
    top: 0;
    left: 10px;
    opacity: 0.7;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    border-radius: 5px;
    transition: .3s ease-in-out all;

    @include bp($bp-540) {
     width: 100%;
      left: 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
