.mobile-menu {
  display: none;
  position: fixed;
  top: 145px;
  right: 0;
  width: 320px;
  height: calc(100% - 145px);
  background-color: $white-two;
  z-index: 500;
  text-align: center;
  overflow: auto;
  transform: translateX(105%);
  transition: .3s ease-in-out all;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.25);

  @include bp($bp-ipad-1024) {
    display: block;
  }

  @include bp($bp-640) {
    top: 115px;
    height: calc(100% - 115px);
  }

  @include bp($bp-480) {
    top: 146px;
    height: calc(100% - 146px);
  }

  &.active {
    transform: translateX(0);
  }


  .b-social {
    padding-left: 19px;
    padding-right: 19px;
  }

  .b-social__link {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .b-header__menu {
    flex-shrink: 0;
    margin-top: 0;
    flex-direction: column;
    margin-bottom: 30px;

    @include bp($bp-480) {
      border: none;
      position: static;
      padding: 0;
    }
  }

  .b-header__menu-wrap {
    margin-top: 0;
    flex-direction: column;
    padding-left: 0;
    align-items: flex-start;

    &:not(:first-child) {
      .b-header__menu-item {
        border-top: 1px solid #dcdcdc;
      }
    }
    &.open {
      .b-header__menu-item {
        color: $grape-purple;
        &:after {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .b-header__menu-item {
    width: 100%;
    display: block;
    margin-left: 0;
    padding: 12px 30px;
    font-size: 14px;
    color: #030303;
    text-transform: none;
    border-bottom: none;
    text-align: left;

    @include bp($bp-480) {
      padding: 9px 20px;
    }

    &:hover {
      color: #030303;
      border-color: #dcdcdc;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 30px;
      bottom: 0;
      margin: auto;
      @include svg-i-arrow-right-slider--mid;
      transform: rotate(90deg);
      transition: .3s ease-in-out all;

      @include bp($bp-480) {
        right: 24px;
      }
    }

  }

  .b-header__dropdown {
    width: 100%;
    display: none;
    position: static;
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: none;
    padding: 10px 0;
    background-color: #fafafa;

    .b-header__menu-link {
      background-color: #fafafa;
      border: none;
      padding: 10px 30px;
      color: $grape-purple;
      white-space: normal;
      text-align: left;

      @include bp($bp-480) {
        padding: 10px 20px;
      }
    }
  }
}

.mobile-menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 400px;
  height: 100%;
}

.mobile-menu__bottom {
  margin-bottom: 20px;
  & > a {
    display: block;
    margin-top: 18px;
    text-align: center;
  }
}
