.news-card {
  width: 100%;
  display: flex;
  border: 1px solid $very-light-pink-three;
  border-radius: 7px;
  transition: .3s ease-in-out all;

  @include bp($bp-540) {
    flex-direction: column;
  }

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }

  &:not(:first-child) {
    margin-top: 30px;

    @include bp($bp-640) {
      margin-top: 20px;
    }
  }
}

.news-card__img {
  position: relative;
  width: 295px;
  flex-shrink: 0;

  @include bp($bp-736) {
    width: 250px;
  }

  @include bp($bp-540) {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;

    @include bp($bp-540) {
      border-radius: 5px 5px 0 0;
    }
  }
}

.news-card__content {
  position: relative;
  flex-grow: 1;
  padding: 20px 30px 36px;

  @include bp($bp-ipad-1024) {
    padding: 20px 20px 36px;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.17;
    color: $black;
    margin-bottom: 20px;

    @include bp($bp-736) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 11px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
    margin-bottom: 8px;

    @include bp($bp-736) {
      line-height: 22px;
    }
  }
}

.news-card__hash {
  margin-bottom: 10px;
}

.news-card__info {
  position: absolute;
  left: 30px;
  bottom: 16px;
  display: flex;

  @include bp($bp-ipad-1024) {
    left: 20px;
  }

  time {
    margin-left: 29px;
  }
}
