.news-slider-item {
  display: block;
  width: calc(100%/4);
  height: 100%;
  border-radius: 5px;
  transition: .3s ease-in-out all;
  outline: none;
  padding: 0 10px;

  &:hover {
    .news-slider-item__wrap {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
      @include bp($bp-ipad-1024) {
        box-shadow: none;
      }
    }
  }
}

.news-slider-item__wrap {
  height: 100%;
  transition: .3s ease-in-out all;
}

.news-slider-item__img {
  position: relative;
  height: 220px;

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: '';
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(233deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.54));
  }
}

.news-slider-item__view {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 10;
}

.news-slider-item__content {
  border-radius: 0 0 5px 5px;
  padding: 19px 19px 34px;
  position: relative;
  border-left: solid 1px $very-light-pink-three;;
  border-right: solid 1px $very-light-pink-three;;
  border-bottom: solid 1px $very-light-pink-three;;
  height: calc(100% - 220px);
  background-color: #fff;

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: $black;
    margin-bottom: 18px;
  }

  time {
    position: absolute;
    bottom: 19px;
    left: 20px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    color: $brown-grey;
  }
}
