
.project-slider-item {
  padding: 0 10px;
  outline: none;
  height: 100%;

  &:hover {
    .project-slider-item__wrap {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
      @include bp($bp-ipad-1024) {
        box-shadow: none;
      }
    }
  }
}

.project-slider-item__wrap {
  transition: .3s ease all;
  background-color: $white;
  border-radius: 5px;
  height: 100%;
  border: solid 1px $very-light-pink-three;
}

.project-slider-item__title {
  padding: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  color: $black;
  border-radius: 5px 5px 0 0;
}

.project-slider-item__img {
  width: 100%;
  height: 240px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-slider-item__desc {
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: $black;
}
