.project-card {
  display: flex;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  transition: .3s ease-in-out all;

  &:not(:first-child) {
    margin-top: 30px;

    @include bp($bp-640) {
      margin-top: 20px;
    }
  }
  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);

    @include bp($bp-ipad-1024) {
      box-shadow: none;
    }
  }

  @include bp($bp-540) {
    flex-direction: column;
  }
}

.project-card__img {
  width: 295px;
  min-height: 194px;
  margin: -1px;
  flex-shrink: 0;

  @include bp($bp-736) {
    width: 240px;
  }

  @include bp($bp-540) {
    width: calc(100% + 2px);
    min-height: 194px;
    height: 194px;
  }

  img {
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include bp($bp-540) {
      border-radius: 5px 5px 0 0;
    }
  }
}

.project-card__content {
  flex-grow: 1;
  padding: 20px;
}

.project-card__title {
  display: block;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: $black;
  margin-bottom: 10px;

  @include bp($bp-736) {
    font-size: 18px;
    line-height: 24px;
  }

  @include bp($bp-540) {
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

.project-card__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $black;

  @include bp($bp-736) {
    line-height: 22px;
  }

  a  {
    color: $grape-purple;
    &:hover {
      text-decoration: underline;
    }
  }
}
