.search {
  width: 100%;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    display: flex;
    margin-bottom: 0;
  }
  .page-content__header-filter {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.search__box {
  display: flex;

  @include bp($bp-ipad-1024) {
    width: calc(100% - 40px);
    padding-right: 20px;
  }

  input {
    width: 100%;
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    border: solid 1px $very-light-pink-three;
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    color: $black;
    padding: 11px 20px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  button {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: $white;
    border-radius: 0 20px 20px 0;
    background-color: $grape-purple;
    outline: none;
    border: none;
    padding: 0 30px;
    cursor: pointer;

    @include bp($bp-540) {
      padding: 0 20px;
    }

    @include bp($bp-360) {
      position: relative;
      padding: 0 21px;
      font-size: 0;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @include svg-i-loop;
      }
    }
  }

}
