.selectbox {
  display: flex;
  align-items: center;
}

.selectbox--label {
  flex-direction: column;
  align-items: flex-start;

  .selectbox__name {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    color: #656565;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .selectbox__box {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
  }

  .selectbox__selected {
    line-height: 38px;
  }

  .selectbox-mobile {
    width: 100%;
    height: 40px;
    border-radius: 20px;

    select {
      padding-left: 15px;
      line-height: 38px;
    }
  }
}

.selectbox-mobile {
  display: none;
  position: relative;
  height: 34px;
  border-radius: 17px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 13px;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
  }

  @include bp($bp-ipad-1024) {
    display: block;
  }

  select {
    width: 100%;
    padding-left: 13px;
    padding-right: 46px;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    color: $black;
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
  }
}
select::-ms-expand { display: none; }

.selectbox__name {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: $black;
  margin-right: 19px;
}

.selectbox__box {
  position: relative;
  height: 34px;
  padding-left: 13px;
  padding-right: 46px;
  border-radius: 17px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  cursor: pointer;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 13px;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--mid;
    transform: rotate(90deg);
  }
}

.selectbox__selected {
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  color: $black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectbox__dropdown {
  position: absolute;
  width: 100%;
  top: 44px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 17px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  transform: translateY(-3px);
  transition: .3s ease-in-out all;
  z-index: 10;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.selectbox__option {
  font-size: 14px;
  line-height: normal;
  color: $black;
  padding: 10px 13px;
  transition: .3s ease-in-out all;
  cursor: pointer;

  &:first-child {
    border-radius: 17px 17px 0 0;
  }
  &:last-child {
    border-radius: 0 0 17px 17px;
  }
  &:hover {
    background-color: rgba(149, 26, 29, 0.15);
  }

  &:not(:first-child) {
    border-top: 1px solid $very-light-pink-three;
  }

  &.active {
    color: $white;
    background-color: $grape-purple;
  }
}
