.share-soc {
  margin-top: 40px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.share-soc__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black;
  margin-bottom: 20px;
}

.share-soc__list {
  display: flex;
}

.share-soc__link {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  transition: .3s ease-in-out all;

  &:hover {
    transform: scale(1.1);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.share-soc__link--vk {
  border-color: #496890;
  &:after {
    @include svg-i-vk-color;
  }
}

.share-soc__link--tw {
  border-color: #5f9fe9;
  &:after {
    @include svg-i-tw-color;
  }
}

.share-soc__link--fb {
  border-color: #3e5d99;
  &:after {
    @include svg-i-fb-color;
  }
}

.share-soc__link--ok {
  border-color: #e98f45;
  &:after {
    @include svg-i-ok-color;
  }
}
