.single-card-teacher {
  width: 100%;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  padding: 20px 30px;
  display: flex;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .typography__teacher-info {
    padding: 24px 0 0;
    border-bottom: 0;

    @include bp($bp-640) {
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 20px 20px 0;
    }

    .typography__block-icon {
      @include bp($bp-894) {
        width: 50%;

        &:nth-child(2) {
          padding-left: 20px;
        }
        &:nth-child(3) {
          margin-top: 20px;
        }
        &:last-child {
          width: 50%;
          margin-top: 20px;
          padding-left: 20px;
        }
      }

      @include bp($bp-414) {
        width: 100%;
        &:nth-child(2) {
          margin-top: 20px;
          padding-left:0;
        }
        &:last-child {
          padding-left: 0;
        }
      }
    }
  }
}

.single-card-teacher__img {
  flex-shrink: 0;
  width: 140px;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 0;
  }
}

.single-card-teacher__content {
  flex-grow: 1;
  padding-left: 40px;

  @include bp($bp-640) {
    padding-left: 0;
  }
}

.single-card-teacher__header {
  margin-bottom: 20px;

  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: $black;
    margin-bottom: 5px;
    @include bp($bp-640) {
      text-align: center;
    }
  }
  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: $black;
    @include bp($bp-640) {
      text-align: center;
    }
  }
}
