.teacher-accordion {

}

.teacher-accordion__item {

  &:not(:first-child) {
    @include bp($bp-ipad-1024) {
      border-top: 1px solid $very-light-pink-three;
    }
  }

  &:last-child {
    ul {
      margin-bottom: 0;
    }
  }

  .js-accordion-content {
    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  &.open {
    h3 {
      @include bp($bp-ipad-1024) {
        color: $grape-purple;
        &:after {
          transform: rotate(-90deg);
        }
      }
    }
  }

  h3 {
    pointer-events: none;
    @include bp($bp-ipad-1024) {
      pointer-events: auto;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      padding: 15px 0;
      transition: .3s ease-in-out all;

      &.light {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @include svg-i-arrow-right-slider--mid;
        transform: rotate(90deg);
        transition: .3s ease-in-out all;
      }
    }
  }

  .typography__desc {
    @include bp($bp-ipad-1024) {
      margin-bottom: 30px;
    }
  }
}
