.textbox {

}

.textbox__name {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #656565;
  margin-bottom: 10px;
}

.textbox__box {
  position: relative;
  input {
    width: 100%;
    border-radius: 20px;
    border: solid 1px $very-light-pink-three;
    font-size: 14px;
    line-height: 14px;
    color: $black;
    padding: 11px 20px 11px 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: #c0c0c0;
    }
    &:-ms-input-placeholder {
      color: #c0c0c0;
    }
    &::-moz-placeholder {
      color: #c0c0c0;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: #c0c0c0;
      opacity: 1;
    }
  }
  button {
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    margin: auto;
    padding: 0;
    box-shadow: none;
    border: none;
    outline: none;
    @include svg-i-loop-color;
  }
}
