.three-step {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px $very-light-pink-three;
  margin-bottom: 20px;
}

.three-step__item {
  width: calc(100%/3);
  padding: 30px 0;
  text-align: center;

  @include bp($bp-640) {
    width: 100%;
    padding: 20px 0;
  }

  &:not(:first-child) {
    border-left: solid 1px $very-light-pink-three;

    @include bp($bp-640) {
      border-left: none;
      border-top: solid 1px $very-light-pink-three;
    }
  }

  p {
    max-width: 211px;
    margin: 0 auto;
    text-align: center;

    @include bp($bp-640) {
      margin-bottom: 0;
    }
  }
  & > a {
    margin-top: 20px;
    display: inline-block;
  }
}
