.video-detail {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}

.video-detail iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
