.video-card {
  &:hover {
    .video-card__img {
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);

      &:before {
        transform: scale(1.2);
      }
    }
  }
}

.video-card__img {
  position: relative;
  width: 100%;
  height: 180px;
  transition: .3s ease-in-out all;
  border-radius: 7px;

  @include bp($bp-780) {
    height: 210px;
  }

  @include bp($bp-540) {
    height: 180px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-play-button--mid;
    z-index: 10;
    transition: .3s ease-in-out transform;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    opacity: .3;
    border-radius: 7px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
}

.video-card__view {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 10;
}

.video-card__bottom {
  margin-top: 20px;
  time {
    color: $brown-grey;
  }
}

.video-card__title {
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: $black;
  margin-bottom: 11px;
  padding-right: 5px;
}
