.work-mode {
  display: flex;
}

.work-mode__item {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: $black;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.work-mode__col-day {
  .work-mode__item {
    position: relative;
    font-weight: 500;
    padding-right: 15px;

    &:last-child {
      &:after {
        background-color: $grape-purple;
      }
    }

    &:after {
      content: '';
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      border-radius: 3px;
      background-color: #c5d6af;
      height: 20px;
      width: 4px;

    }
  }
}

.work-mode__col-time {
  .work-mode__item {
    padding: 0 30px;
  }
}

.work-mode__col-lunch {
  .work-mode__item {
    span {
      display: block;
      font-weight: normal;
      margin-bottom: 3px;
    }
  }
}

.work-mode__icon {
  margin:  0 auto;
  @include svg-i-coffee-cup;
}

.work-mode__center {
  padding: 34px 20px 62px;
  border-left: 1px solid $very-light-pink-three;
  border-right: 1px solid $very-light-pink-three;
}
