
mixin b-people-group--margin(title)
    -var img1 = './images/academic/1@2x.jpg'
    -var img2 = './images/academic/2@2x.jpg'
    -var img3 = './images/academic/3@2x.jpg'
    -var img4 = './images/academic/4@2x.jpg'
    -var img5 = './images/academic/5@2x.jpg'
    -var img6 = './images/academic/6@2x.jpg'
    -var img7 = './images/academic/7@2x.jpg'
    -var img8 = './images/academic/8@2x.jpg'
    -var img9 = './images/academic/9@2x.jpg'

    .b-people-group.b-people-group--single
        h3 #{title}
        .b-people-group__list
            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img1 alt='')
                .b-people-group__name Панарин
                    br
                    | Игорь Анатольевич
                .b-people-group__desc председатель ученого совета, директор Алтайского филиала РАНХиГС, д.псх.н. тел.: 504-180 (внутр.: 101)

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img2 alt='')
                .b-people-group__name Шлегель
                    br
                    | Светлана Владимировна
                .b-people-group__desc секретарь ученого совета, зам. директора по научной работе, к.ф.н. тел.: 503-571 (внутр.: 105)

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img3 alt='')
                .b-people-group__name Кайгородова
                    br
                    | Татьяна Владимировна
                .b-people-group__desc Заместитель директора по учебной работе, к.и.н.

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img4 alt='')
                .b-people-group__name Воронова
                    br
                    | Людмила Эдуардовна
                .b-people-group__desc заместитель директора по воспитательной работе

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img5 alt='')
                .b-people-group__name Мосина
                    br
                    | Ирина Геннадьевна
                .b-people-group__desc директор центра «Высшая школа государственного управления»

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img6 alt='')
                .b-people-group__name Кузиков
                    br
                    | Антон Сергеевич
                .b-people-group__desc директор Центра информационных систем и технологий

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img7 alt='')
                .b-people-group__name Усольцев
                    br
                    | Сергей Анатольевич
                .b-people-group__desc Доцент кафедры государственного и муниципального управления, к.и.н.

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img8 alt='')
                .b-people-group__name Шмаков
                    br
                    | Артём Алексеевич
                .b-people-group__desc Доцент кафедры психологии и социологии управления, к.фил.н.

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img9 alt='')
                .b-people-group__name Лысенко
                    br
                    | Лариса Михайловна
                .b-people-group__desc заведующий кафедрой гуманитарных и естественнонаучных дисциплин, к.с.-х.н., доцент

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img7 alt='')
                .b-people-group__name Усольцев
                    br
                    | Сергей Анатольевич
                .b-people-group__desc Доцент кафедры государственного и муниципального управления, к.и.н.

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img8 alt='')
                .b-people-group__name Шмаков
                    br
                    | Артём Алексеевич
                .b-people-group__desc Доцент кафедры психологии и социологии управления, к.фил.н.

            a(href='').b-people-group__item
                .b-people-group__img
                    img(src=img9 alt='')
                .b-people-group__name Лысенко
                    br
                    | Лариса Михайловна
                .b-people-group__desc заведующий кафедрой гуманитарных и естественнонаучных дисциплин, к.с.-х.н., доцент


        if title == ''

        else
            .b-people-group__more
                button.b-people-group__btn
                    span Показать всех
