mixin error()
    .find-typo
        p Нашли опечатку?
        p Выделите её, нажмите
            = ' '
            b Ctrl+Enter
            |  и отправьте нам уведомление. Сервис предназначен только для отправки сообщений об орфографических и пунктуационных ошибках.
