mixin menu-entrant()
    .aside__title Абитуриенту
    ul.b-aside-menu
        li
            a(href='') Школа больших возможностей
        li
            a(href='') Бакалавриат
        li
            a(href='') Магистратура
        li
            a(href='') Дополнительное образование
        li.active-link
            a(href='') Приемная комиссия



