mixin menu-anchor()

    ul.b-aside-menu.b-aside-menu--anchor.js-anchor-doc
        li
            a(href='#doc1')
                span Учредительные документы
        li
            a(href='#doc2')
                span Правила приема
        li
            a(href='#doc3')
                span Порядок оказания платных образовательных услуг
        li
            a(href='#doc4')
                span Организация учебного процесса
        li
            a(href='#doc5')
                span Система качества образования
        li
            a(href='#doc6')
                span Коллективный договор
        li
            a(href='#doc7')
                span Предписания органов, осуществляющих государственный контроль (надзор) в свере образования
        li
            a(href='#doc8')
                span Отчеты об использовании предписаний органов, осуществляющих государственный контроль (надзор) в сфере образованияПорядок оказания платных образовательных услуг
        li
            a(href='#doc9')
                span Другие документы
