mixin menu-aud()
    .aside__title Аудитории
    ul.b-aside-menu
        li.arrow.js-aside-menu
            a(href='') Корпус А
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
        li.arrow.active-link.change-arrow.js-aside-menu
            a(href='') Корпус В
            .b-aside-menu__dropdown.active
                a(href='') B103
                a(href='') B103
                a(href='').active B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103
                a(href='') B103

