mixin menu-handbook(classMix = '1')
    .aside__title Справочник
    ul.b-aside-menu
        li
            a(href='') Телефонный справочник
        li.arrow.active-link.change-arrow.js-aside-menu
            a(href='') Преподаватели и сотрудники
            .b-aside-menu__dropdown.active
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li.arrow.js-aside-menu
            a(href='') Схема здания
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li.arrow.js-aside-menu
            a(href='') Стипендии и Оплата обучения
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li
            a(href='') Инструкция для первокурсника
        li.arrow.js-aside-menu
            a(href='') Информационная среда
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li.arrow.js-aside-menu
            a(href='') Учебный процесс
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li.arrow.js-aside-menu
            a(href='') Социальные вопросы
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения
        li.arrow.js-aside-menu
            a(href='') Студенческая жизнь
        li.arrow.js-aside-menu
            a(href='') Научная жизнь
        li.arrow.js-aside-menu
            a(href='') Карьера
            .b-aside-menu__dropdown
                a(href='') Руководство
                a(href='') Кафедры
                a(href='') Подразделения


