mixin menu-teacher()
    .aside__title Преподаватели
    ul.b-aside-menu
        li.arrow.js-aside-menu
            a(href='') Кафедра ГиЕНД
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
        li.arrow.active-link.change-arrow.js-aside-menu
            a(href='') Кафедра ГиМУ
            .b-aside-menu__dropdown.active
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
                a(href='').active Сандаковский А.А.
                a(href='') Кригер Ю.А.
        li.arrow.js-aside-menu
            a(href='') Кафедра ГПД
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
        li.arrow.js-aside-menu
            a(href='') Кафедра КиМП
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
        li.arrow.js-aside-menu
            a(href='') Кафедра ПиСУ
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.

        li.arrow.js-aside-menu
            a(href='') Кафедра ТиИГиП
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.

        li.arrow.js-aside-menu
            a(href='') Кафедра УПРАВиК
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.

        li.arrow.js-aside-menu
            a(href='') Кафедра УПРОЦиК
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.

        li.arrow.js-aside-menu
            a(href='') Кафедра ФиАП
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.

        li.arrow.js-aside-menu
            a(href='') Кафедра ЭиФ
            .b-aside-menu__dropdown
                a(href='') Баер Е.А.
                a(href='') Коновалова Л.Г.
