mixin menu-project()
    .aside__title Проекты
    ul.b-aside-menu
        li
            a(href='') Высшая школа гос. управления
        li.arrow.js-aside-menu
            a(href='') Школа больших возможностей
            .b-aside-menu__dropdown
                a(href='') Link
                a(href='') Link
                a(href='') Link

        li.arrow.js-aside-menu
            a(href='') Психологический центр
            .b-aside-menu__dropdown
                a(href='') Link
                a(href='') Link
                a(href='') Link
        li.arrow.js-aside-menu
            a(href='') Юридическая клиника
            .b-aside-menu__dropdown
                a(href='') Link
                a(href='') Link
                a(href='') Link

        li
            a(href='') Центр карьеры

        li
            a(href='') Центр развития образования


