mixin menu-educaation()
    .aside__title Форма обучения
    ul.b-aside-menu
        li.active-link
            a(href='') Бакалавриат (очная)
        li
            a(href='') Бакалавриат (заочная)
        li
            a(href='') Бакалавриат (очно-заочная)
        li
            a(href='') Магистратура (заочная)
        li
            a(href='') Переподготовка



