mixin menu-short()
    .aside__title Пресс-центр
    ul.b-aside-menu
        li
            a(href='') Новости
        li
            a(href='') Анонсы
        li
            a(href='') Фото отчеты
        li
            a(href='') Видео репортажи
        li.active-link
            a(href='') История успеха
