mixin menu(classMix = '1')
    .aside__title Академия
    ul.b-aside-menu
        li
            a(href='') Система РАНХиГС
        li.arrow.active-link.change-arrow.js-aside-menu
            a(href='') О филиале
            .b-aside-menu__dropdown.active
                a(href='') История флиала
                a(href='') Филиал сегодня
                a(href='').active Ученый совет
                a(href='') Доска почета
        li
            a(href='') История флиала
        li
            a(href='') Филиал сегодня
        li
            a(href='') Доска почета
        li
            a(href='') Партнеры
        li
            a(href='') Студенческая жизнь
        li
            a(href='') Структура
        li
            a(href='') Международная деятельность
        li
            a(href='') Преподаватели
        li.arrow.js-aside-menu
            a(href='') Выпускники
            .b-aside-menu__dropdown
                a(href='') Ссылка
                a(href='') Ссылканя
                a(href='') Ссылка
        li.arrow.js-aside-menu
            a(href='') Вакансии и конкурсы
            .b-aside-menu__dropdown
                a(href='') Ссылка
                a(href='') Ссылканя
