mixin share()
    .share-soc
        .share-soc__title Поделиться
        .share-soc__list
            a(href='').share-soc__link.share-soc__link--vk
            a(href='').share-soc__link.share-soc__link--tw
            a(href='').share-soc__link.share-soc__link--fb
            a(href='').share-soc__link.share-soc__link--ok
