mixin _sub-header(title, arr, isImg = false, img = '')
     -if(isImg)
         .b-sub-header.b-sub-header--image
             .b-sub-header__img
                 img(src=img alt='')
             .container
                 .b-sub-header__box
                     h1 #{title}
                     +breadcrumbs(arr)

     -else
         .b-sub-header
             .container
                 .b-sub-header__box
                     h1 #{title}
                     +breadcrumbs(arr)
