@import 'slick';
@import 'mg/main';
@import 'cell';
@import 'datepicker';
@import 'navigation';
@import 'timepicker';
@import "photoswipe/main";
@import "photoswipe/default-skin/default-skin";
@import "scrollbar";


.pswp__top-bar {
    z-index: 100;
}
.pswp__button--custom {
    position: fixed;
    opacity: 1;
    width: 50%;
    height: 100%;
    top: 0;
    margin-top: 0;
    &:hover {

    }
    &:before {
        display: none;
    }
    span {
        display: block;
        position: relative;
        width: 46px;
        height: 46px;
        background-color: $white;
        border-radius: 50%;
        transition: .3s ease-in-out all;
        border: 1px solid $white;
        pointer-events: none;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.pswp__button--custom-left {
    span {
        margin-left: 40px;

        @include bp($bp-ipad-768) {
            margin-left: 20px;
        }
        &:after {
            @include svg-i-arrow-right-slider--sm;
            transform: rotate(180deg);
        }
    }
}

.pswp__button--custom-right {
    span {
        margin-right: 40px;
        margin-left: auto;

        @include bp($bp-ipad-768) {
            margin-right: 20px;
        }
        &:after {
            @include svg-i-arrow-right-slider--sm;
        }
    }
}

.pswp__flip {
    position: absolute;

}

.pswp__flip--left {

}

.pswp__flip--right {

}
