@import "datepicker-config";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1px;
}

.datepicker--cell {
  //border-radius: $datepickerBorderRadius;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $datepickerDayCellSize;
  z-index: 9;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background-color: $white-two;
    border: solid 2px $white-two;
    z-index: -1;
    transition: .3s ease all;
  }

  .dp-note {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: $grape-purple;
  }

  &.-focus- {
    &:after {
      border-color: $grape-purple;
    }

    .dp-note {

    }
  }

  &.-current- {
    &:after {
      background-color: #D49E53;
      border-color: #D49E53;
    }
    color: $white;

    &.-focus- {
      color: $white;;
    }

    &.-in-range- {
      background: $grape-purple;
      color: $white;
    }

    .dp-note {
      background-color: $white;
    }
  }

  &.-in-range- {
    background: $grape-purple;
    color: $white;

    .dp-note {
      background-color: $white;
    }

    &.-focus- {
      background: $grape-purple;
      color: $white;
    }
  }

  &.-disabled- {
    cursor: default;
    color: map_get($datepickerTextColor, disabled);

    &.-focus- {
      color: map_get($datepickerTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($datepickerTextColor, disabled), 5);
    }

    &.-current- {
      &.-focus- {
        color: map_get($datepickerTextColor, disabled);
      }
    }
  }


  &.-range-from- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: map_get($datepickerBG, inRange);
    border-radius: $datepickerBorderRadius 0 0 $datepickerBorderRadius;
  }
  &.-range-to- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: map_get($datepickerBG, inRange);
    border-radius:  0 $datepickerBorderRadius $datepickerBorderRadius 0;
  }

  &.-range-from-.-range-to- {
    border-radius: $datepickerBorderRadius;

  }

  &.-selected- {
    &:after {
      background-color: $grape-purple;
      border-color: $grape-purple;
    }
    color: $white;

    .dp-note {
      background-color: $white;
    }

    &.-current- {
      background: transparent;
      color: $white;

      &:after {
        background-color: #D49E53;
        border-color: #D49E53;
      }
    }

    &.-focus- {
      color: $white;
    }
  }

  &:empty {
    cursor: default;
  }

  &.only-active {
    pointer-events: auto;
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  //margin: 8px 0 3px;

}

.datepicker--day-name {
  color: map_get($datepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28571%;
  text-align: center;
  text-transform: lowercase;
  font-size: 12px;
  height: 30px;
  font-weight: 300;

  &:nth-child(7n) {
    border-right: none;
  }
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: (100/7)#{'%'};
  pointer-events: none;

  &:nth-child(7n) {
    border-right: none;
  }

  &.-other-month- {
    @extend %otherMonth;

    .dp-note {
      display: none;
    }
  }
}


//  Months
// -------------------------------------------------

.datepicker--months {}

.datepicker--cells-months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;

  &:after {
    width: 44px;
    height: 30px;
  }
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: 168px;
}

.datepicker--cells-years {
  height: $datepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 100% / $datepickerYearsPerRow;
  height: 33.33%;

  &:after {
    width: 50px;
    height: 32px;
  }

  &.-other-decade- {
    @extend %otherMonth;
  }
}
