include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")
        meta(name="cmsmagazine" content="3dccd4a715c93410d22e8e3afcc9fa3e")

        link(rel="shortcut icon" type="image/png" href="")
        link(rel='stylesheet' href="./css/style.css?ver=91125")
        link(rel="stylesheet" media="print" href="./css/print.css")
        script.
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);

        block title
            title Заголовок по умолчанию
    body
        include blocks/_b-header
        .page
            block content
        .scroll-top.js-scrolltop
        include blocks/_b-footer
        // мобильное меню
        .mobile-menu
            .mobile-menu__wrap
                #accordion-menu.b-header__menu
                    .b-header__menu-wrap
                        .b-header__menu-item.js-accordion Академия
                        .b-header__dropdown
                            a(href='').b-header__menu-link Система РАНХиГС
                            a(href='').b-header__menu-link О филиале
                            a(href='').b-header__menu-link История филиала
                            a(href='').b-header__menu-link Филиал сегодня
                            a(href='').b-header__menu-link Партнеры
                            a(href='').b-header__menu-link Студенческая жизнь
                            a(href='').b-header__menu-link Структура
                            a(href='').b-header__menu-link Доска почета
                            a(href='').b-header__menu-link Выпускники
                            a(href='').b-header__menu-link Вакансии и конкурсы
                            a(href='').b-header__menu-link Международная деятельность
                            a(href='').b-header__menu-link Преподаватели
                    .b-header__menu-wrap
                        .b-header__menu-item.js-accordion Образование
                        .b-header__dropdown
                            a(href='').b-header__menu-link Бакалавриат
                            a(href='').b-header__menu-link Магистратура
                            a(href='').b-header__menu-link Повышение квалификации
                            a(href='').b-header__menu-link Проф. переподготовка
                    .b-header__menu-wrap
                        .b-header__menu-item.js-accordion Наука
                        .b-header__dropdown
                            a(href='').b-header__menu-link Основная информация
                            a(href='').b-header__menu-link Приемная комиссия
                            a(href='').b-header__menu-link Вступительные испытания
                            a(href='').b-header__menu-link Программы обучения
                            a(href='').b-header__menu-link Школа больших возможностей
                    .b-header__menu-wrap
                        .b-header__menu-item.js-accordion Проекты
                        .b-header__dropdown
                            a(href='').b-header__menu-link Школа больших возможностей
                            a(href='').b-header__menu-link Центр карьеры
                            a(href='').b-header__menu-link Психологичесий центр
                            a(href='').b-header__menu-link Юридическая клиника
                            a(href='').b-header__menu-link Высшая школа государственного управления
                    .b-header__menu-wrap
                        .b-header__menu-item.js-accordion Пресс-центр
                        .b-header__dropdown
                            a(href='').b-header__menu-link Новости
                            a(href='').b-header__menu-link Анонсы
                            a(href='').b-header__menu-link Фото отчеты
                            a(href='').b-header__menu-link Видео репортажи
                            a(href='').b-header__menu-link История успеха


                .mobile-menu__bottom
                    .b-social
                        a(href='' target='_blank').b-social__link.b-social__link--vk
                        a(href='' target='_blank').b-social__link.b-social__link--inst
                        a(href='' target='_blank').b-social__link.b-social__link--fb
                        a(href='' target='_blank').b-social__link.b-social__link--ok
                        a(href='' target='_blank').b-social__link.b-social__link--yt
                    a(href='') Контакты

        // для галереи(этот блок нужен, где будет галерея)
        .pswp(tabindex="-1" role="dialog" aria-hidden="true")
            .pswp__bg
            .pswp__scroll-wrap
                .pswp__container
                    .pswp__item
                    .pswp__item
                    .pswp__item
                .pswp__ui.pswp__ui--hidden
                    .pswp__top-bar
                        .pswp__counter
                        button.pswp__button.pswp__button--close(title="Close (Esc)")
                        button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
                        button.pswp__button.pswp__button--zoom(title="Zoom in/out")
                        .pswp__preloader
                            .pswp__preloader__icn
                                .pswp__preloader__cut
                                    .pswp__preloader__donut

                    .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                        .pswp__share-tooltip
                    button.pswp__button.pswp__button--arrow--left.pswp__button--custom.pswp__button--custom-left(title="Пред")
                        span
                    button.pswp__button.pswp__button--arrow--right.pswp__button--custom.pswp__button--custom-right(title="След")
                        span
                    .pswp__caption
                        .pswp__caption__center

        .tooltip-audience
        .tooltip-table Внимание! Информация была изменена.

        #popup-audience.b-popup.b-popup--audience.mfp-hide
            .b-popup__wrap
                .b-popup__title Схема «Корпус B»
                .b-popup__content
                    .b-audience-slider.js-audience-slider
                        .b-audience-slider__item
                            .b-audience-slider__img
                                img(src='./images/popup/b-1.jpg' alt='')
                                .b-audience-slider__svg
                                    svg.js-hover-polygon(width='796px' height='380px' viewBox='0 0 796 380' xmlns="http://www.w3.org/2000/svg" version="1.1")
                                        defs
                                        g
                                            polygon(fill="#812023" stroke="" stroke-width="8" data-title="Аудитория В108" points="140 96 140 175 208 175 208 96" style='fill-opacity: 0.22;')

                        .b-audience-slider__item
                            .b-audience-slider__img
                                img(src='./images/popup/b-1.jpg' alt='')
                                .b-audience-slider__svg
                                    svg.js-hover-polygon(width='796px' height='380px' viewBox='0 0 796 380' xmlns="http://www.w3.org/2000/svg" version="1.1")
                                        defs
                                        g
                                            polygon(fill="#812023" stroke="" stroke-width="8" data-title="Аудитория В108" points="140 96 140 175 208 175 208 96" style='fill-opacity: 0.22;')

        #popup-question.b-popup.b-popup--question.mfp-hide
            .b-popup__wrap
                .b-popup__title Задать вопрос
                .b-popup__content
                    .typography__form
                        form.b-form
                            .b-form__row
                                .b-form__item.b-form__item--full
                                    label Имя
                                    input(type='text' placeholder='Укажите ваше имя' required)
                                .b-form__item.b-form__item--full
                                    label E-mail
                                    input(type='email' placeholder='Укажите ваш e-mail' required)
                            .b-form__row
                                .b-form__item.b-form__item--full
                                    label Сообщение
                                    textarea(required placeholder='Ваше сообщение')
                            .b-form__checkbox
                                input(id='checkbox1' type='checkbox' required)
                                label(for='checkbox1') Указав свои данные в форме, вы даете согласие на
                                    = ' '
                                    a(href='') обработку своих персональных данных
                            .b-form__control
                                button.btn.btn--border Отправить сообщение

        #popup-apply.b-popup.b-popup--question.mfp-hide
            .b-popup__wrap
                .b-popup__title Подать заявку
                .b-popup__content
                    .typography__form
                        form.b-form
                            .b-form__row
                                .b-form__item.b-form__item--full
                                    label Имя
                                    input(type='text' placeholder='Укажите ваше имя' required)
                                .b-form__item.b-form__item--full
                                    label E-mail
                                    input(type='email' placeholder='Укажите ваш e-mail' required)
                            .b-form__row
                                .b-form__item.b-form__item--full
                                    label Сообщение
                                    textarea(required placeholder='Ваше сообщение')
                            .b-form__checkbox
                                input(id='checkbox2' type='checkbox' required)
                                label(for='checkbox2') Указав свои данные в форме, вы даете согласие на
                                    = ' '
                                    a(href='') обработку своих персональных данных
                            .b-form__control
                                button.btn.btn--border Отправить сообщение

    script(async defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="./js/bundle.js")
