extends _layout-home

block title
    title Главная страница
block content
    -var sliderImg = './images/home/fullpage.jpg'
    -var bannerImg = './images/home/banner@2x.jpg'
    -var sliderNews1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_400_sq480x380.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'
    -var gallery1 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_29_43_sq600.jpg'
    -var gallery2 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_04_17_sq600.jpg'
    -var gallery3 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_12_07_65_sq600.jpg'
    -var gallery4 = 'https://www.alt.ranepa.ru/resampled/news/2018/resize_of_dsc_8157_sq600.jpg'
    -var project1 = './images/home/project-1.jpg'
    -var project2 = './images/home/project-2.jpg'
    -var project3 = './images/home/project-3.jpg'
    -var gallery11 = './images/home/gallery-1.jpg'
    -var gallery22 = './images/home/gallery-2.jpg'
    -var gallery33 = './images/home/gallery-3.jpg'
    -var gallery44 = './images/home/gallery-4.jpg'

    .b-fullpage-slider
        .b-fullpage-slider__wrap.js-fullpage-slider
            .b-fullpage-slider__item
                .b-fullpage-slider__img
                    img(src=sliderImg alt='')
                .container
                    .b-fullpage-slider__text
                        h2 Школа больших возможностей
                        .divider
                        p Приглашаем 10-11-классников присоединиться к проекту.
                        p Записаться в Школу можно у нас на сайте.
                        a(href='').btn.btn--slider Подробнее
            .b-fullpage-slider__item.b-fullpage-slider__item--text-left
                .b-fullpage-slider__img
                    img(src=sliderImg alt='')
                .container
                    .b-fullpage-slider__text
                        h2 Школа больших
                            br
                            | возможностей
                        .divider
                        p Приглашаем 10-11-классников присоединиться к проекту.
                        p Записаться в Школу можно у нас на сайте.
                        a(href='').btn.btn--slider Подробнее
            .b-fullpage-slider__item.b-fullpage-slider__item--text-left
                .b-fullpage-slider__img
                    video(loop="loop" autoplay="autoplay" muted="muted" preload='auto')
                        source(src='./video/Forest_15_3b_Videvo (convert-video-online.com).mp4' type="video/mp4")
                        source(src='./video/Forest_15_3b_Videvo (convert-video-online.com).webm' type="video/webm")
                .container
                    .b-fullpage-slider__text
                        h2 Школа больших
                            br
                            | возможностей
                        .divider
                        p Приглашаем 10-11-классников присоединиться к проекту.
                        p Записаться в Школу можно у нас на сайте.
                        a(href='').btn.btn--slider Подробнее


            .b-fullpage-slider__item
                .b-fullpage-slider__img
                    img(src=sliderImg alt='')
                .container
                    .b-fullpage-slider__text
                        h2 Школа больших возможностей
                        .divider
                        p Приглашаем 10-11-классников присоединиться к проекту.
                        p Записаться в Школу можно у нас на сайте.
        .b-fullpage-slider__arrow.js-to-anchor
            .b-fullpage-slider__arrow-icon

    #anchor-first.b-home-container
        .container
            .b-home-news
                h2 Новости
                .b-home-news__slider.js-home-slider
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews1 alt='')
                                .news-slider-item__view.view 281
                            .news-slider-item__content
                                p Студентки Академии приняли участие в закладке «капсулы времени»
                                time 14 января 2019
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews2 alt='')
                                .news-slider-item__view.view 154
                            .news-slider-item__content
                                p Бойцы Академии стали обладателями знамени лучшего студенческого педагогического отряда Алтайского края!
                                time 06 января 2019
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews1 alt='')
                                .news-slider-item__view.view 281
                            .news-slider-item__content
                                p Студентки Академии приняли участие в закладке «капсулы времени»
                                time 14 января 2019
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews2 alt='')
                                .news-slider-item__view.view 154
                            .news-slider-item__content
                                p Бойцы Академии стали обладателями знамени лучшего студенческого педагогического отряда Алтайского края!
                                time 06 января 2019
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews1 alt='')
                                .news-slider-item__view.view 281
                            .news-slider-item__content
                                p Студентки Академии приняли участие в закладке «капсулы времени»
                                time 14 января 2019
                    a(href='').news-slider-item
                        .news-slider-item__wrap
                            .news-slider-item__img
                                img(src=sliderNews2 alt='')
                                .news-slider-item__view.view 154
                            .news-slider-item__content
                                p Бойцы Академии стали обладателями знамени лучшего студенческого педагогического отряда Алтайского края!
                                time 06 января 2019
                    //a(href='').news-slider-item
                    //    .news-slider-item__wrap
                    //        .news-slider-item__img
                    //            img(src=sliderNews2 alt='')
                    //            .news-slider-item__view.view 154
                    //        .news-slider-item__content
                    //            p Бойцы Академии стали обладателями знамени лучшего студенческого педагогического отряда Алтайского края!
                    //            time 06 января 2019
                .b-home-container__control
                    a(href='').b-home-container__link Архив новостей
        .b-social.b-social--vertical
            a(href='' target='_blank').b-social__link.b-social__link--vk
            a(href='' target='_blank').b-social__link.b-social__link--inst
            a(href='' target='_blank').b-social__link.b-social__link--fb
            a(href='' target='_blank').b-social__link.b-social__link--ok
            a(href='' target='_blank').b-social__link.b-social__link--yt

    .b-home-container.b-home-container--grey
        .container
            .b-home-news
                h2 Анонсы
                .b-home-news__slider.js-home-slider
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 29 ноября - 5 декабря 2018
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                .b-home-container__control
                    a(href='').b-home-container__link Все анонсы
    .b-home-container
        .container
            .b-home-gallery
                h2 Фото и видео репортажи
                .b-home-gallery__list
                    .b-home-gallery__half
                        .b-home-gallery__block.js-home-tablet-gallery
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery1 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    .gallery-card__title Спортивный квест «Спорт в Академии»
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery2 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    .gallery-card__title Спортивный квест «Спорт в Академии»
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery3 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    .gallery-card__title Спортивный квест «Спорт в Академии»
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery1 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    .gallery-card__title День знаний-2018 в Алтайском филиале РАНХиГС!


                        .b-home-container__control
                            a(href='').b-home-container__link Все фото
                    .b-home-gallery__half
                        .b-home-gallery__video
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery4 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom.gallery-card__bottom--video
                                    time 1 сентября 2018
                                    .gallery-card__text День знаний-2018 в Алтайском филиале РАНХиГС!
                        .b-home-container__control
                            a(href='').b-home-container__link Все видео

    .b-home-container.b-home-container--short
        .container
            .b-home-tabs
                h2 Программы обучения
                .b-home-tabs__content
                    .b-main-tab.js-tab
                        .b-main-tab__header.js-tab-item.js-random-click
                            .b-main-tab__item.active Бакалавриат
                            .b-main-tab__item Магистратура
                            .b-main-tab__item Дополнительное профессиональное образование
                        #accordion-education.b-main-tab__body.js-tab-content
                            .b-main-tab__body-wrap.active
                                .b-main-tab__title.js-accordion Бакалавриат
                                .b-main-tab__content
                                    .b-main-tab.b-main-tab--inner.js-tab-inner
                                        .b-main-tab__header.js-tab-item-inner
                                            .b-main-tab__item.active
                                                .b-main-tab__item-number 38.03.04
                                                .b-main-tab__item-title Государственное и муниципальное управление
                                            .b-main-tab__item
                                                .b-main-tab__item-number 38.03.01
                                                .b-main-tab__item-title Экономика
                                            .b-main-tab__item
                                                .b-main-tab__item-number 40.03.01
                                                .b-main-tab__item-title Юриспруденция
                                            .b-main-tab__item
                                                .b-main-tab__item-number 37.03.01
                                                .b-main-tab__item-title Психология
                                        .b-main-tab__body.js-tab-content-inner
                                            .b-main-tab__body-wrap.active
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.04
                                                    .b-main-tab__item-title Государственное и муниципальное управление
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.01
                                                    .b-main-tab__item-title Экономика
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 40.03.01
                                                    .b-main-tab__item-title Юриспруденция
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 37.03.01
                                                    .b-main-tab__item-title Психология
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)




                            .b-main-tab__body-wrap
                                .b-main-tab__title.js-accordion Магистратура
                                .b-main-tab__content
                                    .b-main-tab.b-main-tab--inner.js-tab-inner
                                        .b-main-tab__header.js-tab-item-inner
                                            .b-main-tab__item.active
                                                .b-main-tab__item-number 38.03.04
                                                .b-main-tab__item-title Государственное и муниципальное управление1
                                            .b-main-tab__item
                                                .b-main-tab__item-number 38.03.01
                                                .b-main-tab__item-title Экономика1
                                            .b-main-tab__item
                                                .b-main-tab__item-number 40.03.01
                                                .b-main-tab__item-title Юриспруденция1
                                            .b-main-tab__item
                                                .b-main-tab__item-number 37.03.01
                                                .b-main-tab__item-title Психология1
                                        .b-main-tab__body.js-tab-content-inner
                                            .b-main-tab__body-wrap.active
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.04
                                                    .b-main-tab__item-title Государственное и муниципальное управление
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.01
                                                    .b-main-tab__item-title Экономика
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 40.03.01
                                                    .b-main-tab__item-title Юриспруденция
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 37.03.01
                                                    .b-main-tab__item-title Психология
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)




                            .b-main-tab__body-wrap
                                .b-main-tab__title.js-accordion Дополнительное профессиональное образование
                                .b-main-tab__content
                                    .b-main-tab.b-main-tab--inner.js-tab-inner
                                        .b-main-tab__header.js-tab-item-inner
                                            .b-main-tab__item.active
                                                .b-main-tab__item-number 38.03.04
                                                .b-main-tab__item-title Государственное и муниципальное управление2
                                            .b-main-tab__item
                                                .b-main-tab__item-number 38.03.01
                                                .b-main-tab__item-title Экономика2
                                            .b-main-tab__item
                                                .b-main-tab__item-number 40.03.01
                                                .b-main-tab__item-title Юриспруденция2
                                            .b-main-tab__item
                                                .b-main-tab__item-number 37.03.01
                                                .b-main-tab__item-title Психология2
                                        .b-main-tab__body.js-tab-content-inner
                                            .b-main-tab__body-wrap.active
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.04
                                                    .b-main-tab__item-title Государственное и муниципальное управление
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 38.03.01
                                                    .b-main-tab__item-title Экономика
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 40.03.01
                                                    .b-main-tab__item-title Юриспруденция
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)



                                            .b-main-tab__body-wrap
                                                .b-main-tab__title.js-accordion-inner
                                                    .b-main-tab__item-number 37.03.01
                                                    .b-main-tab__item-title Психология
                                                .b-main-tab__content
                                                    .b-main-tab__content-wrap
                                                        h3 Государственное и муниципальное управление !!!!
                                                        p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                                        a(href='') Читать полностью
                                                        .b-main-tab__info
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header очная / заочная
                                                                    .b-main-tab__info-body Форма
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 15
                                                                    .b-main-tab__info-body Кол-во бюджетных
                                                                        br
                                                                        | мест в 2019г.
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header 4 года
                                                                    .b-main-tab__info-body Продолжительности
                                                                        br
                                                                        | обучения
                                                            .b-main-tab__info-box
                                                                .b-main-tab__info-wrap
                                                                    .b-main-tab__info-header от 43,6
                                                                    .b-main-tab__info-body Стоимость в год
                                                                        br
                                                                        | (тыс. руб.)





    .b-home-banner
        .b-home-banner__img
            img(src=bannerImg alt='')
        .container
            .b-home-banner__text
                h2 10 причин
                    br
                    | выбрать РАНХиГС
                p Качественное образование, проверенное
                    br
                    | временем с высоким уровнем преподавателей
                button.btn.btn--full.btn--white Подробнее

    .b-home-container.b-home-container--grey
        .container
            .b-home-news
                h2 Проекты академии
                .b-home-news__slider.js-home-slider--project
                    a(href='').project-slider-item
                        .project-slider-item__wrap
                            .project-slider-item__title Высшая школа
                                br
                                | государственного управления
                            .project-slider-item__img
                                img(src=project1 alt='')
                            .project-slider-item__desc Центр реализует программы дополнительного профессионального образования, осуществляет подготовку кадрового резерва, оценку компетенций и квалификаций должностных лиц субъектов РФ.
                    a(href='').project-slider-item
                        .project-slider-item__wrap
                            .project-slider-item__title Школа больших
                                br
                                | возможностей
                            .project-slider-item__img
                                img(src=project2 alt='')
                            .project-slider-item__desc Центр предоставляет психологические услуги студентам, сотрудникам академии и другим лицам (отдельным гражданам, группам, организациям)
                    a(href='').project-slider-item
                        .project-slider-item__wrap
                            .project-slider-item__title Психологический
                                br
                                | центр
                            .project-slider-item__img
                                img(src=project3 alt='')
                            .project-slider-item__desc Центр предоставляет психологические услуги студентам, сотрудникам академии и другим лицам (отдельным гражданам, группам, организациям)
                    a(href='').project-slider-item
                        .project-slider-item__wrap
                            .project-slider-item__title Школа больших
                                br
                                | возможностей
                            .project-slider-item__img
                                img(src=project2 alt='')
                            .project-slider-item__desc Центр предоставляет психологические услуги студентам, сотрудникам академии и другим лицам (отдельным гражданам, группам, организациям)
                    a(href='').project-slider-item
                        .project-slider-item__wrap
                            .project-slider-item__title Психологический
                                br
                                | центр
                            .project-slider-item__img
                                img(src=project3 alt='')
                            .project-slider-item__desc Центр

                .b-home-container__control
                    a(href='').b-home-container__link Все проекты



    .b-home-container
        .container
            .b-home-gallery
                h2 Студенческая жизнь
                .b-home-gallery__list.b-home-gallery__list--project.js-home-mobile-gallery
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Студенческий совет
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие команды для участия в межвузовских соревнованиях, а также пропагандирует здоровый образ жизни в студенческой среде.
                        .home-gallery-card__img
                            img(src=gallery11 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Волонтерский отряд
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие
                        .home-gallery-card__img
                            img(src=gallery22 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Студенческий совет
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие команды для участия в межвузовских соревнованиях, а также пропагандирует здоровый образ жизни в студенческой среде.
                        .home-gallery-card__img
                            img(src=gallery33 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Волонтерский отряд
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие
                        .home-gallery-card__img
                            img(src=gallery44 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Студенческий совет
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие команды для участия в межвузовских соревнованиях, а также пропагандирует здоровый образ жизни в студенческой среде.
                        .home-gallery-card__img
                            img(src=gallery11 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Волонтерский отряд
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие
                        .home-gallery-card__img
                            img(src=gallery22 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Студенческий совет
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие команды для участия в межвузовских соревнованиях, а также пропагандирует здоровый образ жизни в студенческой среде.
                        .home-gallery-card__img
                            img(src=gallery33 alt='')
                    a(href='').home-gallery-card
                        .home-gallery-card__content
                            .home-gallery-card__title Волонтерский отряд
                            .home-gallery-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие
                        .home-gallery-card__img
                            img(src=gallery44 alt='')
                .b-home-container__control
                    a(href='').b-home-container__link Смотреть все





