doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': '...', 'name': '----====-----'});

        -links.push({'url': 'right-news', 'name': 'Новости'});
        -links.push({'url': 'right-news-detail', 'name': 'Новости Детальная'});
        -links.push({'url': 'right-history-success-detail', 'name': 'История успеха Детальная'});
        -links.push({'url': 'right-contacts', 'name': 'Контакты'});
        -links.push({'url': 'right-announcements', 'name': 'Анонсы'});
        -links.push({'url': 'right-announcements-detail', 'name': 'Анонсы Детальная'});
        -links.push({'url': 'right-structure', 'name': 'Структурное подразделение'});
        -links.push({'url': 'right-photo', 'name': 'Фото отчеты'});
        -links.push({'url': 'right-photo-detail', 'name': 'Фото отчеты Детальная'});
        -links.push({'url': 'right-photo-detail-v2', 'name': 'Фото отчеты Детальная v2!'});
        -links.push({'url': 'right-video', 'name': 'Видео репортажи'});
        -links.push({'url': 'right-video-detail', 'name': 'Видео репортажи Детальная'});
        -links.push({'url': 'right-docs', 'name': 'Документы'});
        -links.push({'url': 'right-result-search', 'name': 'Поиск по сайту'});
        -links.push({'url': 'right-result-search--news', 'name': 'Поиск по сайту - Новости'});

        -links.push({'url': '...', 'name': '----====-----'});

        -links.push({'url': 'left-about', 'name': 'О филиале'});
        -links.push({'url': 'left-academic-council', 'name': 'Ученый совет'});
        -links.push({'url': 'left-history-success', 'name': 'История успеха'});
        -links.push({'url': 'left-hall_of_fame', 'name': 'Доска почета'});
        -links.push({'url': 'left-projects', 'name': 'Проекты академии'});
        -links.push({'url': 'left-student_life', 'name': 'Студенческая жизнь'});
        -links.push({'url': 'left-teacher', 'name': 'Преподаватели'});
        -links.push({'url': 'left-structure-table', 'name': 'Структура'});
        -links.push({'url': 'left-school-of-great-opportun', 'name': 'Школа больших возможностей'});
        -links.push({'url': 'left-text-page', 'name': 'Текстовая страница'});
        -links.push({'url': 'left-selection-commite', 'name': 'Приемная комиссия'});
        -links.push({'url': 'left-teachers', 'name': 'Преподаватели и сотрудники'});
        -links.push({'url': 'left-graduates', 'name': 'Выпускники'});

        -links.push({'url': '...', 'name': '----====-----'});

        -links.push({'url': 'without-10_reasons', 'name': '10 причин выбрать РАНХиГС'});
        -links.push({'url': 'without-library', 'name': 'Библиотека'});
        -links.push({'url': 'without-entrant', 'name': 'Абитуриенту'});
        -links.push({'url': 'without-directory', 'name': 'Справочник'});
        -links.push({'url': 'without-schedule-page_1', 'name': 'Расписание занятий Студентов page_1'});
        -links.push({'url': 'without-schedule-page_1-detail', 'name': 'Расписание занятий Студентов page_1 Детальная'});
        -links.push({'url': 'without-schedule-page_2', 'name': 'Расписание занятий Преподавателей page_2'});
        -links.push({'url': 'without-schedule-page_2-detail', 'name': 'Расписание занятий Преподавателей page_2 Детальная'});
        -links.push({'url': 'without-schedule-page_3', 'name': 'Расписание занятий Аудиторий page_3'});
        -links.push({'url': 'without-schedule-page_3-detail', 'name': 'Расписание занятий Аудиторий page_3 Детальная'});
        -links.push({'url': 'without-schedule-page_4', 'name': 'Расписание занятий Свободные аудитории page_4 '});

        -links.push({'url': '...', 'name': '----====-----'});
        -links.push({'url': 'guide', 'name': 'Гайдлайн'});


        h2 Список свёрстанных страниц
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
