extends _layout

block title
    title Текстовая страница (Типографика)

block content
    -var img = './images/about/about-unvers@2x.jpg'
    -var img11 = './images/school-of-great-opportun/icon_1.jpg'
    -var imgSlider = './images/school-of-great-opportun/school.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/files/news/2019/2019_03_16_106.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_111_sq1024.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_113_sq1024.jpg'
    -var news4 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_116_sq1024.jpg'

    -var breadcrumbs = ['Текстовая страница (Типографика)']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        h2 Заголовок h2
                        p
                            b Алтайский филиал Российской Академии народного хозяйства и государственной службы
                            |  – это часть крупнейшего в Европе государственного университета социально-экономического и гуманитарного профиля, который закрепил за собой славу «кузницы министров». Наш филиал – это часть большой успешной
                            = ' '
                            a(href='') семьи РАНХиГС
                            = ' '
                            | , которая насчитывает 52 филиала на территории всей страны, с главным кампусом в Москве.   

                        .typography__img
                            img(src=img alt='')
                            span Фото: Здание Алтайского филиала РАНХиГС

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.
                        p Наш филиал  завоевал репутацию ведущего учебного заведения, качественно выполняющего заказы по подготовке, переподготовке и повышению квалификации государственных и муниципальных служащих администрации Алтайского края, а также госслужащих федеральных, краевых и муниципальных органов власти.

                        h3 Подзаголовок h3
                        .b-gallery-mini
                            .b-gallery-mini__list.js-gallery
                                a(href=news2 data-size="996x660").b-gallery-mini__item
                                    img(src=news2 alt='')
                                a(href=news3 data-size="996x660").b-gallery-mini__item
                                    img(src=news3 alt = '')
                                a(href=news4 data-size="996x660").b-gallery-mini__item
                                    img(src=news4 alt = '')
                                a(href=news2 data-size="996x660").b-gallery-mini__item
                                    img(src=news2 alt = '')
                                a(href=news3 data-size="996x660").b-gallery-mini__item
                                    img(src=news3 alt = '')
                                a(href=news2 data-size="996x660").b-gallery-mini__item
                                    img(src=news2 alt='')
                                a(href=news3 data-size="996x660").b-gallery-mini__item
                                    img(src=news3 alt = '')
                                a(href=news4 data-size="996x660").b-gallery-mini__item
                                    img(src=news4 alt = '')
                            .b-gallery-mini__more
                                .b-gallery-mini__btn
                                    span Смотреть еще

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.

                        .typography__slider.js-slider-typography
                            .typography__slider-item
                                img(src=imgSlider alt='')
                            .typography__slider-item
                                img(src=imgSlider alt='')
                            .typography__slider-item
                                img(src=imgSlider alt='')
                            .typography__slider-item
                                img(src=imgSlider alt='')

                        h4 Подзаголовок второстепенный - H4
                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.

                        h5 Подзаголовок второстепенный - H5
                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.

                        .video-detail
                            iframe(width="560" height="315" src="https://www.youtube.com/embed/Gq7rTej3c6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.

                        ul
                            li Документ, удостоверяющий личность, гражданство (ксерокопия 1 страницы и страницы с пропиской)
                            li Документ об образовании (оригинал или ксерокопию документа):
                                br
                                | – о среднем общем образовании;
                                br
                                | – о профессиональном образовании (о начальном профессиональном образовании (если в нем есть запись о получении среднего общего образования; о среднем профессиональном образовании; о высшем образовании);
                            li Копия свидетельства о смене фамилии (при несовпадении в документе об образовании);
                            li документы, подтверждающие особые права при поступлении и/или создании специальных условий при проведении вступительных испытаний, установленные законодательством Российской Федерации;
                            li документы, подтверждающие индивидуальные достижения обучающихся (оригинал, ксерокопия) (предоставляются по усмотрению поступающего);

                        h3.light Форма обратной связи - H3
                        .typography__form
                            form.b-form
                                .b-form__row
                                    .b-form__item
                                        label Имя
                                        input(type='text' placeholder='Укажите ваше имя' required)
                                    .b-form__item
                                        label E-mail
                                        input(type='email' placeholder='Укажите ваш e-mail' required)
                                .b-form__row
                                    .b-form__item.b-form__item--full
                                        label Сообщение
                                        textarea(required placeholder='Ваше сообщение')
                                .b-form__checkbox
                                    input(id='checkbox1' type='checkbox' required)
                                    label(for='checkbox1') Указав свои данные в форме, вы даете согласие на
                                        = ' '
                                        a(href='') обработку своих персональных данных
                                .b-form__control
                                    button.btn.btn--border Отправить сообщение

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.
                        ol
                            li Документ, удостоверяющий личность, гражданство (ксерокопия 1 страницы и страницы с пропиской)
                            li Документ об образовании (оригинал или ксерокопию документа):
                                br
                                | – о среднем общем образовании;
                                br
                                | – о профессиональном образовании (о начальном профессиональном образовании (если в нем есть запись о получении среднего общего образования; о среднем профессиональном образовании; о высшем образовании);
                            li Копия свидетельства о смене фамилии (при несовпадении в документе об образовании);
                            li документы, подтверждающие особые права при поступлении и/или создании специальных условий при проведении вступительных испытаний, установленные законодательством Российской Федерации;
                            li документы, подтверждающие индивидуальные достижения обучающихся (оригинал, ксерокопия) (предоставляются по усмотрению поступающего);
                        h5 Таблица №1. Подзаголовок второстепенный - H4-H5
                        .typography__table.js-scrollbar-table
                            .typography__table-wrap
                                table
                                    tbody
                                        tr(align='center')
                                            th(width='48%' ) Направление
                                            th(width='15%') Очная форма обучения
                                            th(width='18%') Очно-заочная форма обучения
                                            th(width='19%') Очно-заочная форма обучения
                                        tr(align='center')
                                            td(align='left') 38.03.04 Государственное и муниципальное управление
                                            td 15
                                            td —
                                            td —
                                        tr(align='center')
                                            td(align='left') 38.03.01 Экономика
                                            td 15
                                            td —
                                            td —
                                        tr(align='center')
                                            td(align='left') 40.03.01 Юриспруденция
                                            td 20
                                            td 10
                                            td —
                                        tr(align='center')
                                            td(align='left') 37.03.01 Психология
                                            td 20
                                            td —
                                            td 10

                        h3.light Начальник подразеделения - H3
                        .single-card-teacher
                            .single-card-teacher__img
                                img(src=img11 alt='')
                            .single-card-teacher__content
                                .single-card-teacher__header
                                    h4 Исакова Ирина Витальевна
                                    span руководителю проекта
                                .typography__teacher-info
                                    .typography__block-icon
                                        span Кабинет
                                        p.i-geo В200
                                    .typography__block-icon
                                        span Телефон
                                        a(href='tel:+73852504180').i-phone (385-2) 504-180
                                    .typography__block-icon
                                        span E-mail
                                        a(href='mailto:select@alt.ranepa.ru').i-email select@alt.ranepa.ru
                                    .typography__block-icon
                                        span Сайт
                                        a(href='https://www.alt.ranepa.ru').i-site www

                        +b-people-group-short()

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.

                        blockquote
                            p.i-blockquote.lg Андрей Павлович с применением практического материала рассмотрел проблему, в обиходе называемую «Оскорбление чувств верующих». А после докладов у нас с коллегами состоялась плодотворная дискуссия, – подвела итог заведующий кафедрой.

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.

                        blockquote.image
                            img(src=img11 alt='')
                            p Андрей Павлович с применением практического материала рассмотрел проблему, в обиходе называемую «Оскорбление чувств верующих». А после докладов у нас с коллегами состоялась плодотворная дискуссия, – подвела итог заведующий кафедрой.

                            div
                                h5 Исакова Ирина Витальевна
                                span руководителю проекта

                        blockquote.full-mobile
                            p.i-blockquote Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать.
                            div
                                h5 Исакова Ирина Витальевна
                                span руководителю проекта

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.

                        hr
                        .typography__doc.typography__doc--single
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о кафедре

                        .typography__doc
                            h3 Документы
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Лицензия на осуществление образовательной деятельности (с приложением) №2787 от 07 декабря 2018 г., бессрочная
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Свидетельство о государственной аккредитации №2784 от 12 марта 2018 г., действует до 12 марта 2024 г.

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Приложение №2 к свидетельству о государственной аккредитации от 12 марта 2018 г. №2784

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Устав академии

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Изменения в Устав (Постановление Правительства Российской Федерации от 08.07.2015 №687)
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о филиале

                        hr

                        #accordion.b-accordion
                            .b-accordion__item
                                .b-accordion__title.js-accordion Спойлер 1
                                .b-accordion__content
                                    p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.
                            .b-accordion__item
                                .b-accordion__title.js-accordion Спойлер 2
                                .b-accordion__content
                                    p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.
                            .b-accordion__item
                                    .b-accordion__title.js-accordion Спойлер 3
                                    .b-accordion__content
                                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.
                            .b-accordion__item
                                .b-accordion__title.js-accordion Спойлер 4
                                .b-accordion__content
                                    p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.
                            .b-accordion__item
                                .b-accordion__title.js-accordion Спойлер 5
                                .b-accordion__content
                                    p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях.

                        .typography__btn
                            a(href='#popup-apply').btn.btn--border.js-popup-question Подать заявку

                        h3.light Контактная информация
                        .typography__contact
                            .typography__teacher-info
                                .typography__block-icon
                                    p.i-geo 656008, Алтайский край, г. Барнаул, ул. Партизанская, 187
                                .typography__block-icon
                                    a(href='tel:+73852504397').i-phone (3852) 504-397
                                .typography__block-icon
                                    a(href='mailto:select@alt.ranepa.ru').i-email select@alt.ranepa.ru

                        .help
                            h4 Справка
                            p Researcher connect – это учебный курс на английском языке для учёных, аспирантов и других специалистов по развитию коммуникативных навыков, необходимых в жизненном цикле инноваций – от получения грантов, установления международных партнерств до успешных публикаций и выступлений на английском, включая использование инструментов для повышения видимости и цитируемости работ ученого и его организации.



