extends _layout

block title
    title Приемная комиссия

block content
    -var img = './images/school-of-great-opportun/school.jpg'
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var project1 = './images/projects/project-1@2x.jpg'
    -var project2 = './images/projects/project-2@2x.jpg'
    -var project3 = './images/projects/project-3@2x.jpg'
    -var project4 = './images/projects/project-4@2x.jpg'
    -var project5 = './images/projects/project-5@2x.jpg'
    -var project6 = './images/projects/project-6@2x.jpg'

    -var breadcrumbs = ['Приемная комиссия']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu-entrant()
                    +error

                section
                    .page-inner.typography
                        h3.light Режим работы приемной комиссии
                        .typography__work-mode
                            .work-mode
                                .work-mode__col-day
                                    .work-mode__item пн
                                    .work-mode__item вт
                                    .work-mode__item ср
                                    .work-mode__item чт
                                    .work-mode__item пт
                                    .work-mode__item сб
                                    .work-mode__item вс
                                .work-mode__col-time
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item 08:00 - 17:00
                                    .work-mode__item Выходной
                                .work-mode__col-lunch
                                    .work-mode__center
                                        .work-mode__icon
                                        .work-mode__item
                                            span Обед:
                                            | 12:00 - 13:00

                        hr

                        h3.light Контактная информация
                        .single-card-teacher
                            .single-card-teacher__img
                                img(src=img1 alt='')
                            .single-card-teacher__content
                                .single-card-teacher__header
                                    h4 Пономарева Татьяна Александровна
                                    span ответственный секретарь приемной комиссии
                                .typography__teacher-info
                                    .typography__block-icon
                                        span Кабинет
                                        p.i-geo В200
                                    .typography__block-icon
                                        span Телефон
                                        a(href='tel:+73852504180').i-phone (385-2) 504-180
                                    .typography__block-icon
                                        span E-mail
                                        a(href='mailto:select@alt.ranepa.ru').i-email select@alt.ranepa.ru
                                    .typography__block-icon
                                        span Сайт
                                        a(href='https://www.alt.ranepa.ru').i-site www

                        h3.light В приемную комиссию необходимо представить
                        ul
                            li Документ, удостоверяющий личность, гражданство (ксерокопия 1 страницы и страницы с пропиской)
                            li Документ об образовании (оригинал или ксерокопию документа):
                                br
                                | – о среднем общем образовании;
                                br
                                | – о профессиональном образовании (о начальном профессиональном образовании (если в нем есть запись о получении среднего общего образования; о среднем профессиональном образовании; о высшем образовании);
                            li Копия свидетельства о смене фамилии (при несовпадении в документе об образовании);
                            li документы, подтверждающие особые права при поступлении и/или создании специальных условий при проведении вступительных испытаний, установленные законодательством Российской Федерации;
                            li документы, подтверждающие индивидуальные достижения обучающихся (оригинал, ксерокопия) (предоставляются по усмотрению поступающего);
                            li 4 фотографии 3х4.

                        h3.light Проходной балл в 2018 году
                        .typography__table.js-scrollbar-table
                            .typography__table-wrap
                                table
                                    tbody
                                        tr(align='center')
                                            th(width='54%' ) Направление
                                            th(width='23%') Бюджетных мест
                                            th(width='23%') Проходной балл
                                        tr(align='center')
                                            td(align='left') 38.03.04 Государственное и муниципальное управление
                                            td 14
                                            td 230
                                        tr(align='center')
                                            td(align='left') 38.03.01 Экономика
                                            td 14
                                            td 234
                                        tr(align='center')
                                            td(align='left') 40.03.01 Юриспруденция
                                            td 14
                                            td 247
                                        tr(align='center')
                                            td(align='left') 37.03.01 Психология
                                            td 15
                                            td 211

                        h3.light Количество бюджетных мест в 2019 году
                        .typography__table.js-scrollbar-table
                            .typography__table-wrap
                                table
                                    tbody
                                        tr(align='center')
                                            th(width='48%' ) Направление
                                            th(width='15%') Очная форма обучения
                                            th(width='18%') Очно-заочная форма обучения
                                            th(width='19%') Очно-заочная форма обучения
                                        tr(align='center')
                                            td(align='left') 38.03.04 Государственное и муниципальное управление
                                            td 15
                                            td —
                                            td —
                                        tr(align='center')
                                            td(align='left') 38.03.01 Экономика
                                            td 15
                                            td —
                                            td —
                                        tr(align='center')
                                            td(align='left') 40.03.01 Юриспруденция
                                            td 20
                                            td 10
                                            td —
                                        tr(align='center')
                                            td(align='left') 37.03.01 Психология
                                            td 20
                                            td —
                                            td 10


                        .typography__doc
                            h3 Документы
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Лицензия на осуществление образовательной деятельности (с приложением) №2787 от 07 декабря 2018 г., бессрочная
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Свидетельство о государственной аккредитации №2784 от 12 марта 2018 г., действует до 12 марта 2024 г.
                                        span смотреть, 123 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Приложение №2 к свидетельству о государственной аккредитации от 12 марта 2018 г. №2784
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Устав академии
                                        span смотреть, 123 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Изменения в Устав (Постановление Правительства Российской Федерации от 08.07.2015 №687)
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о филиале
                                        span смотреть, 123 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Порядок подачи документов по почте
                                        span смотреть, 123 кб


                        hr
                        .typography__doc.last-margin
                            h3 Положения
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Порядок создания РАНХиГС экзаменационных и апелляционных комиссий для проведения вступительных испытаний при приеме на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о приемной комиссии РАНХиГС по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Порядок создания РАНХиГС экзаменационных и апелляционных комиссий для проведения вступительных испытаний при приеме на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о приемной комиссии РАНХиГС по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Порядок создания РАНХиГС экзаменационных и апелляционных комиссий для проведения вступительных испытаний при приеме на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение о приемной комиссии РАНХиГС по образовательным программам высшего образования – программам бакалавриата, программам специалитета, программам магистратуры
                                        span смотреть, 54 кб



