extends _layout

block title
    title Преподаватели и сотрудники

block content

    -var breadcrumbs = ['Преподаватели и сотрудники']
    +_sub-header('Преподаватели и сотрудники', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu-handbook()
                    +error

                section
                    .page-inner.typography
                        .b-filter
                            .b-filter__item
                                .selectbox.selectbox--label
                                    .selectbox__name Структурное подразделение
                                    .selectbox__box.js-selectbox
                                        .selectbox__selected Все
                                        .selectbox__dropdown
                                            .selectbox__option.active(data-value='1') Все
                                            .selectbox__option(data-value='2') Карьера
                                            .selectbox__option(data-value='3') Научная жизнь
                                    .selectbox-mobile
                                        select
                                            option(value='1') Все
                                            option(value='2') Карьера
                                            option(value='3') Научная жизнь
                            .b-filter__item
                                .textbox
                                    .textbox__name Поиск по  ФИО
                                    .textbox__box
                                        input(placeholder='Поиск')
                                        button(type='submit')
                            .b-filter__item
                                .selectbox
                                    .selectbox__name Показывать по:
                                    .selectbox__box.js-selectbox
                                        .selectbox__selected 12
                                        .selectbox__dropdown
                                            .selectbox__option.active(data-value='1') 12
                                            .selectbox__option(data-value='2') 16
                                            .selectbox__option(data-value='3') 34
                                    .selectbox-mobile
                                        select
                                            option(value='1') 12
                                            option(value='2') 16
                                            option(value='3') 34


                        +b-people-group('')
                        include blocks/_b-pagination

