extends _layout

block title
    title Проекты академии

block content
    -var header = './images/header/header-project@2x.jpg'
    -var project1 = './images/projects/project-1@2x.jpg'
    -var project2 = './images/projects/project-2@2x.jpg'
    -var project3 = './images/projects/project-3@2x.jpg'
    -var project4 = './images/projects/project-4@2x.jpg'
    -var project5 = './images/projects/project-5@2x.jpg'
    -var project6 = './images/projects/project-6@2x.jpg'

    -var breadcrumbs = ['Проекты академии']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content.page-content--left-aside.page-content--full
            .page-content__wrap
                aside
                    +menu-project()
                    +error


                section
                    .page-inner
                        .page-inner__list.page-inner__list--left
                            a(href='').project-card
                                .project-card__img
                                    img(src=project1 alt='')
                                .project-card__content
                                    .project-card__title Высшая школа государственного управления
                                    .project-card__desc Центр реализует программы дополнительного профессионального образования, осуществляет подготовку кадрового резерва, оценку компетенций и квалификаций должностных лиц субъектов РФ.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project2 alt='')
                                .project-card__content
                                    .project-card__title Школа больших возможностей
                                    .project-card__desc Уникальная образовательная площадка для старшеклассников, которые хотят учиться в престижном вузе и построить в будущем блестящую карьеру

                            a(href='').project-card
                                .project-card__img
                                    img(src=project3 alt='')
                                .project-card__content
                                    .project-card__title Психологический центр
                                    .project-card__desc Центр предоставляет психологические услуги студентам, сотрудникам Академии и другим лицам (отдельным гражданам, группам, организациям), обратившимся в Центр.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project4 alt='')
                                .project-card__content
                                    .project-card__title Юридическая клиника
                                    .project-card__desc Качественная подготовка юристов подразумевает не только приобретение теоретических знаний, но и развитие профессиональных умений и навыков.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project5 alt='')
                                .project-card__content
                                    .project-card__title Центр карьеры
                                    .project-card__desc Помощь в построении индивидуальной траектории профессионального развития, повышение конкурентоспособности выпускников Алтайского филиала РАНХиГС и молодых специалистов.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project6 alt='')
                                .project-card__content
                                    .project-card__title Центр развития образования
                                    .project-card__desc Обеспечение организационного и научно-методического участия Филиала в реализации основных направлений государственной политики в сфере образования.


