extends _layout

block title
    title О филиале

block content
    -var img = './images/about/about-unvers@2x.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'

    -var breadcrumbs = ['О филиале']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        p
                            b Алтайский филиал Российской Академии народного хозяйства и государственной службы
                            |  – это часть крупнейшего в Европе государственного университета социально-экономического и гуманитарного профиля, который закрепил за собой славу «кузницы министров». Наш филиал – это часть большой успешной
                            = ' '
                            a(href='') семьи РАНХиГС
                            | , которая насчитывает 52 филиала на территории всей страны, с главным кампусом в Москве.   

                        .typography__img
                            img(src=img alt='')
                            span Фото: Здание Алтайского филиала РАНХиГС

                        p Главная задача Президентской академии – подготовка высококвалифицированных руководящих кадров, как для государственных структур, так и для бизнеса. Наши выпускники – это конкурентоспособные специалисты в области управления, юриспруденции, финансов и психологии, настоящие лидеры, способные успешно работать в современных условиях. В числе слушателей и выпускников Российской академии народного хозяйства и государственной службы 15 руководителей субъектов Российской Федерации, избранных в сентябре 2018 года, среди которых и Губернатор Алтайского края Виктор Томенко.
                        p Наш филиал  завоевал репутацию ведущего учебного заведения, качественно выполняющего заказы по подготовке, переподготовке и повышению квалификации государственных и муниципальных служащих администрации Алтайского края, а также госслужащих федеральных, краевых и муниципальных органов власти.
                        h3 Факты
                        .about-data.js-about-slider
                            .about-data__item
                                .about-data__number 3 500
                                    .about-data__icon.about-data__icon--1
                                .about-data__text выпускников получивших высшее профессиональное образование, в филиале РАНХиГС Алтайского края

                            .about-data__item
                                .about-data__number 10
                                    .about-data__icon.about-data__icon--2
                                .about-data__text направлений общественной деятельности внутри Академии: научные проекты, театральный коллективы и пр.

                            .about-data__item
                                .about-data__number 80%
                                    .about-data__icon.about-data__icon--3
                                .about-data__text студентов получают предложения о трудоустройстве еще во время обучения в Академии
                        .typography__group-line
                            p Алтайский филиал РАНХиГС поддерживает качество своих образовательных услуг на самом высоком уровне. Нам это удаётся благодаря непрерывному самосовершенствованию, высококвалифицированным преподавателям и современным подходам к образовательному процессу.
                            p Новые образовательные технологии – визитная карточка нашего филиала. Основу программ Академии составляют активные методы обучения. Проектный подход, «ситуационные кейсы», тренажеры, тренинги, деловые игры и другие формы работы со студентами демонстрируют эффективность усвоения новых знаний, умений и навыков.
                            p Современное оснащение Алтайского филиала РАНХиГС в сочетании с инновационными формами обучения способствует развитию познавательной активности студентов. Наш вуз идёт в ногу со временем. Для удобства получения знаний в Академии создается база видеолекций от преподавателей нашего вуза, активно используется электронная образовательная площадка Moodle.
                            p Индивидуальный подход позволяет раскрыть потенциал всех обучающихся: студент-первокурсник легко адаптируется в новых условиях, а выпускник намечает карьерные пути и векторы саморазвития. За 17 лет работы в стенах Алтайского филиала РАНХиГС получили высшее образование, повысили квалификацию и прошли профессиональную переподготовку более 12 тысяч человек.


