extends _layout

block title
    title Ученый совет

block content

    -var breadcrumbs = ['О филиале', 'Ученый совет']
    +_sub-header('Ученый совет', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        p
                            b Ученый совет
                            |  Алтайского филиала федерального государственного бюджетного образовательного учреждения высшего образования «Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации» является выборным представительным органом и осуществляет общее руководство Алтайским филиалом Академии.
                        p В состав ученого совета по должности входят директор и заместители директора Алтайского филиала РАНХиГС. Другие члены ученого совета избираются собранием научных, педагогических работников, представителей других категорий работников и обучающихся Алтайского филиала РАНХиГС.
                        p Состав ученого совета Алтайского филиала РАНХиГС утверждается ученым советом РАНХиГС и объявляется приказом ректора. Срок полномочий ученого совета составляет 5 лет. Основными задачами ученого совета являются: определение текущих и перспективных направлений деятельности филиала, объединение усилий руководства филиала, научно-педагогических работников, учебно-вспомогательного персонала в целях подготовки специалистов, отвечающих современным требованиям, координация учебной, учебно-методической, научно-исследовательской, воспитательной и иной деятельности филиала.

                        +b-people-group('Ученый совет')
                        h3 Компетенции ученого совета
                        ul
                            li решение вопросов учебной, учебно-методической, научно-исследовательской и информационно-аналитической работы, подготовки кадров, осуществление международных связей филиала, утверждение учебных планов и программ, устанавливание норм учебной нагрузки для профессорско-преподавательского состава, рассмотрение контрольных цифр приёма обучающихся и слушателей на очередной учебный год и представление их для утверждения в Академию, решение вопросов координации учебных планов кафедр и факультетов, принятие решений по всем вопросам организации учебного процесса, включая сроки обучения, в соответствии с требованиями федеральных государственных образовательных стандартов, перенос сроков начала учебного года, утверждение порядка формирования планов научно-исследовательской деятельности филиала;
                            li заслушивание докладов директора, его заместителей, руководителей подразделений, преподавателей филиала по отдельным направлениям деятельности;
                            li рассмотрение планов финансово-хозяйственной деятельности и социального развития филиала;
                            li рассмотрение отчетов об исполнении плана финансово-хозяйственной деятельности филиала;
                            li принятие решений по вопросам представления к присвоению ученых званий доцента и профессора работников филиала из числа профессорско-преподавательского состава;
                            li проведение конкурса на замещение должностей научно-педагогических работников;
                            li рассмотрение вопросов организационной структуры филиала, принятие решений о создании и ликвидации структурных подразделений филиала;
                            li утверждение годовых планов научно-исследовательских работ филиала;
                            li принятие решений о рекомендации к опубликованию учебной, научной, методической и иной литературы;
                            li рассмотрение вопросов редакционно-издательской деятельности;
                            li рассмотрение и учет в своей деятельности рекомендаций общественных организаций и государственно-общественных объединений в системе высшего и послевузовского профессионального образования;
                            li рассмотрение проектов локальных нормативных актов, направленных на регулирование правового положения подразделений, финансовых, трудовых и иных важных вопросов функционирования филиала;
                            li принятие решений по другим вопросам, отнесенным к компетенции ученого совета филиала Уставом Академии, Положением о филиале Академии и иными локальными актами Академии.

                        hr
                        .typography__doc
                            h3 Документы
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение об ученом совете филиала
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p План работы ученого совета
                                        span смотреть, 123 кб
