extends _layout

block title
    title История успеха

block content
    -var img1 = './images/history-success/1@2x.jpg'
    -var img2 = './images/history-success/2@2x.jpg'
    -var img3 = './images/history-success/3@2x.jpg'
    -var breadcrumbs = ['История успеха']

    +_sub-header('История успеха', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu-short()
                    +error

                section
                    .page-inner.typography
                        p У каждого из нас есть своя копилка достижений. Но как превратить это собрание свершений в истинную историю успеха? Для многих эту возможность открыла Академия при Президенте РФ, — высшее учебное заведение, которое уже многие годы формирует в России пул эффективных и, безусловно, успешных профессионалов. Для тысяч историй успеха отправной или же контрольной точкой стал Алтайский филиал Президентской Академии. В этом разделе вы найдете небольшие рассказы о себе наших выпускников, студентов и сотрудников. У одних за плечами есть уже немало внушительных достижений, у других история успеха только начинается. Так или иначе, а всех наших героев объединяет Алтайский филиал Академии при Президенте РФ, — вуз, делающий историю каждого успешной.
                        include blocks/_b-pagination--without-select
                        .card-people__list
                            a(href='').card-people
                                img(src=img1 alt='')
                                .card-people__name Ксения Кустова
                                .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …

                            a(href='').card-people
                                img(src=img2 alt='')
                                .card-people__name Анастасия Зеленская
                                .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                            a(href='').card-people
                                img(src=img3 alt='')
                                .card-people__name Елена Прейс
                                .card-people__desc Еще совсем недавно будущий финансист Елена ПРЕЙС переживала серьезные проблемы с математикой. Но еще учась на четвертом курсе, она стала ведущим специалистом отдела ипотечного кредитования крупного банка и вспоминает о «двойке» по «царице наук» с улыбкой – труд и целеустремленность помогли студентке избавиться …
                            a(href='').card-people
                                img(src=img1 alt='')
                                .card-people__name Ксения Кустова
                                .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …

                            a(href='').card-people
                                img(src=img2 alt='')
                                .card-people__name Анастасия Зеленская
                                .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                            a(href='').card-people
                                img(src=img3 alt='')
                                .card-people__name Елена Прейс
                                .card-people__desc Еще совсем недавно будущий финансист Елена ПРЕЙС переживала серьезные проблемы с математикой. Но еще учась на четвертом курсе, она стала ведущим специалистом отдела ипотечного кредитования крупного банка и вспоминает о «двойке» по «царице наук» с улыбкой – труд и целеустремленность помогли студентке избавиться …

                            a(href='').card-people
                                img(src=img1 alt='')
                                .card-people__name Ксения Кустова
                                .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …

                            a(href='').card-people
                                img(src=img2 alt='')
                                .card-people__name Анастасия Зеленская
                                .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                            a(href='').card-people
                                img(src=img3 alt='')
                                .card-people__name Елена Прейс
                                .card-people__desc Еще совсем недавно будущий финансист Елена ПРЕЙС переживала серьезные проблемы с математикой. Но еще учась на четвертом курсе, она стала ведущим специалистом отдела ипотечного кредитования крупного банка и вспоминает о «двойке» по «царице наук» с улыбкой – труд и целеустремленность помогли студентке избавиться …

                            a(href='').card-people
                                img(src=img1 alt='')
                                .card-people__name Ксения Кустова
                                .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …

                            a(href='').card-people
                                img(src=img2 alt='')
                                .card-people__name Анастасия Зеленская
                                .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                            a(href='').card-people
                                img(src=img3 alt='')
                                .card-people__name Елена Прейс
                                .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                        include blocks/_b-pagination


