extends _layout

block title
    title Новости

block content
    -var sliderNews1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_400_sq480x380.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'

    .page-content.page-content--left-aside
        aside
            +menu('1')

        section
            .b-schoole.typography
                // typogrfi
                // gallery


