extends _layout

block title
    title Студенческая жизнь

block content
    -var header = './images/header/header-student@2x.jpg'
    -var project1 = './images/student/student-1@2x.jpg'
    -var project2 = './images/student/student-2@2x.jpg'
    -var project3 = './images/student/student-3@2x.jpg'
    -var project4 = './images/student/student-4@2x.jpg'
    -var project5 = './images/student/student-5@2x.jpg'
    -var project6 = './images/student/student-6@2x.jpg'
    -var project7 = './images/student/student-7@2x.jpg'
    -var project8 = './images/student/student-8@2x.jpg'

    -var breadcrumbs = ['Студенческая жизнь']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content.page-content--left-aside.page-content--full
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner
                        .page-inner__list.page-inner__list--left
                            a(href='').project-card
                                .project-card__img
                                    img(src=project1 alt='')
                                .project-card__content
                                    .project-card__title Студенческий совет
                                    .project-card__desc Органом студенческого самоуправления в Алтайском филиале РАНХиГС является Студенческий совет, который был создан в 2005 году группой инициативных студентов с целью защиты и осуществления своих прав и интересов, организации общественной деятельности студентов.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project2 alt='')
                                .project-card__content
                                    .project-card__title Волонтерский отряд
                                    .project-card__desc Органом студенческого самоуправления в Алтайском филиале РАНХиГС является Студенческий совет, который был создан в 2005 году группой инициативных студентов с целью защиты и осуществления своих прав и интересов, организации общественной деятельности студентов.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project3 alt='')
                                .project-card__content
                                    .project-card__title Спортивный сектор
                                    .project-card__desc Занимается организацией и проведением спортивно-оздоровительных мероприятий, создает студенческие команды для участия в межвузовских соревнованиях, а также пропагандирует здоровый образ жизни в студенческой среде.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project4 alt='')
                                .project-card__content
                                    .project-card__title Театральная студия
                                    .project-card__desc Театральная студия начала свою деятельность в 2017 году. В ее репетрутаре уже имеются такие постановки, как новогодняя сказка «Как поссорились елочные игрушки», театральная постановка по мотивам романа Л.Н. Толстого «Первый бал Наташи Ростовой», спектакль «Монологи о войне.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project5 alt='')
                                .project-card__content
                                    .project-card__title Студенческие отряды
                                    .project-card__desc Органом студенческого самоуправления в Алтайском филиале РАНХиГС является Студенческий совет, который был создан в 2005 году группой инициативных студентов с целью защиты и осуществления своих прав и интересов, организации общественной деятельности студентов.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project6 alt='')
                                .project-card__content
                                    .project-card__title Танцевальная студия
                                    .project-card__desc Танцевальная студия Академии, функционируя с 2016 года, уже успела стать призером краевых, городских и районных конкурсов, в том числе лауреатом III Краевого фестиваля XXI студенческого творчества «Студенческая весна на Алтае. Феста – 2018» в номинациях «Уличные танцы» (командный зачет) и «Эстрадный дуэт», призером II степени конкурса «Молодежная палитра-2018» и других.

                            a(href='').project-card
                                .project-card__img
                                    img(src=project7 alt='')
                                .project-card__content
                                    .project-card__title Пресс-центр
                                    .project-card__desc Это команда наиболее активных, любопытных ребят, которые всегда в центре событий и в курсе любых новостей! Пресс-центр – это главный информатор Алтайского филиала РАНХиГС, оповещающий студентов обо всех мероприятиях, конкурсах, событиях. Так что забыть о чем-то важном вам попросту не удастся!

                            a(href='').project-card
                                .project-card__img
                                    img(src=project8 alt='')
                                .project-card__content
                                    .project-card__title Танцевальная студия
                                    .project-card__desc Дискуссионный клуб «Дебаты» Алтайского филиала РАНХиГС – это добровольное студенческое объединение студентов, которые хотят научиться говорить уверенно и убедительно в любой жизненной ситуации, именно поэтому основной целью Клуба является обучение своих членов ораторскому искусству, логике и аргументации.


