extends _layout

block title
    title Доска почета

block content

    -var breadcrumbs = ['Доска почета']
    +_sub-header('Доска почета', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        +b-people-group('')

