extends _layout

block title
    title Структура

block content

    -var breadcrumbs = ['О филиале', 'Структура']
    +_sub-header('Структура', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        .typography__structure-tabs.js-table-tabs
                            button.btn.active(data-anchor="1") Образовательные программы
                            button.btn(data-anchor="2") Численность обучающихся
                            button.btn(data-anchor="3") Результат приема
                            button.btn(data-anchor="4") Результат перевод
                            button.btn(data-anchor="5") Документы
                            button.btn(data-anchor="6") НИР
                        h3.light Структура и органы управления Алтайского филиала РАНХиГС
                        .b-custom-table.js-scrollbar-table
                            .b-custom-table__wrap(data-content="1").active
                                table
                                    tbody
                                        tr
                                            th Наименование органа управления / структурного подразделения
                                            th ФИО руководителя структурного подразделения
                                            th Должность руководителя структурного подразделения
                                            th Адрес местонахождения структурного подразделения
                                            th Адрес официального сайта структурного подразделения
                                            th Адреса электронной почты структурного подразделения
                                            th Положение об органе управления/ о структурном подразделении
                                        tr
                                            td(colspan='7') Органы управления образовательной организации:
                                        tr
                                            td Ученый совет
                                            td Панарин Игорь Анатольевич
                                            td председатель ученого совета, директор филиала, доктор психологических наук
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. А201
                                            td нет
                                            td
                                                a(href='mailto:ssv@alt.ranepa.ru').table-email ssv@alt.ranepa.ru
                                            td
                                                a(href='') Положение об ученом совете


                                        tr
                                            td(colspan='7') Структурные подразделения образовательной организации:
                                        tr
                                            td Учебно-методический отдел
                                            td Борщёва Надежда Александровна
                                            td начальник отдела
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. В209
                                            td нет
                                            td
                                                a(href='mailto:umo@alt.ranepa.ru').table-email umo@alt.ranepa.ru
                                            td
                                                a(href='') Положение об учебно-методическом отделе
                            .b-custom-table__wrap(data-content="2")
                                table
                                    tbody
                                        tr
                                            th Наименование органа управления / структурного подразделения
                                            th ФИО руководителя структурного подразделения
                                            th Должность руководителя структурного подразделения
                                            th Адрес местонахождения структурного подразделения
                                            th Адрес официального сайта структурного подразделения
                                            th Адреса электронной почты структурного подразделения
                                            th Положение об органе управления/ о структурном подразделении
                                        tr
                                            td(colspan='7') Органы управления образовательной организации:
                                        tr
                                            td Ученый совет
                                            td Панарин Игорь Анатольевич
                                            td председатель ученого совета, директор филиала, доктор психологических наук
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. А201
                                            td нет
                                            td
                                                a(href='mailto:ssv@alt.ranepa.ru').table-email ssv@alt.ranepa.ru
                                            td
                                                a(href='') Положение об ученом совете


                                        tr
                                            td(colspan='7') Структурные подразделения образовательной организации:
                                        tr
                                            td Учебно-методический отдел
                                            td Борщёва Надежда Александровна
                                            td начальник отдела
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. В209
                                            td нет
                                            td
                                                a(href='mailto:umo@alt.ranepa.ru').table-email umo@alt.ranepa.ru
                                            td
                                                a(href='') Положение об учебно-методическом отделе

                                        tr
                                            td(colspan='7') Структурные подразделения образовательной организации:
                                        tr
                                            td Учебно-методический отдел
                                            td Борщёва Надежда Александровна
                                            td начальник отдела
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. В209
                                            td нет
                                            td
                                                a(href='mailto:umo@alt.ranepa.ru').table-email umo@alt.ranepa.ru
                                            td
                                                a(href='') Положение об учебно-методическом отделе
                            .b-custom-table__wrap(data-content="3")
                                table
                                    tbody
                                        tr
                                            th Наименование органа управления / структурного подразделения
                                            th ФИО руководителя структурного подразделения
                                            th Должность руководителя структурного подразделения
                                            th Адрес местонахождения структурного подразделения
                                            th Адрес официального сайта структурного подразделения
                                            th Адреса электронной почты структурного подразделения
                                            th Положение об органе управления/ о структурном подразделении
                                        tr
                                            td(colspan='7') 111 Органы управления образовательной организации:
                                        tr
                                            td Ученый совет
                                            td Панарин Игорь Анатольевич
                                            td председатель ученого совета, директор филиала, доктор психологических наук
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. А201
                                            td нет
                                            td
                                                a(href='mailto:ssv@alt.ranepa.ru').table-email ssv@alt.ranepa.ru
                                            td
                                                a(href='') Положение об ученом совете


                                        tr
                                            td(colspan='7') Структурные подразделения образовательной организации:
                                        tr
                                            td Учебно-методический отдел
                                            td Борщёва Надежда Александровна
                                            td начальник отдела
                                            td 656008, г. Барнаул, ул. Партизанская, 187, каб. В209
                                            td нет
                                            td
                                                a(href='mailto:umo@alt.ranepa.ru').table-email umo@alt.ranepa.ru
                                            td
                                                a(href='') Положение об учебно-методическом отделе
