extends _layout

block title
    title Преподаватели

block content

    -var breadcrumbs = ['Преподаватели', 'Панарин Игорь Анатольевич']
    -var img1 = './images/teacher/icon-teacher@2x.jpg'

    +_sub-header('Преподаватели', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding.page-content--accordion
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        h2.teacher Панарин Игорь Анатольевич
                        .typography__teacher
                            .typography__teacher-img
                                img(src=img1 alt='')
                            .typography__teacher-content
                                p Директор Алтайского филиала РАНХиГС, заведующий кафедрой психологии и социологии управления, д.псх.н.
                                .typography__teacher-info
                                    .typography__block-icon
                                        span Кабинет
                                        p.i-geo В200
                                    .typography__block-icon
                                        span Телефон
                                        a(href='tel:+73852504180').i-phone (385-2) 504-180
                                    .typography__block-icon
                                        span E-mail
                                        a(href='mailto:select@alt.ranepa.ru').i-email select@alt.ranepa.ru
                                a(href='').typography__teacher-time-table Расписание занятий преподавателя

                        .teacher-accordion.js-teacher-accordion
                            .teacher-accordion__item
                                h3.light.js-accordion Образование
                                .typography__desc.js-accordion-content
                                    .typography__desc-item
                                        b 1992 г.
                                        p – окончил Алтайский государственный университет по специальности «История».
                                    .typography__desc-item
                                        b 2002 г.
                                        p – защитил кандидатскую диссертацию «Социально-психологические свойства личности государственных служащих как основа совершенствования кадровой работы» по специальности 19.00.05 – «Социальная психология».
                                    .typography__desc-item
                                        b 2010 г.
                                        p – защитил докторскую диссертацию «Психология социальной ответственности лидеров молодежных движений» по специальности 19.00.05 – «Социальная психология».

                            .teacher-accordion__item
                                h3.light.js-accordion Повышение квалификации
                                .typography__desc.js-accordion-content
                                    .typography__desc-item
                                        b 2017 г.
                                        p –  повышение квалификации по дополнительной профессиональной программе «Организация электронной информационно-образовательной среды образовательной организации с использованием информационно-коммуникационных технологий» (РАНХиГС).
                                    .typography__desc-item
                                        b 2017 г.
                                        p – краткосрочное обучение по программе «Навыки оказания первой помощи» (РАНХиГС).

                            .teacher-accordion__item
                                h3.light.js-accordion Преподаваемые дисциплины
                                ul.js-accordion-content
                                    li История психологии.
                                    li Методологические основы психологии.
                                    li Методология и методы психологического исследования.
                                    li Прикладная социальная психология в образовании.
                                    li Социальная психология.

                            .teacher-accordion__item
                                h3.light.js-accordion Научные интересы
                                ul.js-accordion-content
                                    li Проблемы социальной ответственности лидеров молодежных движений.
                                    li Организация государственной службы.

                            .teacher-accordion__item
                                h3.light.js-accordion Публикации
                                ul.js-accordion-content
                                    li Панарин И.А. Психологические факторы социализации современной российской молодежи: учебно-методическое пособие / И.А. Панарин. – Барнаул: Азбука, 2012.
                                    li Панарин И.А. Психология социальной ответственности: современное состояние и подходы / И.А. Панарин, В.В. Очнев, А.В. Шлегель // Социальная политика и социология. – 2012. – № 8.
                                    li Панарин И.А. Имидж города в Интернет – пространстве / И.А. Панарин, Е.А. Петрова // ЗАПАД-ВОСТОК: имиджевый диалог»: Том 1: материалы XI международного симпозиума по имиджелогии 16-17 мая, 2013.
                                    li Панарин И.А. Ethnic Auto-And Hetero-Stereotypes of Representatives of the Indigenous Population and Immigrants in the Contemporary Metropolis / И.А. Панарин, Е.А. Петрова, Т.И. Бонкало и др. // Asian Social Science; Vol.10, No. 24; 2014.
                aside
                    +menu()
                    +error
