extends _layout

block title
    title Выпускники

block content

    -var breadcrumbs = ['Выпускники']
    +_sub-header('Выпускники', breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu()
                    +error

                section
                    .page-inner.typography
                        p Каждое производство гордится плодами своей работы. Для вуза - это выпускники. Многие наши бывшие студенты и слушатели успешно работают в органах государственного и муниципального управления Алтайского края, занимают руководящие должности в регионе и за его пределами. Наши выпускники у нас частые гости, но теперь уже в роли выступающих, консультантов, преподавателей.
                        hr
                        .b-filter.b-filter--graduates
                            .b-filter__item
                                .selectbox.selectbox--label
                                    .selectbox__name Год выпуска
                                    .selectbox__box.js-selectbox
                                        .selectbox__selected 2002
                                        .selectbox__dropdown
                                            .selectbox__option.active(data-value='1') 2002
                                            .selectbox__option(data-value='2') 2003
                                            .selectbox__option(data-value='3') 2004
                                    .selectbox-mobile
                                        select
                                            option(value='1') 2002
                                            option(value='2') 2003
                                            option(value='3') 2004
                            .b-filter__item
                                .selectbox.selectbox--label
                                    .selectbox__name Специальность
                                    .selectbox__box.js-selectbox
                                        .selectbox__selected Все
                                        .selectbox__dropdown
                                            .selectbox__option.active(data-value='1') Все
                                            .selectbox__option(data-value='2') Специальность
                                            .selectbox__option(data-value='3') Специальность
                                    .selectbox-mobile
                                        select
                                            option(value='1') Все
                                            option(value='2') Специальность
                                            option(value='3') Специальность
                            .b-filter__item
                                .selectbox.selectbox--label
                                    .selectbox__name Форма обучения
                                    .selectbox__box.js-selectbox
                                        .selectbox__selected Все
                                        .selectbox__dropdown
                                            .selectbox__option.active(data-value='1') Все
                                            .selectbox__option(data-value='2') Форма обучения
                                            .selectbox__option(data-value='3') Форма обучения
                                    .selectbox-mobile
                                        select
                                            option(value='1') Все
                                            option(value='2') Форма обучения
                                            option(value='3') Форма обучения
                            .b-filter__item
                                .textbox
                                    .textbox__name Поиск по  ФИО
                                    .textbox__box
                                        input(placeholder='Поиск')
                                        button(type='submit')

                        +b-people-group('')
                        include blocks/_b-pagination

