extends _layout

block title
    title Школа больших возможностей

block content
    -var img = './images/school-of-great-opportun/school.jpg'
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var project1 = './images/projects/project-1@2x.jpg'
    -var project2 = './images/projects/project-2@2x.jpg'
    -var project3 = './images/projects/project-3@2x.jpg'
    -var project4 = './images/projects/project-4@2x.jpg'
    -var project5 = './images/projects/project-5@2x.jpg'
    -var project6 = './images/projects/project-6@2x.jpg'

    -var breadcrumbs = ['Проекты', 'Школа больших возможностей']
    +_sub-header(breadcrumbs[1], breadcrumbs)
    .container
        .page-content.page-content--left-aside.page-content--left-padding
            .page-content__wrap
                aside
                    +menu-project()
                    +error

                section
                    .page-inner.typography
                        h3.light Факты
                        p Научно-практическая конференция «
                            a(href='') Проектная деятельность учащейся молодёжи
                            | » состоится 15 февраля в 12.00. Конкурс для школьников «
                            a(href='') Математика вокруг нас
                            | » состоится 2 марта в 15.00.
                        p По итогам участия школьников в мероприятиях в конце каждого месяца обновляется рейтинг. Ознакомиться с ним можно
                            = ' '
                            a(href='') здесь
                            | . Приглашаем 10-11-классников присоединиться к проекту. Записаться в Школу можно
                            = ' '
                            a(href='') здесь
                            | . Также все будущие студенты Школы больших возможностей могут присоединиться к 
                            = ' '
                            a(href='') группе Вконтакте
                            | , где они смогут узнать всю актуальную информацию о работе Школы. 
                        img(src=img alt='')
                        h3.light «Школа больших возможностей» это:
                        ul
                            li
                                b проект для старшеклассников
                                | , которые хотят учиться в престижном вузе и построить в будущем блестящую карьеру
                            li
                                b уникальная образовательная площадка
                                | для формирования «Президентского резерва» – будущих студентов Президентской академии, целенаправленно выбравших вуз
                            li
                                b профориентационный центр
                                | , позволяющий не только детально познакомиться с будущей профессией, но и разобраться с собственным призванием, верно выбрать направление обучения
                            li
                                b территория партнерства
                                | и творчества, где каждый завяжет полезные знакомства и найдет новых друзей
                            li
                                b особая атмосфера
                                | Академии, с которой просто необходимо познакомиться каждому, кто планирует учиться у нас
                            li
                                b серьезные бонусы
                                | - возможность получить большую скидку на обучение

                        p В рамках Школы учащиеся 10–11 классов, техникумов, колледжей могут принять участие во множестве мероприятий, выстроенных по четырем векторам:
                        ul
                            li «Будущий экономист»
                            li «Будущий управленец»
                            li «Будущий юрист»
                            li «Будущий психолог»
                        p Все мероприятия разработаны по принципу «Легко. Доступно. Для всех» и будут одинаково полезны и интересны, вне зависимости от того, какая профессия вам ближе. В программе курсов профтестирование, профориентационный квест, деловые игры и психологические тренинги, мастер-классы, круглые столы и  консультации к ЕГЭ, бизнес-игры, квизы, воркшопы, конкурсы и многое другое. 
                        hr
                        h3.light Записаться на мероприятие
                        .single-card-teacher
                            .single-card-teacher__img
                                img(src=img1 alt='')
                            .single-card-teacher__content
                                .single-card-teacher__header
                                    h4 Исакова Ирина Витальевна
                                    span руководителю проекта
                                .typography__teacher-info
                                    .typography__block-icon
                                        span Кабинет
                                        p.i-geo В200
                                    .typography__block-icon
                                        span Телефон
                                        a(href='tel:+73852504180').i-phone (385-2) 504-180
                                    .typography__block-icon
                                        span E-mail
                                        a(href='mailto:select@alt.ranepa.ru').i-email select@alt.ranepa.ru
                                    .typography__block-icon
                                        span Сайт
                                        a(href='https://www.alt.ranepa.ru').i-site www

                        .banner-percent
                            .banner-percent__block
                                .banner-percent__title
                                    span Заработай себе скидку НА ОБУЧЕНИЕ!
                                .banner-percent__content
                                    h5 5 шагов индивидуальной бонусной программы:
                                    p Школа больших возможностей – это уникальный шанс самостоятельно заработать себе скидку** на обучение, участвуя в индивидуальной программе «5 шагов»! 
                                    .typography__desc
                                        .typography__desc-item
                                            b 1 Шаг
                                            p – Выбирайте мероприятия, которые полезны, необходимы, интересны лично для вас и активно участвуйте в них;

                                        .typography__desc-item
                                            b 2 Шаг
                                            p – Получайте за участие баллы, согласно рейтингу. Каждое мероприятие имеет свой рейтинг от 1 до 5 баллов (согласно Плану мероприятий на 2018/2019 учебный год). Максимально можно заработать 15 баллов;

                                        .typography__desc-item
                                            b 3 Шаг
                                            p – Подсчитайте полученные баллы в конце года. В зависимости от общей суммы ваших баллов, вы попадете в одну из трёх категорий 
                                                strong Президентского резерва*
                                                | . Чем больше баллов, тем выше категория и, соответственно, тем больше скидка;

                                        .typography__desc-item
                                            b 4 Шаг
                                            p – Поступайте в Алтайский филиал РАНХиГС;

                                        .typography__desc-item
                                            b 5 Шаг
                                            p – Получите скидку.

                            span * - Система «Президентский резерв»
                        p Чем больше мероприятий вы посещаете, чем более сложные задания выбираете, тем большую скидку зарабатываете!Активность студентов Школы оформлена в три уровня: «Золотой резерв», «Серебряный резерв», «Бронзовый резерв». Размер итоговой скидки зависит от категории, в которую входит студент Школы. Чем выше ваш рейтинг в Школе, тем больше итоговая скидка. В конце каждого месяца будет опубликован рейтинг, где студенты Школы смогут увидеть, в каком Резерве находятся на данный момент. 

                        .typography__table.typography__table--short.js-scrollbar-table
                            .typography__table-wrap
                                table.no-hover
                                    tbody
                                        tr
                                            th Резерв
                                            th Набранные баллы
                                            th Размер скидки в % от базовой стоимости 2019 г.
                                        tr
                                            td «Золотой резерв»
                                            td 15
                                            td 31%
                                        tr
                                            td «Серебряный резерв»
                                            td 10 – 14
                                            td 20%
                                        tr
                                            td «Бронзовый резерв»
                                            td 5 – 9 
                                            td 14%

                        h3.light Олимпиады и конкурсы
                        p Пожалуй, самым эффективным способом заявить о себе и набрать максимальное количество баллов, будет участие в наших конкурсах и олимпиадах. Победители (1, 2, 3 место) получают от 3 до 5 баллов. Приглашаем к участию!

                        .typography__table.typography__table--long.js-scrollbar-table
                            .typography__table-wrap
                                table.no-hover
                                    tbody
                                        tr
                                            th №
                                            th Мероприятие
                                            th Кто может принять участие
                                            th Баллы в рейтинге «Школы больших возможностей»
                                        tr
                                            td 1
                                            td Олимпиада РАНХиГС по истории, обществознанию, экономике (входит в перечень олимпиад, дающих право на доп. баллы к ЕГЭ)
                                            td Учащиеся 10 – 11 классов
                                            td 1 предмет – 3 балла победителям и призерам этапа
                                        tr
                                            td 2
                                            td Краевая олимпиада школьников по основам налоговых знаний совместно с Управлением Федеральной налоговой службы по Алтайскому краю (подготовка и проведение индивидуального и командного этапов)
                                            td Учащиеся 9 – 11 классов
                                            td(rowspan="5")
                                                | I место – 5
                                                br
                                                | II место – 4
                                                br
                                                | III место – 3
                                                br
                                                | Участие – 2

                                        tr
                                            td 3
                                            td VII краевая научно-практическая конференция «Проектная деятельность учащейся молодежи»
                                            td Учащиеся 9 – 11 классов

                                        tr
                                            td 4
                                            td Конкурс для школьников «Математика вокруг нас»
                                            td Учащиеся 9 – 11 классов


                                        tr
                                            td 5
                                            td Конкурс «Я – предприниматель» 
                                            td Учащиеся 10 – 11 классов

                                        tr
                                            td 6
                                            td Конкурс творческих работ «Развитие российского права», проводимого совместно с Алтайским краевым судом
                                            td Учащиеся 11 классов


                                        tr
                                            td 7
                                            td Конкурс  «В мире экономики»
                                            td Учащиеся ссузов
                                            td
                                                | I место – 5
                                                br
                                                | II место – 4
                                                br
                                                | III место – 3
                                                br
                                                | Участие – 2
                                        tr
                                            td 8
                                            td Конкурс  творческих эссе «Профессиональное самоопределение»
                                            td Учащиеся 9 – 11 классов
                                            td
                                                | I место – 5
                                                br
                                                | II место – 4
                                                br
                                                | III место – 3
                                                br
                                                | Участие – 2

                                        tr
                                            td 9
                                            td Олимпиада для школьников по биологии «Мозг, как большая Вселенная»
                                            td(rowspan="2") Учащиеся 10 – 11 классов
                                            td(rowspan="2")
                                                | I место – 5
                                                br
                                                | II место – 4
                                                br
                                                | III место – 3
                                                br
                                                | Участие – 2
                                        tr
                                            td 10
                                            td Олимпиада для школьников по управлению

                        h3.light Дополнительные бонусы
                        p «Президентский резерв» сможет активно участвовать в студенческой жизни: в мероприятиях филиала, праздниках и студенческих тусовках.

                        h3.light Как попасть в школу?
                        .three-step
                            .three-step__item
                                p 1. Записаться в Школу больших возможностей можно здесь
                                a(href='').btn.btn--border Записаться в школу

                            .three-step__item
                                p 2. Присоединиться к нашей группе Вконтакте
                                a(href='').btn.btn--border Presidential Reserve

                            .three-step__item
                                p 3.
                                    = ' '
                                    a(href='') Ознакомиться с планом мероприятий
                                    |  на сайте и прийти на любое понравившееся.

                        p Присоединиться к проекту можно на любом этапе. Момент, когда вы начали ходить в Школу больших возможностей, влияет лишь на количество баллов, которые потенциально можно заработать. Именно поэтому мы рекомендуем начинать ходить в Школу с самого начала!

                        h3.attention
                            span Внимание
                            | : посещение всех мероприятий – бесплатное!

                        p По всем вопросам можно обращаться по телефону 8 (3852) 504-282 или по e-mail: prof@alt.ranepa.ru

                        hr
                        .typography__doc
                            h3 Документы
                            .typography__doc-list
                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p План мероприятий на 2018/2019 учебный год
                                        span смотреть, 54 кб

                                a(href='').doc-item
                                    .doc-item__icon.doc-item__icon--pdf
                                    .doc-item__text
                                        p Положение об основаниях и порядке снижения стоимости платных образовательных услуг в Алтайском филиале РАНХиГС 
                                        span смотреть, 123 кб



