extends _layout

block title
    title Поиск по сайту

block content
    -var img1 = './images/academic/1@2x.jpg'
    -var img2 = './images/academic/2@2x.jpg'
    -var img3 = './images/academic/3@2x.jpg'
    -var img4 = './images/academic/4@2x.jpg'
    -var img5 = './images/academic/5@2x.jpg'
    -var img6 = './images/academic/6@2x.jpg'
    -var header = './images/header/header-news@2x.jpg'
    -var gallery1 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_29_43_sq600.jpg'
    -var gallery2 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_04_17_sq600.jpg'
    -var gallery3 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_12_07_65_sq600.jpg'
    -var gallery4 = 'https://www.alt.ranepa.ru/resampled/news/2018/resize_of_dsc_8157_sq600.jpg'
    -var breadcrumbs = ['Поиск по сайту']

    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--search
            .page-content__header
                form.search
                    .search__box
                        input(type='text' placeholder='Поиск')
                        button(type='submit') Поиск
                    .page-content__header-filter.select.js-aside-filter
            .page-content__wrap
                section
                    .page-inner
                        .b-result.b-result--single
                            h2 Новости
                            include blocks/_b-pagination--mobile-hidden
                            .b-result__content
                                .b-result__list.b-result__list--detail
                                    ol
                                        li
                                            a(href='')
                                                h3 Студенческие отряды
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                        li
                                            a(href='')
                                                h3 Государственное и муниципальное управление
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                        li
                                            a(href='')
                                                h3 Международная деятельность
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).

                                        li
                                            a(href='')
                                                h3 Студенческие отряды
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                        li
                                            a(href='')
                                                h3 Государственное и муниципальное управление
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).
                                        li
                                            a(href='')
                                                h3 Международная деятельность
                                                p Подготовка по направлению «Государственное и муниципальное управление» осуществляется под руководством кафедры государственного и муниципального управления. В рамках направления ведется подготовка по программам бакалавриата по профилям
                                                    = ' '
                                                    b студенты
                                                    |  «Административное управление» и «Управление в сфере здравоохранения» (на заочной форме обучения).



                            include blocks/_b-pagination
                aside
                    .column-radio
                        .column-radio__title Найдено
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' name="headings" value='1')
                                label(for='_1') Всего (333)
                            .column-radio__item
                                input(id='_2' type='radio' checked='checked' name="headings" value='2')
                                label(for='_2') Новостей (32)
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') Персоналий (23)
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') Страниц (234)
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') Документов (11)
                    +error()
