extends _layout

block title
    title Осенний День открытых дверей-2018

block content
    -var header = './images/header/header-photo-detail@2x.jpg'
    -var sliderNews1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_400_sq480x380.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/files/news/2019/2019_03_16_106.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_111_sq1024.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_113_sq1024.jpg'
    -var news4 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_116_sq1024.jpg'
    -var gallery1 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_29_43_sq600.jpg'
    -var gallery2 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_04_17_sq600.jpg'
    -var gallery3 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_12_07_65_sq600.jpg'
    -var gallery4 = 'https://www.alt.ranepa.ru/resampled/news/2018/resize_of_dsc_8157_sq600.jpg'
    -var breadcrumbs = ['Фото отчеты', 'Осенний День открытых дверей-2018']
    +_sub-header(breadcrumbs[1], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--hidden-aside.page-content--detail
            .page-content__wrap
                section
                    .page-inner.typography
                        .page-inner__mobile
                            .page-inner__mobile-header
                                time 12 февраля 2019
                                .view.view--grey 154
                            .page-inner__mobile-content
                                p 27 октября в Алтайском филиале Президентской академии состоялся осенний День открытых дверей. Гостями филиала стали более 300 человек: старшеклассники, родители, учителя  и выпускники ссузов из городов и районов Алтайского края.В этом году тематикой мероприятия было заявлено кино. День открытых дверей прошёл под девизом «Кинолента яркой студенческой жизни».

                        .page-inner__list--card.page-inner__list--gallery.js-gallery
                            a(href=news1 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news1 alt='')

                            a(href=news2 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news2 alt='')

                            a(href=news3 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news3 alt='')

                            a(href=news4 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news4 alt='')
                            a(href=news1 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news1 alt='')

                            a(href=news2 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news2 alt='')

                            a(href=news3 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news3 alt='')

                            a(href=news4 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news4 alt='')

                            a(href=news1 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news1 alt='')

                            a(href=news2 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news2 alt='')

                            a(href=news3 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news3 alt='')

                            a(href=news4 data-size="996x660").gallery-card
                                .gallery-card__img
                                    img(src=news4 alt='')


                        .typography__bottom.typography__bottom--mobile
                            .hash-list
                                a(href='') #Конференция
                                a(href='') #Спорт
                                a(href='') #Образование
                aside
                    .aside__photo
                        .aside__photo-info
                            time 12 февраля 2019
                            .view.view--grey 154
                        p 27 октября в Алтайском филиале Президентской академии состоялся осенний День открытых дверей. Гостями филиала стали более 300 человек: старшеклассники, родители, учителя  и выпускники ссузов из городов и районов Алтайского края. В этом году тематикой мероприятия было заявлено кино. День открытых дверей прошёл под девизом «Кинолента яркой студенческой жизни».
                        .aside__photo-hash.hash-list
                            a(href='') #Конференция
                            a(href='') #Спорт
                            a(href='') #Образование
                            a(href='') #Осень
                            a(href='') #Праздник

                    +error()
                    +share()

    .b-home-container.b-home-container--grey.b-home-container--detail.b-home-container--hover
        .container
            .b-home-news
                h2 Похожие фото отчеты
                .b-home-news__slider.b-home-news--margins.js-home-slider
                    a(href='').gallery-card
                        .gallery-card__shadow
                        .gallery-card__img
                            img(src=gallery1 alt='')
                        .gallery-card__view.view 154
                        .gallery-card__bottom
                            time 12 февраля 2019
                            .gallery-card__title Спортивный квест «Спорт в Академии»

                    a(href='').gallery-card
                        .gallery-card__shadow
                        .gallery-card__img
                            img(src=gallery2 alt='')
                        .gallery-card__view.view  154
                        .gallery-card__bottom
                            time 12 февраля 2019
                            .gallery-card__title XXI Региональный фестиваль творчества «Студенческая весна на Алтае. Феста»

                    a(href='').gallery-card
                        .gallery-card__shadow
                        .gallery-card__img
                            img(src=gallery3 alt='')
                        .gallery-card__view.view  154
                        .gallery-card__bottom
                            time 12 февраля 2019
                            .gallery-card__title Премьера спектакля «Монологи о войне – Великой Победе посвящается»

                    a(href='').gallery-card
                        .gallery-card__shadow
                        .gallery-card__img
                            img(src=gallery4 alt='')
                        .gallery-card__view.view  154
                        .gallery-card__bottom
                            time 12 февраля 2019
                            .gallery-card__title Спортивный квест «Спорт в Академии»

                    a(href='').gallery-card
                        .gallery-card__shadow
                        .gallery-card__img
                            img(src=gallery3 alt='')
                        .gallery-card__view.view  154
                        .gallery-card__bottom
                            time 12 февраля 2019
                            .gallery-card__title Премьера спектакля «Монологи о войне – Великой Победе посвящается»

