extends _layout

block title
    title Контакты

block content
    -var sliderNews1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_400_sq480x380.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'
    -var header = './images/header/header-news@2x.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/files/news/2019/2019_03_16_106.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_111_sq1024.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_113_sq1024.jpg'
    -var news4 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_116_sq1024.jpg'

    -var breadcrumbs = ['Контакты']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--history-success
            .page-content__wrap
                section
                    .page-inner.page-inner--border.typography
                        h4 Алтайский филиал Федерального государственного бюджетного образовательного учреждения высшего образования «Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации» (Алтайский филиал РАНХиГС)
                        #map-contact
                        .typography__requisites
                            h3 Реквизиты
                            .typography__requisites-title Получатель:
                            .typography__requisites-list
                                .typography__requisites-col
                                    p УФК по Алтайскому краю (Алтайский филиал РАНХиГС)
                                    p л/с 20176Ц17260
                                    p р/сч 40501810401732000002 Отделение г. Барнаул
                                    p КБК 00000000000000000130
                                    p Средства, получаемые от обучения граждан по образовательным программам
                                .typography__requisites-col
                                    p ИНН: 7729050901
                                    p КПП: 222543001
                                    p БИК: 040173001
                                    p ОГРН: 1027739610018
                                    p ОКПО: 55997948
                            .typography__requisites-title.typography__requisites-title--hidden Адрес:
                                .typography__requisites-list
                                    .typography__requisites-col
                                        p 656008, Алтайский край, г.Барнаул, ул.Партизанская, 187

                aside
                    .aside__title Адрес
                    .aside__contact.aside__contact--half
                        p.aside__geo 656008, Алтайский край,
                            br
                            | г. Барнаул, ул. Партизанская, 187
                        a(href='mailto:info@alt.ranepa.ru').aside__mail info@alt.ranepa.ru

                    .aside__title Телефоны
                    .aside__contact.aside__contact--4-part
                        .aside__phone
                            span Приемная директора
                            a(href='+73852504180') (385-2) 504-180
                        .aside__phone
                            span Отдел кадров
                            a(href='+73852503574') (385-2) 503-574
                        .aside__phone
                            span Бухгалтерия
                            a(href='+73852504280') (385-2) 504-280
                        .aside__phone
                            span Приемная комиссия
                            a(href='+73852503003') (385-2) 503-003
                        a(href='').aside__link Полный телефонный справочник

                    .aside__title.aside__title--mobile Проезд до остановки «Сити-центр»:
                    .aside__contact.aside__contact--3-part
                        p.aside__travel.aside__travel--tram Трамвай № 1, 4, 7
                        p.aside__travel.aside__travel--bus Автобус № 2, 17, 57, 60, 108
                        p.aside__travel.aside__travel--taxi Маршрутное такси № 33, 47, 65,
                            br
                            | 73,77, 203, 205, 269

                    .aside__title.aside__title--mobile Проезд до остановки «пер. Ядринцева»:
                    .aside__contact
                        p.aside__travel.aside__travel--taxi Маршрутное такси № 41, 80

                    .aside__title.aside__title--mobile Проезд до остановки «Президентская академия»:
                    .aside__contact
                        p.aside__travel.aside__travel--taxi Маршрутное такси №  80






