extends _layout

block title
    title Видео репортажи

block content
    -var gallery1 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_29_43_sq600.jpg'
    -var gallery2 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_04_17_sq600.jpg'
    -var gallery3 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_12_07_65_sq600.jpg'
    -var gallery4 = 'https://www.alt.ranepa.ru/resampled/news/2018/resize_of_dsc_8157_sq600.jpg'

    -var breadcrumbs = ['Видео репортажи', '...']
    +_sub-header('Х межрегиональная научно-практическая конференция имени И.К. Шалаева', breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--hidden-aside.page-content--detail
            .page-content__wrap
                section
                    .page-inner.typography
                        .video-detail
                            iframe(width="560" height="315" src="https://www.youtube.com/embed/Gq7rTej3c6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                        .page-inner__mobile
                            .page-inner__mobile-header
                                time 12 февраля 2019
                                .view.view--grey 154
                            .page-inner__mobile-content
                                p 27 октября в Алтайском филиале Президентской академии состоялся осенний День открытых дверей. Гостями филиала стали более 300 человек: старшеклассники, родители, учителя  и выпускники ссузов из городов и районов Алтайского края.В этом году тематикой мероприятия было заявлено кино. День открытых дверей прошёл под девизом «Кинолента яркой студенческой жизни».

                        .typography__bottom.typography__bottom--mobile
                            .hash-list
                                a(href='') #Конференция
                                a(href='') #Спорт
                                a(href='') #Образование

                aside
                    .aside__photo
                        .aside__photo-info
                            time 12 февраля 2019
                            .view.view--grey 154
                        p 27 октября в Алтайском филиале Президентской академии состоялся осенний День открытых дверей. Гостями филиала стали более 300 человек: старшеклассники, родители, учителя  и выпускники ссузов из городов и районов Алтайского края. В этом году тематикой мероприятия было заявлено кино. День открытых дверей прошёл под девизом «Кинолента яркой студенческой жизни».
                        .aside__photo-hash.hash-list
                            a(href='') #Конференция
                            a(href='') #Спорт
                            a(href='') #Образование
                            a(href='') #Осень
                            a(href='') #Праздник

                    +error()
                    +share()

    .b-home-container.b-home-container--grey.b-home-container--detail.b-home-container--video
        .container
            .b-home-news
                h2 Интересные видео репортажи
                .b-home-news__slider.b-home-news--margins.js-home-slider
                    a(href='').video-card
                        .video-card__img
                            img(src=gallery1 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019


                    a(href='').video-card
                        .video-card__img
                            img(src=gallery2 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019

                    a(href='').video-card
                        .video-card__img
                            img(src=gallery3 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019

                    a(href='').video-card
                        .video-card__img
                            img(src=gallery1 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019


                    a(href='').video-card
                        .video-card__img
                            img(src=gallery2 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019

                    a(href='').video-card
                        .video-card__img
                            img(src=gallery3 alt='')
                            .video-card__view.view 154
                        .video-card__bottom
                            .video-card__title Х межрегиональная научно-практическая конференция имени И.К. Шалаева
                            time 12 февраля 2019
