extends _layout

block title
    title Структурное подразделение

block content
    -var img1 = './images/academic/1@2x.jpg'
    -var img2 = './images/academic/2@2x.jpg'
    -var img3 = './images/academic/3@2x.jpg'


    -var breadcrumbs = ['Структурное подразделение']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--structure
            .page-content__wrap
                section
                    .page-inner.page-inner--border.typography
                        p Учебно-методический отдел является структурным подразделением Алтайского филиала федерального государственного бюджетного образовательного учреждения высшего образования «Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации», действует на основании Положения о филиале РАНХиГС и в своей практической работе руководствуется указаниями и инструкциями Министерства образования и науки РФ, приказами ректора РАНХиГС, директора Алтайского филиала РАНХиГС решениями Ученого Совета РАНХиГС и Алтайского филиала РАНХиГС, распоряжениями заместителя по учебной работе Алтайского филиала РАНХиГС.
                        h3.light Основные задачи
                        ul
                            li планирование, организация и контроль качества учебного процесса по всем формам обучения;
                            li повышение эффективности учебного процесса и качества обучения;
                            li участие в работе по созданию системы менеджмента качества.
                        h3.light Функции:
                        ul
                            li Разработка необходимой для планирования, организации и контроля учебного процесса нормативно-методической и организационной документации.
                            li Разработка совместно с кафедрами календарных учебных графиков, учебных планов, уточнение набора факультативных курсов, дисциплин по выбору, предоставление их на согласование заместителю директора по учебной работе и утверждение директору.
                            li Выполнение расчета годовой учебной нагрузки в разрезе дисциплин учебного плана и доведение плановых цифр по нагрузке и контингенту до кафедр. Распределение между кафедрами фонда резервной нагрузки и осуществление контроля за его расходованием.
                            li Разработка предложений и подготовка к утверждению нормативов по учету основных видов деятельности преподавателя.
                            li Контроль выполнения научно-педагогическими работниками (НПР) учебной нагрузки.
                            li Предоставление директору, заместителю директора по учебной работе данных по движению контингента (зачисление, перевод, отчисление, восстановление, предоставление академических отпусков и.т.д.) обучающихся в Филиале.
                            li Подготовка проектов приказов, связанных с образовательным процессом и движением контингента, оформленных в установленном порядке, и предоставление их для графического исполнения помощнику руководителя.
                            li Контроль дисциплины и порядка проведения учебных занятий и экзаменов.
                            li Организация текущего контроля успеваемости и промежуточной аттестации обучающихся.
                            li Контроль создания условий для самостоятельной работы обучающихся (организация консультаций, индивидуальной работы научно-педагогических работников с обучающимися, выполнение всех планируемых письменных, контрольных и других работ, рефератов, курсовых и выпускных квалификационных работ).
                            li Планирование и составление расписания учебных занятий, промежуточных аттестаций и работы государственных экзаменационных комиссий для всех форм обучения, внесение в них необходимых коррективов и контроль их исполнения.
                            li Осуществление статистического учета обучающихся, уточнение статуса обучающихся в связи с неоплатой ими образовательных услуг, академической задолженностью, уходом в академический отпуск.
                            li Оформление, выдача и регистрация различного рода справок, заявлений; оформление и проверка зачетных книжек, студенческих билетов, учебных карточек.
                            li Оформление документов о высшем образовании, дубликатов, зачетных книжек и студенческих билетов, а также организация оформления иных документов для обучающихся по всем формам обучения.
                            li Сбор и обобщение информации об итогах промежуточных аттестаций.
                            li Контроль посещаемости обучающимися учебных занятий и промежуточных аттестаций, контроль выполнения ими учебного плана.
                            li Планирование рационального использования аудиторного фонда
                        +b-people-group--margin('Сотрудники')
                aside
                    .b-people-group.b-people-group--aside
                        .b-people-group__list
                            a(href='').b-people-group__item
                                .b-people-group__img
                                    img(src=img1 alt='')
                                .b-people-group__name Панарин
                                    br
                                    | Игорь Анатольевич
                                .b-people-group__desc председатель ученого совета, директор Алтайского филиала РАНХиГС, д.псх.н. тел.: 504-180 (внутр.: 101)

                            a(href='').b-people-group__item
                                .b-people-group__img
                                    img(src=img2 alt='')
                                .b-people-group__name Шлегель
                                    br
                                    | Светлана Владимировна
                                .b-people-group__desc секретарь ученого совета, зам. директора по научной работе, к.ф.н. тел.: 503-571 (внутр.: 105)

                            a(href='').b-people-group__item
                                .b-people-group__img
                                    img(src=img3 alt='')
                                .b-people-group__name Кайгородова
                                    br
                                    | Татьяна Владимировна
                                .b-people-group__desc Заместитель директора по учебной работе, к.и.н.
                    .aside__title.aside__title--str Документы
                    .aside__doc
                        a(href='').doc-item.doc-item--sm
                            .doc-item__icon.doc-item__icon--pdf
                            .doc-item__text
                                p Положение об Учебно-методическом отделе
                    .aside__mobile-row
                        .aside__mobile-block
                            .aside__title.aside__title--str Контакты
                            .aside__contact.aside__contact--one-line
                                p.aside__geo 656008, Алтайский край, г. Барнаул, ул. Партизанская, 187
                                .aside__phone
                                    a(href='+73852504180') (385-2) 504-180
                                a(href='mailto:info@alt.ranepa.ru').aside__mail info@alt.ranepa.ru
                        .aside__mobile-block
                            .aside__title.aside__title--str Режим работы
                            .aside__work-mode
                                .work-mode
                                    .work-mode__col-day
                                        .work-mode__item пн
                                        .work-mode__item вт
                                        .work-mode__item ср
                                        .work-mode__item чт
                                        .work-mode__item пт
                                        .work-mode__item сб
                                        .work-mode__item вс
                                    .work-mode__col-time
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item 08:00 - 17:00
                                        .work-mode__item Выходной
                                    .work-mode__col-lunch
                                        .work-mode__center
                                            .work-mode__icon
                                            .work-mode__item
                                                span Обед:
                                                | 12:00 - 13:00
                    +error()
