extends _layout

block title
    title Анонсы

block content
    -var header = './images/header/header-news@2x.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_17_11_sq480x380.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_16_500_sq480x380.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_16_109_sq480x380.jpg'

    -var breadcrumbs = ['Анонсы']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content.page-content--right-aside
            .page-content__header
                include blocks/_b-pagination
                .page-content__header-filter.js-aside-filter
            .page-content__wrap
                section
                    .page-inner
                        .page-inner__list
                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 9
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 26
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция
                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 9
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 26
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция

                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 9
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                            .announ-card
                                a(href='').announ-card__date
                                    .announ-card__date-number 26
                                    .announ-card__date-moth сентября
                                    .announ-card__date-day ПН
                                .announ-card__content
                                    a(href='')
                                        .announ-card__info
                                            time 9-15 сентября 2019
                                            span.clock.clock--grey 20:00
                                            span.i-geo.i-geo--sm №245
                                        .announ-card__desc Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                                    .announ-card__hash.hash-list
                                        a(href='') #Конференция

                        include blocks/_b-pagination

                aside
                    .aside__selectbox.selectbox
                        .selectbox__name Сортировать по:
                        .selectbox__box.js-selectbox
                            .selectbox__selected По дате
                            .selectbox__dropdown
                                .selectbox__option.active(data-value='12') По дате
                                .selectbox__option(data-value='12') По просмотрам

                    .aside__datepicker
                        .js-calendar
                        a(href='') Все новости
                    .column-radio
                        .column-radio__title Рубрики
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' checked name="headings" value='1')
                                label(for='_1') Все новости
                            .column-radio__item
                                input(id='_2' type='radio' name="headings" value='2')
                                label(for='_2') Образование
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') Наука
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') Общество
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') Академия
                    +error()
