extends _layout

block title
    title Документы

block content
    -var header = './images/history-success/full-img@2x.jpg'
    -var people = './images/history-success/people-aside@2x.jpg'
    -var img1 = './images/history-success/1@2x.jpg'
    -var img2 = './images/history-success/2@2x.jpg'
    -var img3 = './images/history-success/3@2x.jpg'

    -var breadcrumbs = ['Документы']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside
            .page-content__wrap
                section
                    .page-inner.page-inner--border.typography
                        h2#doc1.light Учредительные документы
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--doc
                                .doc-item__text
                                    p Лицензия на осуществление образовательной деятельности (с приложением) №2787 от 07 декабря 2018 г., бессрочная
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--zip
                                .doc-item__text
                                    p Свидетельство о государственной аккредитации №2784 от 12 марта 2018 г., действует до 12 марта 2024 г.

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Приложение №2 к свидетельству о государственной аккредитации от 12 марта 2018 г. №2784

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--rar
                                .doc-item__text
                                    p Устав академии (утвержден Постановлением Правительства Российской Федерации от 12 мая 2012 г. N 473)

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--ex
                                .doc-item__text
                                    p Изменения в устав (Постановление Правительства Российской Федерации от 18.01.2014 №38, Постановление Правительства Российской Федерации от 21.02.2014 №131, Постановление Правительства Российской Федерации от 29.03.2014 №253, Постановление Правительства Российской Федерации от 08.07.2015 №687, Постановление Правительства Российской Федерации от 01.11.2016 №1116, Постановление Правительства Российской Федерации от 25.08.2017 №1009, Постановление Правительства Российской Федерации от 22.10.2018 № 02-1056)

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pp
                                .doc-item__text
                                    p Положение о Алтайском филиале РАНХиГС

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--mp3
                                .doc-item__text
                                    p Извлечение из Федерального закона «Об образовании в Российской Федерации» от 29.12.2012 №273-ФЗ

                        h2#doc2.light Правила приема
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Минимальные баллы ЕГЭ в 2019 году (Распоряжение Рособрнадзора от 23.03.2015 №794-10)
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила приема в федеральное государственное бюджетное образовательное учреждение высшего образования "Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации" на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета на 2019/20 учебный год

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Минимальные баллы ЕГЭ в 2019 году (Распоряжение Рособрнадзора от 23.03.2015 №794-10)
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила приема в федеральное государственное бюджетное образовательное учреждение высшего образования "Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации" на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета на 2019/20 учебный год

                        h2#doc3.light Порядок оказания платных образовательных услуг
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Минимальные баллы ЕГЭ в 2019 году (Распоряжение Рособрнадзора от 23.03.2015 №794-10)
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила приема в федеральное государственное бюджетное образовательное учреждение высшего образования "Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации" на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета на 2019/20 учебный год
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила приема в федеральное государственное бюджетное образовательное учреждение высшего образования "Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации" на обучение по образовательным программам высшего образования – программам бакалавриата, программам специалитета на 2019/20 учебный год

                        h2#doc4.light Организация учебного процесса
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Правила внутреннего трудового распорядка

                        h2#doc5.light Система качества образования
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013

                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Сертификат качества №303 от 01.07.2013

                        h2#doc6.light Коллективный договор
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Коллективный договор не заключался

                        h2#doc7.light Предписания органов, осуществляющих государственный контроль (надзор) в свере образования
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Коллективный договор не заключался

                        h2#doc8.light Отчеты об использовании предписаний органов, осуществляющих государственный контроль (надзор) в сфере образования
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p Коллективный договор не заключался

                        h2#doc9.light Другие документы
                        .typography__doc-line
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p План финансово-хозяйственной деятельности образовательной организации или бюджетные сметы
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p План финансово-хозяйственной деятельности образовательной организации или бюджетные сметы
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p План финансово-хозяйственной деятельности образовательной организации или бюджетные сметы
                            a(href='').doc-item.doc-item--sm
                                .doc-item__icon.doc-item__icon--pdf
                                .doc-item__text
                                    p План финансово-хозяйственной деятельности образовательной организации или бюджетные сметы






                aside
                    .aside__title Перечень документов
                    +menu-anchor()
                    +error()
