extends _layout

block title
    title Новости


block content
    -var header = './images/header/header-news@2x.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_17_11_sq480x380.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_16_500_sq480x380.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_16_109_sq480x380.jpg'

    -var breadcrumbs = ['Новости']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content.page-content--right-aside
            .page-content__header
                include blocks/_b-pagination
                .page-content__header-filter.js-aside-filter
            .page-content__wrap
                section
                    .page-inner
                        .page-inner__list
                            .news-card
                                a(href='').news-card__img
                                    img(src=news1 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                            .news-card
                                a(href='').news-card__img
                                    img(src=news2 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                            .news-card
                                a(href='').news-card__img
                                    img(src=news1 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                            .news-card
                                a(href='').news-card__img
                                    img(src=news2 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                            .news-card
                                a(href='').news-card__img
                                    img(src=news1 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                            .news-card
                                a(href='').news-card__img
                                    img(src=news2 alt='')
                                .news-card__content
                                    a(href='').news-card__link
                                        h3 Качество образования, проверенное временем
                                        p 6 февраля в Алтайском филиале Президентской академии состоялся финал традиционного конкурса на лучшую курсовую работу. Подведение итогов …
                                    .news-card__hash.hash-list
                                        a(href='') #Конференция
                                        a(href='') #Спорт
                                        a(href='') #Образование
                                    .news-card__info
                                        .view.view--grey 154
                                        time 26 августа 2019

                        include blocks/_b-pagination
                aside
                    .aside__selectbox.selectbox
                        .selectbox__name Сортировать по:
                        .selectbox__box.js-selectbox
                            .selectbox__selected По дате
                            .selectbox__dropdown
                                .selectbox__option.active(data-value='12') По дате
                                .selectbox__option(data-value='12') По просмотрам
                        .selectbox-mobile
                            select
                                option(value='date') По дате
                                option(value='view') По просмотрам


                    .aside__datepicker
                        .js-calendar
                        a(href='') Все новости
                    .column-radio
                        .column-radio__title Рубрики
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' checked name="headings" value='1')
                                label(for='_1') Все новости
                            .column-radio__item
                                input(id='_2' type='radio' name="headings" value='2')
                                label(for='_2') Образование
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') Наука
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') Общество
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') Академия
                    +error()
