extends _layout

block title
    title Анонсы

block content
    -var sliderNews1 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_400_sq480x380.jpg'
    -var sliderNews2 = 'https://www.alt.ranepa.ru/resampled/news/2019/2019_03_07_60_sq480x380.jpg'
    -var header = './images/header/header-news@2x.jpg'
    -var news1 = 'https://www.alt.ranepa.ru/files/news/2019/2019_03_16_106.jpg'
    -var news2 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_111_sq1024.jpg'
    -var news3 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_113_sq1024.jpg'
    -var news4 = 'https://www.alt.ranepa.ru/resampled/photogallery/3430/2019_03_16_116_sq1024.jpg'

    -var breadcrumbs = ['Анонсы', '...']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--hidden-aside.page-content--detail
            .page-content__wrap
                section
                    .page-inner.page-inner--border.typography
                        .typography__header-lg
                            time 12 - 20 февраля 2019
                            .clock.clock--grey 20:00
                            .geo №245
                        h2 Поздравляем с днём рождения председателя Ассоциации выпускников Алтайского филиала РАНХиГС Якова Николаевича Ишутина!
                        img(src=news1 alt='')
                        p Сегодня, 12 февраля, свой день рождения празднует давний друг нашего вуза, один из первых выпускников, а ныне председатель Ассоциации выпускников Алтайского филиала РАНХиГС  Яков Николаевич Ишутин! Руководство Алтайского филиала РАНХиГС и Ассоциация выпускников от души поздравляют Якова Николаевича! Желаем крепкого здоровья, неиссякаемой энергии и отличного настроения. Удачи во всех начинаниях, новых профессиональных успехов, личного благополучия и счастья! 
                        .help
                            h4 Справка
                            p Researcher connect – это учебный курс на английском языке для учёных, аспирантов и других специалистов по развитию коммуникативных навыков, необходимых в жизненном цикле инноваций – от получения грантов, установления международных партнерств до успешных публикаций и выступлений на английском, включая использование инструментов для повышения видимости и цитируемости работ ученого и его организации.

                        p С 1997 года Яков Ишутин занимал должность руководителя Алтайского управления лесами. В 2000 году назначен заместителем председателя комитета природных ресурсов по Алтайскому краю, в 2001 году переведен на должность руководителя комитета.
                        p Алтайский филиал РАНХиГС Яков Николаевич окончил в 2004 году по специальности «Государственное и муниципальное управление». 5 сентября 2005 г. глава администрации Алтайского края Александр Карлин подписал распоряжение о назначении Якова Ишутина своим заместителем. С декабря 2007 г. по 2014 г. - заместитель губернатора Алтайского края. Доктор сельскохозяйственных наук, заслуженный лесовод РФ. 
                        .typography__bottom
                            .hash-list
                                a(href='') #Конференция
                                a(href='') #Спорт
                                a(href='') #Образование
                            .view.view--grey 154
                aside
                    +error()
                    +share()

    .b-home-container.b-home-container--grey.b-home-container--detail
        .container
            .b-home-news
                h2 Другие анонсы
                .b-home-news__slider.js-home-slider
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 29 ноября - 5 декабря 2018
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245
                    a(href='').announ-slider-item
                        .announ-slider-item__wrap
                            .announ-slider-item__title
                                .announ-slider-item__day понедельник
                                time 18 января 2019
                                .announ-slider-item__clock.clock 16:00
                            .announ-slider-item__content
                                p Круглый стол «Роль таможенных органов в обеспечении национальной и экономической безопасности» …
                            .announ-slider-item__bottom
                                .announ-slider-item__hash #Конференция
                                .announ-slider-item__aud.i-geo №245





