extends _layout

block title
    title Фото отчеты

block content
    -var header = './images/header/header-photo@2x.jpg'
    -var gallery1 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_29_43_sq600.jpg'
    -var gallery2 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_10_04_17_sq600.jpg'
    -var gallery3 = 'https://www.alt.ranepa.ru/resampled/news/2018/2018_12_07_65_sq600.jpg'
    -var gallery4 = 'https://www.alt.ranepa.ru/resampled/news/2018/resize_of_dsc_8157_sq600.jpg'
    -var breadcrumbs = ['Фото отчеты']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content.page-content--right-aside
            .page-content__header
                include blocks/_b-pagination
                .page-content__header-filter.js-aside-filter
            .page-content__wrap
                section
                    .page-inner
                        .page-inner__list.page-inner__list--card
                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery1 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery2 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title XXI Региональный фестиваль творчества «Студенческая весна на Алтае. Феста»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery3 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Премьера спектакля «Монологи о войне – Великой Победе посвящается»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery4 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery1 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery2 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title XXI Региональный фестиваль творчества «Студенческая весна на Алтае. Феста»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery3 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Премьера спектакля «Монологи о войне – Великой Победе посвящается»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery4 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery1 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery2 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title XXI Региональный фестиваль творчества «Студенческая весна на Алтае. Феста»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery3 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Премьера спектакля «Монологи о войне – Великой Победе посвящается»

                            a(href='').gallery-card
                                .gallery-card__shadow
                                .gallery-card__img
                                    img(src=gallery4 alt='')
                                .gallery-card__view.view 154
                                .gallery-card__bottom
                                    time 12 февраля 2019
                                    .gallery-card__title Спортивный квест «Спорт в Академии»

                    include blocks/_b-pagination
                aside
                    .aside__selectbox.selectbox
                        .selectbox__name Сортировать по:
                        .selectbox__box.js-selectbox
                            .selectbox__selected По дате
                            .selectbox__dropdown
                                .selectbox__option.active(data-value='12') По дате
                                .selectbox__option(data-value='12') По просмотрам


                    .aside__datepicker
                        .js-calendar
                        a(href='') Все новости
                    .column-radio
                        .column-radio__title Рубрики
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' checked name="headings" value='1')
                                label(for='_1') Все фотоотчеты
                            .column-radio__item
                                input(id='_2' type='radio' name="headings" value='2')
                                label(for='_2') Спорт
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') Праздники
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') Мероприятия
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') Встречи
                    +error()
