extends _layout

block title
    title История успеха

block content
    -var header = './images/history-success/full-img@2x.jpg'
    -var people = './images/history-success/people-aside@2x.jpg'
    -var img1 = './images/history-success/1@2x.jpg'
    -var img2 = './images/history-success/2@2x.jpg'
    -var img3 = './images/history-success/3@2x.jpg'

    -var breadcrumbs = ['История успеха', 'Елена Прейс ']
    +_sub-header(breadcrumbs[0], breadcrumbs)
    .container
        .page-content.page-content--right-aside.page-content--history-success
            .page-content__wrap
                section
                    .page-inner.page-inner--border.typography
                        h2 Академия научила меня ставить цели и добиваться их
                        p Еще совсем недавно будущий финансист Елена ПРЕЙС переживала серьезные проблемы с математикой. Но еще учась на четвертом курсе, она стала ведущим специалистом отдела ипотечного кредитования крупного банка и вспоминает о «двойке» по «царице наук» с улыбкой – труд и целеустремленность помогли студентке избавиться от проблемы. Активная, жизнерадостная и креативная, «светлая голова» – такими эпитетами награждают Елену друзья и преподаватели Академии. А как смотрит на себя, свой вуз и свое будущее сама Елена, чей портрет красуется у нас на Доске почета?
                        p – Выбор вуза и направления обучения были для меня очень серьезными вопросами. Изначально выбор пал на классический университет, факультет международных отношений, но данная специальность у нас в городе не имеет перспектив карьерного развития. Об Академии при Президенте России я узнала от папы и, посетив филиал, осталась очень довольна: никаких сомнений не осталось. Уже одна только атмосфера произвела на меня неизгладимое впечатление: доброжелательные, улыбчивые преподаватели, красивое новое здание, водопад и розы на территории! И очень привлек тот факт, что Академия сотрудничает с разными организациями и, проходя практику, можно остаться работать, если конечно, зарекомендовать себя. В городе не каждый вуз может похвастаться этим!
                        p …Настоящие специалисты востребованы всегда. Я считаю, что наша карьера, наш собственный успех зависит напрямую от нас самих. Настоящих профессионалов не так уж много, хотя кажется, что на рынке труда переизбыток. Меня не пугает подобная ситуация, ведь это своего рода толчок к развитию профессиональных качеств и навыков. Рынок находится в постоянной динамике, и только повышение своего профессионального уровня приведет к желаемой цели.
                        img(src=header alt='')
                        .typography__group-line
                            p …На четвертом курсе, как и полагается студенту, я проходила производственную практику в Банке ВТБ 24. Зарекомендовала себя как исполнительный и целеустремленный сотрудник, благодаря этому получила предложение остаться на дополнительную стажировку, по результатам которой определится мое место в штате. И результат не заставил себя долго ждать: сейчас я являюсь ведущим специалистом отдела ипотечного кредитования. Конечно, времени стало меньше, но отличницей я все рано осталась, к тому же я решила, что экономического образования для меня недостаточно, и сейчас я являюсь студенткой заочного отделения специальности «Юриспруденция». Начав работать, я стала куда четче понимать, какие именно знания мне нужны для достижения успеха в карьере. Так что работа не отодвинула учебу на второй план, а даже наоборот!
                            p …Мне всегда сложно давалась математика. И моя первая «двойка» в Академии была именно по этому предмету. Как сейчас помню: контрольная по математике, 2 курс, 4 семестр, Алексей Владимирович Зенков…Это была очень серьезная проблема для меня, но регулярные занятия, посещение лекций и семинаров помогли мне исправить ситуацию. Теперь я ту «двойку» с улыбкой вспоминаю, так забавно все кажется!

                aside
                    .aside__people
                        img(src=people alt='')
                        .aside__people-text
                            h3 Елена Прейс
                            span Выпускница 2013 года

                    +error()
                    +share()

    .b-home-container.b-home-container--grey.b-home-container--detail
        .container
            .b-home-news.b-home-news--margins
                h2 Популярные истории
                .b-home-news__slider.js-home-slider
                    a(href='').card-people
                        img(src=img1 alt='')
                        .card-people__name Ксения Кустова
                        .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …

                    a(href='').card-people
                        img(src=img2 alt='')
                        .card-people__name Анастасия Зеленская
                        .card-people__desc Для многих первокурсников – будущих управленцев, Анастасия ЗЕЛЕНСКАЯ – живой и весьма яркий пример того, как можно не только качественно сочетать учебу и общественную деятельность, но и успешно строить карьеру. Шутка ли: учась на 4 курсе, Настя стала депутатом Молодежного парламента Барнаула VII созыва и помощ

                    a(href='').card-people
                        img(src=img3 alt='')
                        .card-people__name Елена Прейс
                        .card-people__desc Еще совсем недавно будущий финансист Елена ПРЕЙС переживала серьезные проблемы с математикой. Но еще учась на четвертом курсе, она стала ведущим специалистом отдела ипотечного кредитования крупного банка и вспоминает о «двойке» по «царице наук» с улыбкой – труд и целеустремленность помогли студентке избавиться …
                    a(href='').card-people
                        img(src=img1 alt='')
                        .card-people__name Ксения Кустова
                        .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …
                    a(href='').card-people
                        img(src=img1 alt='')
                        .card-people__name Ксения Кустова
                        .card-people__desc В июне 2013 года Ксения КУСТОВА (до недавнего времени ЛУНЕВА)на «отлично» защитила диплом и стала профессиональным финансистом, о чем мечтала еще с 4 класса школы! Готовясь к торжественному вручению «красных корочек», она вспомнила студенческие годы: первые впечатления …
