extends _layout

block title
    title Библиотека

block content

    -var breadcrumbs = ['Библиотека']
    -var slider1 = './images/header/header-project@2x.jpg'
    -var slider2 = './images/header/header-student@2x.jpg'

    +_sub-header('Библиотека', breadcrumbs)
    .container
        .page-content.page-content--center
            .page-content__wrap
                section
                    .page-inner
                        .banner-slider.js-banner-slider
                            .banner-slider__item
                                img(src=slider1 alt='')
                            .banner-slider__item
                                img(src=slider2 alt='')
                        .b-icons-card
                            .b-icons-card__list
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M30 0H17a1 1 0 0 0-1 1v7H1a1 1 0 0 0-1 1v50a1 1 0 0 0 1 1h29a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm-1 52H18v-2h11v2zM2 15h14v30H2V15zm27-4H18V8h11v3zM2 47h14v3H2v-3zm16 1V13h11v35H18zM29 2v4H18V2h11zm-13 8v3H2v-3h14zM2 52h14v6H2v-6zm16 6v-4h11v4H18z"/>
                                        <path d="M59.968 54.748l-12-46a.999.999 0 0 0-1.226-.714l-15 4a1 1 0 0 0-.71 1.218l12 46a.997.997 0 0 0 1.226.712l15-4a1 1 0 0 0 .71-1.216zm-25.156-34.93l13.068-3.484.47 1.8-13.067 3.489-.471-1.805zm14.043.256l5.8 22.248-13.063 3.485-5.8-22.249 13.063-3.484zm6.31 24.184l1.023 3.924-13.068 3.484-1.02-3.923 13.064-3.485zm-8.879-34.033l1.089 4.175-13.068 3.483-1.088-4.173 13.067-3.485zm-1.572 47.55L43.625 53.6l13.068-3.485 1.088 4.173-13.067 3.487zM13 18H5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1zm-1 8H6v-6h6v6z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Каталог
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="60" viewBox="0 0 58 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M46 34.051V0H0v60h45c7.168 0 13-5.832 13-13 0-6.83-5.299-12.436-12-12.949zM2 58V2h6v56H2zm36.078 0H10V2h34v32.038c-.057.004-.112.016-.169.021-.195.017-.387.046-.579.072-.229.031-.459.062-.684.105-.193.037-.381.083-.571.128a12.7 12.7 0 0 0-.652.168c-.187.055-.37.117-.553.18-.21.072-.418.146-.623.228-.179.072-.355.15-.531.23-.2.091-.397.185-.591.285a12.967 12.967 0 0 0-1.06.616 12.056 12.056 0 0 0-.996.711c-.15.118-.298.237-.442.361a13.39 13.39 0 0 0-.482.438c-.137.13-.273.261-.405.397-.152.157-.297.32-.441.485-.124.142-.248.283-.365.43-.138.172-.267.35-.396.529-.109.152-.22.302-.323.459-.123.187-.235.38-.349.573-.093.159-.189.317-.276.48-.107.202-.202.411-.299.62-.076.165-.157.327-.227.496-.09.219-.167.444-.245.668-.059.167-.123.332-.175.502-.073.24-.129.486-.188.731-.039.163-.086.322-.12.488-.055.275-.091.557-.128.838-.019.142-.047.28-.062.423-.045.43-.068.862-.068 1.3a13.233 13.233 0 0 0 .087 1.454c.043.382.098.76.173 1.131.009.044.021.086.03.129a17.372 17.372 0 0 0 .331 1.244c.113.353.239.699.381 1.038.026.063.056.124.083.186.13.297.271.589.422.874.035.067.068.134.105.2.176.319.365.629.566.93.045.067.091.132.137.198.185.266.378.526.581.777.037.046.072.093.109.138a12.95 12.95 0 0 0 .916.986c.246.241.5.474.765.695l.064.056a13.206 13.206 0 0 0 1.098.807c.078.053.152.108.23.157zM45 58c-6.065 0-11-4.935-11-11s4.935-11 11-11 11 4.935 11 11-4.935 11-11 11z"/>
                                        <path d="M51 46h-5v-5a1 1 0 1 0-2 0v5h-5a1 1 0 1 0 0 2h5v5a1 1 0 1 0 2 0v-5h5a1 1 0 1 0 0-2zM39 10H15v14h24V10zm-2 12H17V12h20v10z"/>
                                        <path d="M20 14h14v2H20zM20 18h14v2H20z"/>
                                        </g>
                                        </svg>

                                    .b-icons-card__item-title Новинки
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="60" viewBox="0 0 42 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M41.106 6.563h-6.658C34.013 2.873 30.875 0 27.078 0c-3.796 0-6.933 2.872-7.369 6.563H.894a.878.878 0 0 0-.877.879v51.562c0 .486.393.88.877.88h40.212a.878.878 0 0 0 .877-.88V7.441a.878.878 0 0 0-.877-.878zm-19.697.878c0-3.134 2.543-5.683 5.67-5.683 3.126 0 5.669 2.55 5.669 5.683v40.202a7.402 7.402 0 0 0-11.339 0V7.441zm-19.638.88h17.885v1.992H6.505a.878.878 0 0 0-.877.878v4.688c0 .485.393.879.877.879h13.15v1.992H1.772V8.32zm17.885 3.75V15H7.382v-2.93h12.274zm7.423 46.054H1.77V20.508h17.885v3.874l-4.01 5.526-2.864-3.351a.884.884 0 0 0-1.332 0L5.84 33.12c-.479.559-.068 1.45.665 1.45h13.15v2.93H6.506a.878.878 0 0 0 0 1.758h13.15v2.93h-3.798a.878.878 0 0 0 0 1.758h3.799v2.93H13.05a.878.878 0 0 0 0 1.757h6.605v3.809a.878.878 0 1 0 1.753 0c0-3.134 2.543-5.684 5.67-5.684 3.126 0 5.669 2.55 5.669 5.684 0 3.134-2.543 5.683-5.67 5.683zm-7.423-30.754v5.442H18.13l-1.31-1.533 2.836-3.91zm-3.835 5.442H8.41l3.705-4.333 3.705 4.333zm24.408 25.312h-1.987v-34.98a.878.878 0 1 0-1.753 0v34.98h-4.627a7.434 7.434 0 0 0 2.64-5.683V8.32h1.987v10.684a.878.878 0 1 0 1.753 0V8.32h1.987v49.805z"/>
                                        <path d="M12.174 42.188H6.505a.878.878 0 0 0 0 1.757h5.67a.878.878 0 0 0 0-1.757zM9.369 46.875H6.505a.878.878 0 0 0 0 1.758h2.864a.878.878 0 0 0 0-1.758z"/>
                                        </g>
                                        </svg>

                                    .b-icons-card__item-title Периодика
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="60" viewBox="0 0 59 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M48.478 32.956H27.433a.879.879 0 0 0-.877.88c0 .487.393.881.877.881h21.045a.879.879 0 0 0 .877-.88.879.879 0 0 0-.877-.881zM23.174 20.88H44.22a.879.879 0 0 0 .877-.88.879.879 0 0 0-.877-.88H23.174a.879.879 0 0 0-.877.88c0 .486.393.88.877.88zM16.117 58.113h5.095c.985 0 1.837-.776 1.837-1.767v-1.098c0-.99-.852-1.789-1.837-1.789h-5.095c-.985 0-1.837.798-1.837 1.79v1.097c0 .991.852 1.767 1.837 1.767zm-.083-2.865c0-.019.066-.028.083-.028h5.095c.017 0 .083.01.083.028v1.098c0 .02-.066.006-.083.006h-5.095c-.017 0-.083.013-.083-.006v-1.098z"/>
                                        <path d="M.877 23.526v30.602a5.712 5.712 0 0 0 1.65 4.064 5.664 5.664 0 0 0 4.037 1.682h24.25A5.73 5.73 0 0 0 34.88 58.2a5.778 5.778 0 0 0 1.696-4.072V40.252H53.74a.879.879 0 0 0 .877-.88.879.879 0 0 0-.877-.881h-2.38v-8.923l2.617 2.803c.246.264.628.35.962.217a.88.88 0 0 0 .555-.82v-5.61c2.052-.657 3.507-2.691 3.507-4.98v-2.541c0-2.808-2.111-4.926-4.91-4.926H36.577V5.862a5.77 5.77 0 0 0-1.697-4.068A5.722 5.722 0 0 0 30.814.126H6.564a5.657 5.657 0 0 0-4.036 1.676 5.704 5.704 0 0 0-1.651 4.06v7.052a1.45 1.45 0 0 0-.752 1.309v2.13a1.45 1.45 0 0 0 .752 1.307v1.119a1.45 1.45 0 0 0-.752 1.308v2.13a1.45 1.45 0 0 0 .752 1.309zM25.679 38.49v-4.707c0-.487-.392-.828-.876-.828h-8.017c-.485 0-.877.341-.877.828v4.233a3.54 3.54 0 0 1-1.88-3.071v-2.542c0-1.896 1.863-3.222 3.602-3.222h28.09v2.587c0 .359.218.682.55.816a.874.874 0 0 0 .96-.206l2.374-2.476v8.588H25.68zm5.512-24.78H17.913a.879.879 0 0 0-.877.88c0 .486.393.88.877.88h2.13v9.183h-2.13a.879.879 0 0 0-.877.88c0 .487.393.881.877.881h27.809v1.006H17.63c-2.953 0-5.355 2.265-5.355 4.983v2.542c0 2.23 1.537 4.302 3.633 4.974v5.616a.874.874 0 1 0 1.516.602l3.325-3.56 3.42 3.57c.249.258.629.34.96.205a.88.88 0 0 0 .55-.817v-5.284h5.511v11.32H6.138V7.8h25.053v5.912zm-7.265 29.64l-2.553-2.683a.896.896 0 0 0-.631-.29h-.006a.89.89 0 0 0-.634.299l-2.44 2.633v-8.593h6.264v8.635zm29.813-13.808l-2.44-2.612a.875.875 0 0 0-1.27-.008l-2.553 2.662V20.88h6.263v8.662zm3.507-10.906v2.542a3.504 3.504 0 0 1-1.753 3.071v-4.229a.897.897 0 0 0-.877-.902h-8.017a.897.897 0 0 0-.877.902v4.633H21.796v-9.182H54.09c1.828 0 3.156 1.332 3.156 3.165zM1.88 20.252c.396-.085.752-.438.752-.862v-2.34c0-.424-.356-.778-.752-.862v-1.801c.396-.084.752-.438.752-.861V5.862a3.938 3.938 0 0 1 1.136-2.815 3.905 3.905 0 0 1 2.797-1.16h24.25a3.97 3.97 0 0 1 2.826 1.152 4.003 4.003 0 0 1 1.184 2.823v7.849h-1.88V7.385a1.365 1.365 0 0 0-.413-.965 1.354 1.354 0 0 0-.973-.382H5.77a1.354 1.354 0 0 0-.973.382c-.26.253-.41.6-.414.965v44.564a1.39 1.39 0 0 0 1.387 1.384h25.787a1.39 1.39 0 0 0 1.387-1.384V40.252h1.879v13.876a4.01 4.01 0 0 1-1.182 2.828 3.978 3.978 0 0 1-2.828 1.157H6.564a3.913 3.913 0 0 1-2.798-1.165 3.946 3.946 0 0 1-1.135-2.82V22.914c0-.423-.356-.776-.752-.86v-1.802z"/>
                                        <path d="M13.904 5.283h9.52a.879.879 0 0 0 .877-.88.879.879 0 0 0-.876-.881h-9.52a.879.879 0 0 0-.877.88c0 .487.392.881.876.881z"/>
                                        </g>
                                        </svg>

                                    .b-icons-card__item-title Электронные ресурсы
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M38.298 18.312a1.18 1.18 0 0 0-.499-.744 1.19 1.19 0 0 0-.42-.174 1.162 1.162 0 0 0-.88.174 1.11 1.11 0 0 0-.324.323 1.161 1.161 0 0 0-.175.421 1.177 1.177 0 0 0 .92 1.375 1.18 1.18 0 0 0 1.057-.32 1.177 1.177 0 0 0 .321-1.055z"/>
                                        <path d="M53.52 25.716a1.17 1.17 0 0 0-1.598 1.09v9.178c-1.4.5-3.043.968-4.91 1.38a7.341 7.341 0 0 0-7.124-5.57h-5.4l-.302-1.043a10.84 10.84 0 0 0 6.424-7.645h1.546a1.17 1.17 0 0 0 1.172-1.17v-6.792c0-.109-.016-.214-.044-.314a17.85 17.85 0 0 0 .253-5.478c-.314-2.903-1.007-6.465-3.602-8.26-1.678-1.16-3.92-1.397-6.67-.704-.542.08-5.012.735-9.252.904a9.758 9.758 0 0 0-.253.014c-2.339.158-4.43 1.648-5.888 4.194-1.567 2.737-1.933 5.99-1.045 9.064a1.161 1.161 0 0 0-.155.58v6.793c0 .646.524 1.17 1.172 1.17h1.546a10.84 10.84 0 0 0 6.424 7.644l-.302 1.044h-5.4a7.341 7.341 0 0 0-7.124 5.569c-1.867-.412-3.51-.88-4.91-1.38v-9.178a1.17 1.17 0 0 0-1.599-1.09C2.201 27.384.032 29.433.032 31.807v18.534c0 2.843 3.209 5.278 9.279 7.043 5.542 1.612 12.89 2.5 20.689 2.5 7.8 0 15.147-.888 20.69-2.5 6.07-1.765 9.278-4.2 9.278-7.043V31.807c0-2.374-2.17-4.424-6.447-6.09zm-12.536-4.95H24.996V19.71h8.264a1.17 1.17 0 1 0 0-2.34h-8.264v-1.056h15.988v4.453zm-2.457-6.791H21.473v-.798h9.09c.272 0 .536-.095.746-.268l2.37-1.956 2.679 1.992c.202.15.448.232.7.232h1.469v.798zM19.907 6.66c.612-1.068 1.946-2.88 4.01-3.02.065-.004.128-.008.19-.01 4.636-.186 9.37-.908 9.569-.939a1.19 1.19 0 0 0 .113-.023c2.116-.542 3.69-.429 4.81.346 1.398.967 2.226 3.06 2.608 6.589.158 1.463.11 2.93-.145 4.372h-.191v-1.968a1.17 1.17 0 0 0-1.172-1.17h-2.252L34.343 8.53a1.174 1.174 0 0 0-1.447.036l-2.755 2.273H20.3a1.17 1.17 0 0 0-1.172 1.17v1.967h-.033c-.733-2.486-.45-5.113.811-7.315zm-.891 14.107v-4.453h3.636v4.453h-3.636zm2.791 2.34h16.385a8.508 8.508 0 0 1-5.77 5.79 1.17 1.17 0 0 0-.794 1.446l.852 2.944v.002l.184.635L30 35.535l-2.664-1.611.183-.635v-.002l.853-2.944a1.17 1.17 0 0 0-.794-1.446 8.508 8.508 0 0 1-5.77-5.79zm-1.695 11.027h4.723v.001a1.169 1.169 0 0 0 .518 1.325l4.04 2.443a1.173 1.173 0 0 0 1.214 0l4.04-2.443c.453-.274.665-.817.518-1.325v-.001h4.723a4.998 4.998 0 0 1 4.823 3.685c-3.87.683-8.225 1.083-12.756 1.172h-.007c-.288.006-.577.01-.866.013l-.155.002a97.869 97.869 0 0 1-1.855 0l-.154-.002c-.29-.003-.578-.007-.866-.013h-.008c-4.53-.09-8.886-.49-12.755-1.172a4.997 4.997 0 0 1 4.823-3.685zm18.12 18.943l-.039.004c-.306.028-.614.055-.923.08l-.154.012a82.753 82.753 0 0 1-2.723.172l-.376.018a86.775 86.775 0 0 1-1.81.06l-.252.006c-.285.006-.57.01-.857.014l-.135.001a94.138 94.138 0 0 1-2.182-.002 88.004 88.004 0 0 1-8.255-.49l.753-.93 1.866-2.301 2.142 1.149c.047.025.095.046.144.064.016.007.033.01.05.016.033.01.066.021.1.029l.06.01a1.191 1.191 0 0 0 .155.018l.046.002.073-.003h.013c.048-.004.096-.01.144-.02l.023-.005a1.167 1.167 0 0 0 .293-.107l.016-.01c.045-.024.09-.05.132-.082l1.036-.76 1.036-.76 2.072 1.52a1.171 1.171 0 0 0 1.388 0l2.17-1.592 1.49.8 2.504 3.087zm-1.22-5.224l3.002-2.97 6.9 6.824-.214.051c-1.156.27-3.077.606-5.714.997l-3.975-4.902zm-19.218 4.75a64.534 64.534 0 0 1-.541-.083l-.014-.002a63.513 63.513 0 0 1-.516-.083l-.03-.005a58.54 58.54 0 0 1-.493-.084l-.038-.007a60.385 60.385 0 0 1-.488-.087l-.031-.006a54.328 54.328 0 0 1-1.015-.197l-.015-.003a49.952 49.952 0 0 1-.456-.095l-.174-.039a41.608 41.608 0 0 1-.29-.064l-.05-.011 6.343-5.436 1.673 1.434-3.865 4.767zm13.58-4.215L29.3 46.867a1.173 1.173 0 0 0-1.388 0l-2.17 1.592-1.098-.59 4.682-5.774 3.963 4.887-1.916 1.406zM5.734 28.593v6.417a12.928 12.928 0 0 1-1.621-.924c-.922-.637-1.503-1.285-1.68-1.893l-.001-.004a1.504 1.504 0 0 1-.056-.382c0-1.01 1.227-2.166 3.358-3.214zm51.89 21.748c0 3.008-10.51 7.203-27.624 7.203-17.115 0-27.624-4.196-27.624-7.203V35.727c.674.512 1.494.999 2.457 1.46l.05.024c.098.047.198.094.3.14l.14.064.103.045c.333.148.68.293 1.044.434l.009.004h.001c.861.336 1.804.654 2.83.953 4.752 1.381 10.831 2.23 17.384 2.444l.114.004.145.005-3.82 4.711-2.384-2.043a1.174 1.174 0 0 0-1.527 0l-8.335 7.142a30.068 30.068 0 0 1-.64-.202 1.17 1.17 0 1 0-.735 2.222c.424.14.87.275 1.333.406h.001l.021.007.414.115.055.014.403.107.072.019.396.1.082.02a45.894 45.894 0 0 0 1.033.24c.054.013.109.024.163.036.144.032.289.062.435.093l.154.032c.193.04.387.079.583.117l.073.014a63.655 63.655 0 0 0 1.178.215l.14.024c.204.035.409.069.615.102l.134.02c.166.027.334.053.502.078l.188.028c.18.027.362.053.544.078l.078.011.016.003.03.004.587.078.046.006.008.001h.001l.166.02a73.008 73.008 0 0 0 .64.079 88.659 88.659 0 0 0 9.519.583l.175.002a93.648 93.648 0 0 0 2.004-.006l.17-.003c.372-.006.744-.013 1.114-.024l.268-.007a93.039 93.039 0 0 0 2.406-.104l.386-.022c.3-.018.6-.038.897-.06.12-.007.238-.016.357-.025a83.936 83.936 0 0 0 2.382-.211l.166-.018c.38-.04.756-.082 1.13-.127l.06-.006.009-.002c2.363-.286 4.587-.666 6.588-1.135.188-.044.37-.088.55-.132l.112-.028c.166-.042.328-.083.487-.125l.04-.01c4.076-1.072 5.822-2.194 6.408-2.653.51-.4.598-1.135.198-1.643a1.174 1.174 0 0 0-1.646-.197c-.22.173-1.26.909-3.866 1.741l-8.679-8.583a1.174 1.174 0 0 0-1.65 0l-3.659 3.62-3.803-4.691c.49-.009.979-.02 1.465-.036l.114-.004c6.553-.214 12.632-1.063 17.384-2.444a33.741 33.741 0 0 0 2.83-.952h.001l.01-.004c.362-.142.71-.287 1.043-.434l.104-.046.139-.064c.102-.046.202-.093.3-.14l.05-.024c.963-.461 1.783-.948 2.457-1.46v14.614zm-.007-18.412a1.38 1.38 0 0 1-.05.264c-.177.608-.758 1.256-1.68 1.892-.455.311-.996.62-1.62.925v-6.416c2.13 1.047 3.357 2.204 3.357 3.213 0 .04-.003.081-.007.122z"/>
                                        <path d="M6.642 49.269l-.026-.021a1.173 1.173 0 0 0-1.896.92c0 .346.154.689.448.92l.026.02a1.17 1.17 0 0 0 1.448-1.84z"/>
                                        </g>
                                        </svg>

                                    .b-icons-card__item-title Виртуальные выставки
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M29.942 26c1.258 0 2.354-.474 2.994-.826.64.352 1.735.826 2.994.826 1.858 0 3.935-1.058 4.823-2.445.087-.133 2.163-3.312 2.163-8.555 0-3.86-3.134-7-6.986-7-1.129 0-2.158.415-2.994.856C32.099 8.416 31.07 8 29.942 8c-3.853 0-6.987 3.14-6.987 7 0 5.925 1.84 8.227 2.24 8.656.902 1.138 2.754 2.344 4.747 2.344zm0-16c.89 0 1.8.462 2.494.865.31.18.69.18 1 0 .693-.403 1.604-.865 2.494-.865 2.752 0 4.99 2.243 4.99 5 0 4.602-1.811 7.42-1.838 7.46-.466.728-1.875 1.54-3.152 1.54-1.286 0-2.391-.797-2.398-.802a.994.994 0 0 0-1.192 0c-.01.008-1.112.802-2.398.802-1.272 0-2.6-.83-3.203-1.612a1.296 1.296 0 0 0-.077-.088c-.017-.018-1.71-1.878-1.71-7.3 0-2.757 2.238-5 4.99-5zM32.08 6.515a.996.996 0 0 0 1.37.342 1 1 0 0 0 .341-1.372l-2.994-5a.996.996 0 0 0-1.37-.342 1 1 0 0 0-.34 1.372l2.993 5zM35.196 6.371c.07.023.707.228 1.55.228 1.194 0 2.232-.408 3-1.178 1.826-1.83.984-4.448.947-4.559a1.002 1.002 0 0 0-.631-.632 5.293 5.293 0 0 0-1.551-.228c-1.194 0-2.23.407-3 1.177-1.826 1.831-.982 4.448-.946 4.56a1 1 0 0 0 .631.632zm1.727-3.778c.391-.392.925-.59 1.588-.59.14 0 .273.008.391.022.061.54.033 1.38-.568 1.982-.391.392-.926.592-1.588.592-.14 0-.273-.01-.39-.023-.062-.54-.034-1.38.567-1.983zM56.889 28H8.983a3 3 0 0 0-2.995 3v4a1 1 0 0 0 .998 1 1 1 0 0 0 .998-1v-4a1 1 0 0 1 .998-1h2.995v5a1 1 0 0 0 .998 1 1 1 0 0 0 .998-1v-5h25.949v5a1 1 0 0 0 .998 1 1 1 0 0 0 .998-1v-5h9.98v5a1 1 0 0 0 .998 1 1 1 0 0 0 .999-1v-5h2.994a1 1 0 0 1 .998 1v7h-2.994a1 1 0 0 0-.998 1v9h-.999a1 1 0 0 0 0 2h2.995v7a1 1 0 0 1-.998 1h-30.94v-5a1 1 0 0 0-.998-1 1 1 0 0 0-.998 1v5h-1.996v-5a1 1 0 0 0-.998-1 1 1 0 0 0-.998 1v5H15.97v-5a1 1 0 0 0-.998-1 1 1 0 0 0-.998 1v5H4.991a1 1 0 0 1-.998-1v-4a1 1 0 0 0-.998-1 1 1 0 0 0-.999 1v4a3 3 0 0 0 2.995 3h49.902a3 3 0 0 0 2.994-3v-7c0-1.299-1.028-2-1.996-2v-8h1.996c.968 0 1.997-.701 1.997-2v-7c0-1.654-1.344-3-2.995-3z"/>
                                        <path d="M38.924 50a1 1 0 0 0 0-2H27.945v-8h13.973v15a1 1 0 0 0 .527.882c.324.173.719.154 1.025-.05l2.44-1.63 2.44 1.63a.995.995 0 0 0 1.026.05 1 1 0 0 0 .527-.882V40h.998a1 1 0 0 0 0-2H2.994A2.966 2.966 0 0 0 0 41v6a3 3 0 0 0 2.994 3h35.93zm4.99-10h3.992v13.131l-1.442-.963a.997.997 0 0 0-1.108 0l-1.442.963v-13.13zm-31.937 0h13.972v8H11.977v-8zm-9.98 7v-6c0-.57.428-1 .997-1H9.98v8H2.994a.988.988 0 0 1-.998-1z"/>
                                        <path d="M20.96 42a1 1 0 0 0-.999 1v2a1 1 0 0 0 .998 1 1 1 0 0 0 .998-1v-2a1 1 0 0 0-.998-1zM16.967 42a1 1 0 0 0-.998 1v2a1 1 0 0 0 .998 1 1 1 0 0 0 .998-1v-2a1 1 0 0 0-.998-1z"/>
                                        </g>
                                        </svg>

                                    .b-icons-card__item-title О библиотеке



