extends _layout

block title
    title Расписание занятий

block content
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var header = './images/header/header-schedule@2x.jpg'

    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab Студентов
            a(href='').btn.btn--tab.active Преподавателей
            a(href='').btn.btn--tab Аудиторий
        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Преподавателей
                option(value='') Студентов
                option(value='') Аудиторий
        .b-schedule__filter.js-aside-filter
    .container
        .page-content.page-content--right-aside.page-content--schedule
            .page-content__wrap
                section
                    .page-inner
                        .b-schedule__letter a
                        .b-schedule__teacher-row
                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 



                        .b-schedule__letter б
                        .b-schedule__teacher-row
                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 



                        .b-schedule__letter в
                        .b-schedule__teacher-row
                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 



                        .b-schedule__letter г
                        .b-schedule__teacher-row
                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Абрамова
                                        | Анастасия Владимировна
                                    .b-schedule__teacher-position преподаватель

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Алпеева
                                        | Наталья Николаевна
                                    .b-schedule__teacher-position к. фил. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 

                            a(href='').b-schedule__teacher
                                img(src=img1 alt='')
                                .b-schedule__teacher-text
                                    .b-schedule__teacher-name
                                        span Ананьева
                                        | Юлия Станиславовна
                                    .b-schedule__teacher-position к. х. н., доцент 



                aside
                    .aside__alphabet
                        .aside__alphabet-wrap
                            .aside__alphabet-item.active а
                            .aside__alphabet-item б
                            .aside__alphabet-item в
                            .aside__alphabet-item г
                            .aside__alphabet-item д
                            .aside__alphabet-item е
                            .aside__alphabet-item ж
                            .aside__alphabet-item з
                            .aside__alphabet-item и
                            .aside__alphabet-item к
                            .aside__alphabet-item л
                            .aside__alphabet-item м
                            .aside__alphabet-item н
                            .aside__alphabet-item о
                            .aside__alphabet-item п
                            .aside__alphabet-item р
                            .aside__alphabet-item с
                            .aside__alphabet-item т
                            .aside__alphabet-item у
                            .aside__alphabet-item ф
                            .aside__alphabet-item х
                            .aside__alphabet-item ц
                            .aside__alphabet-item ч
                            .aside__alphabet-item ш
                            .aside__alphabet-item щ
                            .aside__alphabet-item ю
                            .aside__alphabet-item я
                        a(href='') Все преподаватели

                    .column-radio
                        .column-radio__title Кафедра
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' checked='checked' name="headings" value='1')
                                label(for='_1') Все кафедры
                            .column-radio__item
                                input(id='_2' type='radio' name="headings" value='2')
                                label(for='_2') ГиЕНД
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') ГиМУ
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') ГПД
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') КиМП
                            .column-radio__item
                                input(id='_6' type='radio' name="headings" value='6')
                                label(for='_6') ПиСУ
                            .column-radio__item
                                input(id='_7' type='radio' name="headings" value='7')
                                label(for='_7') ТиИГиП
                            .column-radio__item
                                input(id='_8' type='radio' name="headings" value='8')
                                label(for='_8') УПРАВиК
                            .column-radio__item
                                input(id='_9' type='radio' name="headings" value='9')
                                label(for='_9') УПРОЦиК
                            .column-radio__item
                                input(id='_10' type='radio' name="headings" value='10')
                                label(for='_10') ФиАП
                            .column-radio__item
                                input(id='_11' type='radio' name="headings" value='11')
                                label(for='_11') ЭиФ
                    +error()
