extends _layout

block title
    title Абитуриенту

block content

    -var breadcrumbs = ['Абитуриенту']
    -var slider1 = './images/header/header-project@2x.jpg'
    -var slider2 = './images/header/header-student@2x.jpg'

    +_sub-header('Абитуриенту', breadcrumbs)
    .container
        .page-content.page-content--center
            .page-content__wrap
                section
                    .page-inner
                        .banner-slider.js-banner-slider
                            .banner-slider__item
                                img(src=slider1 alt='')
                            .banner-slider__item
                                img(src=slider2 alt='')
                        .b-icons-card
                            a(href='').b-icons-card__btn.btn.btn--border Подать заявление онлайн
                            .b-icons-card__list
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="60" viewBox="0 0 46 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M.012 7v52a1 1 0 0 0 .998 1h37.933a1 1 0 0 0 .998-1V17c0-.022-.01-.041-.013-.063a.944.944 0 0 0-.05-.257c-.012-.032-.02-.063-.033-.094a.99.99 0 0 0-.2-.293l-9.983-10a.968.968 0 0 0-.385-.233.988.988 0 0 0-.258-.052c-.017.003-.037-.008-.058-.008H1.01a.999.999 0 0 0-.998 1zm36.521 9H29.96V9.414L36.533 16zM2.008 8h25.955v9c0 .552.447 1 .998 1h8.984v40H2.008V8z"/>
                                        <path d="M41.938 52v2h2.995a.999.999 0 0 0 .998-1V1a1 1 0 0 0-.998-1H6.999a1 1 0 0 0-.998 1v3h1.997V2h35.936v50h-1.996z"/>
                                        <path d="M7.998 20h23.957v2H7.998zM7.998 14h7.986v2H7.998zM7.998 26H23.97v2H7.998zM25.966 26h5.99v2h-5.99zM7.998 32h23.957v2H7.998zM7.998 44h23.957v2H7.998zM16.981 38h14.974v2H16.981zM7.998 38h6.987v2H7.998zM7.998 50h3.993v2H7.998zM13.987 50h17.968v2H13.987z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Перечень документов

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M60 30.968v-7.765a4.809 4.809 0 0 0-3.448-4.635l-6.23-1.869v-1.47a6.767 6.767 0 0 0 2.904-5.55V6.773A6.782 6.782 0 0 0 46.452 0a6.782 6.782 0 0 0-6.775 6.774v2.903a6.764 6.764 0 0 0 2.904 5.551v1.47l-5.49 1.648a11.147 11.147 0 0 0-7.472-2.862 11.172 11.172 0 0 0-7.278 2.692L17.42 16.7v-1.47a6.767 6.767 0 0 0 2.904-5.55V6.773A6.782 6.782 0 0 0 13.548 0a6.782 6.782 0 0 0-6.774 6.774v2.903a6.764 6.764 0 0 0 2.903 5.551v1.47l-6.229 1.87A4.81 4.81 0 0 0 0 23.202v7.765h1.935v-7.765c0-1.292.832-2.41 2.07-2.78l6.231-1.87c.563.731 1.653 1.77 3.312 1.77 1.66 0 2.75-1.039 3.313-1.77l3.969 1.19a11.17 11.17 0 0 0-2.354 5.622 6.75 6.75 0 0 0-4.928-2.14A6.782 6.782 0 0 0 6.774 30v2.903a6.764 6.764 0 0 0 2.903 5.551v1.47l-6.229 1.869A4.81 4.81 0 0 0 0 46.428v8.733h11.613a.97.97 0 0 1 .968.968V60h34.838v-3.871a.97.97 0 0 1 .968-.968H60v-8.733a4.809 4.809 0 0 0-3.448-4.634l-6.23-1.869v-1.47a6.767 6.767 0 0 0 2.904-5.55V30a6.782 6.782 0 0 0-6.774-6.774 6.752 6.752 0 0 0-4.84 2.042v-.918a5.204 5.204 0 0 0-2.658-4.541l4.185-1.257c.563.731 1.653 1.77 3.313 1.77 1.66 0 2.749-1.039 3.312-1.77l6.232 1.87a2.884 2.884 0 0 1 2.069 2.78v7.765H60zM13.548 1.935a4.844 4.844 0 0 1 4.84 4.84h-4.439c-.615 0-1.218-.25-1.652-.685l-.684-.684-.684.684a2.352 2.352 0 0 1-1.652.684H8.71a4.844 4.844 0 0 1 4.838-4.839zM8.71 9.677V8.71h.567c.843 0 1.648-.242 2.336-.694a4.238 4.238 0 0 0 2.336.694h4.438v.967a4.844 4.844 0 0 1-4.839 4.84 4.844 4.844 0 0 1-4.838-4.84zm4.838 8.71c-1.028 0-1.695-.864-1.935-1.234v-.986a6.733 6.733 0 0 0 3.871 0v.985c-.24.372-.907 1.235-1.936 1.235zM40.15 35.373a6.804 6.804 0 0 0 2.432 3.082v1.47l-6.229 1.869c-.205.06-.404.14-.599.228l-.914-.21v-1.907a7.782 7.782 0 0 0 2.35-3.174 4.82 4.82 0 0 0 2.96-1.358zM30 41.613a7.689 7.689 0 0 0 2.903-.57v1.054L30 44.274l-2.903-2.177v-1.054c.897.365 1.876.57 2.903.57zm-4.092 2.012l2.36 1.77-2.427 1.456-.614-3.068.681-.158zm3.023 7.665h2.138l.753 6.775h-3.644l.753-6.775zm2.307-1.935H28.76l-.555-1.667L30 46.612l1.793 1.076-.555 1.667zm.494-3.96l2.36-1.77.681.157-.614 3.068-2.427-1.455zm7.19-11.507c-.334.368-.76.626-1.222.782.027-.263.042-.53.042-.799v-4.63c1.041.394 1.816 1.31 1.92 2.405a2.887 2.887 0 0 1-.74 2.242zm-3.116-.017A5.812 5.812 0 0 1 30 39.677a5.812 5.812 0 0 1-5.806-5.806v-4.839h3.285c2.109 0 4.161-.526 5.996-1.532l.765 1.532h1.566v4.839zm-13.506.8a2.902 2.902 0 0 1-1.223-.783 2.885 2.885 0 0 1-.74-2.24c.105-1.096.88-2.013 1.921-2.407v4.63c0 .27.015.536.042.8zm.511 2.06a7.766 7.766 0 0 0 2.35 3.174v1.906l-.914.211a5.008 5.008 0 0 0-.598-.228l-6.23-1.869v-1.47a6.81 6.81 0 0 0 2.432-3.082 4.82 4.82 0 0 0 2.96 1.358zm-9.263-11.57A4.844 4.844 0 0 1 18.388 30h-.568c-.615 0-1.218-.25-1.652-.684l-.684-.684-.684.684a2.352 2.352 0 0 1-1.652.684H8.71a4.844 4.844 0 0 1 4.838-4.839zM8.71 32.903v-.968h4.438c.843 0 1.648-.241 2.336-.693a4.238 4.238 0 0 0 2.336.693h.567v.968a4.844 4.844 0 0 1-4.839 4.839 4.844 4.844 0 0 1-4.838-4.839zm4.838 6.774c.673 0 1.323-.101 1.936-.285v.986c-.24.372-.907 1.235-1.936 1.235-1.028 0-1.695-.864-1.935-1.234v-.986a6.766 6.766 0 0 0 1.935.284zm-1.935 13.549H7.742v-6.774H5.806v6.774h-3.87v-6.798c0-1.291.83-2.41 2.069-2.78l6.231-1.87c.563.732 1.653 1.77 3.312 1.77 1.66 0 2.75-1.038 3.313-1.77l3.67 1.102-2.7.622a6.744 6.744 0 0 0-5.25 6.6v1.188h1.935v-1.187a4.818 4.818 0 0 1 3.751-4.715l5.073-1.171 1.14 5.706 2.026-1.215.572 1.719-.847 7.638h-4.94v-7.742h-1.936v7.742h-4.839v-1.936c0-1.6-1.303-2.903-2.903-2.903zm44.382-9.578a2.884 2.884 0 0 1 2.07 2.78v6.798h-3.871v-6.774h-1.936v6.774h-3.87a2.907 2.907 0 0 0-2.904 2.903v1.936h-4.839v-7.742H38.71v7.742h-4.94l-.85-7.638.573-1.719 2.025 1.215 1.14-5.706 5.075 1.17a4.818 4.818 0 0 1 3.75 4.716v1.187h1.936v-1.187a6.744 6.744 0 0 0-5.25-6.6l-2.7-.623 3.67-1.102c.563.732 1.653 1.77 3.313 1.77 1.66 0 2.749-1.038 3.312-1.77l6.231 1.87zm-7.608-3.269c-.24.37-.907 1.234-1.935 1.234-1.031 0-1.699-.867-1.936-1.234v-.987a6.733 6.733 0 0 0 3.871 0v.987zm-1.935-2.637a4.844 4.844 0 0 1-4.84-4.839v-.968h.568c.843 0 1.648-.241 2.336-.693a4.238 4.238 0 0 0 2.336.693h4.438v.968a4.844 4.844 0 0 1-4.838 4.839zm0-12.58A4.844 4.844 0 0 1 51.29 30h-4.438c-.614 0-1.217-.25-1.652-.684l-.684-.684-.684.684A2.352 2.352 0 0 1 42.18 30h-.567a4.844 4.844 0 0 1 4.839-4.839zm-6.775 2.985a5.084 5.084 0 0 0-3.07-1.05h-1.17l-1.19-2.38-.912.607a10.521 10.521 0 0 1-5.856 1.773h-4.087c-1.15 0-2.213.401-3.07 1.05v-1.432c0-5.125 4.172-9.296 9.297-9.296 2.483 0 4.818.967 6.574 2.723l1.026 1.026.217.073a3.274 3.274 0 0 1 2.241 3.11v3.796zm6.775-26.212a4.844 4.844 0 0 1 4.838 4.84h-.567c-.614 0-1.217-.25-1.652-.685l-.684-.684-.684.684a2.352 2.352 0 0 1-1.652.684h-4.438a4.844 4.844 0 0 1 4.839-4.839zm-4.84 7.742V8.71h4.439c.843 0 1.648-.242 2.336-.694a4.238 4.238 0 0 0 2.336.694h.567v.967a4.844 4.844 0 0 1-4.838 4.84 4.844 4.844 0 0 1-4.84-4.84zm4.84 8.71c-1.031 0-1.699-.867-1.936-1.234v-.987a6.733 6.733 0 0 0 3.871 0v.986c-.24.372-.907 1.235-1.935 1.235z"/>
                                        <path d="M22.258 0h1.936v1.935h-1.936zM22.258 3.871h1.936v10.645h-1.936zM35.806 0h1.936v1.935h-1.936zM35.806 3.871h1.936v10.645h-1.936zM26.129 3.871h1.936v6.774h-1.936zM26.129 12.58h1.936v1.936h-1.936zM31.935 3.871h1.936v6.774h-1.936zM31.935 12.58h1.936v1.936h-1.936z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Количество мест

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M48.516 17.432c.648 0 1.172-.525 1.172-1.172V3.516A3.52 3.52 0 0 0 46.173 0H3.516A3.52 3.52 0 0 0 .001 3.516v52.968A3.52 3.52 0 0 0 3.516 60h42.657a3.52 3.52 0 0 0 3.515-3.516v-8.633a1.172 1.172 0 0 0-2.343 0v8.633c0 .647-.526 1.172-1.172 1.172H3.516a1.173 1.173 0 0 1-1.171-1.172V3.516c0-.647.525-1.172 1.171-1.172h42.657c.646 0 1.172.525 1.172 1.172V16.26c0 .647.524 1.172 1.171 1.172z"/>
                                        <path d="M24.845 6.328c-5.945 0-10.782 4.837-10.782 10.781 0 3.084 1.302 5.87 3.385 7.837.039.041.08.08.126.117a10.74 10.74 0 0 0 7.27 2.828 10.74 10.74 0 0 0 7.271-2.828c.045-.036.087-.076.126-.117a10.751 10.751 0 0 0 3.385-7.837c0-5.944-4.837-10.78-10.781-10.78zm0 19.219a8.392 8.392 0 0 1-5.097-1.719 5.822 5.822 0 0 1 5.097-2.969 5.822 5.822 0 0 1 5.096 2.969 8.393 8.393 0 0 1-5.096 1.719zM22.97 16.64v-.762c0-1.034.84-1.875 1.875-1.875 1.033 0 1.875.841 1.875 1.875v.762a1.877 1.877 0 0 1-1.875 1.875 1.877 1.877 0 0 1-1.875-1.875zm8.664 5.47a8.13 8.13 0 0 0-3.452-2.894 4.197 4.197 0 0 0 .881-2.576v-.762a4.223 4.223 0 0 0-4.218-4.219 4.223 4.223 0 0 0-4.22 4.219v.762c0 .97.33 1.863.882 2.576a8.13 8.13 0 0 0-3.452 2.894 8.391 8.391 0 0 1-1.648-5.002c0-4.652 3.785-8.437 8.438-8.437 4.652 0 8.437 3.785 8.437 8.437a8.391 8.391 0 0 1-1.648 5.002zM31.173 51.328h-6.328a1.172 1.172 0 0 0 0 2.344h6.328a1.172 1.172 0 0 0 0-2.344zM31.173 44.766h-16.64a1.172 1.172 0 0 0 0 2.343h16.64a1.172 1.172 0 0 0 0-2.343zM31.173 38.203h-16.64a1.172 1.172 0 0 0 0 2.344h16.64a1.172 1.172 0 0 0 0-2.344zM10.355 31.984a1.18 1.18 0 0 0-.83-.343c-.308 0-.61.125-.828.343a1.18 1.18 0 0 0-.343.828c0 .309.125.611.343.829.22.218.52.343.829.343.31 0 .61-.125.83-.343a1.18 1.18 0 0 0 .343-.828c0-.309-.126-.611-.344-.829zM10.355 38.546a1.183 1.183 0 0 0-.83-.343c-.308 0-.609.126-.828.343a1.18 1.18 0 0 0-.343.829c0 .308.125.61.343.829.22.217.52.343.829.343.31 0 .61-.126.83-.343a1.18 1.18 0 0 0 .343-.829c0-.308-.126-.61-.344-.829zM10.355 45.109a1.183 1.183 0 0 0-.83-.343c-.308 0-.609.125-.828.343a1.18 1.18 0 0 0-.343.828c0 .309.125.611.343.829.218.218.52.343.829.343.31 0 .612-.125.83-.343a1.18 1.18 0 0 0 .343-.828c0-.309-.126-.611-.344-.829zM31.173 31.64h-16.64a1.172 1.172 0 0 0 0 2.344h16.64a1.172 1.172 0 0 0 0-2.343zM57.54 15.272a4.89 4.89 0 0 0-3.736-.492 4.89 4.89 0 0 0-2.988 2.293L36.069 42.616c-.081.14-.132.295-.15.456l-1.038 9.298a1.172 1.172 0 0 0 1.86 1.074l7.533-5.548c.13-.096.239-.218.32-.358L59.34 21.995a4.928 4.928 0 0 0-1.802-6.723zM37.506 49.968l.542-4.855 3.392 1.958-3.934 2.897zm5.643-4.617l-4.465-2.578 11.834-20.497 4.465 2.578L43.15 45.35zm14.161-24.528l-1.155 2.001-4.466-2.578 1.156-2c.344-.597.9-1.024 1.565-1.202a2.56 2.56 0 0 1 1.956.258c.597.344 1.023.9 1.201 1.565.179.665.087 1.36-.257 1.956z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Перечень вступительных испытаний и форма проведения

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="60" viewBox="0 0 45 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M43.816 13.249h-3.304v-3.27c0-.647-.53-1.171-1.184-1.171h-3.303v-3.27c0-.646-.53-1.17-1.185-1.17H17.13c-.655 0-1.185.524-1.185 1.17 0 .648.53 1.173 1.184 1.173h16.528v42.064H2.368V6.71h2.12v1.373c0 1.544 1.269 2.8 2.83 2.8.653 0 1.183-.525 1.183-1.172 0-.647-.53-1.172-1.184-1.172a.465.465 0 0 1-.461-.456V6.71h2.107c.654 0 1.184-.525 1.184-1.172V2.8c0-1.544-1.27-2.8-2.83-2.8s-2.83 1.256-2.83 2.8v1.567H1.185C.53 4.367 0 4.892 0 5.54v44.408c0 .647.53 1.171 1.184 1.171h3.304v3.27c0 .647.53 1.171 1.184 1.171h3.303v3.27c0 .646.53 1.171 1.184 1.171h33.657c.653 0 1.184-.525 1.184-1.172V14.42c0-.647-.53-1.171-1.184-1.171zM6.856 2.8c0-.247.211-.456.461-.456s.461.209.461.456v1.567h-.922V2.8zm35.776 54.856H11.343V55.56h15.385c.654 0 1.184-.524 1.184-1.172 0-.647-.53-1.172-1.184-1.172H6.856v-2.097H34.84c.653 0 1.184-.525 1.184-1.171V11.152h2.12v42.063h-3.25c-.654 0-1.184.525-1.184 1.172 0 .648.53 1.172 1.184 1.172h4.433c.654 0 1.184-.524 1.184-1.172V15.592h2.12v42.064z"/>
                                        <path d="M12.367 6.71c.654 0 1.184-.524 1.184-1.171s-.53-1.172-1.184-1.172h-.002c-.654 0-1.183.525-1.183 1.172a1.18 1.18 0 0 0 1.185 1.172zM31.49 53.215c-.654 0-1.184.525-1.184 1.172 0 .648.53 1.172 1.184 1.172h.003c.654 0 1.183-.524 1.183-1.172a1.18 1.18 0 0 0-1.186-1.172zM9.485 17.233a1.804 1.804 0 0 0 .36 1.771l2.459 2.807-.321 3.71c-.054.643.23 1.255.76 1.636a1.857 1.857 0 0 0 1.809.205l3.46-1.447 3.39 1.418a1.872 1.872 0 0 0 1.847-.149c.545-.374.85-1.012.794-1.667l-.323-3.706 2.433-2.778a1.815 1.815 0 0 0 .395-1.779 1.855 1.855 0 0 0-1.353-1.24l-3.655-.841-1.93-3.168a1.843 1.843 0 0 0-1.584-.903h-.016c-.656 0-1.248.331-1.587.888l-1.94 3.183-3.65.84a1.834 1.834 0 0 0-1.348 1.22zm6.023.111c.311-.072.58-.265.746-.536l1.758-2.887 1.758 2.887c.165.271.435.464.746.536l3.315.762-2.228 2.544c-.21.24-.313.552-.285.868l.292 3.357-3.137-1.312a1.202 1.202 0 0 0-.922 0l-3.135 1.312.29-3.358a1.162 1.162 0 0 0-.285-.867l-2.228-2.544 3.315-.762zM21.117 32.665c.654 0 1.185-.525 1.185-1.172 0-.648-.53-1.172-1.185-1.172h-6.21c-.653 0-1.184.524-1.184 1.172 0 .647.53 1.172 1.185 1.172h6.21zM31.537 38.524c0-.647-.53-1.172-1.184-1.172H5.672c-.654 0-1.184.525-1.184 1.172 0 .647.53 1.172 1.184 1.172h24.681c.654 0 1.184-.525 1.184-1.172zM10.16 42.04c-.655 0-1.185.524-1.185 1.172 0 .646.53 1.171 1.184 1.171h15.706c.654 0 1.184-.525 1.184-1.171 0-.648-.53-1.172-1.184-1.172H10.16z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Минимальное количество баллов

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M52.5 10.898c.648 0 1.172-.524 1.172-1.171V3.516A3.52 3.52 0 0 0 50.157 0H3.517A3.52 3.52 0 0 0 0 3.516v52.968A3.52 3.52 0 0 0 3.516 60h46.64a3.52 3.52 0 0 0 3.516-3.516v-3.28a1.172 1.172 0 1 0-2.343 0v3.28c0 .647-.526 1.172-1.172 1.172H3.517a1.173 1.173 0 0 1-1.173-1.172V3.516c0-.647.526-1.172 1.172-1.172h46.64c.647 0 1.173.525 1.173 1.172v6.21c0 .648.524 1.172 1.171 1.172z"/>
                                        <path d="M46.876 5.625H6.796c-.647 0-1.171.525-1.171 1.172v24.492a1.172 1.172 0 1 0 2.344 0V7.97h37.735v1.875a1.172 1.172 0 0 0 2.344 0V6.797c0-.647-.525-1.172-1.172-1.172zM7.625 34.796a1.179 1.179 0 0 0-.829-.343c-.308 0-.61.126-.828.343a1.18 1.18 0 0 0-.344.829c0 .308.126.61.344.829.218.217.52.343.828.343a1.176 1.176 0 0 0 1.172-1.172c0-.308-.124-.61-.343-.829zM46.876 49.453c-.647 0-1.172.525-1.172 1.172v1.406H7.97V40.137a1.172 1.172 0 1 0-2.344 0v13.066c0 .647.524 1.172 1.172 1.172h40.08c.646 0 1.171-.525 1.171-1.172v-2.578c0-.647-.525-1.172-1.172-1.172z"/>
                                        <path d="M36.317 41.407a1.172 1.172 0 0 0-1.657 0l-2.316 2.316-1.44-1.44a2.334 2.334 0 0 0-3.296 0l-.937.937a1.172 1.172 0 0 0 1.657 1.657l.928-.928 1.44 1.44a2.324 2.324 0 0 0 1.648.682c.597 0 1.194-.228 1.648-.682l2.325-2.325c.458-.458.458-1.2 0-1.657z"/>
                                        <path d="M59.46 24.584c.517-.806.672-1.798.424-2.723a3.416 3.416 0 0 0-1.728-2.146 1.068 1.068 0 0 1-.575-.996 3.417 3.417 0 0 0-.994-2.569 3.414 3.414 0 0 0-2.57-.994 1.065 1.065 0 0 1-.996-.576 3.417 3.417 0 0 0-2.146-1.727 3.416 3.416 0 0 0-2.722.423c-.35.224-.8.224-1.15 0a3.416 3.416 0 0 0-2.722-.423 3.417 3.417 0 0 0-2.146 1.727 1.07 1.07 0 0 1-.996.576 3.415 3.415 0 0 0-2.57.994 3.416 3.416 0 0 0-.994 2.57c.02.414-.206.805-.575.995a3.404 3.404 0 0 0-1.81 3.488H14.74a1.172 1.172 0 1 0 0 2.344h21.048a1.055 1.055 0 0 1-.093.187 3.417 3.417 0 0 0-.299 3.094H14.74a1.172 1.172 0 1 0 0 2.344h22.765c.051.134.077.278.07.426a3.417 3.417 0 0 0 .995 2.57 3.413 3.413 0 0 0 2.569.994c.414-.02.805.207.996.575.14.273.317.522.521.744v10.944a1.172 1.172 0 0 0 1.999.83l2.923-2.907 2.923 2.908a1.172 1.172 0 0 0 1.999-.83V36.48c.204-.222.38-.472.521-.744a1.07 1.07 0 0 1 .996-.575 3.412 3.412 0 0 0 3.564-3.564c-.019-.414.207-.805.575-.996a3.416 3.416 0 0 0 1.728-2.146 3.417 3.417 0 0 0-.423-2.722c-.224-.35-.224-.8 0-1.15zm-9.304 20.022l-1.752-1.742a1.172 1.172 0 0 0-1.653 0L45 44.606v-7.03a3.418 3.418 0 0 0 2.003-.534c.35-.224.8-.224 1.15 0a3.416 3.416 0 0 0 1.842.539c.054 0 .107-.003.161-.006v7.031zM57.62 27.85c-.079.293-.27.531-.54.67a3.418 3.418 0 0 0-1.84 3.187c.014.303-.096.589-.31.803-.215.215-.5.325-.804.311a3.418 3.418 0 0 0-3.187 1.84c-.139.27-.377.462-.67.54a1.054 1.054 0 0 1-.851-.132 3.407 3.407 0 0 0-1.84-.538c-.64 0-1.281.18-1.84.538-.256.164-.558.21-.85.132a1.054 1.054 0 0 1-.672-.54 3.417 3.417 0 0 0-3.187-1.84 1.055 1.055 0 0 1-.802-.31 1.053 1.053 0 0 1-.311-.804 3.417 3.417 0 0 0-1.84-3.187 1.053 1.053 0 0 1-.54-.67 1.053 1.053 0 0 1 .132-.851 3.418 3.418 0 0 0 0-3.68 1.054 1.054 0 0 1-.132-.85c.078-.294.27-.532.54-.672a3.419 3.419 0 0 0 1.84-3.186 1.054 1.054 0 0 1 .31-.803c.215-.215.501-.325.804-.311a3.418 3.418 0 0 0 3.186-1.84c.14-.27.378-.462.671-.54.293-.079.596-.032.85.132a3.418 3.418 0 0 0 3.68 0c.256-.164.558-.21.852-.132.293.078.531.27.67.54a3.418 3.418 0 0 0 3.187 1.84c.304-.014.589.096.803.31.215.215.325.5.311.804a3.418 3.418 0 0 0 1.84 3.186c.27.14.461.378.54.671.078.293.032.596-.132.85a3.418 3.418 0 0 0 0 3.68c.164.256.21.559.132.852z"/>
                                        <path d="M53.151 21.971a1.172 1.172 0 0 0-1.657 0l-3.89 3.89-1.548-1.549a1.172 1.172 0 0 0-1.658 1.658l2.378 2.377a1.168 1.168 0 0 0 1.657 0l4.718-4.719c.458-.457.458-1.2 0-1.657zM14.306 14.171a1.18 1.18 0 0 0-.829-.343c-.308 0-.61.126-.828.343a1.18 1.18 0 0 0-.344.829c0 .308.126.61.344.829.217.217.52.343.828.343.308 0 .61-.126.829-.343a1.18 1.18 0 0 0 .343-.829c0-.308-.125-.61-.343-.829zM23.554 13.828h-5.703a1.172 1.172 0 1 0 0 2.344h5.703a1.172 1.172 0 1 0 0-2.344zM35.489 34.453H22.092a1.172 1.172 0 1 0 0 2.344h13.397a1.172 1.172 0 0 0 0-2.344z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Индивидуальные достижения

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M46.474 13.267l4.22-9.924c.23-.54.025-1.166-.48-1.465L48.145.647a4.527 4.527 0 0 0-5.16.384l-.32.26c-.795.65-1.948.65-2.744 0l-.013-.01a4.526 4.526 0 0 0-5.714.005 2.175 2.175 0 0 1-2.747.002l-.325-.265A4.53 4.53 0 0 0 25.98.628L23.853 1.88c-.509.3-.716.93-.483 1.472l4.246 9.908a14.507 14.507 0 0 0-7.412 6.018 1.172 1.172 0 1 0 1.994 1.23 12.162 12.162 0 0 1 6.398-5.112h16.87a12.114 12.114 0 0 1 8.206 11.487v3.11a1.172 1.172 0 0 0 2.344 0v-3.11a14.45 14.45 0 0 0-9.542-13.615zm-2.455-.215H30.077L25.93 3.376l1.237-.728a2.177 2.177 0 0 1 2.472.19l.324.265a4.526 4.526 0 0 0 5.715-.005 2.175 2.175 0 0 1 2.748-.001l.012.01a4.527 4.527 0 0 0 5.709 0l.32-.261a2.176 2.176 0 0 1 2.479-.185l1.19.708-4.117 9.683zM55.672 33.59a1.18 1.18 0 0 0-.828-.343c-.308 0-.61.125-.829.343-.218.22-.343.52-.343.829a1.177 1.177 0 0 0 1.172 1.173 1.177 1.177 0 0 0 1.172-1.173c0-.309-.126-.611-.344-.829zM17.927 52.274a1.18 1.18 0 0 0-.828-.343c-.308 0-.61.125-.829.343a1.18 1.18 0 0 0-.343.829c0 .308.125.61.343.828.218.218.52.344.829.344.308 0 .61-.126.828-.344a1.18 1.18 0 0 0 .344-.828c0-.308-.126-.61-.344-.829z"/>
                                        <path d="M60 48.976a4.442 4.442 0 0 0-1.446-3.282A4.442 4.442 0 0 0 60 42.414a4.458 4.458 0 0 0-4.453-4.454H42.89a4.458 4.458 0 0 0-4.453 4.453c0 1.297.557 2.467 1.446 3.281a4.442 4.442 0 0 0 0 6.563 4.442 4.442 0 0 0-.914 5.39h-4.772v-4.582c0-6.197-4.764-11.302-10.822-11.846a1.176 1.176 0 0 0-.506-.035l-.06-.002a8.154 8.154 0 0 0 2.469-5.847V23.663c0-.647-.525-1.172-1.172-1.172h-8.68a6.514 6.514 0 0 0-6.508 6.507v6.336c0 2.29.947 4.362 2.468 5.848l-.059.002a1.177 1.177 0 0 0-.506.035C4.764 41.763 0 46.868 0 53.065v5.754c0 .647.525 1.172 1.172 1.172h54.375A4.458 4.458 0 0 0 60 55.538a4.442 4.442 0 0 0-1.446-3.281A4.442 4.442 0 0 0 60 48.976zM11.263 30.64v-1.642a4.168 4.168 0 0 1 4.163-4.163h7.51v3.136a2.877 2.877 0 0 1-2.875 2.874h-8.798v-.205zm0 4.695v-2.146h8.798c1.062 0 2.05-.32 2.874-.866v3.011a5.843 5.843 0 0 1-5.836 5.837 5.843 5.843 0 0 1-5.836-5.836zm8.948 8.18L17.1 46.626l-3.112-3.113h6.224zm11.643 14.133H2.344v-3.373h9.563a1.172 1.172 0 0 0 0-2.344H2.413a9.567 9.567 0 0 1 8.331-8.345l5.526 5.527a1.169 1.169 0 0 0 1.658 0l5.526-5.527c4.725.57 8.4 4.603 8.4 9.48v4.582zm23.693 0H42.89a2.112 2.112 0 0 1-2.11-2.11c0-1.163.947-2.11 2.11-2.11h12.656c1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.11-2.11 2.11zm0-6.563H42.89a2.112 2.112 0 0 1-2.11-2.11c0-1.163.947-2.109 2.11-2.109h12.656c1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.109-2.11 2.109zm0-6.563H42.89a2.112 2.112 0 0 1-2.11-2.109c0-1.163.947-2.11 2.11-2.11h12.656c1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.11-2.11 2.11z"/>
                                        <path d="M43.828 26.718c-.938 0-1.701-.644-1.701-1.436 0-.791.763-1.435 1.701-1.435.938 0 1.701.644 1.701 1.435a1.172 1.172 0 0 0 2.344 0c0-1.703-1.212-3.146-2.873-3.617v-.175a1.172 1.172 0 0 0-2.344 0v.175c-1.66.47-2.873 1.914-2.873 3.617 0 2.084 1.815 3.78 4.045 3.78.938 0 1.701.644 1.701 1.435 0 .792-.763 1.436-1.7 1.436-.939 0-1.702-.644-1.702-1.436a1.172 1.172 0 0 0-2.344 0c0 1.704 1.212 3.147 2.873 3.617v.076a1.172 1.172 0 0 0 2.344 0v-.076c1.66-.47 2.873-1.913 2.873-3.617 0-2.084-1.814-3.78-4.045-3.78z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Стоимость обучения

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="60" viewBox="0 0 62 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M51.31 6.48a3.207 3.207 0 0 0-3.207-3.207h-3.206a3.207 3.207 0 0 0-6.414 0h-4.276a3.207 3.207 0 0 0-6.414 0h-4.276a3.207 3.207 0 0 0-6.414 0h-4.275a3.207 3.207 0 0 0-6.414 0H3.207A3.207 3.207 0 0 0 0 6.481v44.9c0 .59.479 1.068 1.069 1.068h3.207v3.207c0 .59.478 1.07 1.069 1.07h28.149c.014 0 .024-.008.037-.008a18.157 18.157 0 0 0 28.454-15.67A18.16 18.16 0 0 0 51.31 25.216V6.481zM40.62 3.274a1.07 1.07 0 0 1 2.139 0v3.208H40.62V3.273zm-10.689 0a1.07 1.07 0 0 1 2.138 0v3.208h-2.138V3.273zm-10.69 0a1.07 1.07 0 0 1 2.138 0v3.208h-2.138V3.273zm-10.69 0a1.07 1.07 0 0 1 2.139 0v3.208H8.552V3.273zM2.139 6.481c0-.59.479-1.07 1.069-1.07h3.207V7.55c0 .59.478 1.069 1.069 1.069h4.276a1.07 1.07 0 0 0 1.069-1.07V5.413h4.275V7.55c0 .59.48 1.069 1.07 1.069h4.275a1.07 1.07 0 0 0 1.07-1.07V5.413h4.275V7.55c0 .59.479 1.069 1.07 1.069h4.275a1.07 1.07 0 0 0 1.069-1.07V5.413h4.276V7.55c0 .59.478 1.069 1.069 1.069h4.276a1.07 1.07 0 0 0 1.069-1.07V5.413h3.206c.59 0 1.07.478 1.07 1.069v5.345H2.137V6.48zm4.276 45.968h22.75a18.177 18.177 0 0 0 1.805 2.138H6.414V52.45zm53.448-10.69c0 8.856-7.179 16.036-16.034 16.036-8.856 0-16.035-7.18-16.035-16.036 0-8.856 7.18-16.036 16.035-16.036 8.85.01 16.024 7.184 16.034 16.036zM43.828 23.585A18.16 18.16 0 0 0 27.8 50.311H2.138V13.964h47.034V24.39a18.118 18.118 0 0 0-5.344-.805z"/>
                                        <path d="M9.62 18.24a3.207 3.207 0 1 0 .001 6.414 3.207 3.207 0 0 0 0-6.414zm0 4.276a1.07 1.07 0 1 1 0-2.138 1.07 1.07 0 0 1 0 2.138zM20.31 18.24a3.207 3.207 0 1 0 0 6.414 3.207 3.207 0 0 0 0-6.414zm0 4.276a1.07 1.07 0 1 1 0-2.138 1.07 1.07 0 0 1 0 2.138zM31 18.24a3.207 3.207 0 1 0 0 6.414 3.207 3.207 0 0 0 0-6.414zm0 4.276a1.07 1.07 0 1 1 0-2.138 1.07 1.07 0 0 1 0 2.138zM9.62 26.792a3.207 3.207 0 1 0 .001 6.415 3.207 3.207 0 0 0 0-6.415zm0 4.277a1.07 1.07 0 1 1 0-2.139 1.07 1.07 0 0 1 0 2.139zM20.31 26.792a3.207 3.207 0 1 0 0 6.415 3.207 3.207 0 0 0 0-6.415zm0 4.277a1.07 1.07 0 1 1 0-2.139 1.07 1.07 0 0 1 0 2.139zM9.62 35.345a3.207 3.207 0 1 0 .001 6.414 3.207 3.207 0 0 0 0-6.414zm0 4.276a1.07 1.07 0 1 1 0-2.138 1.07 1.07 0 0 1 0 2.138zM20.31 35.345a3.207 3.207 0 1 0 0 6.414 3.207 3.207 0 0 0 0-6.414zm0 4.276a1.07 1.07 0 1 1 0-2.138 1.07 1.07 0 0 1 0 2.138zM29.931 41.759c0 7.675 6.222 13.897 13.897 13.897 7.674 0 13.896-6.222 13.896-13.897S51.502 27.86 43.828 27.86c-7.672.01-13.888 6.226-13.897 13.898zm25.655 0h-2.138a1.07 1.07 0 0 0 0 2.138h1.934a11.774 11.774 0 0 1-10.485 9.567V51.38a1.07 1.07 0 0 0-2.138 0v2.084a11.774 11.774 0 0 1-10.486-9.567h1.934a1.07 1.07 0 0 0 0-2.138h-2.138a11.77 11.77 0 0 1 10.69-11.705v2.084a1.07 1.07 0 0 0 2.138 0v-2.084a11.77 11.77 0 0 1 10.69 11.705z"/>
                                        <path d="M44.057 41.246l-1.478-2.218a1.07 1.07 0 0 0-1.779 1.186l2.138 3.207a1.072 1.072 0 0 0 1.574.23l6.414-5.346a1.07 1.07 0 1 0-1.369-1.644l-5.5 4.585z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Расписание вступительных испытаний

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 50 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M2.013 19.914a1.191 1.191 0 0 0-.834-.344A1.177 1.177 0 0 0 0 20.742a1.176 1.176 0 0 0 1.18 1.172 1.176 1.176 0 0 0 1.18-1.172c0-.308-.127-.61-.346-.828zM46.462 0h-23.86c-.65 0-1.179.525-1.179 1.172 0 .647.528 1.172 1.18 1.172h23.86c.65 0 1.179.525 1.179 1.172v52.968c0 .647-.53 1.172-1.18 1.172H3.538c-.65 0-1.18-.525-1.18-1.172V25.117c0-.647-.528-1.172-1.179-1.172-.65 0-1.179.525-1.179 1.172v31.367C0 58.423 1.587 60 3.538 60h42.924C48.413 60 50 58.423 50 56.484V3.516C50 1.577 48.413 0 46.462 0z"/>
                                        <path d="M25 4.688c-.802 0-1.609.06-2.397.18a1.173 1.173 0 0 0-.987 1.336c.1.64.701 1.079 1.345.981.67-.102 1.356-.154 2.039-.154 7.348 0 13.326 5.94 13.326 13.243 0 3.242-1.18 6.216-3.134 8.52a11.748 11.748 0 0 0-3.48-3.74 11.773 11.773 0 0 0-2.676-1.38 5.707 5.707 0 0 0 1.742-4.103v-1.143c0-3.166-2.592-5.742-5.778-5.742-3.186 0-5.778 2.576-5.778 5.742v1.143c0 1.606.668 3.06 1.742 4.104-.94.34-1.84.801-2.676 1.378a11.749 11.749 0 0 0-3.492 3.762 13.162 13.162 0 0 1-2.938-6.334 1.18 1.18 0 0 0-1.358-.962 1.173 1.173 0 0 0-.968 1.35 15.575 15.575 0 0 0 5.286 9.26A15.746 15.746 0 0 0 25 35.86c8.648 0 15.684-6.991 15.684-15.585 0-8.595-7.036-15.587-15.684-15.587zm-3.42 13.74c0-1.874 1.534-3.399 3.42-3.399s3.42 1.525 3.42 3.399v1.142c0 1.874-1.534 3.399-3.42 3.399s-3.42-1.525-3.42-3.399v-1.142zM25 33.516a13.361 13.361 0 0 1-8.454-2.986c1.583-3.194 4.82-5.217 8.454-5.217 3.626 0 6.857 2.015 8.444 5.197A13.315 13.315 0 0 1 25 33.516zM35.891 46.64H19.146c-.651 0-1.18.526-1.18 1.173s.529 1.172 1.18 1.172H35.89c.651 0 1.18-.525 1.18-1.172 0-.647-.529-1.172-1.18-1.172zM14.942 40.421a1.191 1.191 0 0 0-.834-.343 1.177 1.177 0 0 0-1.18 1.172 1.175 1.175 0 0 0 1.18 1.172c.31 0 .615-.126.834-.344.22-.217.346-.52.346-.828 0-.308-.125-.61-.346-.829zM14.942 46.984a1.19 1.19 0 0 0-.834-.343 1.177 1.177 0 0 0-1.18 1.172 1.175 1.175 0 0 0 1.18 1.171c.31 0 .615-.125.834-.343a1.17 1.17 0 0 0 0-1.657zM35.891 40.078H19.146c-.651 0-1.18.525-1.18 1.172 0 .647.529 1.172 1.18 1.172H35.89c.651 0 1.18-.525 1.18-1.172 0-.647-.529-1.172-1.18-1.172zM13.871 6.753a1.185 1.185 0 0 0-1.668 0l-3.84 3.817L7.05 9.266a1.185 1.185 0 0 0-1.667 0c-.46.457-.46 1.2 0 1.657l2.146 2.133c.23.228.532.343.834.343.302 0 .603-.115.834-.343L13.87 8.41c.46-.458.46-1.2 0-1.658z"/>
                                        <path d="M9.67 0C4.338 0 0 4.31 0 9.61c0 5.298 4.338 9.609 9.67 9.609s9.67-4.311 9.67-9.61C19.34 4.311 15.002 0 9.67 0zm0 16.875c-4.032 0-7.312-3.26-7.312-7.266s3.28-7.265 7.312-7.265c4.031 0 7.311 3.26 7.311 7.265 0 4.007-3.28 7.266-7.311 7.266z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Результаты вступительных испытаний

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M54.14 5.156h-5.585v-1.64A3.52 3.52 0 0 0 45.039 0a3.52 3.52 0 0 0-3.516 3.516v1.64H21.836v-1.64A3.52 3.52 0 0 0 18.32 0a3.52 3.52 0 0 0-3.515 3.516V5.2a1.17 1.17 0 0 0-.313-.044H9.823a5.866 5.866 0 0 0-5.86 5.86v19.96a1.172 1.172 0 0 0 2.344 0v-13.75h42.248a1.172 1.172 0 0 0 0-2.343H6.307v-3.867A3.52 3.52 0 0 1 9.823 7.5h4.67c.108 0 .212-.016.312-.043v1.508a3.52 3.52 0 0 0 3.515 3.515 3.52 3.52 0 0 0 3.516-3.515V7.5h19.687v1.465a3.52 3.52 0 0 0 3.516 3.515 3.52 3.52 0 0 0 3.516-3.515V7.5h5.586a3.52 3.52 0 0 1 3.515 3.516v44.53c0 1.164-.946 2.11-2.11 2.11a2.112 2.112 0 0 1-2.11-2.11v-3.031c0-.648-.525-1.172-1.172-1.172H38.633a1.172 1.172 0 0 0 0 2.344h12.46v1.86c0 .762.192 1.48.532 2.11H4.453a2.112 2.112 0 0 1-2.11-2.11v-1.86h26.23a1.172 1.172 0 0 0 0-2.344H16.864a9.588 9.588 0 0 0 3.348-7.28c0-5.3-4.31-9.61-9.609-9.61s-9.61 4.31-9.61 9.61c0 2.908 1.3 5.516 3.349 7.28h-3.17c-.647 0-1.172.524-1.172 1.172v3.032A4.458 4.458 0 0 0 4.453 60h51.093A4.459 4.459 0 0 0 60 55.546v-44.53c0-3.231-2.629-5.86-5.86-5.86zM19.493 8.965c0 .646-.526 1.172-1.172 1.172a1.173 1.173 0 0 1-1.172-1.172v-5.45c0-.646.526-1.171 1.172-1.171.646 0 1.172.525 1.172 1.172v5.449zm26.719 0c0 .646-.526 1.172-1.172 1.172a1.173 1.173 0 0 1-1.172-1.172v-5.45c0-.646.526-1.171 1.172-1.171.646 0 1.172.525 1.172 1.172v5.449zM3.337 44.062c0-4.006 3.26-7.265 7.266-7.265s7.266 3.26 7.266 7.266-3.26 7.265-7.266 7.265-7.266-3.26-7.266-7.266z"/>
                                        <path d="M54.88 15.226a1.18 1.18 0 0 0-.828-.343c-.309 0-.611.125-.829.343a1.18 1.18 0 0 0-.343.829c0 .308.125.61.343.828.218.218.52.344.829.344.308 0 .61-.126.828-.344a1.18 1.18 0 0 0 .343-.828c0-.309-.125-.61-.343-.829zM34.998 51.686a1.18 1.18 0 0 0-.828-.343c-.309 0-.611.125-.829.343-.218.219-.343.52-.343.828 0 .31.125.61.343.83.218.218.52.342.829.342.308 0 .61-.124.828-.342.218-.22.343-.522.343-.83 0-.308-.125-.61-.343-.828zM26.513 35.625a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.453 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.563a2.112 2.112 0 0 1-2.11-2.11c0-1.163.947-2.11 2.11-2.11 1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.11-2.11 2.11zM37.45 35.625a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.454 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.563a2.112 2.112 0 0 1-2.109-2.11c0-1.163.946-2.11 2.11-2.11 1.163 0 2.109.947 2.109 2.11 0 1.163-.946 2.11-2.11 2.11zM48.388 35.625a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.453 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.563a2.112 2.112 0 0 1-2.11-2.11c0-1.163.947-2.11 2.11-2.11 1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.11-2.11 2.11zM15.576 23.438a4.458 4.458 0 0 0-4.454 4.453 4.458 4.458 0 0 0 4.454 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.562a2.112 2.112 0 0 1-2.11-2.11c0-1.162.947-2.109 2.11-2.109 1.163 0 2.109.947 2.109 2.11 0 1.163-.946 2.109-2.11 2.109zM37.45 23.438a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.454 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.562a2.112 2.112 0 0 1-2.109-2.11c0-1.162.946-2.109 2.11-2.109 1.163 0 2.109.947 2.109 2.11 0 1.163-.946 2.109-2.11 2.109zM48.388 23.438a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.453 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.562a2.112 2.112 0 0 1-2.11-2.11c0-1.162.947-2.109 2.11-2.109 1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.109-2.11 2.109zM26.513 23.438a4.458 4.458 0 0 0-4.453 4.453 4.458 4.458 0 0 0 4.453 4.453 4.458 4.458 0 0 0 4.453-4.453 4.458 4.458 0 0 0-4.453-4.453zm0 6.562a2.112 2.112 0 0 1-2.11-2.11c0-1.162.947-2.109 2.11-2.109 1.163 0 2.11.947 2.11 2.11 0 1.163-.947 2.109-2.11 2.109zM14.778 41.207a1.172 1.172 0 0 0-1.658 0l-3.816 3.816L8 43.719a1.172 1.172 0 0 0-1.657 1.657l2.132 2.133a1.172 1.172 0 0 0 1.658 0l4.645-4.645c.457-.458.457-1.2 0-1.657z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Сроки проведения приема

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="60" viewBox="0 0 58 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M19.413 44.19l-.035-.01a6.898 6.898 0 0 0 1.761-4.61v-5.195c0-3.059-2.483-5.547-5.534-5.547H8.502A1.17 1.17 0 0 0 7.332 30v9.57c0 1.77.668 3.386 1.762 4.61l-.036.01c-5.053.466-9.024 4.736-9.024 9.92v4.718A1.17 1.17 0 0 0 1.204 60h26.064a1.17 1.17 0 0 0 1.17-1.172V54.11c0-5.184-3.971-9.454-9.025-9.92zm-5.177-.045a4.575 4.575 0 0 1-4.565-4.574v-2.096a4.444 4.444 0 0 0 2.141.547h6.989v1.549a4.575 4.575 0 0 1-4.565 4.574zm2.038 2.344l-2.038 2.043-2.039-2.043h4.077zM9.671 31.172h5.934a3.203 3.203 0 0 1 3.196 3.203v1.303h-6.989a2.146 2.146 0 0 1-2.141-2.146v-2.36zM2.373 57.656V54.11a7.625 7.625 0 0 1 6.587-7.55l4.449 4.458a1.165 1.165 0 0 0 1.654 0l4.449-4.459a7.625 7.625 0 0 1 6.587 7.55v3.547H2.373zM52.196 45.058a4.92 4.92 0 0 0 1.457-3.499v-4.764a7.966 7.966 0 0 0-3.414-6.537c.02-.084.029-.17.029-.258v-2.786a5.566 5.566 0 0 0 4.855-5.519V9.952c0-3.067-2.49-5.562-5.55-5.562h-18.18c-3.06 0-5.55 2.495-5.55 5.562v11.743c0 3.067 2.49 5.562 5.55 5.562h13.315l1.592 1.596a7.971 7.971 0 0 0-.596-.025c-4.384 0-7.95 3.574-7.95 7.967v4.764a4.92 4.92 0 0 0 1.458 3.499c-3.402 1.575-5.77 5.025-5.77 9.02v4.75A1.17 1.17 0 0 0 34.612 60h22.184a1.17 1.17 0 0 0 1.17-1.172V54.08c0-3.996-2.368-7.446-5.77-9.021zm-6.177-19.801a1.168 1.168 0 0 0-.826-.343h-13.8a3.218 3.218 0 0 1-3.21-3.219V9.952a3.218 3.218 0 0 1 3.21-3.218h18.18a3.218 3.218 0 0 1 3.211 3.218v.063h-7.418a1.17 1.17 0 0 0-1.17 1.172 1.17 1.17 0 0 0 1.17 1.172h7.418v9.336a3.218 3.218 0 0 1-3.21 3.219h-.475a1.17 1.17 0 0 0-1.17 1.171v1.086l-1.91-1.914zm-5.926 11.538c0-3.1 2.517-5.623 5.61-5.623 3.095 0 5.611 2.522 5.611 5.623v4.764a2.586 2.586 0 0 1-2.58 2.586h-6.06a2.586 2.586 0 0 1-2.58-2.586v-4.764zm15.534 20.861H35.781V54.08c0-4.185 3.397-7.59 7.574-7.59h4.698c4.177 0 7.574 3.405 7.574 7.59v3.577zM23.967 0h-13.6c-3.06 0-5.55 2.495-5.55 5.562v11.743a5.566 5.566 0 0 0 4.855 5.519v2.786a1.172 1.172 0 0 0 1.169 1.172c.304 0 .603-.12.827-.343l3.563-3.572h6.077a1.17 1.17 0 0 0 1.17-1.172 1.17 1.17 0 0 0-1.17-1.171h-6.56c-.311 0-.608.123-.828.343l-1.91 1.914v-1.086a1.17 1.17 0 0 0-1.169-1.171h-.475a3.218 3.218 0 0 1-3.21-3.219V5.562a3.218 3.218 0 0 1 3.21-3.218h13.601a1.17 1.17 0 0 0 1.17-1.172A1.17 1.17 0 0 0 23.967 0zM29.373.343A1.179 1.179 0 0 0 28.547 0a1.172 1.172 0 0 0 0 2.344c.307 0 .608-.126.826-.344.218-.218.343-.52.343-.828 0-.308-.125-.61-.343-.829z"/>
                                        <path d="M41.31 10.358a1.177 1.177 0 0 0-.826-.343c-.308 0-.61.125-.827.343-.218.218-.343.52-.343.829 0 .308.125.61.343.828.217.218.519.344.827.344.307 0 .609-.126.826-.344.218-.218.343-.52.343-.828 0-.308-.125-.61-.343-.829z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Прием иностранных граждан

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="60" viewBox="0 0 43 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M41.96 8.437l-2.775-.016h-.02v-1.86a.934.934 0 0 0-.93-.937h-2.79V3.75a.934.934 0 0 0-.93-.938h-23.15C11.249 1.242 9.944 0 8.356 0c-1.588 0-2.892 1.242-3.01 2.812H1.039c-.514 0-.93.42-.93.938v47.807c0 .517.416.937.93.937h1.86v2.812c0 .518.416.938.93.938h1.86v2.812c0 .518.416.937.93.937h35.335c.514 0 .93-.42.93-.937V9.374a.933.933 0 0 0-.924-.937zM8.355 1.875c.561 0 1.03.403 1.138.937H7.218a1.165 1.165 0 0 1 1.137-.937zM1.97 50.619V4.687h3.366v6.786c0 1.68 1.355 3.045 3.02 3.045 1.666 0 3.02-1.366 3.02-3.045V7.26a.934.934 0 0 0-.93-.937c-.513 0-.93.42-.93.937v4.214c0 .646-.52 1.17-1.16 1.17-.64 0-1.16-.524-1.16-1.17V4.687h26.39v45.932H1.97zm2.79 3.75v-1.875h29.756c.514 0 .93-.42.93-.937V7.499h1.86v46.87H4.758zm2.79 3.75v-1.875h30.686c.513 0 .93-.42.93-.937V10.295h.01l1.85.011V58.12H7.547z"/>
                                        <path d="M24.286 20.623H11.268c-.514 0-.93.42-.93.937 0 .518.416.938.93.938h13.018c.514 0 .93-.42.93-.938a.934.934 0 0 0-.93-.937zM24.286 24.372H11.268c-.514 0-.93.42-.93.938 0 .517.416.937.93.937h13.018c.514 0 .93-.42.93-.937a.934.934 0 0 0-.93-.938zM20.567 28.122h-5.58c-.513 0-.93.42-.93.937 0 .518.417.938.93.938h5.58c.513 0 .93-.42.93-.938a.934.934 0 0 0-.93-.937z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Программы вступительных испытаний

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M27.664 41.825a1.175 1.175 0 0 0-1.657 0c-.218.218-.343.52-.343.829 0 .308.125.61.343.828.218.218.52.344.829.344.308 0 .61-.126.828-.344a1.18 1.18 0 0 0 .344-.828c0-.308-.126-.61-.344-.829z"/>
                                        <path d="M52.5 31.407c-.647 0-1.172.525-1.172 1.172v5.154H31.172v-2.892c0-4.457-3.351-8.142-7.665-8.677a6.092 6.092 0 0 0 1.365-3.847v-8.245c0-.647-.525-1.171-1.172-1.171H17.57a4.946 4.946 0 0 0-4.94 4.94v4.476c0 1.456.511 2.795 1.364 3.847-4.314.535-7.665 4.22-7.665 8.677v2.892H2.344V9.58c0-.5.41-.908.914-.908h24.36a1.172 1.172 0 0 0 0-2.344H3.257A3.26 3.26 0 0 0 0 9.579v34.746a3.26 3.26 0 0 0 3.258 3.252h17.833v5.413a5.875 5.875 0 0 0-5.27 5.837c0 .647.524 1.172 1.171 1.172H36.68c.647 0 1.172-.525 1.172-1.172a5.875 5.875 0 0 0-5.271-5.837v-5.413h17.833a3.26 3.26 0 0 0 3.258-3.252V32.579c0-.647-.525-1.172-1.172-1.172zM14.972 17.841a2.6 2.6 0 0 1 2.597-2.596h4.96v1.87c0 .93-.757 1.686-1.687 1.686h-5.87v-.96zm0 3.304h5.87c.602 0 1.173-.133 1.686-.37v1.542a3.782 3.782 0 0 1-3.778 3.778 3.782 3.782 0 0 1-3.778-3.778v-1.172zm5.145 7.294l-1.367 1.367-1.367-1.367h2.734zM8.672 34.84c0-3.212 2.378-5.878 5.465-6.333l3.784 3.784a1.168 1.168 0 0 0 1.658 0l3.784-3.784c3.087.455 5.465 3.12 5.465 6.333v2.892H8.672v-2.892zm26.635 22.814H18.364a3.529 3.529 0 0 1 3.323-2.351H31.985c1.532 0 2.838.983 3.322 2.351zM23.435 52.96v-5.383h6.802v5.383h-6.802zm27.893-8.635c0 .5-.41.908-.915.908H3.258a.913.913 0 0 1-.914-.908v-4.248h48.984v4.248zM53.328 27.336a1.18 1.18 0 0 0-.828-.343c-.308 0-.61.125-.829.343-.217.22-.343.52-.343.829a1.176 1.176 0 0 0 1.172 1.172 1.175 1.175 0 0 0 1.172-1.172c0-.308-.126-.61-.344-.829zM52.5 5.509h-8.79a1.172 1.172 0 0 0 0 2.344h8.79a1.172 1.172 0 0 0 0-2.344zM39.735 5.852a1.18 1.18 0 0 0-.829-.343c-.308 0-.61.125-.828.343a1.18 1.18 0 0 0-.344.829c0 .308.126.61.344.828.218.218.52.344.828.344.308 0 .61-.126.829-.344a1.18 1.18 0 0 0 .343-.828c0-.308-.125-.61-.343-.829zM52.5 10.665H38.906a1.172 1.172 0 0 0 0 2.344H52.5a1.172 1.172 0 0 0 0-2.344z"/>
                                        <path d="M52.5 15.821H38.906a1.172 1.172 0 0 0 0 2.344H52.5a1.172 1.172 0 0 0 0-2.344z"/>
                                        <path d="M54.14.001H37.267a5.866 5.866 0 0 0-5.86 5.86V18.4a5.868 5.868 0 0 0 5.196 5.822v3.045a1.172 1.172 0 0 0 2 .828l3.836-3.836h11.703c3.23 0 5.859-2.629 5.859-5.86V5.862C60 2.63 57.371 0 54.14 0zM57.657 18.4a3.52 3.52 0 0 1-3.515 3.515H41.953c-.31 0-.609.124-.829.343l-2.179 2.18v-1.35c0-.648-.524-1.173-1.172-1.173h-.507A3.52 3.52 0 0 1 33.75 18.4V5.86a3.52 3.52 0 0 1 3.516-3.515H54.14a3.52 3.52 0 0 1 3.515 3.516V18.4z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Открытые интелектуальные и творческие конкурсы и Олимпиады


