extends _layout

block title
    title Расписание занятий


block content
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var header = './images/header/header-schedule@2x.jpg'

    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab Студентов
            a(href='').btn.btn--tab.active Преподавателей
            a(href='').btn.btn--tab Аудиторий
        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Преподавателей
                option(value='') Студентов
                option(value='') Аудиторий
        .b-schedule__filter.select.js-aside-filter
    .container
        .page-content.page-content--right-aside.page-content--schedule
            .page-content__wrap
                section
                    .page-inner
                        .b-schedule__table.b-schedule__table--audience
                            .b-schedule__table-title.b-schedule__table-title--ok Понедельник, 4 февраля
                            .b-schedule__table-row.b-schedule__table-row--header
                                .b-schedule__table-wrap
                                    .b-schedule__table-item #
                                    .b-schedule__table-item Время
                                    .b-schedule__table-item Свободные аудитории

                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  1
                                    .b-schedule__table-item
                                        span Время:
                                        | 13:20 — 14:50
                                    .b-schedule__table-item
                                        span Свободные аудитории
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109




                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  2
                                    .b-schedule__table-item 13:20 — 14:50
                                    .b-schedule__table-item
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109




                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  3
                                    .b-schedule__table-item 13:20 — 14:50
                                    .b-schedule__table-item
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109



                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  4
                                    .b-schedule__table-item 13:20 — 14:50
                                    .b-schedule__table-item
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109




                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  4
                                    .b-schedule__table-item 13:20 — 14:50
                                    .b-schedule__table-item
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109



                            .b-schedule__table-row
                                .b-schedule__table-wrap
                                    .b-schedule__table-item
                                        span #
                                        |  4
                                    .b-schedule__table-item 13:20 — 14:50
                                    .b-schedule__table-item
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                        .table-dropdown__list
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = '  '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B109,
                                            = ' '
                                            a(href='') B105,
                                            = ' '
                                            a(href='') B106,
                                            = ' '
                                            a(href='') B107,
                                            = ' '
                                            a(href='') B108,
                                            = ' '
                                            a(href='') B109




                aside
                    .aside__mobile-filter
                        .column-radio
                            .column-radio__title Фильтры
                            .column-radio__list
                                .column-radio__item
                                    input(id='_1' type='radio' checked='checked' name="headings" value='1')
                                    label(for='_1') Все аудитории
                                .column-radio__item
                                    input(id='_2' type='radio' name="headings" value='2')
                                    label(for='_2') Аудитория
                                .column-radio__item
                                    input(id='_3' type='radio' name="headings" value='3')
                                    label(for='_3') Поточная аудитория
                                .column-radio__item
                                    input(id='_4' type='radio' name="headings" value='4')
                                    label(for='_4') Конференц-зал
                                .column-radio__item
                                    input(id='_5' type='radio' name="headings" value='5')
                                    label(for='_5') Компьютерный класс
                                .column-radio__item
                                    input(id='_6' type='radio' name="headings" value='6')
                                    label(for='_6') Спец. аудитория

                        .column-checkbox
                            .column-checkbox__title Дата
                            .column-checkbox__list
                                .column-checkbox__item
                                    input(id='_11' type='checkbox' checked='checked' name="checkbox1" value='11')
                                    label(for='_11') Сегодня, 25 февраля
                                .column-checkbox__item
                                    input(id='_22' type='checkbox' name="checkbox1" value='2')
                                    label(for='_22') Вторник, 26 февраля
                                .column-checkbox__item
                                    input(id='_33' type='checkbox' name="checkbox1" value='3')
                                    label(for='_33') Среда, 27 февраля
                                .column-checkbox__item
                                    input(id='_44' type='checkbox' name="checkbox1" value='4')
                                    label(for='_44') Четверг, 28 февраля
                                .column-checkbox__item
                                    input(id='_55' type='checkbox' name="checkbox1" value='5')
                                    label(for='_55') Пятница, 1 марта
                                .column-checkbox__item
                                    input(id='_66' type='checkbox' name="checkbox1" value='6')
                                    label(for='_66') Суббота, 2 марта

                        .column-checkbox
                            .column-checkbox__title Пары
                            .column-checkbox__list
                                .column-checkbox__item
                                    input(id='_111' type='checkbox' checked='checked' name="checkbox2" value='11')
                                    label(for='_111') 1 пара (08:30 – 09:40)
                                .column-checkbox__item
                                    input(id='_222' type='checkbox' name="checkbox1" value='2')
                                    label(for='_222') 2 пара (09:50 – 11:10)
                                .column-checkbox__item
                                    input(id='_333' type='checkbox' name="checkbox1" value='3')
                                    label(for='_333') 3 пара (11:20 - 12:50)
                                .column-checkbox__item
                                    input(id='_444' type='checkbox' name="checkbox1" value='4')
                                    label(for='_444') 4 пара (13:20 - 14:50)
                                .column-checkbox__item
                                    input(id='_555' type='checkbox' name="checkbox1" value='5')
                                    label(for='_555') 5 пара (15:00 - 16:30)
                                .column-checkbox__item
                                    input(id='_666' type='checkbox' name="checkbox1" value='6')
                                    label(for='_666') 6 пара (16:40 - 18:10)
                                .column-checkbox__item
                                    input(id='_6664' type='checkbox' name="checkbox1" value='6')
                                    label(for='_6664') 7 пара (18:20 - 19:50)
                                .column-checkbox__item
                                    input(id='_6665' type='checkbox' name="checkbox1" value='6')
                                    label(for='_6665') 8 пара (20:00 - 21:30)

