extends _layout

block title
    title Расписание занятий

block content
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var header = './images/header/header-schedule@2x.jpg'

    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab Студентов
            a(href='').btn.btn--tab.active Преподавателей
            a(href='').btn.btn--tab Аудиторий
        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Преподавателей
                option(value='') Студентов
                option(value='') Аудиторий

    .container
        .page-content.page-content--left-aside.page-content--schedule
            .page-content__wrap
                aside
                    +menu-teacher()
                    +error

                section
                    .page-inner
                        .b-schedule__header
                            .b-schedule__header-teacher
                                img(src=img1 alt='')
                                p Свердлова Елена Геннадьевна
                                span к. т. н., доцент

                            .b-schedule__header-control
                                a(href='').b-schedule__header-arrow.b-schedule__header-arrow--left Предыдущая неделя
                                .b-schedule__header-numbers с 4 по 10 февраля
                                a(href='').b-schedule__header-arrow.b-schedule__header-arrow--right Следующая неделя

                        include blocks/_table-schedule-teacher

