extends _layout

block title
    title Расписание занятий

block content
    -var header = './images/header/header-schedule@2x.jpg'

    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab Студентов
            a(href='').btn.btn--tab Преподавателей
            a(href='').btn.btn--tab.active Аудиторий
        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Аудиторий
                option(value='') Студентов
                option(value='') Преподавателей

    .container
        .page-content.page-content--left-aside.page-content--schedule
            .page-content__wrap
                aside
                    +menu-aud()
                    +error

                section
                    .page-inner
                        .b-schedule__header
                            .b-schedule__header-title B201 (аудитория)
                            .b-schedule__header-control
                                a(href='').b-schedule__header-arrow.b-schedule__header-arrow--left Предыдущая неделя
                                .b-schedule__header-numbers с 4 по 10 февраля
                                a(href='').b-schedule__header-arrow.b-schedule__header-arrow--right Следующая неделя

                        include blocks/_table-schedule-group
                        //.b-schedule__table
                        //    .b-schedule__table-title Понедельник, 4 февраля
                        //    .b-schedule__table-row.b-schedule__table-row--header
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item #
                        //            .b-schedule__table-item Время
                        //            .b-schedule__table-item Тип
                        //            .b-schedule__table-item Занятие
                        //            .b-schedule__table-item Аудитория
                        //            .b-schedule__table-item Преподаватель
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--green
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--grey
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--yellow
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item
                        //                span лекция
                        //            .b-schedule__table-item Статистика
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Воробьёва В.В.
                        //                span к. ю. н
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--blue
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item
                        //                span лекция
                        //            .b-schedule__table-item Статистика
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Воробьёва В.В.
                        //                span к. ю. н
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //
                        //.b-schedule__table
                        //    .b-schedule__table-title.b-schedule__table-title--ok Вторник, 5 февраля
                        //    .b-schedule__table-row.b-schedule__table-row--header
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item #
                        //            .b-schedule__table-item Время
                        //            .b-schedule__table-item Тип
                        //            .b-schedule__table-item Занятие
                        //            .b-schedule__table-item Аудитория
                        //            .b-schedule__table-item Преподаватель
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--green
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--green
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item
                        //            .b-schedule__table-item
                        //            .b-schedule__table-item
                        //            .b-schedule__table-item Информационные технологии в экономике
                        //                br
                        //                | (подгр. 2)
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--grey
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item
                        //                span лекция
                        //            .b-schedule__table-item Статистика
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Воробьёва В.В.
                        //                span к. ю. н
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--grey
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item
                        //                span лекция
                        //            .b-schedule__table-item Статистика
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Воробьёва В.В.
                        //                span к. ю. н
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //.b-schedule__table
                        //    .b-schedule__table-title Среда, 6 февраля
                        //    .b-schedule__table-row.b-schedule__table-row--header
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item #
                        //            .b-schedule__table-item Время
                        //            .b-schedule__table-item Тип
                        //            .b-schedule__table-item Занятие
                        //            .b-schedule__table-item Аудитория
                        //            .b-schedule__table-item Преподаватель
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--green
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--grey
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item пр. зан.
                        //            .b-schedule__table-item Физическая культура и спорт
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Халев И.А.
                        //                span к. ю. н.
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //
                        //
                        //
                        //    .b-schedule__table-row.b-schedule__table-row--grey
                        //        .b-schedule__table-wrap
                        //            .b-schedule__table-item 4
                        //            .b-schedule__table-item 13:20 — 14:50
                        //            .b-schedule__table-item
                        //                span лекция
                        //            .b-schedule__table-item Статистика
                        //            .b-schedule__table-item
                        //                a(href='') B103
                        //            .b-schedule__table-item
                        //                a(href='') Воробьёва В.В.
                        //                span к. ю. н
                        //                .arrow-table.js-toggle-desc
                        //        .b-schedule__table-dropdown
                        //            .table-dropdown__text Свободные аудитории:
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = '  '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109
                        //            .table-dropdown__list
                        //                a(href='') B105,
                        //                = ' '
                        //                a(href='') B106,
                        //                = ' '
                        //                a(href='') B107,
                        //                = ' '
                        //                a(href='') B108,
                        //                = ' '
                        //                a(href='') B109,
                        //                = ' '
                        //            .table-dropdown__text.table-dropdown__text--last Дата изменения: 16.02.2019 (08:37)
                        //
                        //.b-schedule__table-action
                        //    a(href='').i-tabletime Экспорт в iCal
                        //    a(href='').i-printer Версия для печати






