extends _layout

block title
    title Справочник

block content

    -var breadcrumbs = ['Справочник']

    +_sub-header('Справочник', breadcrumbs)
    .container
        .page-content.page-content--center
            .page-content__wrap
                section
                    .page-inner
                        .b-icons-card

                            .b-icons-card__list
                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewBox="0 0 52 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M50.984 17.233c.497 0 .9-.4.9-.892V6.528C51.883 2.928 48.93 0 45.3 0H11.257c-3.63 0-6.583 2.928-6.583 6.528v.363h-1.02C1.64 6.891 0 8.517 0 10.515c0 1.998 1.64 3.624 3.654 3.624h1.02v2.495h-1.02C1.64 16.634 0 18.259 0 20.257c0 1.999 1.64 3.625 3.654 3.625h1.02v2.494h-1.02C1.64 26.376 0 28.002 0 30c0 1.998 1.64 3.624 3.654 3.624h1.02v2.495h-1.02C1.64 36.119 0 37.744 0 39.743c0 1.998 1.64 3.623 3.654 3.623h1.02v2.496h-1.02C1.64 45.862 0 47.487 0 49.485c0 1.998 1.64 3.624 3.654 3.624h1.02v.363c0 3.6 2.953 6.528 6.583 6.528H45.3c3.63 0 6.583-2.928 6.583-6.528V19.906a.895.895 0 0 0-.899-.891c-.496 0-.898.399-.898.89v33.567c0 2.617-2.147 4.746-4.786 4.746H11.257c-2.639 0-4.786-2.13-4.786-4.746v-.363h2.936c2.015 0 3.654-1.626 3.654-3.624 0-1.998-1.639-3.623-3.654-3.623H6.471v-2.496h2.936c2.015 0 3.654-1.625 3.654-3.623 0-1.999-1.639-3.624-3.654-3.624H6.471v-2.495h2.936c2.015 0 3.654-1.626 3.654-3.624 0-1.998-1.639-3.624-3.654-3.624H6.471v-2.494h2.936c2.015 0 3.654-1.626 3.654-3.625 0-1.998-1.639-3.623-3.654-3.623H6.471v-2.495h2.936c2.015 0 3.654-1.626 3.654-3.624 0-1.998-1.639-3.624-3.654-3.624H6.471v-.363c0-2.617 2.147-4.746 4.786-4.746h22.002v12.6a.89.89 0 0 0 .482.788.905.905 0 0 0 .929-.057l5.059-3.479 5.06 3.48a.9.9 0 0 0 1.41-.733V1.867c2.21.419 3.887 2.349 3.887 4.66v9.814c0 .492.402.892.898.892zm-39.72 32.252a1.851 1.851 0 0 1-1.857 1.842H3.654a1.851 1.851 0 0 1-1.857-1.842c0-1.015.833-1.841 1.857-1.841h5.753c1.024 0 1.857.826 1.857 1.841zm0-9.742a1.851 1.851 0 0 1-1.857 1.841H3.654a1.851 1.851 0 0 1-1.857-1.841c0-1.016.833-1.842 1.857-1.842h5.753c1.024 0 1.857.826 1.857 1.842zm0-9.743a1.851 1.851 0 0 1-1.857 1.842H3.654A1.851 1.851 0 0 1 1.797 30c0-1.015.833-1.842 1.857-1.842h5.753c1.024 0 1.857.827 1.857 1.842zm0-9.743A1.851 1.851 0 0 1 9.407 22.1H3.654a1.851 1.851 0 0 1-1.857-1.842c0-1.015.833-1.841 1.857-1.841h5.753c1.024 0 1.857.826 1.857 1.841zm0-9.742a1.851 1.851 0 0 1-1.857 1.841H3.654a1.851 1.851 0 0 1-1.857-1.841c0-1.015.833-1.842 1.857-1.842h5.753c1.024 0 1.857.827 1.857 1.842zm33.137 2.164l-4.16-2.862a.905.905 0 0 0-1.024 0l-4.16 2.861V1.907h9.345v10.772z"/>
                                        <path d="M29.794 41.48l-6.48-6.426a.904.904 0 0 0-1.27 0 .886.886 0 0 0 0 1.26l6.48 6.426a10.799 10.799 0 0 0 7.605 3.121 10.787 10.787 0 0 0 7.593-3.121L45.477 41a2.547 2.547 0 0 0 0-3.62l-4.582-4.544a2.6 2.6 0 0 0-3.65 0L34.96 35.1a2.124 2.124 0 0 1-1.506.619c-.569 0-1.104-.22-1.506-.619l-6.856-6.798a2.09 2.09 0 0 1-.624-1.493c0-.564.222-1.095.623-1.493l2.286-2.266a2.548 2.548 0 0 0 0-3.62l-4.582-4.543a2.6 2.6 0 0 0-3.65 0l-1.756 1.74a10.54 10.54 0 0 0-3.148 7.536 10.54 10.54 0 0 0 3.148 7.535l1.963 1.946c.35.348.92.348 1.27 0a.886.886 0 0 0 0-1.26l-1.962-1.946a8.778 8.778 0 0 1-2.621-6.275c0-2.071.71-4.033 2.017-5.614l5.662 5.614a3.849 3.849 0 0 0-1.047 2.646c0 1.04.409 2.018 1.15 2.753l6.856 6.799a3.918 3.918 0 0 0 2.777 1.14c1 0 1.94-.368 2.668-1.038l5.661 5.614a8.975 8.975 0 0 1-3.18 1.656 9.013 9.013 0 0 1-8.809-2.255zm-8.27-25.331l4.582 4.543a.774.774 0 0 1 0 1.1l-1.12 1.11-5.69-5.643 1.119-1.11a.79.79 0 0 1 1.109 0zm18.1 17.947l4.582 4.544a.773.773 0 0 1 0 1.1l-1.12 1.11-5.69-5.643 1.12-1.11a.79.79 0 0 1 1.108 0z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Телефонный справочник
                                    .b-icons-card__item-desc Номера телефонов структурных подразделений, кабинеты

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60">
                                        <path fill="#000" fill-rule="nonzero" d="M62.94 50.737a.937.937 0 0 0-.936.938v6.264c0 .087-.07.158-.158.158h-3.555V44.4a.937.937 0 1 0-1.871 0v13.697h-6.87l1.859-2.05a1.501 1.501 0 0 0 .358-1.23l-2.09-12.375.384-.58.1.071a1.46 1.46 0 0 0 2.16-.54l2.126-4.272 4.859 1.885c.191.084 2.698 1.235 2.698 4.23V47.3a.937.937 0 1 0 1.871 0v-4.063c0-4.326-3.703-5.901-3.861-5.967a.53.53 0 0 0-.018-.007l-8.273-3.21v-1.708a6.848 6.848 0 0 0 2.47-4.251 3.262 3.262 0 0 0 1.738-.767 3.225 3.225 0 0 0 1.12-2.446c0-.752-.261-1.471-.727-2.042v-2.53c0-4.95-4.02-8.978-8.961-8.978-2.218 0-4.25.813-5.816 2.156a3.226 3.226 0 0 0-.724-1.951v-2.53c0-4.95-4.02-8.978-8.96-8.978-4.942 0-8.962 4.028-8.962 8.978v2.596a3.062 3.062 0 0 0-.723 1.877c-1-.856-2.196-1.5-3.53-1.852a.938.938 0 0 0-.477 1.813 7.103 7.103 0 0 1 5.28 6.869v1.402a8.36 8.36 0 0 0-.175-.031 1.081 1.081 0 0 0-.224-.634c-.24-.345-.67-.775-2.053-2.265a1.477 1.477 0 0 0-1.896-.231c-2.37 1.55-5.249 2.341-7.92 2.184-.87-.051-1.414.332-1.646.96l-.265.053V20.31c0-3.109 2.073-5.905 5.042-6.801a.938.938 0 0 0-.54-1.796 9.032 9.032 0 0 0-4.57 3.194A8.909 8.909 0 0 0 7.4 20.309v2.596a3.059 3.059 0 0 0-.726 1.976 3.235 3.235 0 0 0 2.862 3.213 6.927 6.927 0 0 0 2.607 4.362v1.597l-8.264 3.21-.018.008C3.704 37.336 0 38.91 0 43.237v14.702c0 1.121.91 2.033 2.03 2.033h28.814c.403 0 .778-.12 1.094-.323.316.203.69.323 1.093.323h28.815a2.033 2.033 0 0 0 2.03-2.033v-6.264a.937.937 0 0 0-.936-.938zM9.444 26.157a1.353 1.353 0 0 1-.899-1.276c0-.552.4-1.005.9-1.22v2.496zm43.25 10.284l-1.836 3.688-2.07-1.473 2.297-2.84 1.61.625zm-5.258.91l-2.42-2.993v-.9a7.533 7.533 0 0 0 2.432.399c.825 0 1.66-.157 2.403-.438v.944l-2.415 2.987zm1.099 3.425l-.344.519h-1.509l-.344-.52 1.098-.78 1.099.78zm-16.6-14.728l-2.42-2.993v-.9c.784.272 1.63.399 2.432.399.824 0 1.658-.156 2.404-.437v.944l-2.416 2.987zm1.099 3.425l-.344.52H31.18l-.344-.52 1.098-.781 1.099.781zm-8.467-12.771c.153.041.31.07.47.09a6.927 6.927 0 0 0 2.607 4.361v1.598l-1.909.741a3.214 3.214 0 0 0-.413-.653v-2.53a8.971 8.971 0 0 0-.755-3.607zm12.34-.993c0 2.744-2.234 4.97-4.96 4.97-3.075 0-5.13-2.389-5.13-4.97v-4.391c2.954.118 6.024-.76 8.533-2.324.844.906 1.346 1.433 1.558 1.677v5.038zm1.786 1.082a3.36 3.36 0 0 0 .467-.09 8.939 8.939 0 0 0-.758 3.608v2.596a3.2 3.2 0 0 0-.37.547l-1.81-.702v-1.707a6.85 6.85 0 0 0 2.47-4.252zm-10.41 7.724l2.297 2.84-1.567 1.116-.002.001-.497.354-1.837-3.688 1.606-.623zm5.806 1.848l1.495-1.85 1.61.625-1.837 3.688-.498-.354-.002-.002-1.57-1.116.802-.991zm.471 4.196l.1.072a1.46 1.46 0 0 0 2.16-.541l1.578-3.172a3.283 3.283 0 0 0 2.136 1.179 6.818 6.818 0 0 0 2.61 4.359v1.597l-7.954 3.09-1.014-6.003.384-.58zm9.224 5.259l2.297 2.84-2.066 1.47-1.837-3.687 1.606-.623zm8.624-8.806c0 2.677-2.17 4.97-4.96 4.97-3.18 0-5.13-2.497-5.13-4.97V22.62c2.933.118 6.007-.748 8.533-2.324.844.907 1.346 1.434 1.557 1.678v5.038zm2.771-2.131c0 .57-.352 1.077-.899 1.276v-2.55c.566.206.899.724.899 1.274zm-14.906-4.572c0-3.917 3.18-7.103 7.09-7.103 3.909 0 7.09 3.186 7.09 7.103v1.402a6.398 6.398 0 0 0-.176-.031 1.081 1.081 0 0 0-.224-.634c-.245-.354-.67-.776-2.053-2.265a1.478 1.478 0 0 0-1.896-.231c-2.305 1.509-5.218 2.361-7.99 2.18-.778-.05-1.342.332-1.576.964l-.265.053V20.31zm.173 3.352v2.495a1.35 1.35 0 0 1-.899-1.275c0-.552.4-1.005.9-1.22zm-.768-10.083a1.35 1.35 0 0 1-.9 1.277v-2.55c.56.203.9.718.9 1.273zM31.862 1.903c3.909 0 7.09 3.187 7.09 7.103v1.402a6.726 6.726 0 0 0-.176-.031c-.014-.287-.096-.464-.265-.692-.25-.34-.712-.807-2.012-2.207a1.477 1.477 0 0 0-1.895-.231c-2.435 1.594-5.389 2.37-8.066 2.177a1.487 1.487 0 0 0-1.5.967l-.266.053V9.006c0-3.917 3.18-7.103 7.09-7.103zm-6.917 10.455v2.497a1.353 1.353 0 0 1-.899-1.277c0-.548.396-1.003.9-1.22zm-1.667 11.249c.523.19.86.648.893 1.192a1.348 1.348 0 0 1-.893 1.357v-2.55zm-.087 4.49a3.28 3.28 0 0 0 2.224-1.294l1.637 3.287a1.463 1.463 0 0 0 2.158.54l.1-.07.385.58-1.014 6.002-7.96-3.09v-1.706a6.856 6.856 0 0 0 2.47-4.25zm-6.757 9.253l-2.42-2.992v-.9a7.53 7.53 0 0 0 2.432.398c.837 0 1.67-.16 2.403-.437v.944l-2.415 2.987zm1.099 3.426l-.344.519H15.68l-.344-.52 1.098-.78 1.099.78zm2.55-4.96l1.61.625-1.837 3.688-.498-.355h-.002l-1.57-1.118 2.297-2.84zm-8.767-8.804V22.62c2.97.12 6.041-.77 8.533-2.324.836.898 1.346 1.433 1.557 1.678v5.038c0 2.726-2.218 4.97-4.96 4.97-3.052 0-5.13-2.362-5.13-4.97zm1.466 8.806l2.297 2.84-1.567 1.115-.002.002-.497.354-1.837-3.688 1.606-.623zm-5.326 22.28V44.4a.937.937 0 1 0-1.872 0v13.697H2.03a.158.158 0 0 1-.158-.158V43.237c0-3.011 2.533-4.16 2.697-4.23l4.855-1.886 2.127 4.271a1.463 1.463 0 0 0 2.16.541l.1-.071.384.58-2.09 12.375-.005.028c-.06.436.076.886.363 1.203l1.86 2.05H7.455zm6.526-3.163l1.987-11.765h.93l1.988 11.765-2.453 2.703-2.452-2.703zm17.02 3.004c0 .087-.07.158-.158.158H27.29V44.4a.937.937 0 1 0-1.871 0v13.697h-6.87l1.859-2.05a1.501 1.501 0 0 0 .358-1.23l-2.09-12.375.384-.58.1.071a1.46 1.46 0 0 0 2.16-.54l2.126-4.272 4.859 1.885c1.416.617 2.698 2.21 2.698 4.23V57.94zm.936-18.109a6.671 6.671 0 0 0-1.526-1.699l1.058-6.264h.93l1.06 6.267a6.676 6.676 0 0 0-1.522 1.696zm6.52 18.267V44.4a.937.937 0 1 0-1.872 0v13.697h-3.555a.158.158 0 0 1-.158-.158V43.237c0-1.115.35-2.141 1.092-3.004.496-.569 1.153-1.03 1.605-1.226l4.855-1.886 2.128 4.271a1.463 1.463 0 0 0 2.158.541l.1-.071.385.58-2.09 12.375-.005.028c-.06.436.076.886.363 1.203l1.86 2.05h-6.866zm6.526-3.162L46.97 43.17h.93l1.988 11.765-2.453 2.704-2.452-2.704z"/>
                                        </svg>
                                    .b-icons-card__item-title Преподаватели и сотрудники
                                    .b-icons-card__item-desc Руководство, кафедры, подразделения

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M59 7h-3V5a1 1 0 0 0-1-1H5a5.006 5.006 0 0 0-5 5v46a5.006 5.006 0 0 0 5 5h7a1 1 0 0 0 1-1v-3h46a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM5 6h49v44H5a4.948 4.948 0 0 0-3 1.026V9a3 3 0 0 1 3-3zm53 48H4v2h7v2H5a3 3 0 0 1 0-6h50a1 1 0 0 0 1-1V9h2v45z"/>
                                        <path d="M7 45h5v-2H8V27h4v-2H8V13h12v12h-4v2h11v6h2v-6h4v-2H22V13h18v12h-3v2h3v16H29v-6h-2v6H16v2h25a1 1 0 0 0 1-1V12a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v32a1 1 0 0 0 1 1zM30 58h26v2H30zM9 0h26v2H9zM26 58h2v2h-2z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Схема здания
                                    .b-icons-card__item-desc Расположение аудиторий корпусов Академии

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M60 4.293c0-2.206-1.794-4-4-4H4c-2.206 0-4 1.794-4 4 0 1.859 1.28 3.411 3 3.858v48.556l3-3 6 6 6-6 6 6 6-6 6 6 6-6 6 6 6-6 3 3V8.151c1.72-.447 3-1.999 3-3.858zm-5 47.586l-1-1-6 6-6-6-6 6-6-6-6 6-6-6-6 6-6-6-1 1V5.293h50v46.586zm2-45.855V3.293H3v2.731a2 2 0 0 1 1-3.731h52a2 2 0 1 1 1 3.731z"/>
                                        <path d="M36.5 40.293h-15a1 1 0 1 0 0 2h15a1 1 0 1 0 0-2zM40.79 40.583c-.18.189-.29.439-.29.71 0 .26.11.52.29.71.19.18.45.29.71.29.26 0 .52-.11.71-.29.18-.19.29-.45.29-.71 0-.271-.11-.521-.29-.71-.38-.37-1.04-.37-1.42 0zM41.5 26.293h-15a1 1 0 1 0 0 2h15a1 1 0 1 0 0-2zM41.5 33.293h-10a1 1 0 1 0 0 2h10a1 1 0 1 0 0-2zM20.5 34.293a1 1 0 0 0 1 1h2a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1zM37.5 20.293a1 1 0 0 0-1-1h-15a1 1 0 1 0 0 2h15a1 1 0 0 0 1-1zM40.79 19.583c-.18.189-.29.439-.29.71 0 .26.11.52.29.71.19.18.45.29.71.29.27 0 .52-.11.71-.29.18-.19.29-.45.29-.71 0-.26-.11-.521-.29-.71-.37-.37-1.05-.37-1.42 0zM23.21 28.003c.18-.19.29-.44.29-.71 0-.271-.11-.521-.29-.71-.37-.37-1.04-.37-1.42 0-.18.189-.29.439-.29.71 0 .27.11.52.29.71.19.18.45.29.71.29.26 0 .52-.11.71-.29zM28.21 35.003a1.013 1.013 0 0 0 0-1.42c-.37-.37-1.04-.37-1.42 0-.18.189-.29.45-.29.71 0 .26.11.52.29.71.19.18.45.29.71.29.26 0 .52-.11.71-.29z"/>
                                        <circle cx="40" cy="11.293" r="1"/>
                                        <circle cx="36" cy="11.293" r="1"/>
                                        <circle cx="44" cy="11.293" r="1"/>
                                        <circle cx="32" cy="11.293" r="1"/>
                                        <circle cx="48" cy="11.293" r="1"/>
                                        <circle cx="20" cy="11.293" r="1"/>
                                        <circle cx="24" cy="11.293" r="1"/>
                                        <circle cx="28" cy="11.293" r="1"/>
                                        <circle cx="52" cy="11.293" r="1"/>
                                        <circle cx="16" cy="11.293" r="1"/>
                                        <circle cx="12" cy="11.293" r="1"/>
                                        <circle cx="8" cy="11.293" r="1"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Стипендии и Оплата обучения
                                    .b-icons-card__item-desc Государственная стипендия, социальные стипендии, именные стипендии, способы оплаты обучения

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="60" viewBox="0 0 58 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M41.994 56H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h30.996c.247 0 .485.092.669.257l9.998 9c.211.189.331.46.331.743v45a1 1 0 0 1-1 1zM2 54h38.995V10.445L31.612 2H2v52z"/>
                                        <path d="M41.994 11h-9.998a1 1 0 0 1-1-1V1a.998.998 0 0 1 1.669-.743l9.998 9A1.001 1.001 0 0 1 41.994 11zm-8.998-2h6.393l-6.393-5.755V9z"/>
                                        <path d="M45.994 60H4.999a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h35.996V10.445L35.77 5.743A1 1 0 0 1 36.44 4h9.555a1 1 0 0 1 1 1v54a1 1 0 0 1-1 1zM5.999 58h38.995V6h-5.95l3.62 3.257c.21.189.33.46.33.743v45a1 1 0 0 1-1 1H6v2z"/>
                                        <path d="M22.756 36h-1.518a1 1 0 0 1-.992-.876l-.05-.407c-.114-.903-.7-1.681-1.497-1.98a9.06 9.06 0 0 1-.498-.205c-.824-.364-1.807-.226-2.568.367l-.265.206a.998.998 0 0 1-1.32-.083l-1.073-1.072a1 1 0 0 1-.083-1.32l.206-.265c.592-.762.732-1.746.366-2.57a9.2 9.2 0 0 1-.204-.498c-.299-.794-1.076-1.381-1.98-1.494l-.406-.051a1.002 1.002 0 0 1-.875-.993v-1.518a1 1 0 0 1 .876-.992l.407-.051c.902-.113 1.68-.7 1.979-1.495.062-.167.131-.333.204-.497.366-.824.226-1.809-.366-2.569l-.206-.266a.998.998 0 0 1 .083-1.32l1.073-1.072a.998.998 0 0 1 1.32-.083l.264.205c.761.592 1.744.732 2.568.367.165-.073.33-.141.498-.204.795-.3 1.382-1.077 1.495-1.98l.051-.407a1 1 0 0 1 .992-.876h1.518a1 1 0 0 1 .992.876l.05.407c.114.903.7 1.681 1.497 1.98.168.063.334.132.498.205.823.363 1.806.225 2.568-.367l.265-.206a.999.999 0 0 1 1.32.083l1.073 1.072a1 1 0 0 1 .083 1.32l-.206.265c-.592.762-.732 1.746-.366 2.569.073.165.14.331.204.5.299.793 1.077 1.38 1.98 1.493l.406.051c.5.062.876.487.876.992v1.518a1 1 0 0 1-.876.992l-.407.05c-.902.114-1.68.701-1.98 1.496a8.16 8.16 0 0 1-.203.497c-.366.824-.226 1.81.366 2.569l.206.266a.999.999 0 0 1-.083 1.32l-1.073 1.072a.999.999 0 0 1-1.32.083l-.264-.205c-.76-.593-1.745-.733-2.569-.367a9.549 9.549 0 0 1-.495.204c-.798.3-1.385 1.077-1.498 1.98l-.051.407a1 1 0 0 1-.992.877zm-5.51-5.669c.603 0 1.204.123 1.768.373.131.06.261.11.393.161 1.242.469 2.184 1.493 2.59 2.77.406-1.276 1.348-2.301 2.592-2.77.13-.05.26-.103.39-.16 1.234-.549 2.646-.485 3.857.136-.621-1.21-.684-2.625-.136-3.858.057-.128.111-.26.16-.39.47-1.244 1.494-2.187 2.77-2.593-1.276-.406-2.3-1.349-2.769-2.592a8.585 8.585 0 0 0-.16-.392c-.549-1.232-.486-2.646.135-3.857-1.21.621-2.624.684-3.856.137-.131-.059-.261-.111-.393-.161-1.242-.47-2.184-1.493-2.59-2.77-.406 1.276-1.348 2.3-2.592 2.77-.13.05-.26.104-.39.16-1.234.55-2.647.484-3.858-.136.62 1.211.684 2.625.136 3.858-.057.128-.111.259-.16.39-.47 1.244-1.494 2.187-2.77 2.593 1.276.406 2.3 1.35 2.77 2.592.049.132.103.263.16.392.548 1.232.485 2.646-.136 3.857a4.584 4.584 0 0 1 2.089-.51z"/>
                                        <path d="M21.997 28c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2zM21.997 41H6.03a1 1 0 1 1 0-2h15.968a1 1 0 1 1 0 2zM36.995 41h-5a1 1 0 1 1 0-2h5a1 1 0 1 1 0 2zM27.996 41h-2a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2zM21.997 51H6.03a1 1 0 1 1 0-2h15.968a1 1 0 1 1 0 2zM36.995 51h-5a1 1 0 1 1 0-2h5a1 1 0 1 1 0 2zM27.996 51h-2a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2zM36.995 46H21.027a1 1 0 1 1 0-2h15.968a1 1 0 1 1 0 2zM11.028 46H6.03a1 1 0 1 1 0-2h5a1 1 0 1 1 0 2zM17.028 46h-2a1 1 0 1 1 0-2h2a1 1 0 0 1 0 2zM56.992 49h-5.999a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v38a1 1 0 0 1-1 1zm-4.999-2h4V11h-4v36z"/>
                                        <path d="M55.993 11h-4a1 1 0 0 1-1-1V7c0-1.654 1.346-3 3-3 1.653 0 3 1.346 3 3v3a1 1 0 0 1-1 1zm-3-2h2V7a1.001 1.001 0 0 0-2 0v2zM55.993 53h-4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zm-3-2h2v-2h-2v2z"/>
                                        <path d="M53.993 57a1 1 0 0 1-1-1v-4a1 1 0 1 1 2 0v4a1 1 0 0 1-1 1zM56.992 34h-5.999a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1zm-4.999-2h4v-6h-4v6z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Инструкция для первокурсника
                                    .b-icons-card__item-desc С чего начать, к кому обратиться

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="67" height="60" viewBox="0 0 67 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M38.074 51.32a.985.985 0 0 0-.724 1.187c.08.334.12.68.12 1.028 0 2.414-1.953 4.378-4.354 4.378s-4.354-1.964-4.354-4.378 1.953-4.378 4.354-4.378c.555 0 1.096.104 1.606.307a.978.978 0 0 0 1.272-.551.987.987 0 0 0-.55-1.279 6.254 6.254 0 0 0-2.328-.446c-3.482 0-6.314 2.847-6.314 6.347 0 3.5 2.832 6.347 6.314 6.347 3.481 0 6.314-2.847 6.314-6.347 0-.503-.059-1.004-.175-1.488a.979.979 0 0 0-1.181-.728zM66.638 11.945a53.037 53.037 0 0 0-15.43-8.771A52.793 52.793 0 0 0 33.117 0C21.6 0 10.634 3.642 1.405 10.533a3.185 3.185 0 0 0-1.25 2.144c-.107.852.131 1.69.669 2.357A3.102 3.102 0 0 0 3.243 16.2c.638 0 1.282-.2 1.833-.612a47.321 47.321 0 0 1 2.854-1.976.987.987 0 0 0 .3-1.359.976.976 0 0 0-1.351-.302 48.969 48.969 0 0 0-2.973 2.058 1.13 1.13 0 0 1-1.56-.215 1.147 1.147 0 0 1-.247-.87c.041-.325.21-.613.474-.81 8.89-6.637 19.45-10.145 30.543-10.145a50.855 50.855 0 0 1 17.427 3.056 51.09 51.09 0 0 1 14.86 8.45.975.975 0 0 0 1.378-.145.988.988 0 0 0-.143-1.385z"/>
                                        <path d="M62.136 13.866c-8.46-6.264-18.494-9.576-29.02-9.576-7.912 0-15.466 1.84-22.45 5.472a.987.987 0 0 0-.421 1.326.977.977 0 0 0 1.32.423c6.704-3.485 13.955-5.252 21.55-5.252 10.106 0 19.738 3.18 27.858 9.193a1.175 1.175 0 0 1 .223 1.68 1.135 1.135 0 0 1-1.562.21C51.907 11.61 42.737 8.58 33.116 8.58c-5.217 0-10.33.897-15.194 2.665A44.54 44.54 0 0 0 4.967 18.61a.987.987 0 0 0-.144 1.385.974.974 0 0 0 1.378.144 42.59 42.59 0 0 1 12.388-7.043 42.388 42.388 0 0 1 14.527-2.548c9.2 0 17.967 2.897 25.355 8.377 1.334.99 3.2.746 4.248-.555.54-.67.777-1.51.668-2.368a3.17 3.17 0 0 0-1.251-2.137z"/>
                                        <path d="M57.236 23.61a38.144 38.144 0 0 0-11.102-6.312 37.982 37.982 0 0 0-13.018-2.284 37.906 37.906 0 0 0-22.272 7.18 3.146 3.146 0 0 0-.605 4.522l.005.006a3.089 3.089 0 0 0 4.203.575 31.745 31.745 0 0 1 18.669-6.023c6.64 0 13.013 2.024 18.431 5.854.264.186.434.467.479.79.045.325-.043.644-.248.898a1.146 1.146 0 0 1-1.551.215 29.89 29.89 0 0 0-3.064-1.9.977.977 0 0 0-1.326.403.987.987 0 0 0 .4 1.333c.985.53 1.948 1.127 2.863 1.775a3.08 3.08 0 0 0 1.784.566c.909 0 1.808-.397 2.416-1.152a3.145 3.145 0 0 0-.626-4.539 33.706 33.706 0 0 0-19.558-6.213 33.686 33.686 0 0 0-19.81 6.393 1.134 1.134 0 0 1-1.548-.226 1.16 1.16 0 0 1-.245-.888 1.15 1.15 0 0 1 .471-.789 35.967 35.967 0 0 1 21.132-6.81c4.242 0 8.398.728 12.352 2.166a36.208 36.208 0 0 1 10.534 5.99.976.976 0 0 0 1.378-.145.988.988 0 0 0-.144-1.385z"/>
                                        <path d="M42.39 27.157a.978.978 0 0 0 1.25-.6.986.986 0 0 0-.596-1.257 29.538 29.538 0 0 0-9.928-1.706 29.75 29.75 0 0 0-18.748 6.68.988.988 0 0 0-.144 1.386.976.976 0 0 0 1.378.144 27.79 27.79 0 0 1 17.514-6.24c3.182 0 6.303.535 9.275 1.593zM47.832 35.277a23.358 23.358 0 0 0-14.716-5.248 23.177 23.177 0 0 0-12.857 3.878 2.992 2.992 0 0 0-1.294 2.039c-.13.851.103 1.723.642 2.393l.116.143c.977 1.213 2.71 1.473 4.031.605a17 17 0 0 1 9.362-2.8c3.188 0 6.301.89 9.003 2.57.27.169.45.434.502.747.051.306-.027.607-.221.848l-.115.142c-.339.42-.942.505-1.435.202a14.742 14.742 0 0 0-7.734-2.188 14.83 14.83 0 0 0-9.345 3.333.988.988 0 0 0-.144 1.386.977.977 0 0 0 1.378.144 12.7 12.7 0 0 1 8.11-2.893 12.8 12.8 0 0 1 6.712 1.897c1.341.826 3.015.556 3.98-.641l.115-.142a3.046 3.046 0 0 0 .63-2.417 3.063 3.063 0 0 0-1.402-2.092 18.98 18.98 0 0 0-10.034-2.865 18.955 18.955 0 0 0-10.434 3.12c-.477.313-1.094.23-1.437-.195l-.116-.145a1.097 1.097 0 0 1-.228-.851c.044-.292.2-.539.438-.697a21.23 21.23 0 0 1 11.777-3.552c4.89 0 9.68 1.708 13.482 4.81a.977.977 0 0 0 1.378-.145.989.989 0 0 0-.144-1.386z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Информационная среда
                                    .b-icons-card__item-desc Кампусная карта, Wi-Fi, Moodle

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="60" viewBox="0 0 62 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M37.9 36.472c5.589-2.28 9.211-7.772 9.121-13.83 0-8.327-7.162-15.1-15.965-15.1-8.804 0-15.966 6.773-15.966 15.1-.09 6.058 3.532 11.55 9.122 13.83l.123.067.846 1.393a3.178 3.178 0 0 0-.745 4.888 3.203 3.203 0 0 0 .206 4.51c.589.54 1.359.839 2.156.835h8.515a3.186 3.186 0 0 0 3.193-3.18 3.201 3.201 0 0 0-.83-2.165 3.18 3.18 0 0 0-.745-4.888l.845-1.393.124-.067zm-2.587 9.555h-8.515a1.067 1.067 0 0 1-1.064-1.07c0-.59.476-1.068 1.064-1.068h8.515c.588 0 1.065.479 1.065 1.069s-.477 1.069-1.065 1.069zm0-4.276h-8.515a1.067 1.067 0 0 1-1.064-1.07c0-.59.476-1.068 1.064-1.068h8.515c.588 0 1.065.478 1.065 1.069 0 .59-.477 1.069-1.065 1.069zm1.62-7.185l-.425.232c-.165.09-.303.222-.4.383l-1.393 2.294h-.466v-8.11l5.01-5.032-1.505-1.512-5.322 5.345c-.2.2-.312.473-.312.756v8.552h-2.129v-8.552c0-.283-.112-.555-.312-.756l-5.322-5.345-1.505 1.512 5.01 5.032v8.11h-.466l-1.392-2.294a1.072 1.072 0 0 0-.4-.383l-.426-.233a1.14 1.14 0 0 0-.105-.05c-4.813-1.944-7.935-6.664-7.854-11.873 0-7.147 6.207-12.962 13.837-12.962s13.837 5.815 13.837 12.962c.08 5.209-3.042 9.93-7.854 11.874a1.16 1.16 0 0 0-.105.05zM8.227 9.567l.952-1.912 6.386 3.207-.952 1.912zM46.292 10.334l6.773-2.269.674 2.029-6.773 2.269zM4.446 21.439h6.386v2.138H4.446zM51.279 21.439h6.386v2.138h-6.386zM8.227 37.586l6.386-3.207.952 1.912-6.386 3.207zM46.545 36.295l.952-1.912 6.386 3.207-.952 1.912zM29.991.058h2.129v5.345h-2.129z"/>
                                        <path d="M61.923 50.303v-2.138c-13.887 0-28.643 3.372-28.738 9.621h-4.259c-.095-6.25-14.851-9.621-28.737-9.621v2.138c15.593 0 26.481 3.93 26.603 7.483H.19v2.138h61.734v-2.138H35.319c.122-3.552 11.01-7.483 26.604-7.483z"/>
                                        <path d="M.133 55.648l.112-2.135 20.226 1.07-.112 2.135zM41.641 54.583l20.227-1.072.112 2.135-20.227 1.072z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Учебный процесс
                                    .b-icons-card__item-desc Шаблоны заявлений, графики учебного процесса, рабочие учебные планы

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M40.547 37.383c-.647 0-1.172.524-1.172 1.172v8.086c0 3.23-2.629 5.859-5.86 5.859H20.864c-.647 0-1.171.524-1.172 1.171l-.001 2.33-2.797-2.797a1.172 1.172 0 0 0-1.075-.704H8.203a5.866 5.866 0 0 1-5.86-5.86V28.595c0-3.231 2.63-5.86 5.86-5.86H20.04a1.172 1.172 0 0 0 0-2.343H8.203C3.68 20.39 0 24.07 0 28.594V46.64c0 4.523 3.68 8.203 8.203 8.203h7.015l4.813 4.813a1.171 1.171 0 0 0 2-.828l.003-3.985h11.482c4.523 0 8.203-3.68 8.203-8.203v-8.086c0-.648-.525-1.172-1.172-1.172z"/>
                                        <path d="M42.967 0h-2.966C30.61 0 22.97 7.64 22.97 17.033c0 9.392 7.64 17.032 17.032 17.032h2.966c1.466 0 2.917-.186 4.323-.554l4.382 4.379a1.172 1.172 0 0 0 2-.829v-6.78a17.196 17.196 0 0 0 4.477-5.52A16.85 16.85 0 0 0 60 17.033C60 7.64 52.36 0 42.967 0zm8.828 28.774a1.172 1.172 0 0 0-.467.936v4.523l-2.868-2.866a1.172 1.172 0 0 0-1.172-.291 14.693 14.693 0 0 1-4.32.646H40c-8.1 0-14.688-6.59-14.688-14.69 0-8.099 6.589-14.688 14.688-14.688h2.966c8.1 0 14.69 6.59 14.69 14.689 0 4.656-2.137 8.935-5.862 11.74z"/>
                                        <path d="M46.762 12.823a4.973 4.973 0 0 0-4.6-4.6 4.923 4.923 0 0 0-3.734 1.322 4.98 4.98 0 0 0-1.577 3.627 1.172 1.172 0 0 0 2.344 0c0-.733.295-1.413.832-1.914a2.62 2.62 0 0 1 4.397 1.726 2.606 2.606 0 0 1-2.036 2.743A2.218 2.218 0 0 0 40.64 17.9v2.816a1.172 1.172 0 0 0 2.343 0v-2.722a4.936 4.936 0 0 0 3.778-5.171zM42.641 24.523a1.18 1.18 0 0 0-.828-.344c-.309 0-.611.126-.829.344a1.18 1.18 0 0 0-.343.828c0 .31.125.612.343.83.218.218.52.342.828.342.309 0 .611-.124.829-.342.218-.22.343-.52.343-.83 0-.308-.125-.61-.343-.828zM32.227 36.328H7.5a1.172 1.172 0 0 0 0 2.344h24.727a1.172 1.172 0 1 0 0-2.344zM33.055 43.234a1.18 1.18 0 0 0-.828-.343c-.309 0-.611.125-.829.343a1.18 1.18 0 0 0-.343.828c0 .309.125.611.343.829.218.218.52.343.829.343.308 0 .61-.125.828-.343.218-.218.343-.52.343-.828 0-.309-.125-.611-.343-.829zM27.617 42.89H7.5a1.172 1.172 0 0 0 0 2.344h20.117a1.172 1.172 0 1 0 0-2.343zM24.61 29.766H7.5a1.172 1.172 0 0 0 0 2.343h17.11a1.172 1.172 0 1 0 0-2.343z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Социальные вопросы
                                    .b-icons-card__item-desc Мат. помощь, псих. помощь, мед. помощь, льготники, ОВЗ

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="60" viewBox="0 0 68 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M28.877 41.749v-1.114c0-.553-.451-1.001-1.009-1.001-.557 0-1.009.448-1.009 1.001v1.114c0 .553.452 1.002 1.01 1.002.557 0 1.008-.45 1.008-1.002zM39.887 39.634c-.557 0-1.01.448-1.01 1.001v1.114c0 .553.453 1.002 1.01 1.002.558 0 1.009-.45 1.009-1.002v-1.114c0-.553-.452-1.001-1.01-1.001zM33.878 46.127c.842 0 1.685-.319 2.326-.955a.996.996 0 0 0 0-1.417 1.013 1.013 0 0 0-1.427 0 1.28 1.28 0 0 1-1.799 0 1.013 1.013 0 0 0-1.427 0 .996.996 0 0 0 0 1.417 3.292 3.292 0 0 0 2.327.955zM39.394 47.314H28.362c-.558 0-1.01.449-1.01 1.002 0 3.572 2.928 6.478 6.526 6.478 3.597 0 6.525-2.906 6.525-6.478 0-.553-.452-1.002-1.009-1.002zm-5.516 5.477a4.509 4.509 0 0 1-4.394-3.473h8.787a4.508 4.508 0 0 1-4.393 3.473zM28.962 37.38a1.01 1.01 0 0 0 1.427 0 .996.996 0 0 0 0-1.416 3.587 3.587 0 0 0-5.042 0 .997.997 0 0 0 0 1.416 1.014 1.014 0 0 0 1.427 0c.603-.599 1.585-.599 2.188 0zM39.887 34.927c-.952 0-1.848.368-2.521 1.037a.996.996 0 0 0 0 1.416 1.014 1.014 0 0 0 1.427 0c.292-.29.68-.45 1.094-.45.413 0 .802.16 1.094.45a1.01 1.01 0 0 0 1.427 0 .996.996 0 0 0 0-1.416 3.554 3.554 0 0 0-2.521-1.037z"/>
                                        <path d="M67.35 12.62l-8.837-3.345a1.012 1.012 0 0 0-1.302.58 1 1 0 0 0 .583 1.292l6.364 2.41-10.67 4.038v-2.734c0-.457-.312-.857-.758-.97a76.048 76.048 0 0 0-37.46 0 1.004 1.004 0 0 0-.76.97v2.734L3.843 13.556 33.999 2.14l19.91 7.536a1.011 1.011 0 0 0 1.302-.579 1 1 0 0 0-.583-1.293L34.359.131a1.017 1.017 0 0 0-.719 0L.65 12.621c-.392.148-.65.52-.65.935 0 .416.258.788.65.937l13.86 5.247.001 14.254c0 .553.452 1.002 1.01 1.002.557 0 1.008-.449 1.008-1.002v-5.628c.822-.2 1.646-.387 2.474-.559a16.226 16.226 0 0 0-1.622 7.087v4.398c-.293.02-.578.064-.852.13v-1.42c0-.554-.451-1.002-1.009-1.002-.557 0-1.009.448-1.009 1.002v2.44c-1.14.973-1.833 2.49-1.833 4.287 0 3.005 2.727 6.818 5.792 6.818.335 0 .655-.047.959-.135a16.526 16.526 0 0 0 14.448 8.481c4.408 0 8.55-1.704 11.665-4.797a16.461 16.461 0 0 0 2.793-3.682c.3.087.618.133.95.133 3.065 0 5.792-3.813 5.792-6.818 0-1.665-.595-3.089-1.589-4.064V19.74l3.966-1.501v14.306a3.355 3.355 0 0 0-2.362 3.193c0 1.846 1.513 3.347 3.371 3.347 1.859 0 3.371-1.501 3.371-3.347a3.355 3.355 0 0 0-2.361-3.193v-15.07l7.877-2.981c.392-.149.65-.521.65-.937 0-.415-.258-.788-.65-.936zM50.374 39.293v-4.444V32.71c0-.553-.452-1.001-1.009-1.001-.557 0-1.009.448-1.009 1.001v1.084c-3.469-.226-14.935-1.388-22.603-7.06 8.58-.96 17.31-.415 25.718 1.633v11.12a5.155 5.155 0 0 0-1.097-.193zm-33.845-23.65a74.036 74.036 0 0 1 34.941 0v10.66A75.908 75.908 0 0 0 34 24.269c-5.871 0-11.741.678-17.47 2.034l-.001-10.66zm1.94 33.9c-1.821 0-3.773-2.825-3.773-4.814 0-2.164 1.328-3.25 2.685-3.423v2.104a2.58 2.58 0 0 0-1.038-.214c-.558 0-1.01.448-1.01 1.001 0 .554.452 1.002 1.01 1.002.693 0 1.329 1.456 1.515 2.235l.006.018a16.2 16.2 0 0 0 .674 2.09l-.068.002zm25.646 4.137a14.431 14.431 0 0 1-10.238 4.21c-7.983 0-14.478-6.449-14.478-14.375v-8.62c0-2.695.75-5.302 2.17-7.572.477-.08.955-.156 1.433-.228 4.903 4.298 11.693 6.445 16.582 7.492a60.377 60.377 0 0 0 8.772 1.217v7.711c0 3.84-1.506 7.448-4.241 10.165zm5.17-4.136l-.06-.002c.292-.734.53-1.49.712-2.262.227-.803.825-2.08 1.475-2.08.558 0 1.01-.45 1.01-1.003 0-.553-.452-1.001-1.01-1.001-.383 0-.728.08-1.038.214v-2.104c1.357.172 2.685 1.26 2.685 3.423 0 1.989-1.952 4.815-3.774 4.815zm9.178-12.463a1.35 1.35 0 0 1-1.353-1.343c0-.74.607-1.343 1.353-1.343a1.35 1.35 0 0 1 1.353 1.343 1.35 1.35 0 0 1-1.353 1.343z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Студенческая жизнь
                                    .b-icons-card__item-desc Студенческое самоуправление, кружки и секции

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="67" height="60" viewBox="0 0 67 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M56.816 20.146a44.69 44.69 0 0 0-4.023-1.324c.365-1.426.657-2.815.868-4.153C54.757 7.704 53.546 2.818 50.25.91c-.959-.554-2.06-.836-3.273-.836-3.832 0-8.674 2.853-13.56 7.67a44.89 44.89 0 0 0-3.207-2.882C24.74.43 19.91-.963 16.616.944 14.5 2.169 13.211 4.672 12.892 8.18a1.068 1.068 0 1 0 2.13.194c.176-1.942.781-4.485 2.663-5.574 2.44-1.412 6.515-.052 11.181 3.73a42.894 42.894 0 0 1 3.06 2.747c-2.05 2.184-4.088 4.699-6.046 7.478-3.444.314-6.725.841-9.735 1.564-.527-2.054-.89-4.013-1.068-5.833a1.068 1.068 0 1 0-2.128.21c.19 1.925.571 3.995 1.129 6.162-1.368.387-2.67.816-3.894 1.288C3.617 22.677 0 26.17 0 29.985c0 3.813 3.617 7.307 10.184 9.838a44.69 44.69 0 0 0 4.023 1.324 44.998 44.998 0 0 0-.868 4.153c-1.096 6.966.115 11.852 3.41 13.758.959.555 2.06.836 3.273.836 3.788 0 8.563-2.788 13.391-7.505a44.686 44.686 0 0 0 3.108 2.783c3.872 3.138 7.421 4.753 10.334 4.753 1.203 0 2.298-.276 3.26-.833 3.296-1.907 4.508-6.793 3.411-13.758a44.941 44.941 0 0 0-.867-4.153c2.2-.608 4.225-1.323 6.018-2.137.538-.245.776-.88.533-1.419a1.068 1.068 0 0 0-1.416-.533c-1.698.771-3.617 1.45-5.708 2.027-.864-2.894-2.015-5.916-3.417-8.972 1.465-3.16 2.663-6.287 3.555-9.277 7.935 2.227 12.638 5.743 12.638 9.115 0 2.178-1.896 3.975-3.486 5.099a1.073 1.073 0 0 0-.257 1.493c.34.484 1.007.599 1.49.258 2.873-2.03 4.391-4.4 4.391-6.85 0-3.814-3.617-7.308-10.184-9.84zM46.978 2.218c.833 0 1.574.185 2.203.549 2.44 1.411 3.302 5.628 2.367 11.568a42.906 42.906 0 0 1-.825 3.953c-3.023-.718-6.315-1.24-9.77-1.548-1.938-2.749-3.972-5.263-6.04-7.465.378-.374.757-.737 1.135-1.086 4.17-3.85 8.052-5.97 10.93-5.97zm-13.556 8.594a64.962 64.962 0 0 1 4.75 5.728 85.711 85.711 0 0 0-9.498.008 66.251 66.251 0 0 1 4.748-5.736zm-.008 38.522a64.845 64.845 0 0 1-4.916-5.924 85.486 85.486 0 0 0 9.83.008 65.877 65.877 0 0 1-4.914 5.916zm.086-7.92c-2.297 0-4.502-.09-6.602-.256a83.144 83.144 0 0 1-6.353-11.02 83.032 83.032 0 0 1 6.525-11.34 84.213 84.213 0 0 1 6.43-.242c2.177 0 4.27.08 6.271.23a83.084 83.084 0 0 1 3.472 5.517 83.098 83.098 0 0 1 3.064 5.84 83.306 83.306 0 0 1-6.37 11.018 82.021 82.021 0 0 1-6.437.252zm-9.354-.523a63.778 63.778 0 0 1-7.3-1.259 64.827 64.827 0 0 1 2.557-6.97 84.916 84.916 0 0 0 4.743 8.229zm.17-21.833a85.56 85.56 0 0 0-4.921 8.56 65.81 65.81 0 0 1-2.679-7.25 63.792 63.792 0 0 1 7.6-1.31zM2.138 29.985c0-3.354 4.652-6.85 12.51-9.079.89 2.972 2.082 6.089 3.536 9.235-1.399 3.052-2.546 6.068-3.409 8.958-7.934-2.227-12.637-5.743-12.637-9.114zM20.022 57.75c-.833 0-1.574-.185-2.203-.549-2.44-1.411-3.302-5.628-2.367-11.568.2-1.272.477-2.594.825-3.953 2.925.695 6.101 1.206 9.433 1.517 1.989 2.83 4.08 5.412 6.206 7.664-.322.315-.643.621-.964.918-4.17 3.85-8.052 5.97-10.93 5.97zm31.392-12.084c.935 5.94.072 10.157-2.367 11.569-2.44 1.411-6.515.052-11.181-3.73a42.629 42.629 0 0 1-2.953-2.642c2.105-2.226 4.2-4.8 6.21-7.655 3.34-.307 6.533-.813 9.464-1.5.349 1.36.627 2.684.827 3.958zm-1.4-6.022c-2.29.534-4.75.953-7.32 1.25a85.576 85.576 0 0 0 4.755-8.233 64.83 64.83 0 0 1 2.564 6.983zm-2.555-12.02a85.882 85.882 0 0 0-4.942-8.586c2.76.307 5.314.75 7.636 1.298a65.188 65.188 0 0 1-2.694 7.288z"/>
                                        <path d="M33.5 24.627c-2.948 0-5.346 2.404-5.346 5.358 0 2.954 2.398 5.357 5.346 5.357s5.346-2.403 5.346-5.357-2.398-5.358-5.346-5.358zm0 8.572a3.215 3.215 0 0 1 0-6.429 3.215 3.215 0 0 1 0 6.429z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Научная жизнь
                                    .b-icons-card__item-desc Гранты, конкурсы, конференции, публикации, научные школы

                                a(href='').b-icons-card__item
                                    .b-icons-card__item-icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="67" height="60" viewBox="0 0 67 60">
                                        <g fill="#000" fill-rule="nonzero">
                                        <path d="M7.922 22.878l.01-.044a1.308 1.308 0 1 1 2.54.63l-.007.031a1.309 1.309 0 1 1-2.543-.617zM42.57 39.203A10.672 10.672 0 0 0 47.766 30c0-1.174-.188-2.328-.558-3.429a1.308 1.308 0 1 1 2.48-.836c.46 1.372.694 2.806.694 4.265 0 4.725-2.415 9.004-6.46 11.448a1.308 1.308 0 0 1-1.796-.445 1.31 1.31 0 0 1 .444-1.799zM27.888 20.27a13.287 13.287 0 0 1 9.148-3.632c1.599 0 3.163.28 4.65.834a1.31 1.31 0 0 1-.912 2.455 10.68 10.68 0 0 0-3.738-.67 10.68 10.68 0 0 0-7.354 2.92 1.304 1.304 0 0 1-1.85-.056 1.311 1.311 0 0 1 .056-1.851z"/>
                                        <path d="M1.308 30.394h9.844v-2.71a2.39 2.39 0 0 1 2.387-2.39h1.756A22.252 22.252 0 0 1 41.026 8.09a1.31 1.31 0 0 1-.467 2.579 19.636 19.636 0 0 0-17.401 5.438 19.561 19.561 0 0 0-5.18 9.189h7.144a2.39 2.39 0 0 1 2.386 2.389v2.71h9.844a1.31 1.31 0 0 1 1.309 1.31v8.036c0 1.23-.478 2.348-1.257 3.183v6.722c5.104-.087 9.871-2.109 13.51-5.752a19.634 19.634 0 0 0 5.353-17.831 1.308 1.308 0 1 1 2.564-.522 22.25 22.25 0 0 1-6.066 20.206 22.324 22.324 0 0 1-15.361 6.517v4.747c0 .122-.009.243-.023.362C52.3 57.186 64.383 44.98 64.383 30a27.35 27.35 0 0 0-3.45-13.32l-4.415 4.44c-.246.247-.58.386-.928.386h-8.23l-8.067 8.077a1.304 1.304 0 0 1-1.85 0 1.311 1.311 0 0 1 0-1.853l8.067-8.077v-8.239c0-.347.139-.681.385-.927l4.427-4.421a27.273 27.273 0 0 0-13.286-3.443c-10.614 0-20.359 6.232-24.825 15.878a1.308 1.308 0 1 1-2.374-1.102A30.037 30.037 0 0 1 20.699 4.849 29.825 29.825 0 0 1 37.036.002a29.876 29.876 0 0 1 15.206 4.145l3.766-3.76a1.307 1.307 0 0 1 2.232.927v7.423h7.438a1.308 1.308 0 0 1 .928 2.234l-3.76 3.782A29.962 29.962 0 0 1 67 30c0 8.013-3.117 15.546-8.776 21.211-5.66 5.666-13.184 8.786-21.188 8.786l-32.794.002a2.99 2.99 0 0 1-2.985-2.989V42.923A4.635 4.635 0 0 1 0 39.737v-8.033c0-.724.586-1.31 1.308-1.31zM55.623 4.47l-7.496 7.486v5.07l7.496-7.521V4.47zm1.852 6.886l-7.498 7.528h5.07l7.483-7.528h-5.055zM24.892 27.915H13.77v2.479h11.122v-2.48zM3.874 51.089h8.587a1.31 1.31 0 0 1 0 2.62H3.874v3.3c0 .204.165.369.368.369h28.573l.028-.001h1.59a.368.368 0 0 0 .354-.368V44.338a4.669 4.669 0 0 1-.787.068H23.209a3.913 3.913 0 0 1-3.878 3.443 3.914 3.914 0 0 1-3.88-3.452l-10.787.007h-.003c-.266 0-.529-.024-.787-.068v6.753zm16.746-7.152v-2.302h-2.58v2.302c0 .712.58 1.292 1.29 1.292.712 0 1.29-.58 1.29-1.292zm-18.003-4.2c0 .547.213 1.061.6 1.448.385.386.899.599 1.444.599h.002l10.76-.007v-1.2c0-.862.7-1.562 1.56-1.562h4.695c.86 0 1.56.7 1.56 1.562v1.209H34a2.048 2.048 0 0 0 2.044-2.047v-6.725H2.617v6.723z"/>
                                        <path d="M17.947 51.473c.243-.243.58-.384.925-.384.345 0 .682.14.926.384s.382.582.382.926c0 .345-.138.683-.382.926a1.32 1.32 0 0 1-.926.384c-.344 0-.68-.14-.925-.384a1.32 1.32 0 0 1-.384-.926c0-.344.14-.682.384-.926z"/>
                                        </g>
                                        </svg>
                                    .b-icons-card__item-title Карьера
                                    .b-icons-card__item-desc Вакансии и стажировки, практики, консультации
