extends _layout

block title
    title 10 причин выбрать РАНХиГС

block content
    -var header = './images/header/header-10-reasons@2x.jpg'
    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['10 причин выбрать РАНХиГС']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .container
        .page-content
                section
                    .page-inner
                        .page-inner__list.page-inner__list--project
                            .project-card
                                a(href='').project-card__img
                                    img(src=project1 alt='')
                                .project-card__content
                                    a(href='').project-card__title Качество образования, проверенное временем
                                    .project-card__desc Алтайский филиал Сибирской академии государственной службы появился в Барнауле в 2001 году. Через 9 лет он сменил название на «Алтайский филиал РАНХиГС» и стал частью крупнейшего в России и Европе университета социально-экономического и гуманитарного профиля. Сегодня в учебный процесс филиала успешно внедрены современные формы и методы обучения. А о качестве образования можно судить по многочисленным успехам наших студентов и
                                        = ' '
                                        a(href='') выпускников.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project2 alt='')
                                .project-card__content
                                    a(href='').project-card__title Возможность заработать скидку на обучение
                                    .project-card__desc Для абитуриентов и студентов в нашей Академии действует
                                        = ' '
                                        a(href='') программа стимулирования.
                                        |  Она предполагает ряд скидок и бонусов, что повышает доступность высшего образования и является дополнительным стимулом к успешному обучению. Заработать бонус может сам абитуриент, проявляя активность в «
                                        a(href='') Школе больших возможностей
                                        | ».

                            .project-card
                                a(href='').project-card__img
                                    img(src=project3 alt='')
                                .project-card__content
                                    a(href='').project-card__title Московский диплом
                                    .project-card__desc Выпускники всех филиалов Президентской академии получают диплом государственного образца, подписанный ректором вуза в Москве (без упоминания филиала). А лучшие выпускники каждого филиала, нашего в том числе, летом отправляются на торжественное вручение красных дипломов в столицу.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project4 alt='')
                                .project-card__content
                                    a(href='').project-card__title Высокий уровень преподавателей
                                    .project-card__desc Профессорско-преподавательский состав Академии укомплектован высококвалифицированными специалистами, имеющими богатый научно-педагогический опыт, кандидатами и докторами наук. Преподаватели постоянно повышают свои теоретические и практические знания и навыки, представляя вуз на научных конференциях и семинарах России и зарубежья. Наша задача – научить студентов работать по востребованным специальностям в современных условиях, поэтому большая часть занятий имеет прикладной характер, а занятия часто проводят эксперты-практики.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project5 alt='')
                                .project-card__content
                                    a(href='').project-card__title Бюджетные места
                                    .project-card__desc Ежегодно Алтайский филиал Президентской академии получает бюджетные места для всех форм обучения, и их количество постепенно растёт. Например, в 2019/20 учебном году на бюджетной основе будут зачислены 70 первокурсников очной формы обучения. Годом ранее в активе филиала было 57 мест. Положительная динамика роста бюджетных мест становится доброй традицией и говорит об отличных показателях вуза.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project6 alt='')
                                .project-card__content
                                    a(href='').project-card__title Материальная поддержка
                                    .project-card__desc За достижения в учебной, научной, спортивной, культурно-творческой и общественной деятельности по решению стипендиальной комиссии Академии студент может получать повышенную государственную стипендию. Существуют также стипендии Правительства и Президента Российской Федерации, которые ежегодно получают наши активисты.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project7 alt='')
                                .project-card__content
                                    a(href='').project-card__title Комфортная среда
                                    .project-card__desc Особый микроклимат нашей Академии – это домашняя атмосфера, комфортные условия для учёбы и работы, а также современная материально-техническая база. Перечислять долго – проще увидеть своими глазами, например, на Днях открытых дверей, которые вуз проводит трижды в год.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project8 alt='')
                                .project-card__content
                                    a(href='').project-card__title Насыщенная студенческая жизнь
                                    .project-card__desc В Академии созданы все условия для самореализации студентов: у них есть возможность участия в творческих, научных и спортивных объединениях вуза. Танцы, театр, футбол и волонтёрство – каждый сможет выбрать себе занятие по душе, помимо учёбы. Отметим, что все кружки и секции абсолютно бесплатные.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project9 alt='')
                                .project-card__content
                                    a(href='').project-card__title Востребованность выпускников
                                    .project-card__desc Алтайский филиал РАНХиГС гордится своими показателями трудоустройства выпускников. Согласно статистике, более 80% студентов нашего вуза получают приглашение на работу ещё во время обучения. Этому способствует Центр карьеры, а также связи с ведущими работодателями края. Студенты Академии проходят практику в администрациях города и края, судах, прокуратуре, краевых управлениях и городских комитетах, а после – остаются там работать.

                            .project-card
                                a(href='').project-card__img
                                    img(src=project10 alt='')
                                .project-card__content
                                    a(href='').project-card__title Непрерывность образования
                                    .project-card__desc Алтайский филиал РАНХиГС ведёт образовательную деятельность в сфере высшего и дополнительного профессионального образования, предлагая абитуриентам программы бакалавриата и магистратуры по четырём направлениям подготовки, а также курсы повышения квалификации и программы профессиональной переподготовки от Центра «Высшая школа государственного управления».
