extends _layout

block title
    title Расписание занятий

block content
    -var header = './images/header/header-schedule@2x.jpg'
    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab.active Студентов
            a(href='').btn.btn--tab Преподавателей
            a(href='').btn.btn--tab Аудиторий
        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Студентов
                option(value='') Преподавателей
                option(value='') Аудиторий

    .container
        .page-content.page-content--left-aside.page-content--schedule
            .page-content__wrap
                aside
                    +menu-educaation()
                    +error

                section
                    .page-inner
                        .b-schedule__border-card
                            h3 ГМУ
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152

                        .b-schedule__border-card
                            h3 Экономика
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152

                        .b-schedule__border-card
                            h3 Юриспруденция
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152


                        .b-schedule__border-card
                            h3 Психология
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152
                                    li
                                        a(href='') 1152
                                ul
                                    li
                                        a(href='') 1151
                                    li
                                        a(href='') 1152




