extends _layout

block title
    title Расписание занятий

block content
    -var img1 = './images/school-of-great-opportun/icon_1.jpg'
    -var header = './images/header/header-schedule@2x.jpg'

    -var project1 = './images/reasons/reasons-1@2x.jpg'
    -var project2 = './images/reasons/reasons-2@2x.jpg'
    -var project3 = './images/reasons/reasons-3@2x.jpg'
    -var project4 = './images/reasons/reasons-4@2x.jpg'
    -var project5 = './images/reasons/reasons-5@2x.jpg'
    -var project6 = './images/reasons/reasons-6@2x.jpg'
    -var project7 = './images/reasons/reasons-7@2x.jpg'
    -var project8 = './images/reasons/reasons-8@2x.jpg'
    -var project9 = './images/reasons/reasons-9@2x.jpg'
    -var project10 = './images/reasons/reasons-10@2x.jpg'

    -var breadcrumbs = ['Расписание занятий']
    +_sub-header(breadcrumbs[0], breadcrumbs, true, header)
    .b-schedule__select-btn
        .b-schedule__select-wrap
            a(href='').btn.btn--tab Студентов
            a(href='').btn.btn--tab Преподавателей
            a(href='').btn.btn--tab.active Аудиторий

        .b-schedule__select-mobile.selectbox-mobile
            select
                option(value='') Аудиторий
                option(value='') Студентов
                option(value='') Преподавателей
        .b-schedule__filter.js-aside-filter
    .container
        .page-content.page-content--right-aside.page-content--schedule
            .page-content__wrap
                section
                    .page-inner
                        .b-schedule__border-card.b-schedule__border-card--center
                            h3 Корпус А
                            a(href='#popup-audience').js-popup Схема корпуса В
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') A101
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                    li
                                        a(href='') A101
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                ul
                                    li
                                        a(href='') A101
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                    li
                                        a(href='') A101
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                ul
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104
                                ul
                                    li
                                        a(href='') A102
                                    li
                                        a(href='') A104

                        .b-schedule__border-card.b-schedule__border-card--center
                            h3 Корпус В
                            a(href='#popup-audience').js-popup Схема корпуса В
                            .b-schedule__border-list
                                ul
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                ul
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                ul
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                                ul
                                    li
                                        a(href='') В101
                                    li
                                        a(href='') В102
                                    li
                                        a(href='') В104
                aside

                    .column-radio.column-radio--single
                        .column-radio__title Фильтры
                        .column-radio__list
                            .column-radio__item
                                input(id='_1' type='radio' checked='checked' name="headings" value='1')
                                label(for='_1') Все аудитории
                            .column-radio__item
                                input(id='_2' type='radio' name="headings" value='2')
                                label(for='_2') Аудитория
                            .column-radio__item
                                input(id='_3' type='radio' name="headings" value='3')
                                label(for='_3') Поточная аудитория
                            .column-radio__item
                                input(id='_4' type='radio' name="headings" value='4')
                                label(for='_4') Конференц-зал
                            .column-radio__item
                                input(id='_5' type='radio' name="headings" value='5')
                                label(for='_5') Компьютерный класс
                            .column-radio__item
                                input(id='_6' type='radio' name="headings" value='6')
                                label(for='_6') Спец. аудитория

                    a(href='').btn.btn--border.btn--aside Свободные аудитории
                    +error()
