aside {
  position: relative;
  z-index: 20;
}

.aside__selectbox {
  position: absolute;
  top: -31px;
  left: 60px;
  width: calc(100% - 60px);
  @include bp($bp-ipad-1024) {
    display: none;
  }

  .selectbox__name {
    flex-shrink: 0;
  }

  .selectbox__box {
    flex-grow: 1;
  }
}

.aside__datepicker {
  max-width: 295px;
  margin-top: 41px;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  padding: 16px 20px 20px;
  margin-bottom: 40px;
  background-color: $white;

  @include bp($bp-ipad-1024) {
    margin: 0;
  }

  & > a {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: $grape-purple;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.aside__title {
  font-size: 24px;
  line-height: 28px;
  color: $black;
  margin-bottom: 20px;

  @include bp($bp-640) {
    margin-bottom: 16px;
  }
}

.aside__title--mobile {
  @include bp($bp-640) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

.aside__title--str {
  @include bp($bp-ipad-768) {
    font-size: 20px;
    font-weight: 500;
  }
}

.aside__list-news {
  margin-bottom: 40px;
}

.aside__news-box {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;

  &:not(:first-child) {
    margin-top: 20px;
  }

  p {
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    margin-bottom: 0;
  }
}

.aside__people {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

    @include bp($bp-ipad-1024) {
      width: 60px;
      height: 60px;
      border: solid 1px #e8e4d6;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

.aside__people-text {
  h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: $black;
    margin-bottom: 0;
  }
  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    line-height: 18px;
    color: $black;
  }
}

.aside__contact {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p, a {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: $black;
  }
  a {
    //display: block;
  }
}

.aside__contact--half {
  @include bp($bp-ipad-1024) {
    p, a {
      width: 50%;

      @include bp($bp-640) {
        width: 100%;

      }
    }
    a {
      @include bp($bp-640) {
        margin-top: 15px;
      }
    }
  }
}

.aside__contact--3-part {
  @include bp($bp-ipad-1024) {
    justify-content: space-between;
    p {
      flex-grow: 0;

      @include bp($bp-640) {
        width: 100%;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}

.aside__contact--4-part {
  @include bp($bp-ipad-1024) {
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid $very-light-pink-three;


    .aside__phone {
      width: 156px;

      @include bp($bp-640) {
        width: 100%;
      }
    }
    & > a {
      width: 100%;
    }
  }

  @include bp($bp-640) {
    padding-bottom: 20px;
  }
}

.aside__contact--one-line {
  margin-bottom: 30px;

  @include bp($bp-ipad-1024) {
    flex-direction: column;
  }
  .aside__geo {
    @include bp($bp-ipad-1024) {
      margin-bottom: 20px;
    }
    &:before {
      //margin-right: 24px;
    }
  }
  .aside__phone {
    a {
      &:before {
        //margin-right: 18px;
      }
    }
  }
  .aside__mail {
    &:before {
      //margin-right: 18px;
    }
  }
}

.aside__geo {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }


  &:before {
    content: '';
    display: block;
    @include svg-i-geo--lg;
    margin-left: 3px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.aside__mail {
  display: flex;
  align-items: center;
  flex-grow: 1;
  &:before {
    content: '';
    display: block;
    @include svg-i-email--lg;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.aside__phone {
  margin-bottom: 20px;
  span {
    padding-left: 30px;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #656565;
    margin-bottom: 6px;
  }

  a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    &:before {
      content: '';
      display: block;
      @include svg-i-telephone--lg;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }
}

a.aside__link {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: $grape-purple;

  &:hover {
    text-decoration: underline;
  }
}

.aside__travel {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 26px;

  @include bp($bp-ipad-1024) {
    align-items: flex-start;
    margin-bottom: 0;
  }

  &:before {
    content: '';
    display: block;
    flex-shrink: 0;
  }
}

.aside__travel--tram {
  &:before {
    margin-right: 12px;
    margin-left: 4px;
    @include svg-i-tram;
  }
}

.aside__travel--bus {
  &:before {
    margin-right: 9px;
    @include svg-i-bus;
  }
}

.aside__travel--taxi {
  &:before {
    margin-left: 3px;
    margin-right: 10px;
    @include svg-i-taxi;
  }
}

.aside__doc {
  margin-bottom: 30px;

  .doc-item--sm .doc-item__icon {
    margin-right: 5px;
  }
}

.aside__work-mode {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;

    .work-mode__center {
      border-right: none;
    }
  }

  @include bp($bp-360) {
    .work-mode__col-time .work-mode__item {
      padding: 0 22px;
    }
  }
}

.aside__photo {
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
    margin-bottom: 20px;
  }
}

.aside__photo-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.aside__photo-hash {
  border-top: 1px solid $very-light-pink-three;
  padding-top: 19px;
  margin-bottom: 30px;

  &.hash-list {
    flex-wrap: wrap;

    a {
      margin-bottom: 10px;
    }
  }
}

.aside__alphabet {
  display: inline-block;
  width: 295px;
  text-align: center;
  padding: 19px 14px;
  border-radius: 5px;
  border: solid 1px $very-light-pink-three;
  background-color: $white;
  margin-bottom: 40px;
  vertical-align: top;

  @include bp($bp-540) {
    margin-bottom: 30px;
  }
  @include bp($bp-360) {
    width: 280px;
  }

  & > a {
    display: block;
  }
}
.aside__alphabet-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px 10px;

  @include bp($bp-360) {
    margin: 0 -2px 8px;
  }
}

.aside__alphabet-item {
  margin: 0 6px 10px;
  width: 34px;
  height: 34px;
  font-size: 16px;
  line-height: 32px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $very-light-pink-three;
  cursor: pointer;
  transition: .3s ease-in-out all;
  border: 1px solid $very-light-pink-three;

  @include bp($bp-360) {
    margin: 0 4px 8px;
  }
  &:hover {
    color: $grape-purple;
    border-color: $grape-purple;
  }

  &.active {
    color: $white;
    background-color: $grape-purple;
    border-color: $grape-purple;
  }
}

.aside__mobile-row {
  @include bp($bp-ipad-1024) {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  @include bp($bp-640) {
    padding-top: 0;
  }
}

.aside__mobile-block {
  @include bp($bp-ipad-1024) {
    flex-grow: 1;
    &:last-child {
      flex-grow: 0;
    }
    .aside__geo {
      width: 298px;
      flex-grow: 0;
    }
  }

  @include bp($bp-640) {
    &:last-child {
      margin-top: 20px;
    }
  }

  @include bp($bp-375) {
    .aside__geo {
      width: 260px;
    }
  }
}
