//* {
//  -webkit-font-smoothing: antialiased;
//}
html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $Roboto;
  background-color: $white;
  min-width: 320px;

  &.lock-position {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
}

a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: $grape-purple;
}

.page {

}

.page--home {
  background-color: $white-two;
  padding-bottom: 30px;

  @include bp($bp-ipad-1024) {
    padding-bottom: 20px;
  }

  @include bp($bp-640) {
    padding-bottom: 10px;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @include bp($bp-ipad-1024) {
    max-width: 100%;
    padding: 0 30px;
  }

  @include bp($bp-736) {
    padding: 0 20px;
  }
}

.b-home-study {
  display: block;
  width: 100%;
  height: 78px;
  background-image: linear-gradient(267deg, #a9474a, $grape-purple);
  transition: .3s ease-in-out all;
  text-align: center;


  &:hover {
    span {
      transform: translateY(-3px);

      &:after {
        width: 100%;
        left: 0;
      }
    }
  }

  span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: normal;
    color: $white;
    text-align: center;
    transition: .3s ease-in-out all;

    &:after {
      width: 0;
      left: 50%;
      transition: all 0.25s ease-in-out;
      height: 2px;
      background-color: $white;
      position: absolute;
      bottom: 20px;
      content: '';
    }
  }
}

.scroll-top {
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: $white;
  border-radius: 50%;
  z-index: 150;
  cursor: pointer;
  transform: translateY(100px);
  transition: .3s ease all;
  border: 1px solid $white;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-right-slider--sm;
    transform: rotate(-90deg);
  }
}

.scroll-top--active {
  transform: translateY(0);
}

.view {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $white;

  &:before {
    content: '';
    display: block;
    @include svg-i-view--sm;
    margin-right: 10px;
  }
}

.view--grey {
  color: $brown-grey;
  &:before {
    @include svg-i-view-grey--sm;
  }
}

time {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: $brown-grey;
}

.clock {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: $white;

  &:before {
    content: '';
    display: block;
    flex-shrink: 0;
    @include svg-i-clock--sm;
    margin-right: 10px;
  }
}

.clock--grey {
  color: $brown-grey;

  &:before {
    @include svg-i-clock-grey--sm;
  }
}

.label-star {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 20px;
    @include svg-i-label-star;
  }
}

#map-contact {
  width: 100%;
  height: 620px;
  margin-bottom: 30px;

  @include bp($bp-ipad-1024) {
    height: 420px;
  }

  @include bp($bp-640) {
    height: 380px;
    margin-bottom: 20px;
  }
}

.geo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  line-height: 13px;
  color: $brown-grey;

  &:before {
    content: '';
    display: block;
    flex-shrink: 0;
    @include svg-i-geo;
    margin-right: 10px;
  }
}

.i-geo {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    @include svg-i-geo;
    margin-right: 13px;
  }
}

.i-geo--sm {
  &:before {
    @include svg-i-geo--sm;
    margin-right: 6px;
  }
}

.i-phone {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    @include svg-i-telephone--lg;
    margin-right: 8px;
  }
}

.i-email {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    @include svg-i-email--lg;
    margin-right: 8px;
  }
}

.i-site {
  display: flex;
  align-items: center;
  color: $grape-purple!important;

  &:before {
    content: '';
    display: block;
    @include svg-i-site;
    margin-right: 8px;
  }
}

.map-icon {
  @include svg-i-map;
}

.tooltip-table {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  border-radius: 5px;
  background-color: rgba(0,0,0,.7);
  padding: 9px 13px;
  z-index: 1200;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -18px;
    width: 9px;
    height: 9px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 9px solid rgba(0,0,0,.7);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid transparent;

    @include bp($bp-640) {
      right: auto;
      left: 23px;
    }
  }
}
