$Roboto: 'Roboto', sans-serif;

//color
$white: #fff;
$white-two: #f5f5f5;
$grape-purple: #951A1D;
$plum: #671517;
$pale-pink: #efdcdd;
$very-light-pink: #e8e8e8;
$very-light-pink-two: #efefef;
$very-light-pink-three: #eaeaea;
$orangey-yellow: #f6bc25;
$brown-grey: #939393;
$black: #000;


