.size-1 {

}
.size-2 {
  zoom: 1.1;
  -moz-transform: scale(1.1, 1.1) translateY(4.5%);
}

.size-3 {
  zoom: 1.2;
  -moz-transform: scale(1.2, 1.2) translateY(8.3%);
}

body {
  &.grayscale {


    .page,.b-footer, .b-popup, .pswp, .b-header__bottom {
      filter: grayscale(100%);
      color: #000000 !important;
      background: white !important;
    }

    .b-header__top {
      filter: grayscale(100%);
    }

    .b-home-study {
      filter: grayscale(100%);
    }
  }


  &.blue_black, &.white_black {

    .b-header__menu-item--white:after {
      background-color: transparent!important;
    }

    .b-header__menu-item {
      border-color: transparent!important;

    }
    .b-header__top {
      background-image: none;
      * {
        background-color: transparent!important;
      }
    }
    .b-fullpage-slider__text {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .b-sub-header__box {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .announ-card__date {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .gallery-card__bottom {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .home-gallery-card__content {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .b-home-banner__text {
      background-color: transparent!important;

      * {
        background-color: transparent!important;
      }
    }

    .view {
      background-color: transparent!important;
    }
    .slick-dots {
      background-color: transparent!important;
    }
    .b-home-banner .container {
      background-color: transparent !important;
    }

    .b-fullpage-slider__item .container {
      background-color: transparent !important;
    }
    .b-sub-header--image .container {
      background-color: transparent !important;
    }
    .announ-slider-item__title {
      background-image: none;
    }
    #map-contact {
      * {
        background-color: transparent!important;
      }
    }
    .about-data__icon {
      background-color: transparent!important;
    }
    .project-card__img {
      background-color: transparent!important;
    }

    .b-header__sub-menu {
      background-color: transparent!important;
      * {
        background-color: transparent!important;
      }
    }


    .b-header__eye {
      background-color: #fff!important;

      .container {
        background-color: #fff!important;
      }
    }

    .b-header__eye-close {
      background-color: transparent!important;
    }

    .visually {
      background-color: transparent!important;
    }

    .visually__list {
      background-color: transparent!important;
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin: 0 35px;
      }

      span {
        font-size: 14px;
        line-height: 14px;
        color: $black!important;
        margin-right: 10px;
        background-color: transparent!important;
      }
    }

    .visually__font-item {
      color: $black!important;
      background-color: transparent!important;

      &.active {
        color: #fff!important;
      }
    }


    .visually__font-color {
      color: $black!important;
      border: solid 1px #191919!important;
      background-color: $white!important;
    }

    .visually__font-color-0 {
      background-color: $grape-purple!important;
      color: $white!important;
      border-color: $grape-purple!important;
    }

    .visually__font-color-2 {
      border: solid 1px #191919!important;
      background-color: $black!important;
      color: $white!important;
    }

    .visually__font-color-3 {
      background-color: #9cd6ff!important;
      border-color: #9cd6ff!important;
      color: $black!important;
    }

    .visually__control {
      background-color: $grape-purple!important;

      span {
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        color: $white!important;
        background-color: transparent!important;

        &:last-child {
          margin-right: 0;
        }
      }
      i {
        background-color: $white!important;
      }
    }
  }

  &.blue_black {
    background-color: #9DD1FF !important;
    color: #000 !important;
    border-color: #000 !important;
    * {
      background-color: #9DD1FF !important;
      color: #000 !important;
      border-color: #000 !important;
    }
    .b-header__top {
      border: 1px solid #000;
    }
    .b-header__menu-item {
      &:hover {
        border-color: #000 !important;
      }
    }

    .search__box button {
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .b-sub-header {
      border-top: 1px solid #000 !important;;
    }
    .b-main-tab--inner .b-main-tab__item.active:after {
      background-color: #9DD1FF !important;
      box-shadow: 1px -1px 0 0 #000 !important;
    }

    .b-home-study {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-image: none;
    }

    .b-social__link--inst {
      border: 2px solid #000;
      background: none;
    }

    .b-pagination__item--active {
      background-image: none;
      background-color: #3E5C9A!important;
    }

    .b-header__lang-item.active {
      background-color: #3E5C9A!important;
    }

    .b-header__search-box input {
      background-color: #3E5C9A!important;
    }

    .datepicker--cell:after {
      background-color: #9DD1FF !important;
    }
    .datepicker--cell .dp-note {
      background-color: #3E5C9A!important;
    }
  }

  &.white_black {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;

    * {
      background-color: #000 !important;
      color: #fff !important;
      border-color: #fff !important;
    }

    .b-header__top {
      border: 1px solid #fff;
    }

    .b-header__menu-item {
      &:hover {
        border-color: #fff !important;
      }
    }

    .search__box button {
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    .b-sub-header {
      border-top: 1px solid #fff !important;;
    }

    .b-main-tab--inner .b-main-tab__item.active:after {
      background-color: #000 !important;
      box-shadow: 1px -1px 0 0 #fff !important;
    }

    .b-home-study {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      background-image: none;
    }

    .b-social__link--inst {
      border: 2px solid #fff;
      background: none;
    }

    .b-pagination__item--active {
      background-image: none;
      background-color: grey!important;
    }

    .b-header__lang-item.active {
      background-color: grey!important;
    }


    .b-header__search-box input {
      background-color: grey!important;
    }

    .datepicker--cell:after {
      background-color: #000 !important;
    }
    .datepicker--cell .dp-note {
      background-color: #000!important;
    }

    .b-icons-card__item-icon {
      svg {
        g {
          fill: #fff;
        }
      }
    }
  }
}

